/* css for annual report 2013 (both homepage and content pages) */

.fh_body_content,
.mobile_menu_contents {
  font-family: 'Geogrotesque-Regular', Arial, Helvetica, sans-serif;
  color: #123054;
  line-height: normal; /* overrides a very high-level setting in the original stylesheet */
  font-size: 100%;     /* ditto */
}
.fh_body_content h1,
.fh_body_content h2,
.fh_body_content h3,
.fh_body_content h4,
.fh_body_content h5,
.fh_body_content h6 {
    font-family: 'Geogrotesque-Regular', Arial, Helvetica, sans-serif;
    color: #123054;
}

/* mobile menu changes from responsive.css */
.mobile_menu .mobile_menu_contents ul li a {
	color: #123054;	
}
.mobile_menu .mobile_menu_contents ul li a:hover {
	color: #89c348;	
}



/* turn off the panorama */
#fh_panorama { display:none; }

/* elements in the style dropdown of text-like components */
.rte_largetext { 
    font-size:larger;
}
.rte_smalltext {
    font-size:smaller;
}

.fh_body_column {
   line-height:1.7em;	
}

/* title and subtitle */
div.fh_body_content  div.maintitle h1 {
    margin:0;	
    margin-bottom:.2em;
    font-size: 2.8em;
}
div.fh_body_content  div.mainsubtitle {
    font-size:1.5em;
    line-height: 1.4em;
    margin-bottom:1em;
    font-family:Geogrotesque-Light,Arial,Helvetica,sans-serif;
    font-weight:300;
}
div.maintitle h1,
div.mainsubtitle {
	/*max-width: 400px;*/
}

div.imagePlus.mainimage {
	margin-bottom:2em; /* for pages that have main images, double the margin */
}


/* reskin pioneers. these styles will become vestigual when reskin goes live. */

.fh_body_content a {
  text-decoration: none;
  color: #39b6b9;
}
.fh_body_content a:hover {
  text-decoration: underline;
  color: #89c348;
}

.breadcrumbs {
  font-family: 'Geogrotesque-light', Arial,Sans-serif;
  font-size:14px;
  color: #999999;
  margin-left: 10px;
}
.breadcrumbs ul li a:hover {
  color: #89c348;
}
.breadcrumbs ul li a {
  /*background-image: url("../../../img/nav/fred_hutch_arrow.png");*/ /* arrow now created in another way */
}
.breadcrumbs a, .breadcrumbs a:visited { color: #999999; }

.cluster_title { 
  border-bottom: 0px solid #e9e9e9;
  color: #123054;
  font-family: 'Geogrotesque-Medium','franklin-gothic-urw-n5','franklin-gothic-urw','Franklin Gothic Medium',Arial,Sans-serif;
  font-size: 170%;
  font-weight: normal;
  text-transform: uppercase;
  margin: 10px 0 20px 10px;  
}



/* end of reskin pioneers. */



/* homepage-specific styling */

.ar_homepage .ar_archive .textComponent.archivetext { text-align: left; }
.ar_homepage .social_options ul li.donate { display:none; }
.ar_homepage .ar_credits { float:right; margin:0 2em; }
.ar_homepage .ar_archive a,
.ar_homepage .ar_credits a { color:#39b6b9; }
.ar_homepage .ar_archive a:hover,
.ar_homepage .ar_credits a:hover { color:#89c348; }

.ar_homepage .textContainer { padding:1.5em; line-height:1.4em; } 
.ar_homepage div.fh_body_content .imageContainer { padding-top:1.5em; } /* check whether kim can supply the image w/margin instead of css */
.ar_homepage .textimage .textContainer { margin-left: 30%; }
.ar_homepage .textimage .imageAndCaption { max-width: 30%; margin-right:0; }
.ar_homepage .textimage .imageAndCaption img { max-width:100%; }

.ar_homepage .ar_panels { background-color: #123054; }

@media screen and (max-width:767px){
   .ar_homepage .ar_credits { display:block; float:none; margin:1em 0; display:none; }	
   .ar_homepage .ar_archive { background-color: #f6f6f6; padding:1em; line-height:1.4em; }
   .ar_homepage .ar_archive .rte_largetext { font-family:Geogrotesque-Semibold,Arial,Helvetica,Sans-serif; display:block; margin-bottom:.6em; }

   .ar_homepage .textimage .textContainer { margin-left: 0; }
   .ar_homepage .textimage .imageAndCaption { max-width: none;  }
}

@media screen and (max-width:600px){ /* note the intermediate breakpoint. */
    .ar_homepage .textimageContainer .imageAndCaption { float:none !important; }
    .ar_homepage .textimage .textContainer { padding:0; }
    .ar_homepage .textimageContainer { padding:1em; }    
    
    .ar_homepage div.imageAndCaption,
    .ar_homepage div.imagePlus { margin-bottom:0; }
    .ar_homepage div.fh_body_content .imageContainer { padding-top:0; }
}

@media screen and (max-width:480px){
   .ar_homepage .ar_panels { background-color: transparent; }   
}

/* ----------- SPECIAL STRUCTURAL STYLING for annual report templates ------------------ */

/* for sizes at and above iPad tablet, you need to push in the left and right margins by 10px each */
@media screen and (min-width:769px){ 

	/* commenting out to match the reskin dimensions (940px)
	
  .fh_body_content {
    padding-right:10px;
    padding-left:10px;
  }
  .fh_body_content .grid_4 {
    width:290px;
  }
  .fh_body_content .grid_8 {
    width:610px;
  }
  .fh_body_content .grid_12,
  .fh_body_content.grid_12 {
    width:920px;
  }
  
  */

}
/* for sizing at exactly the iPad tablet, you need to push in the left and right margins by 10px each */
@media screen and (width:768px){ 

  .fh_body_content {
    padding-right:10px;
    padding-left:10px;
  }

}

/* only allow iPad tablets to see the right column: disappears for anything smaller (see responsive.css) */
@media screen and (max-width:767px){

  /* lose the right-hand column, if any */
  .grid_12.fh_rightcol_container .grid_4 {
    display:none;
  }
  .grid_12.fh_rightcol_container .grid_8 {
    width:100%;
  }

  /* the fh_body_column effectively needs an omega now because the right hand column is now gone */
  .fh_body_column { padding-right:0; } 
        
}

@media screen and (max-width:480px){

	/* full bleed at smallest form factor on homepage only */
	#fh_container { padding-left:0; padding-right:0; } /* see, responsive.css - overriding that here */
    .ar_contentpage .fh_body_content { padding-left:20px; padding-right:20px; }

   div.fh_body_content  div.maintitle h1 { font-size: 2.2em; }
 
}

/* ----------- end of: SPECIAL STRUCTURAL STYLING for annual report templates ------------------ */


/* cluster title disappears on smallest form factor */

@media screen and (max-width:480px){
    .cluster_title { display:none; }    
}


/* tweaks to components styled elsewhere, styling specific to ar2013 */

div.imageAndCaption,
div.imagePlus {
    margin-bottom:1em;	
}
div.imagePlus dl dd .caption,
.imageAndCaption .caption {
	font-size:.85em; /* font sizing for captions in all components that have them */
	}
.imageAndCaption .captionAndCredit {
  line-height:normal;
}





/* ------ divider chevron widget --------*/

div.grid_12.fh_rightcol_container .fh_rightcol_content div.divider_chevron { 
	width:100%;
	position: static;
	left:auto;
	margin-left:0; margin-right:0; 
	overflow:hidden; 
 	background-image: none;
    background-color: #e5e5e5;
    height:11px; 	
    margin:1em 0;
}


/* ------ SOCIAL OPTIONS scriptlet ------*/

div.fh_body_content div.social_options {
  background-color: #f6f6f6;
  padding-top:1em;
  line-height:1em;
  margin-bottom:1em;
}
div.social_options ul {
  padding:1em 0;
  display: table;  
  width: 100%;
}
div.social_options ul li {
  list-style:none;
  display: table-cell;
  text-align: center;
  width: 20%;
  margin:0; padding:0;
  vertical-align:top;
}
div.social_options ul li.donate {
  vertical-align:middle; /* this element only appears for social options in the main content well */
}
div.social_options ul li img {
  padding-bottom: .4em;
  border: 0;
}
div.social_options ul li a {
  text-decoration: none;
  color: #39b6b9;
}
div.social_options ul li a:hover {
  text-decoration: underline;
  color: #89c348;
}

/* adjust the social options appearance in the right column */
div.fh_rightcol_content div.social_options {
  line-height:.8em;	
  margin-bottom:4em;
}
div.fh_rightcol_content div.social_options ul {
  width: 85%;
  padding:0 0;
}
div.fh_rightcol_content div.social_options ul li {
  width: 25%;
}
div.fh_rightcol_content div.social_options {
  background:none;
  font-size: .9em;
}
div.fh_rightcol_content div.social_options .droptext {
  display: none;
}
div.fh_rightcol_content div.social_options ul li img {
  width: 2.2em; /* 2.1em originally, tweak to avoid a hard right edge */
  height: auto;
}
div.fh_rightcol_content div.social_options ul li.donate {
  display: none;
}
div.fh_rightcol_content div.mobile_donate_now {
  display:none;
}

/* there is a "mobile" donate now button that appears at smallest form factors */

div.mobile_donate_now {
  display:none;
  margin-top: 1em;
  margin-left:auto; margin-right:auto; text-align:center;
}

@media screen and (max-width:480px){

	/* shrink the social options a bit at smallest form factor */
	div.social_options ul li img {
	  max-width:3em;
	}
		
}

@media screen and (max-width:768px){

  /* handle the bottom-most social option area, where
     donate now disappears from the band and appears below it (for story pages only: homepage has its own donate now element) */
  div.social_options ul li.donate {
    display: none;
  }
  .ar_contentpage div.mobile_donate_now {
    display:block; 
  }
  div.social_options .droptext {
    display:none;
  }
  div.fh_body_content div.social_options {
    background-color: transparent;
  }
}

/*------- END SOCIAL OPTIONS scriptlet --------*/
	
	
	
/*------- COMPONENT: IN PAGE NAV --------*/
div.inPageSectionNav {
	margin-bottom:3em;
	margin-top:2em;
}
div.fh_rightcol_content div.inPageSectionNav {
	margin-bottom:1.5em;
	margin-top:0;
}

div.inPageSectionNav span.inPageNavButton {
    
    background-color: #eff0f0;
    display: inline-block;
    
}

div.fh_body_column div.inPageSectionNav span.inPageNavButton {
    
    font-size: 21px;
    font-size: 1.3rem;
    line-height: 42px;
    line-height: 2.6rem;
    
    padding: 0 16px;
    padding: 0 1rem;
    margin-left: 0;
    margin-right: 5px;
    margin-right: 0.3125rem;
    
}

div.fh_rightcol_content div.inPageSectionNav span.inPageNavButton { 
    
    font-size: 17.6px;
    font-size: 1.1rem;
    line-height: 35.2px;
    line-height: 2.2rem;
    
}

div.inPageSectionNav span.inPageNavButton a {
    
    color: #0e899d;
    text-decoration: none;
    
}

div.inPageSectionNav span.inPageNavButton a:hover {
    
    text-decoration: underline;
    color: #89c348;
    
}

div.fh_rightcol_content div.inPageNavContainer {	/* to make it fill the width, use a table/cell layout */
	display:table;
	width:100%;
}
div.fh_rightcol_content div.inPageNavContainer span.inPageNavButton {
	display:table-cell;
	text-align:center;
	margin:0; padding:0;
	border-right:.5em solid #ffffff;
}
div.fh_rightcol_content div.inPageNavContainer span.inPageNavButton:last-child {
    border-right:0;	
}

@media screen and (max-width:400px){
	/* so all three nav options fit in one line on the smallest devices */
	.inPageNavContainer .droptext { display:none; }
}
@media screen and (max-width:360px){
	div.fh_body_column div.inPageNavContainer {    /* to make it fill the width, use a table/cell layout */
	    display:table;
	    width:100%;
	}
	div.fh_body_column div.inPageNavContainer span.inPageNavButton {
	    display:table-cell;
	    text-align:center;
	    margin:0; padding:0;
	    border-right:.5em solid #ffffff;
	}
	div.fh_body_column div.inPageNavContainer span.inPageNavButton:last-child {
	    border-right:0; 
	}
}




/*------- END COMPONENT: IN PAGE NAV --------*/

/*------- COMPONENT: PULL QUOTE --------*/
div.pullQuote blockquote {
    
    /*font-size: 33px;
    font-size: 2.0625rem;
    line-height:33px;
    line-height:2.0625rem;*/
    font-size: 28.8px;
    font-size: 1.8rem;
    line-height:34.4px;
    line-height:2.15rem;
    font-weight: normal;
    font-family: Geogrotesque-Light,Arial,Helvetica,sans-serif;
    margin:1em 0 .25em 0;

}

div.pullQuote blockquote.colorTheme1 {
	
	color: #9bc039;
	
}

div.pullQuote blockquote.colorTheme2 {
    
    color: #b2642b;
    
}

div.pullQuote blockquote.colorTheme3 {
    
    color: #126173;
    
}

/*------- END COMPONENT: PULL QUOTE --------*/

/* -------------- component: Video embed (YouTube/Vimeo) ---------- */

.videoEmbed { 
	max-width: 480px;  /* arbitrary, defines the maximum width a video can ever have. feel free to omit. */
	margin-bottom: 1em;
}

/* http://css-tricks.com/NetMag/FluidWidthVideo/Article-FluidWidthVideo.php */

.embeddedVideo {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
}

.embeddedVideo iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.videoEmbed .videoCaption {
	margin-top: 0.5em;
}

/*------- END COMPONENT: EMBEDDED VIDEO --------*/

/*-------------- CSS Button component ------------- */

div.fh_body_content div.CSSButton {
    
    /* Place margins on the wrapping DIV to allow margin-collapse to occur */
    margin-top: 10px;
    margin-top: 0.625rem;   
    margin-bottom: 10px;
    margin-bottom: 0.625rem;
    
}

div.fh_body_content .CSSButton a.button {
    
    font-size: 16px;
    font-size: 1rem;
    line-height: 40px;
    line-height: 2.5rem;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    
    padding-left: 20px;
    padding-left: 1.25rem;
    padding-right: 20px;
    padding-right: 1.25rem;
    
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0; 
             
    display: inline-block;
    
    background: none;
    background-color: #89c348; 
    filter: none;
    
    font-family: 'geogrotesque-semibold',Arial,Helvetica,sans-serif;
    font-weight: normal;
    letter-spacing: 0.1em;

    
}

div.fh_body_content .CSSButton a.button:hover {
    
    background: none;    
    background-color: #73ad33;
    filter: none;
    
}

div.fh_body_content .CSSButton a.button.colorTheme1 {
	
  background: none;
	background: #123054; 
  filter: none;
	
}

div.fh_body_content .CSSButton a.button.colorTheme1:hover {
	
    background: none; 
    background-color: #123054; /* check this */
    filter: none;
		
}

div.fh_body_content .CSSButton a.button.colorTheme2 {
	
	background: none;
  background-color: #207c7e;
  filter: none;
	
}

div.fh_body_content .CSSButton a.button.colorTheme2:hover {

  background:none; 
	background-color: #1f7779; /* Old browsers */
  filter: none;
	
}

@media screen and (max-width:480px){
	
    /* make the cssbutton full width at the smallest form factor */
    div.fh_body_content .CSSButton a.button {
        width:100%; height: auto; 
        -moz-box-sizing: border-box; /* so the 100% width includes border dims */
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }
}

/*------- END COMPONENT: CSS Button component --------*/

/*-------------- Text component ------------- */

div.fh_body_content .textComponent .colorTheme1 {

    background-color: #123054;
    color: #ffffff;

}

div.fh_body_content .textComponent .colorTheme2 {
	
	background-color: #9bc039;
	color: #ffffff;
	
}
	
div.fh_body_content .textComponent .colorTheme3 {
	
	background-color: #b2642b;
	color: #ffffff;
	
}

div.fh_body_content .textComponent .designTheme1 {

    padding: 16px 26px;
    padding: 1rem 1.625rem;
    margin-bottom: 16px;
    margin-bottom: 1rem;

}

div.fh_body_content .textComponent .designTheme1 :last-child {

    margin-bottom: 0;
    
}



/*------- END COMPONENT: Text component --------*/

/*-------------- Text & Image component ------------- */

.textimageContainer .textContainer {

	width: auto;      /* overrides .textContainer class on slideshow */
	position: static; /* from the main css file */
		
}

.textimageContainer .textContainer :first-child {
    
    margin-top: 0;
    padding-top: 0;
    
}

.textimageContainer .textContainer :last-child {
    
    margin-bottom: 0;
    padding-bottom: 0;
    
}

.textimageContainer .imageAndCaption {
    
    float: left;
    margin-right: 1.5em;
    max-width: 40%;
        
}

.textimageContainer.rightAlign .imageAndCaption {
    
    float: right;
    margin-right: 0;
    margin-left: 1.5em;
    
}

.textimageContainer.centerAlign .imageAndCaption {
    
    float: none;
    margin: 0 auto 8px auto;
    margin: 0 auto 0.5rem auto;
    max-width: 100%;
    
}

.textimageContainer .imageContainer img {
    
    max-width:100%;
    border: 3px solid #eee6D7;
    margin: 0 auto;
    display: block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    
}

.textimageContainer .imageContainer.noBorder img {
    
    border: 0;
    
}

.textimageContainer .imageAndCaption .captionAndCredit {
    
    padding: 0.75em 0.25em;
    
}

.textimageContainer .imageAndCaption .caption,
.textimageContainer .imageAndCaption .credit,
.textimageContainer .imageAndCaption .hiRes {
    
    display: block;
    
}

.textimageContainer .imageAndCaption .caption {
    
    font-size: 0.75em;
    line-height: 1.3em;
    
}

.textimageContainer .imageAndCaption .credit,
.textimageContainer .imageAndCaption .hiRes {
    
    font-size: 0.6em;
    line-height: 1.3em;
    
}

div.fh_body_content .textimage .colorTheme1 {

	background-color: #123054;
	color: #ffffff;
	
}

/* Mobile declarations for textimage component */
@media screen and (max-width:480px){

	/* All images are considered center align at mobile widths */
	.textimageContainer .imageAndCaption,
	.textimageContainer.rightAlign .imageAndCaption {
	
	   float: none;
       margin: 0 auto 8px auto;
       margin: 0 auto 0.5rem auto;
       max-width: 100%;
	
	}
	
	/* Unless the user has chosen designTheme1: no image alignment changes at mobile widths */
    div.fh_body_content .textimage .designTheme1 .imageAndCaption {

    	float: left;
        margin-right: 1.5em;
        max-width: 40%;

    }
    
    div.fh_body_content .textimage .rightAlign.designTheme1 .imageAndCaption {
    
        float: right;
        margin-right: 0;
        margin-left: 1.5em;
    
    }
    
}

/*------- END COMPONENT: Text & Image component --------*/

/* --------------- component: royal slider --------------- */
.royalSlider {}
.royalSlider .rsSlide img { max-width: none; } /* remove the site-wide default w/in this widget */
.royalSlider .rsImg { border:0; }
.royalSlider > div.rsContent { /* http://help.dimsemenov.com/kb/royalslider-jquery-plugin-issues/slider-content-appears-for-a-second-before-initialization */
  display: none;
}
.royalSlider > div.rsContent.hero {
  display: block;
}
.royalSlider .rsContent .infoBlock { /* default is a pearl white box with blue text */
  position: absolute;
  bottom: 0;
  left: 0;
  right: auto;
  max-width: 29%;
  overflow: hidden;
  padding: 1.5625em; 
  /*padding-bottom: 0;*/

  background: #ffffff;
  background: rgba(255, 255, 255, 0.9);
  color: #394786;
  
  word-wrap: break-word;
  font-size: .9em;
  line-height: 1.25em;
}
.royalSlider .rsContent .infoBlock h1,
.royalSlider .rsContent .infoBlock h2,
.royalSlider .rsContent .infoBlock h3,
.royalSlider .rsContent .infoBlock h4,
.royalSlider .rsContent .infoBlock h5,
.royalSlider .rsContent .infoBlock h6 {
  /*font-family: 'Myriad Pro',Myriad,Arial,Helvetica,Sans-serif;*/
  margin: 0;
  margin-bottom:.15em;
  padding-bottom: 0;
  letter-spacing: .06em;    
}
.royalSlider .rsContent .infoBlock h4 {
  font-size: 1.3em;
  line-height: 1.1em;
}
.royalSlider .rsContent .infoBlock p {
  margin: 0 0 0 0; /* watch this: did have 1em bottom margin */
}
.royalSlider .rsContent .infoBlock a {
  color: #394786;
  text-decoration: underline;
}
.royalSlider .rsContent .infoBlock a:hover {
  color: #576abd;
}
.royalSlider .rsContent.caption_no_background .infoBlock { /* can override by removing the background color behind the caption */
  color: #ffffff;
  background: transparent;
}
.royalSlider .rsContent.caption_no_background .infoBlock h4 {
  color: #ffffff;
}
.royalSlider .rsContent.caption_no_background .infoBlock a { 
  color: #ffffff;
}
.royalSlider .rsContent.caption_no_background .infoBlock a:hover { 
  color: #dddddd;
}

/* rsMinW tweaks: */

.royalSlider.rsMinW .rsBullets {
  bottom:20px;  
  line-height:16px; /* accommodates the larger bullet sizes */
}
.royalSlider.rsMinW .rsBullet {
  padding-right:11px;   
}
.royalSlider.rsMinW .rsBullet span {
    height:10px; width:10px; /* larger bullet sizes */
    border-radius: 10px; /* iPad needs this, didn't work with 50% */
}

/* rsUni and rsMinW tweaks: */
.royalSlider.rsUni,
.royalSlider.rsUni .rsOverflow,
.royalSlider.rsUni .rsSlide,
.royalSlider.rsUni .rsVideoFrameHolder,
.royalSlider.rsUni .rsThumbs {
    background: #fff;
}

.royalSlider .rsGCaption { display:none; }
.royalSlider.fullWidth { width: 100%; }

.royalSlider.rsUni .rsArrowIcn { opacity:.8; }

.royalSlider.rsUni .rsBullet span {    
    border-radius: 10px; /* iPad needs this, didn't work with 50% */
}

div.fh_body_content .rsMinW .rsPlayBtn,
div.fh_body_content .rsUni .rsPlayBtn { /* overcome the overly-broad *:first-child margin-top:0 on the responsive css */
  margin-top: -32px;    
}

/* small tweaks so the captions are readable down to the smallest form factor (where they disappear, see end) */ 
@media screen and (max-width:750px) {    
    .royalSlider .rsContent .infoBlock { max-width:50%; }
}
@media screen and (max-width:550px) {   
    .royalSlider .rsContent .infoBlock { font-size:.8em; }
}

/* ----------- end of: royalslider ------------------ */

/* ----------- component: Image With Text Overlay ----------- */

.ar_homepage .imageWithTextOverlay {
    
    float: left;
    position: relative;
    margin: 0;
    padding: 0;
    width: 25%;
    
}

.imageWithTextOverlay a {
	
	text-decoration: none;
	
}

.imageWithTextOverlay img {
    
    vertical-align: top;
    max-width: 100%;
    border:0;
    
}

.imageWithTextOverlay .indicator {
   position: absolute;
   right:12px;
   bottom:2px;
   font-size:36px;
   font-family:Geogrotesque-Semibold,Arial,Helvetica,Sans-serif;
   color:#ffffff; /* ie8 */
   color:rgba(255,255,255,.8);
   font-family:Arial,Helvetica,Sans-serif;  
   text-shadow: 0.1em 0.1em 0.3em #555555;

   
}
.imageWithTextOverlay:hover .indicator { display:none; }
.imageWithTextOverlay .indicator span:after { content: '+'; }


.imageWithTextOverlay .textOverlayBackground {
    
    visibility:hidden; /* starts out hidden, see the .js which makes these visible. sld. */
    
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
    vertical-align: middle;
    
    padding: 0 10px;
    padding: 0 0.625rem;
    
    text-align: center;
    
    background: rgb(28, 59, 97);
    background: rgba(28, 59, 97, 0.9);
    
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
        
}

.imageWithTextOverlay .colorTheme1 .textOverlayBackground {
	
	background: rgb(155,192,57);
    background: rgba(155,192,57,0.9);
	
}

.imageWithTextOverlay .colorTheme2 .textOverlayBackground {
    
    background: rgb(178,100,43);
    background: rgba(178,100,43,0.9);
    
}

.imageWithTextOverlay .textOverlayBackground .textContainer {
    
    position: absolute;
    top: 0;
    width: 90%;
    
    /* shifting text to dead center, sld */
    /*border:1px red solid;*/
    padding:0;
    left:8%;
    width:84%;
    
    /* an indicator arrow */
    padding-bottom:44px;
    background-image: url(img/arrow_png.png);
    background-position: center bottom;
    background-repeat: no-repeat;
    
    /* reduce leading a touch */
    line-height: 17.6px;
    line-height: 1.1rem;
    
}

.imageWithTextOverlay .textOverlayBackground .textOverlayTitle {
    
    margin: 0 0 2px 0;
    margin: 0 0 0.125rem 0;
    padding: 0;
    
    font-size: 20px;
    font-size: 1.25rem;
    line-height: 20px;
    line-height: 1.25rem;
    color: #ffffff;
    
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    
}

.imageWithTextOverlay .textOverlayBackground .textOverlayDescription {
    
    margin: 0;
    padding: 0;
    
    font-size: 14px;
    font-size: 0.875rem;
    line-height: 14px;
    line-height: 0.875rem;
    color: #ffffff;
    
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    
}

.imageWithTextOverlay .textOverlayBackground .linkText {
	
	margin: 10px 0 0 0;
	margin: 0.625rem 0 0 0;
	padding: 0;
	display: block;
	
	font-size: 14.4px;
	font-size: 0.9rem;
	line-height: 14.4px;
	line-height: 0.9rem;
	color: #ffffff;
	font-family:'Geogrotesque-RegularIt',Arial,Helvetica,Sans-serif;

}

.imageWithTextOverlay .textOverlayBackground .linkText:hover {

	color:#dddddd;
		
}

.imageWithTextOverlay .textOverlayBackground .linkText em {
	
    text-decoration: underline;
		
}	

.imageWithTextOverlay .mobileTitleContainer {
    
    display: none;
    position: relative;
    top: 0;
    margin-left: 40%;
    
}

.imageWithTextOverlay .mobileTitle {
    
    vertical-align: middle;
    margin: 0;
    padding: 0 16px;
    padding: 0 1rem;
    
    font-size: 15px;
    font-size: 0.9375rem;
    font-weight: normal;
    font-family: geogrotesque-semibold,arial,helvetica,sans-serif;
    
}

@media screen and (max-width: 768px) {
	
	.ar_homepage .imageWithTextOverlay {
	
	   width: 33.333333333333333333%;
	   
	}
	
}

@media screen and (max-width: 767px) {
	
	/* hide the details at smaller form factors. sld */
    .imageWithTextOverlay .textOverlayBackground .textOverlayDescription {
    
        display:none;
    
    }
		
}

@media screen and (max-width: 480px) {
    
    .ar_homepage .imageWithTextOverlay {
        
        width: 100%;
        
    }
    
    .ar_homepage .imageWithTextOverlay:nth-of-type(even) {
    
        background-color: #f6f6f6;
        
    }
    
    .imageWithTextOverlay img {
    
        float: left;
        max-width: 40%;
   
     }
     
     .imageWithTextOverlay img:after {
         
         clear: both;
         
     }

     .imageWithTextOverlay .indicator { display:none; }	
	
     .imageWithTextOverlay .mobileTitleContainer {
         
         display: block;
         
     }
     
     .imageWithTextOverlay .textOverlayBackground {
     
        display: none;
        
     }
    
}

/* ----------- end of: Image With Text Overlay ------------------ */

/* ----------- actionbuttons (financials, benefactors, donate now) ------------ */

     .ar_actionbuttons { margin-bottom:2em; }
     .ar_actionbuttons ul { margin:0; padding:0; list-style:none; }
     .ar_actionbuttons ul li { display:block; height:174px; float:left; margin:0; padding:0; text-transform: uppercase; color: #ffffff; }
     .ar_actionbuttons li.financial { width:25%; }
     .ar_actionbuttons li.benefactors { width:25%; }
     .ar_actionbuttons li.donatenow { width:50%;  }
     
     .ar_actionbuttons li.financial div.CSSButton,
     .ar_actionbuttons li.benefactors div.CSSButton {
         height:100%;
         margin:0;
     }
     .ar_actionbuttons li.financial a.button,
     .ar_actionbuttons li.benefactors a.button {
         width:100%;
         height:100%;
         margin:0;
         padding-top: 60px; /* guess-ti-mate */
         padding-left: 27px;
         
         -moz-box-sizing: border-box; /* so the 100% width includes border dims */
         -webkit-box-sizing: border-box;
         box-sizing: border-box;

         -moz-border-radius: 0;
         -webkit-border-radius: 0;
         border-radius: 0;     
     }     
     .ar_actionbuttons li.financial a.button:hover,
     .ar_actionbuttons li.benefactors a.button:hover {
         text-decoration: underline;
     }
     
     .ar_actionbuttons li.financial a.button,
     .ar_actionbuttons li.benefactors a.button,
     .ar_actionbuttons li.donatenow  {
         font-size:1.2em;   
         line-height:1.3em;
         letter-spacing:1px;
     }
     
     .ar_actionbuttons li.donatenow { 
                  
     }
     
     .ar_actionbuttons li.financial a.button { /* special handling on the financial action tab (has a piechart) */
         padding-left:75px;
     }
     .ar_actionbuttons li.financial div.CSSButton { position:relative; } /* piechart handling */
     .ar_actionbuttons li.financial a.button span.piechart {
         display:block;
         position:absolute; left:0; top:0;
         width: 75px; height: 174px; /* height matches the height of the action tabs, above */ 
         background:  transparent url(img/financial-pie-chart.png) no-repeat left center;
     }
    
     .ar_actionbuttons ul li.donatenow .alttext { display:none; } /* special handling on the donate now action tab */
     .ar_actionbuttons ul li.donatenow .label { float:left; margin:30px 0 0 36px; max-width:40%; }
     .ar_actionbuttons ul li.donatenow a.actiontext { text-decoration:none; }
     .ar_actionbuttons ul li.donatenow a.actiontext .label { color:#ffffff; font-size:190%; font-family: 'Geogrotesque-semibold',Arial,Helvetica,sans-serif; font-weight:normal; line-height:100%; }
     .ar_actionbuttons ul li.donatenow a.actiontext .label:hover { text-decoration:underline; }
     .ar_actionbuttons li.donatenow div.CSSButton { margin-left:50%; margin-top:63px; }     
     .ar_actionbuttons li.donatenow {
              background: none;
            	background: #123054; /* Old browsers */
              filter: none;
     }
     
    @media screen and (max-width:768px){
        .ar_actionbuttons ul li,
        .ar_actionbuttons li.financial a.button span.piechart { height: 120px; }
        .ar_actionbuttons li.financial a.button,
        .ar_actionbuttons li.benefactors a.button {
           font-size: 15px;
           font-size: .95rem;
           line-height: 16px;
           line-height: 1rem;
        }
        .ar_actionbuttons li.donatenow .label {
           font-size:17.6px;
           font-size:1.1rem;
           line-height:20.8px;
           line-height:1.3rem;        
        }
        .ar_actionbuttons li.financial a.button span.piechart {
           background-position: -10px center;
           width:60px;
        }
       .ar_actionbuttons li.financial a.button { 
           padding-left:66px;
           padding-top:43px; /*72px;*/
        }
        .ar_actionbuttons li.benefactors a.button {
           padding-top:43px;
           padding-left:21px;
        }
        .ar_actionbuttons li.financial a.button, 
        .ar_actionbuttons li.benefactors a.button {
           text-decoration:none;
        }
        .ar_actionbuttons ul li.donatenow .label {
           margin-left:18px;
           margin-top:25px;
        }
        .ar_actionbuttons li.donatenow div.CSSButton {
           margin-left: 40%;
           margin-top: 36px;
        }
    } 

    @media screen and (max-width:767px){

    	.ar_actionbuttons { /*margin-top:2em;*/ }
        .ar_actionbuttons ul li .droptext { display:none; }
        .ar_actionbuttons ul li.donatenow span.alttext { display:inline; }
        
        .ar_actionbuttons ul li.financial,
        .ar_actionbuttons ul li.benefactors,
        .ar_actionbuttons ul li.donatenow { width: 100%; float:none; height:auto; background:none;   }
        
        .ar_actionbuttons ul li.donatenow div.CSSButton { margin-left:0; } 

        .ar_actionbuttons li.financial a.button,
        .ar_actionbuttons li.benefactors a.button,
        .ar_actionbuttons li.donatenow a.button { /* return all three css buttons to their original state */
           -moz-border-radius: 2px;
           -webkit-border-radius: 2px;
           border-radius: 2px;   
           width:100%; 
           padding-left:0;
           text-align:center;
           padding:0;

           font-size: 16px;
           font-size: 1rem;
           line-height: 40px;
           line-height: 2.5rem;
        }

        .ar_actionbuttons li.donatenow a.button:hover {
           text-decoration: underline;
        }    	
    	
    	.ar_actionbuttons li.financial a.button span.piechart {
           display:none;
        }
       .ar_actionbuttons li div.CSSButton,
       .ar_actionbuttons li.donatenow div.CSSButton {
           margin:0;
       }
       .ar_actionbuttons li.donatenow a.button {  /* this button (was green) turns blue */
           background: none;
           background-color: #123054; /* Old browsers */
           filter: none;
       }
       .ar_actionbuttons li.donatenow a.button:hover {
            background: none;
            background: #123054; /* Old browsers */
            filter: none;
       }
     
     }     

/* --------------- end of actionbuttons ------------------------ */




/*-------------- component: OOTB columns --------------- */

div.cq-colctrl-cols {width: 100%; float: left; }

div.cq-colctrl-default { width: 100%;}

div.parsys_column { height: 100%; width: 100%; float: left; border: 0; vertical-align:top; padding: 0; margin: 0;}
div.parsys_column div.section { overflow:hidden; width: 100%; }
div.parsys_column div.section { zoom: 1; /* Property added to avoid IE hasLayout issue on paragraphs see #20817 - IE6: div around Drag Components image not big enough*/ }

/* layout 0 : 50% 50% ( grid6 + grid6 ) */
div.cq-colctrl-lt0 { }
#fh_body_content div.cq-colctrl-lt0-c0 { width: 48.5%; margin:0; margin-right:1.5%; } 
#fh_body_content div.cq-colctrl-lt0-c1 { width: 48.5%; margin:0; margin-left: 1.5%; } 

/* layout 1 : 33% 33% 33%( grid4 + grid4 + grid4 ) */
div.cq-colctrl-lt1 { }
#fh_body_content div.cq-colctrl-lt1-c0 { width: 31.333333333333%; margin:0; margin-right: 1.5%;}
#fh_body_content div.cq-colctrl-lt1-c1 { width: 31.333333333333%; margin:0; margin-left: 1.5%; margin-right: 1.5%;}
#fh_body_content div.cq-colctrl-lt1-c2 { width: 31.333333333333%; margin:0; margin-left: 1.5%; }

/* NOT USED layout 2: 16% 16% 16% 33% ( grid2.6 + grid2.6 + grid2.6 + grid4 ) */
div.cq-colctrl-lt2 { }
div.cq-colctrl-lt2-c0 { width: 140px; margin-right: 10px;}
div.cq-colctrl-lt2-c1 { width: 140px; margin-left: 10px; margin:0; margin-right: 10px}
div.cq-colctrl-lt2-c2 { width: 140px; margin-left: 10px; margin:0; margin-right: 10px}
div.cq-colctrl-lt2-c3 { width: 220px; margin-left: 10px }

/* layout 3: 4 x 25% ( grid3 + grid3 + grid3 + grid3 ) */
div.cq-colctrl-lt3 { }
#fh_body_content div.cq-colctrl-lt3-c0 { width: 22.75%; margin:0; margin-right: 1.5%;}
#fh_body_content div.cq-colctrl-lt3-c1 { width: 22.75%; margin:0; margin-left: 1.5%; margin-right: 1.5%;}
#fh_body_content div.cq-colctrl-lt3-c2 { width: 22.75%; margin:0; margin-left: 1.5%; margin-right: 1.5%;}
#fh_body_content div.cq-colctrl-lt3-c3 { width: 22.75%; margin:0; margin-left: 1.5%; }

@media screen and (max-width:768px) {
    
  /* 3-columns 
     on tablet-sized devices the 3-column layout behaves like this: row1: col1 & col2; row2: col3 */
  #fh_body_content div.parsys_column div.cq-colctrl-lt1-c0 { margin:0; padding:0; width: 49%; margin-right: 1%; }
  #fh_body_content div.parsys_column div.cq-colctrl-lt1-c1 { margin:0; padding:0; width: 49%; margin-left: 1%;  }
  #fh_body_content div.parsys_column div.cq-colctrl-lt1-c2 { margin:0; clear:both; width: auto; padding:0; border:0;   }
    
  /* 4-columns 
     on tablet-sized devices 4-columns switches to 2 rows, 2 cols */
  #fh_body_content div.parsys_column div.cq-colctrl-lt3-c0 { margin:0; width: 49%; margin-right: 1%;}
  #fh_body_content div.parsys_column div.cq-colctrl-lt3-c1 { margin:0; width: 49%; margin-left: 1%; }
  #fh_body_content div.parsys_column div.cq-colctrl-lt3-c2 { margin:0; clear:both; width: 49%;  margin-right: 1%;}
  #fh_body_content div.parsys_column div.cq-colctrl-lt3-c3 { margin:0; width: 49%; margin-left: 1%; }  

}

@media screen and (max-width:480px) {
 
   #fh_body_content div.parsys_column {   /* all columns stack at the smallest form factor */
     float:none; 
     margin-right:0 !important; margin-left:0 !important;
   }
   #fh_body_content div.parsys_column div.parsys_column {
     width: 100%;
     overflow: hidden;
     /*border-bottom:1px #ccc solid;*/
     padding-bottom: 1em;
     margin-bottom: 1em; /* adds a line of separation between now-stacked columns */
   }    
   #fh_body_content div.parsys_column div.parsys_column:last-child {
     border-bottom:none;
   }	
	
}

/* ------------------ end of OOTB columns -------------- */





/* ----------------- print styles --------------------- */

@media print {	
          
   /* lose the right-hand column, if any */
   .grid_12.fh_rightcol_container .grid_4 {
     display:none;
   }
   .grid_12.fh_rightcol_container .grid_8 {
     width:100%;
   }
 
   /* the fh_body_column effectively needs an omega now because the right hand column is now gone */
   .fh_body_column { padding-right:0; } 
   
   /* lose the in-page navigation and social icon block */
   .mainColNav,.social_options { display:none;}
		
}