@charset "utf-8";
/* CSS Document */

/* This section provides CSS for authoring that simplifies the page layout of slide pages and eliminates unnecessary UI */

/* Hide the titlebar controls and sharing module */

body.slide div.controls_container,
body.slide div.sharing_container {
	
	visibility: hidden;
	
}

/* Remove the thumbnail container */
body.slide div.secondary_content_container div.thumbnail_navigation_container {
	
	display: none;
	
}