@charset "utf-8";
/* CSS Document */

body {
	
	margin: 0;
	
}

/* IE9/10 fix for borders around images */

a > img,
img[usemap*="#"] {
	
	border-style: none;
	
}

/* UTILITY CLASSES */

.clearfix::after {
	
	clear: both;
	
}

.clear {
	
	clear: both;
	
}

.table {
	
	display: table;
	
}

.table_row {
	
	display: table-row;
	
}

.table_cell {
	
	display: table-cell;
	
}

/* GRID CLASSES */

.outer_grid_container {
	
	margin-left: auto;
	margin-right: auto;
	padding-left: 10px;
	padding-right: 10px;
	box-sizing: border-box;
	width: 980px;
	max-width: 100%;
	
}

.inner_grid_container {
	
	margin-left: 10px;
	margin-right: 10px;
	box-sizing: border-box;
	
}

/* FONTS */

div.titlebar div.title_container h1,
div.menubar div.menu_container {
	
	font-family: 'geogrotesque-regular', Arial, Helvetica, Sans-serif;
	
}

/* MENU BAR */
div.menubar {

	height: 50px; /*guesstimate*/
	
}

div.FH_logo {
	
	float:left;
	padding: 15px 0 0 0;
	
}

div.menu_container {
	
	float:right;
	font-size: 14px;
	font-size: 0.875rem;
	padding: 0;
	
}

div.menu_container nav div.navigation_link_container a {
	
	text-decoration: none;
	color: #123054;
	padding: 0 10px;
	padding: 0 0.625rem;
	font-family: 'geogrotesque-semibold', Arial, Helvetica, Sans-serif;
	
}

div.menu_container nav div.navigation_link_container a:hover { 

	color:#89c348; 
	text-decoration: underline;

}

div.menu_container nav div.navigation_link_container {
	
	display: inline-block;
	
}

div.menu_container nav div.navigation_link_container:first-child a {
	
	padding-left: 0;
	
}

div.menu_container nav div.navigation_link_container:last-child a {
	
	padding-right: 0;
	
}

/* TITLE BAR */

div.titlebar_container {
	
	height: 32px;
	margin-top: 61px;
	margin-top: 3.8125rem;
	box-sizing: border-box;
	
}

div.title_container {
	
	width: 60.71%;
	margin: 0;
/*	vertical-align: top; */

}

div.title_container h1 {
	
	font-size: 38px;
	font-size: 2.35rem;
	line-height: 32px;
	font-weight: normal;
	margin: 0;
	padding: 0 0 0 10px;
	
}

div.controls_container {
	
	width: 10.72%;
	margin: 0;
	font-size: 15px;
	font-size: 0.9375rem;
	text-align: right;
	border-spacing: 22px 0px;
	border-spacing: 1.375rem 0rem;
	font-family: 'geogrotesque-semibold', Arial, Helvetica, Sans-serif;
	
}

div.controls_container img.control_arrow {
	
	cursor: pointer;
	
}

div.controls_container img.control_arrow.disabled {
	
	cursor: default;
	
}

div.controls_container span.controls_text {
	
/*	vertical-align: middle; */
	text-align: center;
	
}

div.sharing_container {

	width: 28.57%;
	text-align: right;
	margin: 0;
	padding: 0 10px;
	
}

div.sharing_container span.share_options {
	
	display: inline-block;
	
}

/* MAIN CONTENT CONTAINER */

div.content_container {
	
	margin-top: 10px;
	min-height: 469px;
	
}

/* PRIMARY CONTENT AREA */

div.primary_content_container {
	
	width: 700px;
	max-width: 72.9%;
	box-sizing: border-box;
	float: left;
	
}

div.primary_content_container div.slide_photos_container {
	
	position: relative;
	/* Non-standard CSS fixes problem where double-clicking the slideshow selected a div and caused 
	 * blue lines/selection of the whole picture */
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	/* Not a thing, but just in case... */
	user-select: none;
	
}

div.primary_content_container div.slide_photos_container div#final_slide {
	
	z-index: 10; /* Further up than the slide controls */
	position: absolute;
	left: 0;
	top: 0;
	width: 700px; 
	height: 469px; /* To be manipulated via JS */
	display: none;
	
}

div.primary_content_container div.slide_photos_container div#final_slide div.final_slide_shader {
	
	position: absolute;
	width: 700px; 
	height: 469px; /* To be manipulated via JS */
	left: 0;
	top: 0;
	background-color: #123054;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)"; /* IE 8 */
	opacity: 0.7;
	
}

div.primary_content_container div.slide_photos_container div#final_slide div.final_slide_button_container {
	
	position: relative;
	top: 0;
	z-index: 10;
	
}

div.primary_content_container div.slide_photos_container div#final_slide div.final_slide_button_container a {
	
	width: 161px; /* Magic number. This happens to be how wide the button images are */
	display: block;
	margin-left: auto;
	margin-right: auto;
	
}

div.primary_content_container div.slide_photos_container div#final_slide div.final_slide_button_container img.final_slide_button {
	
	display: block;
	margin: 0 auto 10px auto;
	cursor: pointer;
	
}

div.primary_content_container div.slide_photos_container div.slide_photo {
	
	display: none;
	
}

div.primary_content_container div.slide_photos_container div.slide_photo.active {
	
	display: block;
	
}

div.primary_content_container div.slide_photos_container div.slide_photo img {
	
	max-width: 100%;
	border: 0;
	display: block;
	margin: 0 auto;
	
}

div.primary_content_container div.slide_photos_container div.slide_control {
	
	position: absolute;
	top: 0;
	display: block;
	height: 469px; /* To be changed via JS when necessary */
	z-index: 5;
	
}

div.primary_content_container div.slide_photos_container div#left_slide_control {
	
	left: 0;
	width: 233.33px; /* To be changed by JS when necessary */
	max-width: 33%;
	
}

div.primary_content_container div.slide_photos_container div#right_slide_control {
	
	right: 0;
	width: 466.66px; /* To be changed by JS when necessary */
	max-width: 66%;
	
}

div.primary_content_container div.slide_photos_container div.slide_control div.control_image {
	
	display: none;
	width: 44px;
	height: 43px;
	position: absolute;
	top: 213.5px; /* To be changed by JS when necessary; (Slide height / 2) - (control image height / 2) */
	z-index: 5;
	cursor: pointer;
	text-indent: -10000px;
	
}

div.primary_content_container div.slide_photos_container div.slide_control div.control_image.visible {
	
	display: block;
	
}

div.primary_content_container div.slide_photos_container div.slide_control div#left_control_image {
	
	left: 15px;
	background-image: url(/etc/designs/public/img/slideshow/slideshow_arrow_lg_left.png);
	background-repeat: none;
	
}

div.primary_content_container div.slide_photos_container div.slide_control div#right_control_image {
	
	right: 15px;
	background-image: url(/etc/designs/public/img/slideshow/slideshow_arrow_lg_right.png);
	background-repeat: none;
	
}

/* SECONDARY CONTENT AREA */

div.secondary_content_container {
	
	width: 220px;
	max-width: 22.9%;
	box-sizing: border-box;
	float: left;
	
}

/* THUMBNAIL NAVIGATION */

div.secondary_content_container div.thumbnail_navigation_container {
	
	height: 62px;
	background-color: #123054;
	margin-bottom: 20px;
	
}

div.secondary_content_container div.thumbnail_navigation_container > div {
	
	float: left;
	
}

div.secondary_content_container div.thumbnail_navigation_container div.thumbnail_navigation_control {
	
	width: 15px;
	padding: 0;
	margin: 0;
	
}

div.secondary_content_container div.thumbnail_navigation_container div.thumbnail_navigation_control img {
	
	cursor: pointer;
	
}

div.secondary_content_container div.thumbnail_navigation_container div.thumbnail_viewport {
	
	width: 188px;
	overflow: hidden;
	margin: 0;
	padding: 0;
	
}

div.secondary_content_container div.thumbnail_navigation_container div.thumbnail_viewport div.thumbnail_container {
	
	width: 200px;
	position: relative;
	
}

div.secondary_content_container div.thumbnail_navigation_container div.thumbnail_viewport div.thumbnail_container div.thumbnail_image {
	
	float: left;
	width: 62px;
	height: 62px;
	overflow: hidden;
	margin-right: 1px;
	position: relative;
	
}

div.secondary_content_container div.thumbnail_navigation_container div.thumbnail_viewport div.thumbnail_container div.thumbnail_image img {
	
	margin: 0;
	padding: 0;
	max-width: 100%;
	
}

div.secondary_content_container div.thumbnail_navigation_container div.thumbnail_viewport div.thumbnail_container div.thumbnail_image div.thumbnail_filter {
	
	position: absolute;
	left: 0;
	top: 0;
	width: 62px;
	height: 62px;
	z-index: 100;
	background-color: #123054;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)"; /* IE 8 */
	opacity: 0.6;
	
}

div.secondary_content_container div.thumbnail_navigation_container div.thumbnail_viewport div.thumbnail_container div.thumbnail_image.active_thumbnail div.thumbnail_filter {
	
	visibility: hidden;
	
}

/* SLIDE INFORMATION */

div.secondary_content_container div.slide_information_container div.slide_information {
	
	display: none;
	
}

div.secondary_content_container div.slide_information_container div.slide_information.active {
	
	display: block;
	
}

/* HEADLINE */

div.secondary_content_container div.slide_information_container div.slide_information div.headline_container {
	
	padding-bottom: 6px;
	padding-bottom: 0.375rem;
	
}

div.secondary_content_container div.slide_information_container div.slide_information div.headline_container h2 {
	
	padding: 0;
	margin: 0;
	font-family: 'geogrotesque-regular', Arial, Helvetica, sans-serif;
	font-weight: normal;
	font-size: 38px;
	font-size: 2.35rem;
	color: #123054;
	
}

/* CAPTION */

div.secondary_content_container div.slide_information_container div.slide_information div.caption_container {
	
	padding-bottom: 4px;
	padding-bottom: 0.25rem;	
	font-family: 'geogrotesque-regular', Arial, Helvetica, sans-serif;
	font-size: 15px;
	font-size: 0.9375rem;
	color: #123054;
	
}

div.secondary_content_container div.slide_information_container div.slide_information div.caption_container a {
	
	color: #39b6b9; 
	font-family:Geogrotesque-Semibold,Arial,Helvetica,Sans-serif;
	text-decoration:none; 
	
}

div.secondary_content_container div.slide_information_container div.slide_information div.caption_container a:hover {

	color: #89c348;
	text-decoration: underline;
	
}

div.secondary_content_container div.slide_information_container div.slide_information div.caption_container :first-child {
	
	padding-top: 0;
	margin-top: 0;
	
}

div.secondary_content_container div.slide_information_container div.slide_information div.caption_container :last-child {
	
	padding-bottom: 0;
	margin-bottom: 0;
	
}

/* PHOTO CREDIT */

div.secondary_content_container div.slide_information_container div.slide_information div.photo_credit_container {
	
	padding-bottom: 20px;
	
}

div.secondary_content_container div.slide_information_container div.slide_information div.photo_credit_container span.photo_credit {
	
	font-size: 12px;
	font-size: 0.75rem;
	font-family: 'geogrotesque-regular', Arial, Helvetica, sans-serif;
	color: #123054;
	
}

/* RELATED CONTENT */

div.secondary_content_container div.slide_information_container div.slide_information div.related_content_container h3.related_content_header {
	
	font-family: 'geogrotesque-semibold', Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-size: 0.75rem;
	text-transform: uppercase;
	color: #123054;
	margin: 0 0 5px 0;
	margin: 0 0 0.3125rem 0;
	padding: 0;
	
}

div.secondary_content_container div.slide_information_container div.slide_information div.related_content_container div.related_content_item {
	
	margin-bottom: 20px;
	
}

div.secondary_content_container div.slide_information_container div.slide_information div.related_content_container div.related_content_item:last-child {
	
	margin-bottom: 0;
	
}

div.secondary_content_container div.slide_information_container div.slide_information div.related_content_container div.related_content_item a {
	
	text-decoration: none;
	
}

div.secondary_content_container div.slide_information_container div.slide_information div.related_content_container div.related_content_item h4.related_content_item_title {
	
	color: #39b6b9;
	text-decoration: none;
	font-family: 'geogrotesque-regular', Arial, Helvetica, sans-serif;
	font-size: 15px;
	font-size: 0.9375rem;
	margin: 0 0 4px 0;
	margin: 0 0 0.25rem 0;
	padding: 0;
	
}

div.secondary_content_container div.slide_information_container div.slide_information div.related_content_container div.related_content_item h4.related_content_item_title:hover {
	
	color: #89c348;
	text-decoration: underline;
	
}

div.secondary_content_container div.slide_information_container div.slide_information div.related_content_container div.related_content_item img.related_content_item_photo {
	
	max-width: 120px;
	
}

/* FOOTER */

div.footer_items_container {
	
	min-height: 100px; /* guesstimate */
	min-height: 6.25rem;
	background-color: #ffffff;
	padding-top: 12px;
	padding-top: 0.75rem;
	margin-top: 20px;
	color: #999999;
	font-family: 'geogrotesque-regular', Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-size: 0.75rem;
	
}

div.footer_container div.footer_item {
	
	float: left;
	
}

div.footer_container div.fred_hutch_description {
	
	width: 545px;
	max-width: 56.8%;
	
}

div.footer_container div.fred_hutch_description p {
	
	margin: 19px 0 0 0;
	
}

div.footer_container div.social_icons_container {
	
	width: 165px;
	max-width: 17.2%;
	
}

div.footer_container div.social_icons_container h3 {
	
	font-family: 'geogrotesque-semibold', Arial, Helvetica, Sans-serif;
	color: #123054;
	margin: 0 0 4px 0;
	padding: 0;
}

/* Donate Button component */
/* This is in the Components.css of the main site, but we aren't using that, so
 * replicating it here. */

div.menu_container nav div.navigation_link_container div.donateButton {
	
	height: 42px;
	height: 2.635rem;
	line-height: 40.8px;
	line-height: 2.55rem;
	
}

div.menu_container nav div.navigation_link_container div.donateButton a.donate_button {
	
	background-color: #89c348;
	color: white;
	text-decoration: none;
	text-transform: uppercase;
	
	font-size: 12px;
	font-size: 0.75rem;
	letter-spacing: 0.08em;
	font-family: 'Geogrotesque-Semibold', Arial, Helvetica, sans-serif;
	
	display: inline-block;
	height: 100%;
	padding: 0 1em;
	font-weight: normal;
	
}

div.menu_container nav div.navigation_link_container div.donateButton a.donate_button:hover {
	
	background-color: #73ad33;
	
}

/* End Donate Button component */

/* ------- share options. these appear in the cluster title and also on some page bottoms ------------ */
/* Recreated from static.css file for public site */
.share_options { display:none; } /* start out hidden, but are turned on via js - see static.js */
.share_options { 
	font-size: 18px;
	font-family: 'geogrotesque-regular',Arial,Helvetica,Sans-serif;
	font-weight: normal; }
div.share_options { margin-bottom:10px; }
.share_options a.a2a_dd { 
	color: #123054; 
	text-decoration: none;  
	text-transform: none;
}
.share_options a.a2a_dd:hover { 
	color: #89c348;
	text-decoration:underline;  
}
.share_options a.a2a_dd img {
	
	margin-right: 8px;
	
}
.share_options a.a2a_dd span.share_link_text {
	
	position: relative;
	top: -6px;
	
}