/* styling for the textimage components */
/* include me directly, or copy me and make me your own */

/* color themes. you'll likely want to copy this short section to your own app
   and customize it the way you want. */

/* colorTheme0 = no special styling */

/* colorTheme1 = white text on teal background */

.textimage .colorTheme1 { background-color: teal; color: #ffffff; padding:1em; }
.textimage .colorTheme1 :first-child { margin-top: 0; padding-top: 0; }
.textimage .colorTheme1 :last-child { margin-bottom: 0; padding-bottom: 0; }

div.textimage .colorTheme1 h2,
div.textimage .colorTheme1 h3,
div.textimage .colorTheme1 h4,
div.textimage .colorTheme1 h5,
div.textimage .colorTheme1 h6 { color: #ffffff; }

div.textimage .colorTheme1 a,
div.textimage .colorTheme1 a:visited { color: #ffffff;}
div.textimage .colorTheme1 a:hover { color: #ffffff; text-decoration: none; }

/* colorTheme2 = <color> text on <color> background, etc. */



/* designTheme0 = no special styling */

/* designTheme1 = white text on teal background */

.textimage .designTheme1 { width:80%; border:2px black solid; }

/* designTheme2 = etc. */



/* -------------- component: Text & Image --------------------- */
/* -------------- component: Image ---------------------------- */



.image .imageAndCaption {

    display: table;
/*  table-layout: fixed;
    width: 100%;*/
        
}

.textimageContainer.colorTheme1 {
    
    padding: 1em;
    
}

.textimageContainer.colorTheme1 .textContainer :first-child {
    
    margin-top: 0;
    padding-top: 0;
    
}

.textimageContainer.colorTheme1 .textContainer :last-child {
    
    margin-bottom: 0;
    padding-bottom: 0;
    
}

.textimageContainer .imageAndCaption {
    
    float: left;
    display: table;
/*    table-layout: fixed;
    width: 100%;*/
    margin-right: 1.5em;
    max-width: 40%;
        
}

.textimageContainer.rightAlign .imageAndCaption {
    
    float: right;
    margin-right: 0;
    margin-left: 1.5em;
    
}

.textimageContainer.centerAlign .imageAndCaption,
.image .imageAndCaption.horizontallyCentered {
    
    float: none;
    margin: 0 auto;
    max-width: 100%;
    
}

.textimageContainer .imageContainer img {
    
    max-width:100%;
    padding: 0.5em;
    border: 1px solid #c9d3eb;
    margin: 0 auto;
    display: block;
    box-sizing: border-box;
    
}

.image .imageContainer img {

    max-width:100%;
    padding: 0.5em;
    border: 1px solid #c9d3eb;
    display: block;
    
}
.textimageContainer.colorTheme1 .imageContainer img {
    
    border: 1px solid #ffffff;
    
}

.textimageContainer .imageContainer.noBorder img,
.image .imageContainer.noBorder img {
    
    padding: 0;
    border: 0;
    
}

.textimageContainer .imageAndCaption .captionAndCredit,
.image .imageAndCaption .captionAndCredit {
    
    padding: 0.75em 0.25em;
    display: table-caption;
    caption-side: bottom;
    text-transform: uppercase;
    font-family: 'Myriad Pro',Myriad,Arial,Helvetica,Sans-serif;
    font-weight: 700;
    
}

.textimageContainer .imageAndCaption .caption,
.textimageContainer .imageAndCaption .credit,
.textimageContainer .imageAndCaption .hiRes,
.image .imageAndCaption .caption,
.image .imageAndCaption .credit,
.image .imageAndCaption .hiRes {
    
    display: block;
    
}

.textimageContainer .imageAndCaption .caption,
.image .imageAndCaption .caption {
    
    font-size: 0.75em;
    line-height: 1.3em;
    
}

.textimageContainer .imageAndCaption .credit,
.textimageContainer .imageAndCaption .hiRes,
.image .imageAndCaption .credit,
.image .imageAndCaption .hiRes {
    
    font-size: 0.6em;
    line-height: 1.3em;
    
}



@media screen and (max-width:480px) {

   /*-------------- Text & Image Component ----------------*/   
    
   .textimageContainer .imageAndCaption,
   .textimageContainer.rightAlign .imageAndCaption,
   .textimageContainer.centerAlign .imageAndCaption {        
       float: none;
       margin: 0 auto;
       max-width: 100%;        
   }
   
}