/* css for components used in the public site */

/* ------------- gradient columns styles (from fhcrc) -------------- */

/* designed to work within the 980 grid system, so these controls know
   how wide they need to be. if you use these in anything other than grid_9
   or grid_12 you'll need to add new selectors here.                         

   model: 

    <div class="fh_gradient_columns clearfix">
        <div class="fh_parsys_column fh-colctrl-lt0">
            <div class="fh_parsys_column fh-colctrl-lt0-c0">
                <div class="fh_section">text here</div>
            </div>
            <div class="fh_parsys_column fh-colctrl-lt0-c1">
                <div class="fh_section">text here</div>
            </div>  
        </div>
    </div> 

*/

.fh_gradient_columns { margin:20px 0 } /* guess-timate */
.fh_gradient_columns div.fh_parsys_column,
.fh_panel_grid div.fh_parsys_column 
	{ height: 100%; width: 100%; float: left; border: 0; vertical-align:top; padding: 0; margin: 0;}
.fh_gradient_columns div.fh_parsys_column div.fh_section,
.fh_panel_grid div.fh_parsys_column div.fh_section 
	{ overflow:hidden; width: 100%; }
.fh_gradient_columns div.fh_parsys_column div.fh_section { zoom: 1; /* Property added to avoid IE hasLayout issue on paragraphs see #20817 - IE6: div around Drag Components image not big enough*/ }
.fh_gradient_columns div.fh_section>:first-child { margin-top:0;padding-top:0; } /* ISN'T WORKING because CQ inserts DIVs between the content and div.fh_section. nuke padding/margin on first element inside this column */
.fh_gradient_columns div.parbase.section>:first-child,
.fh_gradient_columns div.fh_parsys_column div.section.eventMonth>:first-child,
.fh_gradient_columns div.fh_parsys_column div.section.header>div.headerwidget>:first-child
 { margin-top:0;padding-top:0; } /* this may be doing the trick, but monitor this. */


div.fh_body_content div.fh_gradient_columns div.fh_parsys_column { background-color: #e9e9e9; }

/* 1-column, Layout 10: 100% */
div.fh_body_content.grid_12 div.fh_gradient_columns div.fh-colctrl-lt10-c0 { width: 900px; margin:20px; }
div.fh_body_content.grid_9 div.fh_gradient_columns div.fh-colctrl-lt10-c0 { width: 660px; margin:20px; }
div.fh_body_content.grid_12 div.grid_8 div.fh_gradient_columns div.fh-colctrl-lt10-c0 { width: 580px; margin:20px; }
div.fh_body_content.grid_9 div.grid_6 div.fh_gradient_columns div.fh-colctrl-lt10-c0 { width: 420px; margin:20px; }
div.fh_body_content.grid_9 div.grid_5 div.fh_gradient_columns div.fh-colctrl-lt10-c0 { width: 340px; margin:20px; }


/* 2-columns, Layout 20: 50% 50% */
div.fh_body_content.grid_12 div.fh_gradient_columns div.fh-colctrl-lt20-c0 { width: 430px; margin:20px; }
div.fh_body_content.grid_12 div.fh_gradient_columns div.fh-colctrl-lt20-c1 { width: 430px; margin:20px; }
div.fh_body_content.grid_9  div.fh_gradient_columns div.fh-colctrl-lt20-c0 { width: 310px; margin:20px; }
div.fh_body_content.grid_9  div.fh_gradient_columns div.fh-colctrl-lt20-c1 { width: 310px; margin:20px; }
div.fh_body_content.grid_12 div.grid_8 div.fh_gradient_columns div.fh-colctrl-lt20-c0 { width: 270px; margin:20px; }
div.fh_body_content.grid_12 div.grid_8 div.fh_gradient_columns div.fh-colctrl-lt20-c1 { width: 270px; margin:20px; }
div.fh_body_content.grid_9  div.grid_5 div.fh_gradient_columns div.fh-colctrl-lt20-c0 { width: 150px; margin:20px; }
div.fh_body_content.grid_9  div.grid_5 div.fh_gradient_columns div.fh-colctrl-lt20-c1 { width: 150px; margin:20px; }
div.fh_body_content.grid_9  div.grid_6 div.fh_gradient_columns div.fh-colctrl-lt20-c0 { width: 190px; margin:20px; }
div.fh_body_content.grid_9  div.grid_6 div.fh_gradient_columns div.fh-colctrl-lt20-c1 { width: 190px; margin:20px; }


/* 2-columns, Layout 21: 66% 33% */
div.fh_body_content.grid_12 div.fh_gradient_columns div.fh-colctrl-lt21-c0 { width: 573px; margin:20px; }
div.fh_body_content.grid_12 div.fh_gradient_columns div.fh-colctrl-lt21-c1 { width: 287px; margin:20px; }
div.fh_body_content.grid_9  div.fh_gradient_columns div.fh-colctrl-lt21-c0 { width: 413px; margin:20px; }
div.fh_body_content.grid_9  div.fh_gradient_columns div.fh-colctrl-lt21-c1 { width: 207px; margin:20px; }
div.fh_body_content.grid_12 div.grid_8 div.fh_gradient_columns div.fh-colctrl-lt21-c0 { width: 360px; margin:20px; }
div.fh_body_content.grid_12 div.grid_8 div.fh_gradient_columns div.fh-colctrl-lt21-c1 { width: 180px; margin:20px; }
div.fh_body_content.grid_9 div.grid_5 div.fh_gradient_columns div.fh-colctrl-lt21-c0 { width: 200px; margin:20px; }
div.fh_body_content.grid_9 div.grid_5 div.fh_gradient_columns div.fh-colctrl-lt21-c1 { width: 100px; margin:20px; }



/* 2-columns, Layout 22: 33% 66% */
div.fh_body_content.grid_12 div.fh_gradient_columns div.fh-colctrl-lt22-c0 { width: 287px; margin:20px; }
div.fh_body_content.grid_12 div.fh_gradient_columns div.fh-colctrl-lt22-c1 { width: 573px; margin:20px; }
div.fh_body_content.grid_9  div.fh_gradient_columns div.fh-colctrl-lt22-c0 { width: 207px; margin:20px; }
div.fh_body_content.grid_9  div.fh_gradient_columns div.fh-colctrl-lt22-c1 { width: 413px; margin:20px; }
div.fh_body_content.grid_12 div.grid_8 div.fh_gradient_columns div.fh-colctrl-lt22-c0 { width: 180px; margin:20px; }
div.fh_body_content.grid_12 div.grid_8 div.fh_gradient_columns div.fh-colctrl-lt22-c1 { width: 360px; margin:20px; }
div.fh_body_content.grid_9 div.grid_5 div.fh_gradient_columns div.fh-colctrl-lt22-c0 { width: 100px; margin:20px; }
div.fh_body_content.grid_9 div.grid_5 div.fh_gradient_columns div.fh-colctrl-lt22-c1 { width: 200px; margin:20px; }



/* 3-columns, Layout 30: 33% 33% 33% */
div.fh_body_content.grid_12 div.fh_gradient_columns div.fh-colctrl-lt30-c0 { width: 273px; margin:20px; }
div.fh_body_content.grid_12 div.fh_gradient_columns div.fh-colctrl-lt30-c1 { width: 273px; margin:20px;}
div.fh_body_content.grid_12 div.fh_gradient_columns div.fh-colctrl-lt30-c2 { width: 273px; margin:20px;}
div.fh_body_content.grid_9 div.fh_gradient_columns div.fh-colctrl-lt30-c0 { width: 193px; margin:20px; }
div.fh_body_content.grid_9 div.fh_gradient_columns div.fh-colctrl-lt30-c1 { width: 193px; margin:20px;}
div.fh_body_content.grid_9 div.fh_gradient_columns div.fh-colctrl-lt30-c2 { width: 193px; margin:20px;}
div.fh_body_content.grid_12 div.grid_8 div.fh_gradient_columns div.fh-colctrl-lt30-c0 { width: 166px; margin:20px; }
div.fh_body_content.grid_12 div.grid_8 div.fh_gradient_columns div.fh-colctrl-lt30-c1 { width: 167px; margin:20px;}
div.fh_body_content.grid_12 div.grid_8 div.fh_gradient_columns div.fh-colctrl-lt30-c2 { width: 167px; margin:20px;}
div.fh_body_content.grid_9 div.grid_5 div.fh_gradient_columns div.fh-colctrl-lt30-c0 { width: 86px; margin:20px; }
div.fh_body_content.grid_9 div.grid_5 div.fh_gradient_columns div.fh-colctrl-lt30-c1 { width: 87px; margin:20px;}
div.fh_body_content.grid_9 div.grid_5 div.fh_gradient_columns div.fh-colctrl-lt30-c2 { width: 87px; margin:20px;}



/* -------------- foundational column control --------------- */

div.cq-colctrl-default { width: 100%;}

div.parsys_column { height: 100%; width: 100%; float: left; border: 0; vertical-align:top; padding: 0; margin: 0;}
div.parsys_column div.section { overflow:hidden; width: 100%; }
div.parsys_column div.section { zoom: 1; /* Property added to avoid IE hasLayout issue on paragraphs see #20817 - IE6: div around Drag Components image not big enough*/ }
div.parsys_column div.section>:first-child { margin-top:0;padding-top:0; } /* added div.parsys_column...Watch this, 9/14/11. ISN'T WORKING because CQ inserts DIVs between the content and div.fh_section. nuke padding/margin on first element inside this column */
div.parsys_column div.parbase.section>:first-child,
div.parsys_column div.parbase.section>div.highlightsBoxContainer>:first-child,
div.parsys_column div.section>div.headerwidget>:first-child 
 { margin-top:0;padding-top:0; } /* added div.parsys_column...Watch this, 9/14/11. this may be doing the trick, but monitor this. */


/* 2-column, Layout 0: 50% 50% */
div.fh_body_content.grid_9 div.cq-colctrl-lt0-c0 { width: 340px; margin:20px 10px 20px 0; }
div.fh_body_content.grid_9 div.cq-colctrl-lt0-c1 { width: 340px; margin:20px 0 20px 10px; }
div.fh_body_content.grid_9 div.grid_5 div.cq-colctrl-lt0-c0 { width: 180px; margin:20px 10px 20px 0; }
div.fh_body_content.grid_9 div.grid_5 div.cq-colctrl-lt0-c1 { width: 180px; margin:20px 0 20px 10px; }
div.fh_body_content.grid_12 div.cq-colctrl-lt0-c0 { width: 460px; margin:20px 10px 20px 0; }
div.fh_body_content.grid_12 div.cq-colctrl-lt0-c1 { width: 460px; margin:20px 0 20px 10px; }
div.fh_body_content.grid_12 div.grid_8 div.cq-colctrl-lt0-c0 { width: 300px; margin:20px 10px 20px 0; }
div.fh_body_content.grid_12 div.grid_8 div.cq-colctrl-lt0-c1 { width: 300px; margin:20px 0 20px 10px; }
div.fh_body_content.grid_9 div.grid_6 div.cq-colctrl-lt0-c0 { width: 210px; margin:20px 10px 20px 0; } /* grid_6 only on eventmain pages */
div.fh_body_content.grid_9 div.grid_6 div.cq-colctrl-lt0-c1 { width: 210px; margin:20px 0 20px 10px; }

/* 2-column, Layout 0w: 66% 33% (wide left)*/
div.fh_body_content.grid_12 div.grid_8 div.cq-colctrl-lt0w-c0 { width: 400px; margin:20px 10px 20px 0; }
div.fh_body_content.grid_12 div.grid_8 div.cq-colctrl-lt0w-c1 { width: 200px; margin:20px 0 20px 10px; }
div.fh_body_content.grid_9  div.cq-colctrl-lt0w-c0 { width: 453px; margin:20px 10px 20px 0; }
div.fh_body_content.grid_9  div.cq-colctrl-lt0w-c1 { width: 227px; margin:20px 0 20px 10px; }
div.fh_body_content.grid_12 div.cq-colctrl-lt0w-c0 { width: 613px; margin:20px 10px 20px 0; }
div.fh_body_content.grid_12 div.cq-colctrl-lt0w-c1 { width: 307px; margin:20px 0 20px 10px; }
div.fh_body_content.grid_9 div.grid_5 div.cq-colctrl-lt0w-c0 { width: 240px; margin:20px 10px 20px 0; }
div.fh_body_content.grid_9 div.grid_5 div.cq-colctrl-lt0w-c1 { width: 120px; margin:20px 0 20px 10px; }
div.fh_body_content.grid_9 div.grid_6 div.cq-colctrl-lt0w-c0 { width: 280px; margin:20px 10px 20px 0; }
div.fh_body_content.grid_9 div.grid_6 div.cq-colctrl-lt0w-c1 { width: 160px; margin:20px 0 20px 10px; }

/* 2-column, Layout 0x: 33% 66% (wide right) */
div.fh_body_content.grid_12 div.grid_8 div.cq-colctrl-lt0x-c0 { width: 200px; margin:20px 10px 20px 0; }
div.fh_body_content.grid_12 div.grid_8 div.cq-colctrl-lt0x-c1 { width: 400px; margin:20px 0 20px 10px; }
div.fh_body_content.grid_9  div.cq-colctrl-lt0x-c0 { width: 227px; margin:20px 10px 20px 0; }
div.fh_body_content.grid_9  div.cq-colctrl-lt0x-c1 { width: 453px; margin:20px 0 20px 10px; }
div.fh_body_content.grid_12 div.cq-colctrl-lt0x-c0 { width: 307px; margin:20px 10px 20px 0; }
div.fh_body_content.grid_12 div.cq-colctrl-lt0x-c1 { width: 613px; margin:20px 0 20px 10px; }
div.fh_body_content.grid_9 div.grid_5 div.cq-colctrl-lt0x-c0 { width: 120px; margin:20px 10px 20px 0; }
div.fh_body_content.grid_9 div.grid_5 div.cq-colctrl-lt0x-c1 { width: 240px; margin:20px 0 20px 10px; }
div.fh_body_content.grid_9 div.grid_6 div.cq-colctrl-lt0w-c0 { width: 160px; margin:20px 10px 20px 0; }
div.fh_body_content.grid_9 div.grid_6 div.cq-colctrl-lt0w-c1 { width: 280px; margin:20px 0 20px 10px; }


/* 3-column, Layout 1: 33% 33% 33% */
div.fh_body_content.grid_12 div.grid_8 div.cq-colctrl-lt1-c0 { width: 193px; margin:20px 10px 20px 0;}
div.fh_body_content.grid_12 div.grid_8 div.cq-colctrl-lt1-c1 { width: 193px; margin:20px 10px 20px 10px;}
div.fh_body_content.grid_12 div.grid_8 div.cq-colctrl-lt1-c2 { width: 193px; margin:20px 0 20px 10px;}
div.fh_body_content.grid_9 div.cq-colctrl-lt1-c0 { width: 220px; margin:20px 10px 20px 0;}
div.fh_body_content.grid_9 div.cq-colctrl-lt1-c1 { width: 220px; margin:20px 10px 20px 10px;}
div.fh_body_content.grid_9 div.cq-colctrl-lt1-c2 { width: 220px; margin:20px 0 20px 10px;}
div.fh_body_content.grid_12 div.cq-colctrl-lt1-c0 { width: 300px; margin:20px 10px 20px 0;}
div.fh_body_content.grid_12 div.cq-colctrl-lt1-c1 { width: 300px; margin:20px 10px 20px 10px;}
div.fh_body_content.grid_12 div.cq-colctrl-lt1-c2 { width: 300px; margin:20px 0 20px 10px;}
div.fh_body_content.grid_9 div.grid_5 div.cq-colctrl-lt1-c0 { width: 113px; margin:20px 10px 20px 0; }
div.fh_body_content.grid_9 div.grid_5 div.cq-colctrl-lt1-c1 { width: 113px; margin:20px 10px 20px 10px; }
div.fh_body_content.grid_9 div.grid_5 div.cq-colctrl-lt1-c2 { width: 114px; margin:20px 0 20px 10px; }

/* 4-column, Layout 2 - Panel Grid component - 25% 25% 25% 25%, no margins */
div.fh_body_content.grid_12 div.cq-colctrl-lt2-c0 { width: 235px; margin:0;}
div.fh_body_content.grid_12 div.cq-colctrl-lt2-c1 { width: 235px; margin:0;}
div.fh_body_content.grid_12 div.cq-colctrl-lt2-c2 { width: 235px; margin:0;}
div.fh_body_content.grid_12 div.cq-colctrl-lt2-c3 { width: 235px; margin:0;}


/* ***************** change margins on columns on the homepage and landing pages ****************************   */
/* Reverse the 20px top/bottom margins on each column,                                                          */
/* and nuke top/bottom margins on elements of the individual components that go into columns.                   */
/* We use <body class="homepage"> and <body class="landingpage"> to identify which templates get this treatment */
/* **********************************************************************************************************   */

/* remove the 20px top/bottom margins on foundational column control cells on all homepages and landingpages: */
/* to check: this might also affect the gradient columns */

body.griddedcolumns div.fh_body_content div.cq-colctrl-lt1-c0, /* 3-column */
body.griddedcolumns div.fh_body_content div.cq-colctrl-lt1-c1,
body.griddedcolumns div.fh_body_content div.cq-colctrl-lt1-c2,
body.griddedcolumns div.fh_body_content div.cq-colctrl-lt0-c0,  /* 2-column */
body.griddedcolumns div.fh_body_content div.cq-colctrl-lt0-c1,
body.griddedcolumns div.fh_body_content div.cq-colctrl-lt0w-c0, /* 2-column wide left */
body.griddedcolumns div.fh_body_content div.cq-colctrl-lt0w-c1,
body.griddedcolumns div.fh_body_content div.cq-colctrl-lt0x-c0, /* 2-column wide right */
body.griddedcolumns div.fh_body_content div.cq-colctrl-lt0x-c1

  { margin-top:0; margin-bottom:0; }

/* changes for: colctrl (foundational colctrl) */
/* also see ie7 and ie8 conditional css for specific ie styling */
body.griddedcolumns div.parsys_column.cq-colctrl-lt0,
body.griddedcolumns div.parsys_column.cq-colctrl-lt0x,
body.griddedcolumns div.parsys_column.cq-colctrl-lt0w,
body.griddedcolumns div.parsys_column.cq-colctrl-lt1,
body.griddedcolumns div.parsys_column.cq-colctrl-lt2,
body.griddedcolumns div.parsys_column.cq-colctrl-default { float:none; margin:20px 0; } /* float:none is critical to getting margin collapse working.  */

body.griddedcolumns div.parsys_column.cq-colctrl-lt0:first-child,
body.griddedcolumns div.parsys_column.cq-colctrl-lt1:first-child,
body.griddedcolumns div.parsys_column.cq-colctrl-lt2:first-child,
body.griddedcolumns div.parsys_column.cq-colctrl-default:first-child,
body.griddedcolumns div.testtest div.colctrl-start + div.parsys_column /* in author there is an extra div...this selector not working right now. */
	{ margin-top:0; } /* the first column control in a par should not have top margin.  */


/* changes for: imagePlus */
img.frame { /*border:none;*/ } /* example, not for larger use, just dev */
body.griddedcolumns div.parsys_column .imageplus dl dt img { display:block; } /* allows imageplus when used in columns to not have bottom padding/margin */

/* changes for: text component */
/* note that :last-of-type might be needed for more precise handling here. */
body.griddedcolumns div.parsys_column div.parbase.section  *:last-child { margin-bottom:0; } /* elements in columns should hug the bottom of the column. ie7,8 will not respect this. */
div.parsys_column { /*background-color:#ddffff;*/ } /* only for testing*/

/* changes for: textimage component */
body.griddedcolumns div.parsys_column .fh_textimage div.textimage_image { margin-bottom:0; }

/* changes for: videoembed */
body.griddedcolumns div.parsys_column .videoEmbed { margin-bottom:0; }

/* changes for: supertabs (colored) */
body.griddedcolumns  div.parsys_column .tabsContainer,
body.griddedcolumns  div.parsys_column .tabsContainer { margin-bottom:0; }

/* changes for: news article finder */
body.griddedcolumns div.parsys_column .newsfindercontainer div.related-news p:last-of-type { margin-bottom:0; } /* for some reason *:last-child doesn't catch this one */

/* changes for: featured researcher */
body.griddedcolumns div.parsys_column div.featuredresearchers { margin-bottom:0; }


/* ********** end of: change margins on columns on the homepage and landing pages ************** */



/* ------------- component:list --------------- */
.fh_list ul,
.fh_list ol { margin-top:0; }
.fh_list ul>li:first-child>:first-child,
.fh_list ol>li:first-child>:first-child { margin-top:0; padding-top:0; } /* flush up the first element in each ul/ol. might be a p tag. */
.fh_list .pagination {}
.fh_list .pagination .next .raquo { margin-left:6px; /*color:#0659A1;*/ }
.fh_list .pagination .previous .raquo { margin-right:6px; /*color:#0659A1;*/ }
.fh_list .rsslink { border:none; }
.fh_list.omitbullets ul { list-style:none; margin-left:.1em; padding-left:.1em; }
.fh_list li.thumblist { margin-bottom:10px; }
.fh_list li.thumblist .thumblist_thumb { float:left;width:100px; }
.fh_list li.thumblist .thumblist_thumb img { border:none;width:94px; }
.fh_list li.thumblist .thumblist_text { margin-left:110px; }


/* ------------- component:bulletedpicklist -------- */
.bulleted_picklist ul,
.bulleted_picklist ol { margin-top:0; }
.bulleted_picklist ul>li:first-child>:first-child,
.bulleted_picklist ol>li:first-child>:first-child { margin-top:0; padding-top:0; } /* flush up the first element in each ul/ol. might be a p tag. */


/* ------------- component:multi-purpose content box ----------------------- */
.multipurpose h3 {margin-top:0;margin-bottom:10px;}
.multipurpose.underlinetitle h3 {border-bottom:2px #e9e9e9 solid;padding:0 0 7px 0; margin:0 0 15px 0;}
.multipurpose.unconstrained .textcolumn {padding-left:160px;}
.multipurpose.unconstrained .imagecolumn { float:left;width:140px; }
.multipurpose .more { float:right;margin:0 20px 0 0;font-size:80%; }
.multipurpose.noimage .imagecolumn { display:none; }
.multipurpose.noimage .textcolumn { padding-left:0; }
.multipurpose .textcolumn>:first-child {margin-top:0;padding-top:0;}
.multipurpose .imagecolumn .caption { 
	font-family:'Geogrotesque-Regular',Arial,Helvetica,sans-serif;
	font-size:90%;
	line-height:1.4em;
	margin-top: 0; }
.multipurpose .imagecolumn img { max-width:134px; } /* ensures the chosen image doesn't break out of the two-columns alotted to it */
.multipurpose a { /*text-decoration:none;*/ }
.multipurpose a:hover { /*text-decoration:underline;*/ }
.multipurpose .more a, 
.multipurpose .more a:hover { /*text-decoration:underline;*/ }
.multipurpose ul { line-height:1.5em; } /* guess-timate */
.multipurpose ul { list-style-image:url(../../img/bullets/fred_hutch_bullet.png);padding-left:.1em; margin-left:1em; }

.multipurpose.fiximageheight .imagecolumn .image_container { height:100px; overflow-y:hidden; } /* adjust the predetermined fixed height here. just choose whatever you want. */
.multipurpose.fiximageheight .imagecolumn .image_container img { }
.multipurpose.fiximageheight .imagecolumn .image_container img.frame { border:none; }


/* ------------- component: imageplus (image plus caption, credit and link to high-res ----- */
.imageplus  { }
.imageplus dl { margin-top:0; margin-bottom:0; } /* lets the image be flush-top when used in textimage */
.imageplus dl dd { margin-left:0; }
.imageplus dl dd .caption { font-size:90%; line-height:1.4em; margin-top:0; margin-bottom:2px; }
.imageplus dl dd .credit { font-size:80%; font-family:Geogrotesque-RegularIt,Arial,Helvetica,Sans-serif; font-style:normal; margin-top:0; margin-bottom:2px; line-height:1.4em;  }
.imageplus dl dd .highres { font-size:80%; margin-top:0;  }
.imageplus.floatright dl {float:right;}
.imageplus img.noborder { border:none; }

div.imagePlus div.imageplus.centered { margin-left:auto; margin-right:auto; display:block; }



/* -------------- component: horizontalimagetext --------------------------- */
.horizontalimagetext { width:100%;max-width:300px; } /* flow to the container width, but no wider than 4-grid */
.horizontalimagetext .hz_container { padding:0; }
.horizontalimagetext h3 { margin-top:0;margin-bottom:10px; }
.horizontalimagetext .hz_image { max-width:268px; /*max-height:105px;overflow:hidden;*/ } 
.horizontalimagetext .hz_image.noborder { max-width:270px;/*max-height:105px;overflow:hidden;*/border:none; }
.horizontalimagetext .hz_image img { width:100%; } 
.horizontalimagetext .hz_text>:first-child { margin-top:10px; } /* check any extra divs that cq puts in */
.horizontalimagetext.noimage .hz_image { display:none; }
/* .horizontalimagetext a { color:#0659A1; text-decoration:none; } */
.horizontalimagetext a:hover { /*text-decoration:underline;*/ }
.horizontalimagetext ul li { padding-bottom:0; } /* tightens up the spacing of bullets... */
.fh_body.homepage .horizontalimagetext ul li { padding-bottom:.5em; } /* ...except on the homepage  */
.horizontalimagetext img.noborder { border:none; }
.fh_sidebar_content .relatedcontentarea .horizontalimagetext {  max-width:180px; font-family: 'geogrotesque-Regular', Arial,Sans-serif; font-size:13px; color:#393434 } /* 180px + 20px + 20px = 220px */
.fh_sidebar_content .relatedcontentarea .horizontalimagetext .hz_container { /*x-padding:10px;*/ } 
.fh_sidebar_content .relatedcontentarea .horizontalimagetext .hz_image { width:174px; /*x-position:relative;*/ /*x-left:-3px; max-height:76px;*/ } /* perfectly fits the image when in the sidebar */




/* -------------------------- textimage ------------------- */

/* imageAlignRight class is used in the /public/ version of textimage */
.fh_textimage { margin-bottom:10px; /*x-background-color:silver;*/ }
.fh_textimage div.textimage_image { /*x-padding-top:6px;*/ margin:0 20px 20px 0; } /* imageplus has a little styling on it too */
.fh_textimage div.textimage_image { float:left; } /* default is to float the image left w/in textimage */
.fh_textimage div.textimage_image.imageAlignRight {
	float: right;
	margin: 0 2px 20px 20px; /* 2px needed for images that have a frame. the containing dl's width (via style) is 6px too small */
}

.fh_textimage div.text { }
.fh_textimage div.text>:first-child { margin-top:0; }
.fh_textimage img.noborder { border:none; }
.fh_textimage.noimage div.textimage_image { display:none; } /* hide image part of textimage if there is none */

.fh_textimage.clearfix::after { overflow:visible; } /* using clearfix on stacked components prevents margin collapsing and results in unpleasing gaps. this overrides the behavior found in 980.css */



/* ------------- component: textcallout, text with callout box ------------- */
.textcallout { }
.textcallout .callout { float:right; width:33%; margin-left:20px; margin-bottom:10px; border:0; background-color:#e9e9e9;padding:20px; }
.textcallout .text>:first-child { margin-top:0; }
.textcallout .callout>:first-child { margin-top:0; padding-top:0; }
.textcallout .callout>:last-child { margin-bottom:0; padding-bottom:0; }
.textcallout.calloutleft .callout { float:left; margin-left:0; margin-right:20px; }
.textcallout.calloutnoborder .callout { border:none; }
.textcallout.calloutwide .callout { width:50%; }
.textcallout.calloutsquarebullets .callout ul { list-style-image:url(../../img/bullets/fred_hutch_bullet.png);padding-left:.1em; margin-left:1em; }
.textcallout.hidecallout .callout { display:none; } /* for when there is no callout text */


/* ----------------------- donation formlet -------------- */
div.donateformlet { padding:20px; word-wrap: break-word; overflow:hidden; } /* overflow:hidden needed for full-color gradient under ie7 */
.donateformlet h3 {  margin:0 0 .3em 0; margin:0 0 .6rem 0; font-size:170%; font-family:Geogrotesque-Medium,Arial,Helvetica,sans-serif; text-transform:uppercase;  }
.donateformlet .message {  margin:0 0 .75em 0; line-height:1.2rem; line-height:1.2em; }  
.donateformlet form { margin:0; width:100%; }
.donateformlet .df_amount_container { display:block;overflow:hidden; }

.donateformlet form input.stdform.df_amount {  width:100%; outline:none; font-size:190%; }
.donateformlet form input.stdform.df_button { float:right; margin:0; margin-left:10px; -webkit-appearance: none; border-radius: 0;  }

/* sizings when used in specific columns. if you allow in other column types, add lines here. */
div.fh_rightcol_column.grid_4 div.donateformlet { border:none;width:260px;position:relative;left:-20px;overflow:hidden; } /* when placed in 4-grid columns on news pages */
div.fh_rightcol_column.grid_4 div.donationformlet div.rail { width:300px;position:relative;left:-20px;overflow:hidden; }
div.fh_rightcol_container div.grid_4 div.donateformlet { border:none;width:260px;position:relative;left:-20px;overflow:hidden; } /* when placed in 4-grid columns on disease pages */
div.fh_rightcol_container div.grid_4 div.donationformlet div.rail { width:300px;position:relative;left:-20px;overflow:hidden; }

/* flexible layout (e.g., "custom" mode) has a different layout (e.g., omits the suggested donation) and needs to override some of these stylings. this mode signaled by the "flexible" class on the component wrapper. */    

/* flexible - layout button is flush */
.donateformlet.flexible form input.stdform.df_button { float:none; margin-left:0; }   

/* flexible - when used in the main well of a news or disease page (grid_8): */
.fh_body_column.grid_8 .donateformlet.flexible .text_container { display:table-cell; width:100%; vertical-align:middle; padding-right:2rem; -moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box; }
.fh_body_column.grid_8 .donateformlet.flexible .text_container h3 { margin:0; *margin-bottom:.3em; }
.fh_body_column.grid_8 .donateformlet.flexible .text_container .message { margin: .6rem 0 0 0; *margin:.6em 0; }
.fh_body_column.grid_8 .donateformlet.flexible form { display:table-cell; width:auto; vertical-align:middle;  }
.fh_body_column.grid_8 .donateformlet.flexible { display:flex;align-items:center;justify-content:space-between } /* for those browsers that support this... */

/* flexible - when used in the main well of a general page (grid_9): */
.fh_body_content.grid_9 .donateformlet.flexible .text_container { display:table-cell; width:100%; vertical-align:middle; padding-right:2rem; -moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box; }
.fh_body_content.grid_9 .donateformlet.flexible .text_container h3 { margin:0; *margin-bottom:.3em; }
.fh_body_content.grid_9 .donateformlet.flexible .text_container .message { margin: .6rem 0 0 0; *margin:.6em 0; }
.fh_body_content.grid_9 .donateformlet.flexible form { display:table-cell; width:auto; vertical-align:middle;  }
.fh_body_content.grid_9 .donateformlet.flexible { display:flex;align-items:center;justify-content:space-between; } /* for those browsers that support this... */

/* flexible - when used inside a column control (any size): */
.parsys_column .donateformlet.flexible .text_container { display:table-cell; width:100%; vertical-align:middle; padding-right:2rem; -moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box; }
.parsys_column .donateformlet.flexible .text_container h3 { margin:0; *margin-bottom:.3em; }
.parsys_column .donateformlet.flexible .text_container .message { margin: .6rem 0 0 0; *margin:.6em 0; }
.parsys_column .donateformlet.flexible form { display:table-cell; width:auto; vertical-align:middle;  }
.parsys_column .donateformlet.flexible { display:flex;align-items:center;justify-content:space-between; } /* for those browsers that support this... */

/* full-colored gradient is the default */
div.donateformlet { 
  background: #123054; /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIxJSIgc3RvcC1jb2xvcj0iIzEyMzA1NCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iIzIwN2M3ZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMzOWI2YjkiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top,  #123054 1%, #207c7e 50%, #39b6b9 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#123054), color-stop(50%,#207c7e), color-stop(100%,#39b6b9)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #123054 1%,#207c7e 50%,#39b6b9 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #123054 1%,#207c7e 50%,#39b6b9 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #123054 1%,#207c7e 50%,#39b6b9 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #123054 1%,#207c7e 50%,#39b6b9 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#123054', endColorstr='#39b6b9',GradientType=0 ); /* IE6-8 */
}
div.donateformlet h3 { color:#fff; }
div.donateformlet .message { color:#fff; }

/* top/bottom gradient bands (colorTheme1) */
div.donateformlet.colorTheme1 { background:#fff; filter:none;  }
div.donateformlet.colorTheme1 h3 { color:#123054; }
div.donateformlet.colorTheme1 .message { color:#123054; }
div.donationformlet div.top.rail { /* used when colorTheme1 is selected. see javascript */
  height:7px;
  background: #123054; /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  /* http://www.colorzilla.com/gradient-editor/#123054+0,39b6b9+50,89c348+100;Custom */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzEyMzA1NCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iIzM5YjZiOSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM4OWMzNDgiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(left,  #123054 0%, #39b6b9 50%, #89c348 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,#123054), color-stop(50%,#39b6b9), color-stop(100%,#89c348)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left,  #123054 0%,#39b6b9 50%,#89c348 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left,  #123054 0%,#39b6b9 50%,#89c348 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(left,  #123054 0%,#39b6b9 50%,#89c348 100%); /* IE10+ */
  background: linear-gradient(to right,  #123054 0%,#39b6b9 50%,#89c348 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#123054', endColorstr='#89c348',GradientType=1 ); /* IE6-8 */
}
div.donationformlet div.bottom.rail {
  height:7px;
  background: #89c348; /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  /* http://www.colorzilla.com/gradient-editor/#89c348+0,39b6b9+50,123054+100;Custom */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzg5YzM0OCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iIzM5YjZiOSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMxMjMwNTQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(left,  #89c348 0%, #39b6b9 50%, #123054 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,#89c348), color-stop(50%,#39b6b9), color-stop(100%,#123054)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left,  #89c348 0%,#39b6b9 50%,#123054 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left,  #89c348 0%,#39b6b9 50%,#123054 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(left,  #89c348 0%,#39b6b9 50%,#123054 100%); /* IE10+ */
  background: linear-gradient(to right,  #89c348 0%,#39b6b9 50%,#123054 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#89c348', endColorstr='#123054',GradientType=1 ); /* IE6-8 */
}

/* plain (with grey border) (colorTheme2) */
div.donateformlet.colorTheme2 { border: 3px #e9e9e9 solid; background:#fff; filter:none; }
div.donateformlet.colorTheme2 h3 { color:#123054; }
div.donateformlet.colorTheme2 .message { color:#123054; }



/* ------------------------ relatedcontentarea (appears in the left column) -------------- */
.fh_sidebar_content .relatedcontentarea { margin:20px; /*x-overflow-x:hidden;*/ }
.fh_sidebar .relatedcontentarea { font-family: "Geogrotesque-Regular",Arial,Helvetica,sans-serif; font-size:100%; color:#123054; }
.fh_sidebar .relatedcontentarea a { color:#39b6b9; text-decoration:none; font-family:Geogrotesque-Semibold,Arial,Helvetica,Sans-serif; font-weight:normal; } 
.fh_sidebar .relatedcontentarea a:hover { text-decoration:underline; color:#89c348; }
.fh_sidebar .relatedcontentarea img { max-width:180px; } /* images that are too wide should be shrunk down to fit into the sidebar. you may want to revisit this choice, since wide images will be scrunched down instead of cropped */
.fh_sidebar .relatedcontentarea img.frame { max-width:170px; } /* framed images have 1px + 1px left/right borders */
.fh_sidebar .relatedcontentarea div.divider_chevron { width:220px;position:relative;left:-20px; margin-left:0; margin-right:0; overflow:hidden; }


/* ------------------------ profileresults (results of the profile finder) --------------- */
.profileresult { margin-bottom:20px; } 
.profileresult .profile_image {  float:left; width:140px; overflow-x:hidden; overflow-y:hidden } /* if you adjust the image width, also adjust the margin-left of .profile_text */
.profileresult .profile_image img { width:100%; max-width:134px; } /* image height varies, but the width is exact. stretches small images, shrinks large. */
.profileresult .profile_text { margin-left:160px; }
.profileresult .profile_text>:first-child { margin-top:0px; } /* check any extra divs that cq puts in */
.profileresult .profile_text .name { 
	font-family:'geogrotesque-light', Arial, Helvetica, sans-serif;
	font-weight:normal; 
	font-size:130%; 
	margin-bottom:4px;  
}
.profileresult .profile_text .name>:first-child { margin-top:0; } /* assure that any p tags get quashed */
.profileresult .profile_text .appt,
.profileresult .profile_text .appt2 { font-family:Geogrotesque-Semibold,Arial,Helvetica,Sans-serif; font-weight:normal; }
.profileresult .profile_text .appt a,
.profileresult .profile_text .appt2 a { font-weight:normal; }
.profileresult .profile_text .description { margin-top:2px; margin-bottom:5px; }
.profileresult.noimage .profile_image { display:none; }
.profileresult.noimage .profile_text { margin-left:0; }
.profileresult.noappt .profile_text .appt,
.profileresult.noappt .profile_text .appt2 { display:none; }
.profileresult.nodescription .profile_text .description { display:none; }
.profileresult.nocontact .profile_text .phone,
.profileresult.nocontact .profile_text .email { display:none; }
.profileresult.nosecondaryappt .profile_text .appt2 { display:none; }
.profileresult.vertical .profile_image { float:none; }
.profileresult.vertical .profile_text { margin-left:0; margin-top:6px; }


/* --------- search box styling for general purpose use ------- */
.search_box form { 
	margin:0; 
	margin-bottom:12px; 
	padding:0; 
	white-space:nowrap; 
	border:1px #cccccc solid; 
	height:27px; 
	background-color:#ffffff; 
}
.search_box form .search_button_container { float:left;margin-left:-20px;width:20px; }
.search_box form .search_button { margin:3px 5px 0 0; vertical-align:bottom; }
.search_box form>div { padding:0 7px 0 5px; }
.search_box form .search_term_container { float:left;width:100%; }
.search_box form .search_term_container>div { padding-right:30px; }
.search_box form .search_term_container .search_term { 
	width:100%;
	border-color:transparent; 
	margin:0; 
	padding:0; 
	height:25px; 
	line-height:25px;
	border:none; 
	font-family:'Geogrotesque-Regular', Arial,Helvetica,sans-serif; 
	font-size:12px;
	outline: none;
}
.search_box .linktext { margin:0;margin-top:4px; padding:0; font-size:90%; }
.search_box .linktext a { /*font-weight:bold;*/ /*text-decoration:none;*/ }
.search_box .linktext a:hover { /*text-decoration:underline;*/ }
.search_box p.linktext br { display:none; } /* quash breaks that may appear in the content */


/* -------- components: directorysearchboxcontainer and directorysearchapiresults ------------------ */
.directorysearchboxcontainer { margin-bottom:10px; max-width:550px; }
.directorysearchboxcontainer .borderbox { border: 1px solid #e9e9e9; padding: 20px; /*margin: 10px 0;*/ background-color: #e9e9e9; }
.directorysearchboxcontainer form { margin:0; }
.directorysearchboxcontainer form > p { margin-top:0; }
.directorysearchboxcontainer .filters { font-size:14px; font-size:.875rem; margin:12px 0 20px 0; }
.directorysearchboxcontainer .filters input { margin-left:12px; margin-left:.75rem; outline:none; }
.directorysearchboxcontainer .filters label { white-space:nowrap; }
.directorysearchboxcontainer .startover { margin-bottom:0;padding-bottom:0;text-transform:uppercase; }
.directorysearchboxcontainer label { margin-right:20px; }
.directorysearchapiresults {}
.directorysearchapiresults .deptmatch { padding-left:20px;border-left:1px silver dotted; }
.directorysearchapiresults .peoplematch { padding-right:10px; }
.directorysearchapiresults .expandedsearch { margin:0 0 0 10px; }
#directoryContactInfoContainer div.directoryContactInfo>:first-child { margin-top:0; } /* firms up the spacing of the first h3 inside the contact info extended data block */


/* -------- entry point for profile-search results and project-search results ------- */
.profinderentry h3 { margin:0; margin-bottom:8px; }
.profinderentry .search_box form { max-width:300px; } /* in case the element is in a wide page, don't make the search box stretch to fit */

.projectFinder>ul { margin-top:0; }

/* ------------- component: header ----------------------------------------- */
.headerwidget {}
.headerwidget .title { border-bottom:2px #e9e9e9 solid;padding-bottom:7px; margin-bottom:15px; } /* default is underline with padding */
.headerwidget.nounderline .title { border-bottom:none; }
.headerwidget.flushbottom .title { margin-bottom:0; }
.headerwidget .more { float:right; margin:0 4px 10px 15px; font-size:14px; font-family:'Geogrotesque-Regular',Arial,Helvetica,sans-serif; }
.headerwidget .more .raquo { font-family:'Geogrotesque-Regular',Arial,Helvetica,sans-serif; margin-left:4px; }


/* ----------- component: event listing item (event text with image next to it) ----------------- */
div.eventlistingitem { margin-bottom:20px; } /* space between adjacent event listing items */
.eventlistingitem .eventimage { float:left; width:100px; }
.eventlistingitem .eventimage img { width:200px; } /* hard-fix to the space alloted */
.eventlistingitem .eventtext { line-height:1.2em; margin-left:220px; } /* 100px + distance between imageframe and text */
.eventlistingitem .eventtext .title>:first-child { margin-top:0px; } /* check any extra divs that cq puts in. */
.eventlistingitem .eventtext .date>:first-child { margin-top:0px; } /* check any extra divs that cq puts in. */
.eventlistingitem .eventtext .title a { /*text-decoration:none;*/ font-family:Geogrotesque-Regular,Arial,Helvetica,Sans-serif; font-weight:normal; }
.eventlistingitem .eventtext .description { margin-top:2px; }
.eventlistingitem .eventtext .description>:first-child { margin-top:0; } /* check any extra divs that cq puts in.  */

.eventlistingitem .date {
	font-family:Geogrotesque-Semibold,Arial,Helvetica,Sans-serif;
	font-weight: normal;
}

.eventlistingitem .title {
	font-size: 155%;
	line-height: 1.25em;
}


/* these styles are for the "tabs facade" component, which leverage the regular tabs approach */
div.tabsContainer.tabfacade .tabContentsContainer { background:url(../../img/backgrounds/lp-right-shaded-column.gif) repeat-y;background-position: 660px 0; }
div.tabsContainer.tabfacade .tabContentsContainer .tabContentsContainerBorder { padding-right:0; padding-top:0; }
div.tabsContainer.tabfacade .tabContentsContainer .tabContentsContainerBorder .shim { height:20px; background-color:#ffffff; } /* the facade wants a 20px white top border */
div.tabsContainer.tabfacade .tabContentsContainer .fh_rightcol_content { margin:20px;  }
/* tabtype: full-width, 2column (grid12_col2) */
div.tabsContainer.tabfacade.grid12_col2 .tabContentsContainer .grid_8 { overflow-x:hidden; }
div.tabsContainer.tabfacade.grid12_col2 .tabContentsContainer .grid_4 { width:278px; margin-left:20px; } /* this adjusts the sizing of grid_4 so the left + right columns fit into the grid_12 - 2px space alotted */
div.tabsContainer.tabfacade.grid12_col2 .tabContentsContainer div.divider_chevron { width:278px;position:relative;left:-20px; margin-left:0; margin-right:0; overflow:hidden; } /* side product of the resize on grid_4 is the treatment of the chevron */
/* default styling for tab facades: */
div.tabsContainer.tabfacade ul.tabs li { width:18%; }
div.tabsContainer.tabfacade ul.tabs li .subtitle { font-size:11px; white-space:nowrap; display:block; font-family:Arial,Helvetica,Sans-serif; } 
div.tabsContainer.tabfacade ul.tabs li a { margin-top:1px; }
/* some anti-padding measures: */
div.tabsContainer.tabfacade .tabContent div.parsys>div>:first-child { margin-top:0; padding-top:0; }
div.tabsContainer.tabfacade .tabContent div.parsys_column>div.parbase.section>:first-child { margin-top:0; padding-top:0; }
div.tabsContainer.tabfacade .tabContent div.parsys>div.parsys_column>* { margin-top:0; padding-top:0; } /* added 12/13 to match the 2nd+ cols of a two-col layout w/in tabfacade */


/* ------------- component: featured research profile lister --------------------- */
.profileListContainer h3 { margin-bottom:0; padding-bottom:0; }
.profileListContainer .note { font-family:Geogrotesque-RegularIt,Arial,Helvetica,Sans-serif; font-style:normal; }
.profileListContainer .alphaSelect { margin-top:6px; margin-bottom:10px; padding-bottom:6px; border-bottom:1px silver solid; }
.profileListContainer .alphaSelect a.inactive { font-family:Geogrotesque-Semibold,Arial,Helvetica,Sans-serif; font-weight:normal; text-decoration:none; color:silver; }
.profileListContainer .alphaSelect a.inactive:hover { cursor:text; }
.profileListContainer .alphaSelect a.active { font-family:Geogrotesque-Semibold,Arial,Helvetica,Sans-serif; font-weight:normal; }
.profileListContainer .profileListItem { margin-bottom:20px; }
.profileListContainer .profileListItem .profileListPhoto { width:220px; float:left; }
.profileListContainer .profileListItem .profileListPhoto img { width:214px; }
.profileListContainer .profileListItem .profileListText { margin-left:240px; }
.profileListContainer .profileListItem .profileListText .profileName { font-family:Geogrotesque-Semibold,Arial,Helvetica,Sans-serif; font-weight:normal; }
.profileListContainer .profileListItem .profileListText .profileBusinessRole { font-family:Geogrotesque-RegularIt,Arial,Helvetica,Sans-serif; font-style:normal; }


/* ------------- component: media coverage item ------------------------------------ */
div.mediacoveragecontainer { margin-bottom:10px; } /* separates them when stacked */
.mediacoveragecontainer .item_headline {}
.mediacoveragecontainer .item_attribution {}
.mediacoveragecontainer .item_attribution .item_source { /*font-family:Geogrotesque-RegularIt,Arial,Helvetica,Sans-serif; font-style:normal;*/ }
.mediacoveragecontainer .item_attribution .item_date {  }
.mediacoveragecontainer .item_description {}
.fh_body.homepage .mediacoveragecontainer .item_attribution { color:#777777; font-size: 85%; }
.fh_body.homepage .mediacoveragecontainer .item_description { display:none; }


/* ------------- component: media coverage list (top 3 media coverage items) ------- */
div.mediaCoverageList {}
.mediaCoverageList ul { padding-left:0; margin-left:0; list-style:none; list-style-image:none; padding-top:0; margin-top:0; }

/* ------------ component: recentarticlespicklist (used on the news and pubs l.p. ------ */
.recentarticleslisting {}
.recentarticleslisting h3 { margin-top:0; }
.recentarticleslisting .more_link { text-align:right; margin-right:20px; }
.recentarticleslisting .more_link .raquo { /*margin-leftcolor:#0659A1;*/ }
div.parsys_column>div.recentarticlespicklist .headerwidget .title { margin-top:0; } /* the headerwidget is inside the recentarticlespicklist element so nuke its top margin when in a column */
div.fh_parsys_column div.recentarticlespicklist .headerwidget .title { margin-top:0; } /* the headerwidget is inside the recentarticlespicklist element so nuke its top margin when in a column */
/* also uses the relatedarticles styling found elsewhere */

/* -----------  component: featured article --------------------------- */
.featuredArticleContainer { margin-bottom:1em; } /* fits the component perfectly into its main use on the news l.p. set margin-top to 0 so it fits into column systems */
.featuredArticleContainer .headerwidget .title { margin-top:0px; } /* component cq-includes a headerwidget */
.featuredArticleContainer .headline { font-size:125%; padding-bottom:.4em; }
.featuredArticleContainer .articlePhoto { float:left;margin-right:17px; margin-bottom:4px;max-width:47%; } /* guess-timates */
.featuredArticleContainer .articlePhoto img { max-height:200px;max-width:97%; } /* image has 3px + 3px borders on it */
.featuredArticleContainer.noimage .articlePhoto { display:none; }
.featuredArticleContainer.vertical .articlePhoto { float:none; margin-bottom:10px; max-width:100%; }

/* -----------  component: newsFinder ------------------------------------ */
.newsfindercontainer {}
.newsfindercontainer h2,
.newsfindercontainer h3 { margin-top:0; } /* severe, but unable to detect this on the news+pubs l.p. */
/* Addition of images to this component */
.newsfindercontainer .related-news > div {
	margin: 16px 0;
	margin: 1rem 0;
}
.newsfindercontainer .related-news div.thumbnails {
	min-height: 107px;
}
.newsfindercontainer .related-news div.thumbnails div.thumbnailContainer {
	float: left;
	margin-right: 16px;
	margin-right: 1rem;
}
.newsfindercontainer .related-news div.thumbnails div.textContainer {
	overflow: hidden;
}


/* ----------- component: newsroll --------------------------------------- */
.newsroll {}
.newsrollcontainer { overflow:hidden;}
.newsroll .newsrolltitle { margin-top:0; }
.newsroll-item .social_target { display:none; }
.newsroll-item h2 { margin-bottom:.5em; margin-top:0; }
.newsroll-item h2 a { font-family:Geogrotesque-regular,Arial,Helvetica,sans-serif; font-weight:normal; }
.newsroll-item h4 { margin:.5em 0; }
.newsroll-item .read_more { float:right;margin-top:0;margin-right:1rem;margin-bottom:0;line-height:1.9rem; }
.newsroll-item .compact { margin-bottom:16px; margin-bottom:1rem; }
.newsroll-item .compact .thumbnail { float:left; width:180px; margin-bottom:16px; margin-bottom:1rem; }
.newsroll-item .compact .description { margin-left:210px; }
.newsroll-item .view_story { clear:both;float:right;text-align:right; margin:0 16px 0 0; margin:0 1rem 0 0; line-height:1.9rem; }
.newsroll-content .story_divider { clear:both; margin:18px 0 30px 0; }
.newsroll .loadmore { padding:15px;color:#fff;background-color:#123054;font-size:140%; text-align:center; }
.newsroll .loadmore a { color:#fff;font-family:'Geogrotesque-regular',Arial,Helvetica,Sans-serif;font-weight:normal; }
.newsroll .share_options a.a2a_dd { font-family:Geogrotesque-regular,Arial,Helvetica,sans-serif; }

/* ----------- component: taglist ----------------------------------------- */
.taglist .label { font-family:Geogrotesque-semibold,Arial,Helvetica,sans-serif; color:#123054; letter-spacing:1px; text-transform:uppercase; font-size:90%; }
.taglist a { font-family:Geogrotesque-semibold,Arial,Helvetica,sans-serif; font-weight:normal; color:#8f8f8f; text-decoration:none; font-size:90%; }
.taglist a:hover { text-decoration:underline;  }

/* ----------- components: newsroll, news-story related --------------------------------------- */
.newsSocialShare .share_link_text { font-family:Geogrotesque-regular,Arial,Helvetica,sans-serif; font-weight:normal;  }
.relatednews_container ul { padding-left:0; }
.relatednews_container .thumbnail { float:left; margin:0 16px 16px 0; margin:0 1rem 1rem 0;  }
.relatednews_container .item { clear:both;display:block;margin-bottom:16px; margin-bottom:1rem; }
.relatednews_container .item a { text-decoration:none;color:#222222; }
.relatednews_container .item .news-title { color:#39b6b9;text-decoration:none;font-size:110%; }
.relatednews_container .item .news-title:hover { text-decoration:underline; color:#89c348; }
.relatednews_container .item .news-subtitle { text-decoration:none;font-family:Geogrotesque-regular,Arial,Helvetica,sans-serif; font-weight:normal; }
.relatednews_container .item .news-date { color:#777;font-size:85%;font-family:Geogrotesque-regular,Arial,Helvetica,sans-serif; font-weight:normal;}

.datepicker_container { max-width:100%;max-height:200px;overflow-y:hidden;position:relative; }
dl.datepicker { margin:0; padding:0;  position:relative; }
dl.datepicker dd { margin:0; margin-bottom:1em; padding:0; }
dl.datepicker dt { clear:both; }
dl.datepicker ul { list-style-type:none; padding-left:0; }
.datepicker  li { float:left; display:inline-block; min-width:20%; } /* 16% allows six per line, 20% allows five */
.datepicker .inactive { color: #bbb; }
.datepicker h4 { margin:0; margin-top:1em; }
.datepicker h4:first { margin-top:0; }
.datepicker_arrows { font-size: 24px; font-size:1.5rem; text-align:center; font-family:Arial,Helvetica,sans-serif; margin:0; margin-top:16px; margin-top:1rem; }
.datepicker_arrows a { text-decoration:none; }
.datepicker_arrows #datepicker_down,
.datepicker_arrows #datepicker_up { text-decoration:none; }

/* make sure imageplus components used in news stories fit into the often smaller-sized space alotted for the newsroll. */
.newsroll div.imageplus,
.newsroll div.imageplus img { 
    max-width:100%; 
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}


/* --------------------- component: jobSearchWidget ------------------ */

.job-search-widget form select.stdform {
  background: url(../../img/backgrounds/arrow-down.png) no-repeat 95% #fff;
  color: #000;
}

.job-search-widget {
  width: 940px;
  width: 58.75rem;
  height: 415px;
  height: 25.9375rem;
  padding-top: 120px;
  padding-top: 7.5rem;
  margin-bottom: 16px;
  margin-bottom: 1rem;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-color: #000;
  position: relative;
}

/* Taken from: https://css-tricks.com/snippets/css/style-placeholder-text/ */

.job-search-widget::-webkit-input-placeholder {
  color: #757575;
}

.job-search-widget:-moz-placeholder {
  /* Firefox 18- */
  color: #757575;
}

.job-search-widget::-moz-placeholder {
  /* Firefox 19+ */
  color: #757575;
}

.job-search-widget:-ms-input-placeholder {
  color: #757575;
}

.grid_12 .job-search-widget {
  background: #e9e9e9;
}

/* .general = 700 width available  */

.general .job-search-widget {
  width: 700px;
  width: 43.75rem;
  height: auto;
  padding-top: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.general .job-search-widget h3 {
  color: #123054;
}

.job-search-widget h3 {
  font-size: 43px;
  font-size: 2.6875rem;
  color: #fff;
  width: 700px;
  width: 43.75rem;
  margin: 0 auto 20px auto;
  margin: 0 auto 1.25rem auto;
}

.general .job-search-widget h3 {
  font-size: 32px
}

.job-search-widget label {
  display: none;
}

.job-search-widget .job-search-widget-form {
  width: 700px;
  width: 43.75rem;
  display: table;
  margin: 0 auto;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.job-search-widget .keyword-search-container {
  position: relative;
  display: table-cell;
  vertical-align: middle;
  width: 100%;
}

.job-search-widget .category-container {
  display: table-cell;
  vertical-align: middle;
}

.job-search-widget .submit-container {
  display: table-cell;
  vertical-align: middle;
}

.job-search-widget .magnifying-glass {
  position: absolute;
  left: 0px;
  top: 2%;
}

.job-search-widget .keyword-search-container .keyword-search {
  padding-left: 50px;
  padding-left: 3.125rem;
  width: 100%;
  border: 1px #bcbcbc solid;
  -webkit-appearance: none; 
  border-radius: 0; 
}

.job-search-widget .category-container .category {
  border-radius: 0;
  border: 1px #bcbcbc solid;
  max-width: 210px;
  max-width: 13.125rem;
  margin-left: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: table-cell;
}

.job-search-widget .submit-container .submit {
  margin-left: 0;
  margin-right: 0;
  background-color: #39b6b9;
}

.job-search-widget .submit-container .submit:hover {
  background-color: #299396;
}

.job-search-widget .alert-signup {
  position: absolute;
  bottom: 35px;
  bottom: 2.188rem;
  left: 37px;
  left: 2.313rem;
  font-family: 'geogrotesque-regular',Arial,Helvetica,sans-serif;
  color: #fff;
  background: url(../../img/backgrounds/arrow-teal.png) no-repeat 100% 1px;
  font-size: 18px;
  font-size: 1.125rem;
  padding-right: 27px;
  padding-right: 1.688rem;
}

.job-search-widget .alert-signup:hover {
  color: #fff;
}

.general .job-search-widget .alert-signup {
  display: none;
}

/* https://css-tricks.com/snippets/css/css-hacks-targeting-firefox/ */

@-moz-document url-prefix() {
  .job-search-widget form select.stdform {
    background: #fff;
    border: 1px #bcbcbc solid;
  }
}
    

/* ------------- component: googlemapsapi ----------------------------------------- */
.googlemapsapielement { width:100%; height:100%; /*margin-bottom:10px;*/ } /* default is to fill up the space allotted. in practice only width is filled. */
.googlemapsapielement .googlemaplocator { width:350px; } /* pop-up locator based on the central marker */
.googlemapsapielement .googlemaplocator .directions { font-family:Geogrotesque-Semibold,Arial,Helvetica,Sans-serif; font-weight:normal; }


/* ------------- component: information for feature on home page -------------- */
.infoforcontainer { margin-bottom:20px;overflow-y:hidden; }
.infoforcontainer .infolabel { float:left;width:127px; } /* width val matches next line */
.infoforcontainer .infocontent { margin-left:127px; }    /* margin-left val matches prev line */
.infoforcontainer .infocontent .item { width:150px; float:left; /*x-overflow:hidden;*/ white-space:nowrap; margin-right:15px; }
.infoforcontainer .infocontent a { text-decoration:none; }
.infoforcontainer .infocontent a:hover { text-decoration:underline; }
.infoforcontainer .infocontent .more { visibility:hidden;float:right;margin-right:5px;white-space:nowrap;  }      
/* .infoforcontainer .infocontent .more a { text-decoration:underline; color:#0659A1; } */


/* ------------- search results page (google), includes the directory features if enabled ----- */
div#googleapisearchresults table { /*x-font-family:Arial,sans-serif; x-font-size:90%; x-border:1px red solid;*/ }
div#googleapisearchresults p.g {margin-top: 1em; margin-bottom: 0}
div#googleapisearchresults div.n { margin-top:2em; } /* the paging at bottom of search results */
div#googleapisearchresults div.n a { text-decoration:none; }
div#googleapisearchresults a span.raquo { text-decoration:none; /*color:#0659A1;*/ background-color:white; }
div#googleapisearchresults hr.z { display:none; }

div#googleapisearchresults #directory_results_api_marker table { margin-bottom:.25em; width:100%; }
div#googleapisearchresults #directory_results_api_marker table tr th { text-align:left; padding: .3em 2em .4em .6em; }
div#googleapisearchresults #directory_results_api_marker table tr td { padding: .2em 2em .2em .6em; white-space:nowrap; }
div#googleapisearchresults #directory_results_api_marker table td.spacer { width:50%; }
div#googleapisearchresults #directory_results_api_marker h3.facultystaff { margin-bottom: 0; }
div#googleapisearchresults #directory_results_api_marker h3.websiteresults { margin-top: 1.25em; }


/* ------------- component: faculty and staff directory (api) ------------------ */
.DirectoryResults { width:100%; }
.DirectoryResults .tableheader .title { width:40%; }
.DirectoryResults .tableheader .mailstop,
.DirectoryResults .tableheader .phone,
.DirectoryResults .tableheader .fax { width:12%; }
.DirectoryResults .tableheader .email { width:24%; } 
.DirectoryResults tr.shaded { background-color:#e9e9e9; }

/* ------------- components: disease page, related widgets (various) ------------ */
.diseaserelated { margin-top:1em; }
.diseaserelated img.rolloverImage { border:0; }


/* ----------------- tabbed widget ----------------- */
/* Adapted from http://www.sohtanaka.com/web-design/simple-tabs-w-css-jquery/ */

.tabsContainer { margin-bottom:1em; } /* added Feb/2012 to help ie7 spacing */

.tabsContainer .hide { display:none; }  /* used to show/hide elements within the tab widget      */
.tabsContainer.supertabs h2.hide { display:block; } /* tabtype supertabs (colored) = want the h2 header always */

.tabsContainer ul.tabs {
    margin: 0;
    padding: 0;
    float: left;
    list-style: none;
    height: 52px; /* Set this as needed */
    border-bottom: 1px solid #c9cbcb;
    width: 100%;
}

.tabsContainer ul.tabs { /*x-white-space:nowrap;*/ }

.tabsContainer ul.tabs li {
    /*x-display:inline;*/
    float: left;
    margin: 0 1% 0 0; /* right margin is the distance between tabs */
    padding: 0;
    height: 48px; /* Subtract 4px from the height of the unordered list */
    width:15%; /* you may wish to adjust this per usage of the tabs component, e.g., virtualcomponents - see disease tabs, below. */
    /*x-max-width:45%;*/
    /*x-line-height: 40px;*/ /* Vertically aligns the text within the tab, only when text doesn't wrap/break though */
    line-height:16px;
    border: 1px solid #c9cbcb;
    top: 3px; /* Pull the list item down even with the contents */
    overflow: hidden;
    position: relative;
    background-color: #e9e9e9;
    /*
    background-image: url(../../img/backgrounds/tabbedwidget-tab-bg.jpg);
    background-position:left top;
    background-repeat:repeat-x;  
    */
    border-top-left-radius: 5px 5px;
    border-top-right-radius: 5px 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
}

/* stylings for various tabtypes */

/* for disease tabs make sure all six tabs have room to fit: */
.tabsContainer.diseasetabs ul.tabs li { width:17%; }

/* for the home page, tabs can be more spacious and a bit more styling */
.tabsContainer.homepage ul.tabs li { width:35%; }
.tabsContainer.homepage ul.tabs li.emphasize { line-height:30px; }

/* supertabs have seven tabs and are colored: */
.tabsContainer.supertabs ul.tabs li {width:13%;}
.tabsContainer.supertabs ul.tabs li a {color: #123054; font-size: 90%;}
.tabsContainer.supertabs ul.tabs li.tab1,
.tabsContainer.supertabs ul.tabs li.tab2,
.tabsContainer.supertabs ul.tabs li.tab3,
.tabsContainer.supertabs ul.tabs li.tab4,
.tabsContainer.supertabs ul.tabs li.tab5,
.tabsContainer.supertabs ul.tabs li.tab6,
.tabsContainer.supertabs ul.tabs li.viewAll {background-image:none;background-color:#e9e9e9;}

.tabsContainer.supertabs ul.tabs li.hover.tab1,
.tabsContainer.supertabs ul.tabs li.hover.tab2,
.tabsContainer.supertabs ul.tabs li.hover.tab3,
.tabsContainer.supertabs ul.tabs li.hover.tab4,
.tabsContainer.supertabs ul.tabs li.hover.tab5,
.tabsContainer.supertabs ul.tabs li.hover.tab6,
.tabsContainer.supertabs ul.tabs li.hover.viewAll { background-color:#f8f7f7; }

.tabsContainer.supertabs ul.tabs li.active.tab1,
.tabsContainer.supertabs ul.tabs li.active.tab2,
.tabsContainer.supertabs ul.tabs li.active.tab3,
.tabsContainer.supertabs ul.tabs li.active.tab4,
.tabsContainer.supertabs ul.tabs li.active.tab5,
.tabsContainer.supertabs ul.tabs li.active.tab6,
.tabsContainer.supertabs ul.tabs li.active.viewAll
 { background-color:#ffffff; }

.tabsContainer.supertabs ul.tabs li.active.tab1 a,
.tabsContainer.supertabs ul.tabs li.active.tab2 a,
.tabsContainer.supertabs ul.tabs li.active.tab3 a,
.tabsContainer.supertabs ul.tabs li.active.tab4 a,
.tabsContainer.supertabs ul.tabs li.active.tab5 a,
.tabsContainer.supertabs ul.tabs li.active.tab6 a,
.tabsContainer.supertabs ul.tabs li.active.viewAll a
 { color: #123054; }

.tabsContainer.supertabs ul.tabs li.active.tab1 a:after,
.tabsContainer.supertabs ul.tabs li.active.tab2 a:after,
.tabsContainer.supertabs ul.tabs li.active.tab3 a:after,
.tabsContainer.supertabs ul.tabs li.active.tab4 a:after,
.tabsContainer.supertabs ul.tabs li.active.tab5 a:after,
.tabsContainer.supertabs ul.tabs li.active.tab6 a:after,
.tabsContainer.supertabs ul.tabs li.active.viewAll a:after
 { content: '>'; margin-left:3px; }

/* special treatment for jobstabs (facade) */
div.tabsContainer.tabfacade.jobstabs ul.tabs li { width:46%; font-size:24px; /*x-line-height:30px;*/ font-family:'franklin-gothic-urw-n5','franklin-gothic-urw','Franklin Gothic Medium',Arial,Helvetica,Sans-serif;font-weight:500; }
div.tabsContainer.tabfacade.jobstabs ul.tabs li.active a { padding-left:34px; background-image:url(../../img/bullets/arrow-blue.gif); background-repeat:no-repeat; background-position:20px 4px; }
div.tabsContainer.tabfacade.jobstabs ul.tabs li.tabtitle1 a { margin-top:8px; }
div.tabsContainer.tabfacade.jobstabs ul.tabs li.tabtitle2 a { margin-top:4px; }


.tabsContainer  ul.tabs li a {
	font-size: 90%;
    text-decoration: none;
    color: #123054;
    display: block;
    padding: 8px 8px 0 14px; /* was 20px */
}

.tabsContainer ul.tabs li.active { /*--Makes sure that the active tab does not listen to the hover properties--*/
    background: #ffffff; /*#f5f1e6;*/
    border-bottom: 1px solid #ffffff /*#f4f1e5*/ ; /*--Makes the active tab look like it's connected with its content--*/
    /*x-font-weight:bold;*/
    height:52px;
    top:0px;
}

.tabsContainer ul.tabs li.breaktext {  /* vertical align only those tabs that don't break lines cf line-height above */
  line-height:16px;
}

.tabsContainer ul.tabs li.emphasize {  /* make certain tabs stand out (larger font size) */
  font-size:115%;
}


.tabContentsContainer {
    border-top: none;
    overflow: hidden;
    clear: both;
    float: left; 
    width: 100%; /* conflicts with border; fix this */
    background: #ffffff; /*#f5f1e6;*/
    margin-bottom:10px;
}
.tabContentsContainer .tabContentsContainerBorder { 
	border: 1px solid #c9cbcb; 
	border-top: none; 
	padding: 20px; 
}

.tabsContainer .tabContent {
  /*x-padding-top: 20px;
  x-border:1px red solid;
  x-padding-left:20px;
  x-padding-right:20px;
  x-min-height:270px;*/ /* guess-timate */
  overflow-x:hidden;
}

.tabsContainer .tabContent h2 { margin-top:0; padding-top:0; }

.tabsContainer .tabContent .backtotop { text-align:right; }
.tabsContainer .tabContent .backtotop p { white-space:nowrap; }
.tabsContainer .tabContent .backtotop a { margin-left:4px; margin-right:4px; }

.tabsContainer  ul.tabs li.hover {
    background: #f8f7f7;
    /*x-height: 36px;
    x-top:0px;*/
}

.tabsContainer ul.tabs li.hover.active { background-color: #ffffff; }

.tabsContainer .column2 {
  /*x-background-color:lightgreen;*/
  width:45%;
  float:right;
}

.tabsContainer ul.splitMe {
  width:50%;
  float:left;
  /*x-background-color:pink;*/
}

/*.tabsContainer .tabContent ul {
  x-padding-left:.1em; x-margin-left:.1em; list-style:none;
  padding-left:0;margin-left:0;
  margin-top:0;
}
.tabsContainer .tabContent ul li {
  padding-bottom:.2em;
}*/
.tabsContainer li.header { margin-top:6px; }
.tabsContainer li.header>a { font-family:Geogrotesque-Semibold,Arial,Helvetica,Sans-serif; font-weight:normal; }
.tabsContainer li.header>span { font-size:105%; }
.tabsContainer a { /*text-decoration:none;*/ }
.tabsContainer a:hover { /*text-decoration:underline;*/ }


/* ---------------------- component: Homepage slider widget -------------------- */

#homepageSliderContainer{
    height:414px;
    width:940px; /* matches its container */
    position:relative;
}

.homepageFadeContainer {
    width:100%;
    height: 414px;
    position:absolute;
    top:0;
    left:0;
    padding:0;
    margin:0;
    display: none;
    overflow-y: hidden;
    background-color: #e9e9e9; /* Fix for IE8 anti-aliasing problem */
}

#homepageSliderContainer #firstContainer {
	display:block;
}

.homepagePhoto {
    float:left;
    width:620px;
}

.homepagePhoto img {
	border: 0;
	width: 620px;
	height: 413px;
}

.homepageText {
    float:left;
    width: 280px; /* use this to control the right margin */
    margin-left:25px;
    margin-top:15px;
    max-height: 414px; /* in case the text is too long... */
    overflow-y: hidden; /* ...hide overflow, don't show it */
}

.homepageText a { 
	
	text-decoration:none; 
	color:#89c348; 
	font-family: 'Geogrotesque-SemiBold', Arial, Helvetica, serif;
	font-weight: normal;
	
}
.homepageText a:hover { text-decoration:underline; }
.homepageText .raquo { margin-left:4px; /*color:#0659A1;*/ }


.homepageText .textline { 
	
	font-family: 'Geogrotesque-SemiBold', Arial, Helvetica, serif;
	font-size: 16px; 
	font-size: 1rem;
	line-height:25px;
	color: #89c348; 
	
}

.homepageText .linkline { font-family:Arial,Helvetica,Sans-serif; margin-top:10px; font-size:18px; }

.homepageText h2,
.homepageText h2 a {
    
    font-family: 'Geogrotesque-Light', Arial, Helvetica, serif;
    font-size: 50px;
    font-size: 3.125rem;
    font-weight: normal; /* was 500 */
    color: #123054;
    letter-spacing:-2px;
    margin-bottom:10px;
    margin-top:10px;
    padding-bottom:0;
    line-height: 48px;
    
}

.homepageText h2 a:hover { color: #123054; text-decoration:none; }

#homepageSliderDots {
    position:absolute;
    bottom: 20px;
    right: 17px;
    z-index:5;
    display:none;
}

.homepageDot {
    float:left;
    margin: 0 3px;
}

/* end of homepageslider component */
/* start of calendarRSSreader component */
.rssTarget .eventContainer {
	margin-bottom: 15px;
}

.rssTarget .eventContainer .eventTitle,
.rssTarget .eventContainer .eventDate {
	font-family:Geogrotesque-Semibold,Arial,Helvetica,Sans-serif;
	font-weight: normal;
}
/* end of calendarRSSreader component */

/* begin download component */
div.download div.item {
    clear: both;
    margin: 0 0 8px 0;
}
div.download span.icon img {
    width: 16px;
    height: 16px;
}
div.download span.icon  {
    float: left;
    padding: 0 8px 8px 0;
    background: url(/etc/designs/public/img/icons/default.gif) no-repeat
}
div.download span.icon.type_doc  {
    background: url(/etc/designs/public/img/icons/doc.gif) no-repeat
}
div.download span.icon.type_eps  {
    background: url(/etc/designs/public/img/icons/eps.gif) no-repeat
}
div.download span.icon.type_gif  {
    background: url(/etc/designs/public/img/icons/zip.gif) no-repeat
}
div.download span.icon.type_jpg  {
    background: url(/etc/designs/public/img/icons/jpg.gif) no-repeat
}
div.download span.icon.type_pdf  {
    background: url(/etc/designs/public/img/icons/pdf.gif) no-repeat
}
div.download span.icon.type_ppt  {
    background: url(/etc/designs/public/img/icons/ppt.gif) no-repeat
}
div.download span.icon.type_tif  {
    background: url(/etc/designs/public/img/icons/tif.gif) no-repeat
}
div.download span.icon.type_txt  {
    background: url(/etc/designs/public/img/icons/txt.gif) no-repeat
}
div.download span.icon.type_xls  {
    background: url(/etc/designs/public/img/icons/xls.gif) no-repeat
}
div.download span.icon.type_zip  {
    background: url(/etc/designs/public/img/icons/zip.gif) no-repeat
}
span.downloadInstructions {
	font-size: 75%;
}

/* end of download component */
/* start of slideshow component */

.slideshowContainer {
	
	outline: none;
	
}

.slideshowContainer .slideshowHeader h3 {
    margin-bottom: 15px;
    margin-bottom: 0.9375rem;
}

.slideshowContainer .slideshowHeader span.instructions {
    font-family:Arial, Helvetica, sans-serif;
    font-size:11px;
}

.slideshowContainer .slideshowContainer{
    width:700px;
    position:relative;
}

.slideshowContainer .slideshowContainer:focus {
	outline: none;
}

.slideshowContainer .slideshowPhotoContainer {
    width:700px;
    height:440px;
    float:left;
    margin-bottom:7px;
}

.slideshowContainer .largePhotoContainer {
    width:597px;
    height:440px;
    background-color:#f8f7f7;
    overflow:hidden;
    position:relative;
    float:left;
}

.slideshowContainer .theSlides {
    position:relative; /* I'll need to mess with the 'left' attribute of the enclosed divs */
    left:0;
}

.slideshowContainer .theSlides .largePhoto {
    width:597px;
    height:440px;
    float:left;
}

.slideshowContainer .largePhoto img {
    padding:6px;
    display:block;
    margin-left:auto;
    margin-right:auto;
    max-height:428px;
    max-width:585px;
}

.slideshowContainer .control {
    width:298px;
    height:440px;
    z-index:4;
    text-indent:-10000px;
}

.slideshowContainer .controlImage {
    display:block;
    width:44px;
    height:43px;
    position:absolute;
    z-index:4;
    cursor:pointer;
}

.slideshowContainer #leftControlImage {
    background-image:url(/etc/designs/public/img/nav/slideshow-left-arrow.png);
    left:0;
    top:195px;
}

.slideshowContainer #rightControlImage {
    background-image:url(/etc/designs/public/img/nav/slideshow-right-arrow.png);
    right:0;
    top:195px;
}

.slideshowContainer .thumbnailBar {
    width:103px;
    height:440px;
    background-color:#e9e9e9;
    position:relative;
    float:left;
}

.slideshowContainer .thumbControl {
    position:absolute;
    width:103px;
    text-indent:-10000px;
    cursor:pointer;
    z-index:4;
}

.slideshowContainer #topThumbControl {
    height:48px;
    background-image:url(/etc/designs/public/img/nav/slideshow_arrow_sm_up.png);
    top:0px;
    left:0px;
}

.slideshowContainer #bottomThumbControl {
    height:47px;
    background-image:url(/etc/designs/public/img/nav/slideshow_arrow_sm_down.png);
    bottom:0;
    left:0;
}

.slideshowContainer .overflowContainer {
    position:relative;
    height:345px;
    overflow:hidden;
    top:48px;
}

.slideshowContainer .thumbnailContainer {
    position:relative; /* I'll need to mess with the 'top' attribute of the enclosed divs */
    top:0;
}

.slideshowContainer .thumbnail {
    height:74px;
    width:69px;
    overflow:hidden;
    margin-left:15px;
    margin-right:15px;
    margin-bottom:11px;
    border:2px solid #e9e9e9;
    z-index:8;
}

.slideshowContainer .thumbnail img {
    height:74px;
    display:block;
    margin-left:auto;
    margin-right:auto;
}

.slideshowContainer .thumbnailContainer .activeThumb {
    border:2px solid #cccccc;
}

.slideshowContainer .textContainer {
    width:700px;
    position:relative;
}

.slideshowContainer .textSlide {
    display:none;
}

.slideshowContainer .activeText {
    display:block;
}

.slideshowContainer #slideStatus {
    text-align:right;
    padding-right:2px;
    font-family:Arial, Helvetica, sans-serif;
    color:#666;
    font-size:14px;
    margin-bottom:7px;
}

.slideshowContainer .slideshowHR {
    margin-top:5px;
    margin-bottom:35px;
}

.clear {
    clear:both;
}

/* end of slideshow component */

/* start of embedded video component */
.videoEmbed {
	margin-bottom: 15px;
}

.videoEmbed div.videoCaption {
	font-size: 90%;
	line-height: 1.4em;
	margin: 0 0 2px;
}

.videoEmbed div.videoCredit {
	font-size: 80%;
	font-family: Geogrotesque-RegularIt, Arial, Helvetica, Sans-serif;
	font-style: normal;
	margin: 0 0 2px;
	line-height: 1.4em;
}

/* end of embedded video component */

/* start of video slideshow component */

.videoSlideshow {
    
    width: 100%;
    
    position: relative;
    
}

.videoSlideshow h3 {
    
    padding-left: 5%;
    padding-right: 5%;
    
}

.videoSlideshow .mainContainer {
    
    padding-left: 5%;
    padding-right: 5%;
    
}

.videoSlideshow .mainContainer h4 {
    
    font-size: 1.5em;
    
    margin-bottom: 0;
    margin-top: 0.5em;
    
}

.videoSlideshow .mainContainer p:first-of-type {
    
    margin-top: 0.25em;
    
}

.videoSlideshow .mainContainer .mainVideoContainer {
    
    width: 100%;
    
}

.videoSlideshow .mainContainer .mainVideoContainer object {
    
    max-width: 100%;
    
}

.videoSlideshow .additionalVideoContainer {
    
    width: 100%;
    
    position: relative;
    
}

.videoSlideshow .additionalVideoContainer > div {
    
    float: left;
    
}

.videoSlideshow .additionalVideoContainer .leftArrow,
.videoSlideshow .additionalVideoContainer .rightArrow {
    
    width: 5%;
    height: 100px;
    
    background-image: url(/etc/designs/public/img/buttons/videoSlideshowArrows.gif);
    background-repeat: no-repeat;
    
    margin: 0;
    padding: 0;
    
}

.videoSlideshow .additionalVideoContainer .leftArrow {
    
    background-position: 12px 4px;
    
}

.videoSlideshow .additionalVideoContainer .rightArrow {
    
    background-position: -35px 4px;
    
}

.videoSlideshow .additionalVideoContainer .additionalVideoWindow {
    
    width: 90%;
    
    overflow: hidden;
    /* Needed for overflow to work in IE Compatibility Mode */
    position: relative;
    
}

.videoSlideshow .videoSlideContainer {
    
    position: relative;
    
}

.videoSlideshow .additionalVideoContainer .videoSlide {

    width: 20%;
    
    position: relative;
    float: left;
    
    margin-right: 3%;
    
}

.videoSlideshow .additionalVideoContainer .videoSlide.active {
    
    background-color: #f1f0ef;
    
}

.videoSlideshow .additionalVideoContainer .videoSlide img {
    
    max-width: 100%;
    
    border: 0;
    
}

.videoSlideshow .additionalVideoContainer .videoSlide a.videoTitle {
    
    text-decoration: none;
    
}

.videoSlideshow .additionalVideoContainer .videoSlide a.videoTitle:hover {
	
	text-decoration: underline;
	
}

.videoSlideshow .additionalVideoContainer .videoSlide h4 {
    
    color: #26a9df;
    font-size: 1em;
    
    margin-top: 0.25em;
    margin-bottom: 0.25em;
    padding-left: 5px;
    padding-right: 5px;
    
}

.videoSlideshow .additionalVideoContainer .videoSlide p {
	
	font-size: 0.8em;
	line-height: 1.4em;
	padding-left: 5px;
	padding-right: 5px;
	margin-bottom: 1em;
	padding-bottom: 0;
	
}

.videoSlideshow .additionalVideoContainer .videoSlide p:first-of-type {
    
    margin-top: 0;
    
}

/* end of video slideshow component */

/* VIDD Event and Event Lister Components */

.eventItemContainer.noDescription {
	
	margin-bottom: 16px;
	margin-bottom: 1rem;
	
}

.eventItemContainer .alertText,
.eventListItem .alertText {

	font-family:Geogrotesque-Semibold,Arial,Helvetica,Sans-serif;
	font-weight: normal;
	color: red;
	
}

.eventItemContainer .eventDetails {
	
	margin-bottom: 0;
	
}

.eventItemContainer .eventDescription,
.eventItemContainer .eventDescription :first-child {
	
	margin-top: 0;
	padding-top: 0;
	
}

/* End VIDD Event and Event Lister Components */

/* Alternate slideshow, with Title Card image */

.alternateSlider .slideContainer {
    position:relative;
}

.alternateSlider .slideContainer div {
    position: absolute;
    left: 442px;
    z-index: 8;
    opacity: 0.0;
}

.alternateSlider .slideContainer div.active {
    z-index: 10;
    opacity: 1.0;
}

.alternateSlider .slideContainer div.last-active {
    z-index: 9;
}

.alternateSlider .titleCard,
.alternateSlider .slideContainer .slide {
	
	float: left;
	
}

/* Donate Button component */
/* May need to add fh_body_content and header and footer divs to be a powerful enough selector */

div.donateButton {
	
	height: 42px;
	height: 2.635rem;
	line-height: 40.8px;
	line-height: 2.55rem;
	
}

div.donateButton a.donate_button {
	
	background-color: #89c348;
	color: white;
	text-decoration: none;
	text-transform: uppercase;
	
	font-size: 12px;
	font-size: 0.75rem;
	letter-spacing: 0.08em;
	font-family: 'Geogrotesque-Semibold', Arial, Helvetica, sans-serif;
	
	display: inline-block;
	height: 100%;
	padding: 0 1em;
	font-weight: normal;
	
}

div.donateButton a.donate_button:hover {
	
	background-color: #73ad33;
	
}

/* End Donate Button component */

/* Feature Box component */

div.featureBox div.image_container,
div.featuredresearchers div.mainimage,
div.featuredevents div.mainimage {
	
	margin-bottom: 20px;
	
}

div.featureBox div.image_container img,
div.featuredresearchers div.mainimage img,
div.featuredevents div.mainimage img {
	
	max-width: 100%;

}

div.featureBox div.text_and_titles_container h2.category,
div.featuredresearchers h2.category,
div.featuredevents div.text_container h2.category {
	
	color: #123054;
	font-family: 'Geogrotesque-SemiBold', Arial, sans-serif;
	font-size: 13px;
	font-size: 0.8125rem;
	font-weight: normal;
	letter-spacing: 1px;
	line-height: 1.1em;
	margin: 0 0 7px;
	text-transform: uppercase;
	
}

div.featureBox div.text_and_titles_container a.title_link,
div.featureBox div.text_and_titles_container a.title_link:hover {
	
	text-decoration: none;
	
}

div.featureBox div.text_and_titles_container h3.feature_box_title,
div.featuredresearchers h3.name,
div.featuredevents div.text_container h3.title {
	
	/*color: #39b6b9;*/
	font-family: 'Geogrotesque-Light', Arial, sans-serif;
	font-size: 29px;
	font-size: 1.8125rem;
	font-weight: normal;
	/*margin: 0 0 5px;*/
	margin:0;
	line-height: 1em;
	
}

div.featureBox div.text_and_titles_container a h3.feature_box_title,
div.featuredresearchers a h3.name,
div.featuredevents div.text_container a h3.title {
	
	color: #39b6b9; /* when the title is hyperlinked, make it the right color */
	
}

div.featureBox div.text_and_titles_container a:hover h3.feature_box_title,
div.featuredresearchers a:hover h3.name,
div.featuredevents div.text_container a:hover h3.title {
	
	color: #89c348;
	text-decoration: underline;
	
}

div.featureBox div.text_and_titles_container div.description_text,
div.featuredresearchers div.research_interest {

	margin-top: .3em;
	margin-bottom: 1em;
	
}

div.featureBox div.text_and_titles_container div.description_text :first-child {
	
	margin-top: 0;
	padding-top: 0;
	
}

div.featureBox div.link_container,
div.featuredresearchers div.link_container,
div.featuredevents div.text_container div.link_container {
	
	text-align: right;
	margin-top: 1em;
	line-height: 1.2em; /* tighten just a bit */
	
}

div.featureBox div.link_container a,
div.featuredresearchers div.link_container a,
div.featuredevents div.text_container div.link_container a {
	
	background-image: url(../../img/bullets/feature-box-link-bullet.png);
	background-position: right center;
	background-repeat: no-repeat;
	padding-right: 24px;
	padding-right: 1.5rem;
	
}

/* Color Theme 1 - Grey background */

div.featureBox div.feature_box_container.colorTheme1,
div.featuredresearchers.colorTheme1,
div.featuredevents.colorTheme1 {
	
	background-color: #e9e9e9;
	
}

div.featureBox div.feature_box_container.colorTheme1 div.text_and_titles_container,
div.featuredresearchers.colorTheme1 div.text_container,
div.featuredevents.colorTheme1 div.text_container {
	
	padding: 0 20px 20px;
	
}

/* End Feature Box component */

/* ------------ components: featuredresearchers (note the 's') ------------------- */
/* Restyling to look like featureBox component
 * See featureBox component for styles 
 */
 
 div.featuredresearchers.omitfeaturedimage div.mainimage {
 
 	display: none;
 	
 }
 
 div.featuredresearchers div.research_interest {
 
 	font-family:Geogrotesque-Semibold,Arial,Helvetica,Sans-serif;
 	font-weight: normal;
 	margin-bottom: 0;
 
 }
 
 /* ------------- component: featured events (listing of three events with 1 main one) ------------ */
 /* Restyling to look like featureBox component
 * See featureBox component for styles 
 */

.featuredevents ul.eventlist { padding:0; margin-bottom:0; }
.featuredevents ul.eventlist li { padding-bottom:.5em; }
.featuredevents.omitfeatureddate .date { display:none; }
.featuredevents.omitfeaturedimage .mainimage { display:none; }

div.featuredevents div.text_container div.date_and_description {
	
	margin-top: 0.3em;
	
}

div.featuredevents div.text_container div.date {
	
	margin-bottom: 0;
	font-family:Geogrotesque-Semibold,Arial,Helvetica,Sans-serif;
	font-weight: normal;
	
}

/* Component: Header Widget (from Shared app) */

.headerWidget h2,
.headerWidget h3,
.headerWidget h4 {
	
	margin-bottom: 10px;
	
}

/* ------------------- component: clinical trials widget ----------------- */

.clinicaltrials .borderbox { border: 1px solid #e9e9e9; padding: 30px; margin: 10px 0; background-color: #e9e9e9; }
.clinicaltrials .boxtitle { font-size:155%;margin-top:0px;margin-bottom:0; }
.clinicaltrials .filters { font-size:14px; font-size:.875rem; margin:20px 0 20px 0; }
.clinicaltrials table.levelset { margin-bottom:16px;margin-bottom:1rem; }
.clinicaltrials .or { padding-left: 35px; color:#123054; font-size:30px; margin:15px 0; font-weight:bold; }
.clinicaltrials .logos img { max-width:25%; } /* four across */
.clinicaltrials .filters input { margin-left:16px; margin-left:1rem; }
.clinicaltrials .filters label { white-space:nowrap; }

/* --------------------- component: Panel Grid --------------------- */



/* bugfix for firefox, when imagePlus elements are within the panel grid they show a bottom margin: */
div.fh_panel_grid .imageplus dt img { display:block; }

div.fh_panel_grid.colorTheme0 {
	
	background-color: #123054;
	
}

div.fh_panel_grid .imageWithTextOverlay {
	position: relative;
	margin: 0;
	padding: 0;
}
div.fh_panel_grid .imageWithTextOverlay a {
	text-decoration: none;
}
div.fh_panel_grid .imageWithTextOverlay .textOverlayBackground {
	visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	vertical-align: middle;
	padding: 0 10px;
	padding: 0 .625rem;
	text-align: center;
	background: #1c3b61;
	background: rgba(28,59,97,0.9);
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
div.fh_panel_grid .imageWithTextOverlay .textOverlayBackground .textContainer {
	position: absolute;
	top: 0;
	width: 90%;
	padding: 0;
	left: 8%;
	width: 84%;
	padding-bottom: 44px;
	background-image: url(/etc/designs/public/clientlibs/libs/annualreport2013/img/arrow_png.png);
	background-position: center bottom;
	background-repeat: no-repeat;
	line-height: 17.6px;
	line-height: 1.1rem;
	font-family: 'Geogrotesque-regular',Arial,Helvetica,sans-serif;
}
div.fh_panel_grid .imageWithTextOverlay .textOverlayBackground .textOverlayTitle {
	margin: 0 0 8px 0;
	margin: 0 0 .5rem 0;
	padding: 0;
	font-size: 20px;
	font-size: 1.25rem;
	line-height: 20px;
	line-height: 1.25rem;
	color: #fff;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
div.fh_panel_grid .imageWithTextOverlay .textOverlayBackground .textOverlayDescription {
	margin: 0;
	padding: 0;
	font-size: 14px;
	font-size: .875rem;
	line-height: 14px;
	line-height: .875rem;
	color: #fff;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
div.fh_panel_grid .imageWithTextOverlay img {
	vertical-align: top;
	/* max-width: 100%; */
	width: 235px; /* Hard-coding to fix Firefox bug */
	border: 0;
}
div.fh_panel_grid .imageWithTextOverlay .indicator {
	position: absolute;
	right: 12px;
	bottom: 10px;
	font-size: 36px;
	font-family: Arial,Helvetica,Sans-serif; /* Kim prefers the look of the Arial "+" to the Geogrotesque one - ICS */
	color: #fff;
	color: rgba(255,255,255,.8);
	text-shadow: .1em .1em .3em #555;
}
div.fh_panel_grid .imageWithTextOverlay .indicator span:after {
	content: '+';
}
div.fh_panel_grid .imageWithTextOverlay a:hover .indicator span:after {
	content: '';
}  

div.fh_panel_grid .imageWithTextOverlay .textOverlayBackground .linkText {
	
	margin: 10px 0 0 0;
	margin: 0.625rem 0 0 0;
	padding: 0;
	display: block;
	
	font-size: 14.4px;
	font-size: 0.9rem;
	line-height: 14.4px;
	line-height: 0.9rem;
	color: #ffffff;
	font-family:'Geogrotesque-RegularIt',Arial,Helvetica,Sans-serif;

}

div.fh_panel_grid .imageWithTextOverlay .textOverlayBackground .linkText:hover {

	color:#dddddd;
		
}

div.fh_panel_grid .imageWithTextOverlay .textOverlayBackground .linkText em {
	
    text-decoration: underline;
		
}	

div.fh_panel_grid .imageWithTextOverlay .mobileTitleContainer {
    
    display: none;
    position: relative;
    top: 0;
    margin-left: 40%;
    
}

div.fh_panel_grid .imageWithTextOverlay .mobileTitle {
    
    vertical-align: middle;
    margin: 0;
    padding: 0 16px;
    padding: 0 1rem;
    
    font-size: 15px;
    font-size: 0.9375rem;
    font-weight: normal;
    font-family: geogrotesque-semibold,arial,helvetica,sans-serif;
    
}

/* --------------------- component: standardSlider ------------------ */

    .standardSlider .royalSlider { /*margin-bottom:20px;*/ }

    .standardSlider .royalSlider { width: 100%; }
    
    .standardSlider .royalSlider .rsImg { border:0; }
    
    .standardSlider .royalSlider > div.rsContent { /* http://help.dimsemenov.com/kb/royalslider-jquery-plugin-issues/slider-content-appears-for-a-second-before-initialization */
      display: none;
    }
    .standardSlider .royalSlider > div.rsContent.hero {
      display: block;
      overflow-y:hidden; /* for non-JS and also IE7 */
    }    

    /* we're not using rsCaption */
    .standardSlider .royalSlider .rsCaption { display:none; }
    
    /* layered captions */
    .standardSlider .royalSlider .rsContent .infoBlock { 
      position: absolute;
      bottom: 0;
      left: 0;
      right: auto;
      width:100%;
      -moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;
      padding-bottom: 0;
      overflow: hidden;
      padding: 1.5625em;
      word-wrap: break-word;
      color: #ffffff; /* default font treatment */      
    }

    .standardSlider .royalSlider .rsContent .infoBlock.gradient {
      /* http://www.colorzilla.com/gradient-editor/#000000+0,000000+74,000000+100&0+0,1+100;Custom */
      background: black; /* default to a black band */
      background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9Ijc0JSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjc0Ii8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
      background: -moz-linear-gradient(bottom,  rgba(0,0,0,1) 0%, rgba(0,0,0,0.74) 38px, rgba(0,0,0,0) 100%); /* FF3.6+ */
      background: -webkit-gradient(linear, left bottom, left top, color-stop(0%,rgba(0,0,0,1)), color-stop(38px,rgba(0,0,0,0.74)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
      background: -webkit-linear-gradient(bottom,  rgba(0,0,0,1) 0%,rgba(0,0,0,0.74) 38px,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
      background: -o-linear-gradient(bottom,  rgba(0,0,0,1) 0%,rgba(0,0,0,0.74) 38px,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
      background: -ms-linear-gradient(bottom,  rgba(0,0,0,1) 0%,rgba(0,0,0,0.74) 38px,rgba(0,0,0,0) 100%); /* IE10+ */
      background: linear-gradient(to top,  rgba(0,0,0,1) 0%,rgba(0,0,0,0.74) 26px,rgba(0,0,0,0) 100%); /* W3C */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 ); /* IE6-8 */
     }
    
    .standardSlider .royalSlider .rsContent .infoBlock h4,
    .standardSlider .royalSlider .rsContent .infoBlock p {
      max-width:85%;
      color: white;
      line-height: normal; /* let's stick with browser line heights for a change */
      
    }

    .standardSlider .royalSlider .rsContent .infoBlock h4 {
      font-family: 'Geogrotesque-light',Arial,Helvetica,sans-serif;
      font-size: 237%; /*1.188em;*/ /* fix after you wrap */
      margin: 0;
      padding-bottom: 0;
    }
    .standardSlider .royalSlider .rsContent .infoBlock p.deck {
      font-family: 'Geogrotesque-semibold',Arial,Helvetica,sans-serif;    
      font-size:14px; font-size: .875rem;  /*0.813em;*/ /* fix after wrapping */
      margin: 0;
    }
    .standardSlider .royalSlider .rsContent a .infoBlock p.deck:hover { /* only underline when wrapped in a hyperlink */
      text-decoration: underline;
      cursor: pointer;
    }
    .standardSlider .royalSlider .rsContent .infoBlock p.credit {
      font-family: 'Geogrotesque-regular',Arial,Helvetica,sans-serif;    
      font-size: 11px; /*0.813em;*/ /* fix after wrapping */
      margin: 1em 0 0 0;
    }
    .standardSlider .royalSlider .rsContent a,
    .standardSlider .royalSlider .rsContent a:hover {
      color: #ffffff;
      text-decoration: none;
    }


    /* move the bullets */
    .standardSlider .royalSlider.rsUni .rsBullets {
      position: absolute;
      bottom:30px;
      right:26px; /* match the right arrow */
      width:auto;
    }
    
    /* space out the bullets */
    .standardSlider .royalSlider.rsUni .rsBullet {
      padding: 6.5px;
    }
    
    /* color and size the bullets */
    .standardSlider .royalSlider.rsUni .rsBullet span {
        background-color: #999999;
        height: 14px;
        width: 14px;
        border-radius: 14px; /* iPad needs this, didn't work with 50% */
        opacity: 0.72;
    }    

    /* color the active bullet */
    .standardSlider .royalSlider.rsUni .rsBullet.rsNavSelected span {
      background-color: #ffffff;
      opacity: 1;
    }

    /* reduce the left/right arrows hitpad to avoid conflict with infoBlock. ie does not expand beyond the actual arrow icon. */
    .standardSlider .royalSlider.rsUni .rsArrow { 
       height:15%; 
       //height:100%;
     }
    .standardSlider .royalSlider.rsUni.rsHor .rsArrowRight,
    .standardSlider .royalSlider.rsUni.rsHor .rsArrowLeft {
      top:40%;
      //top:0;
    }
    
    /* new arrows */
    .standardSlider .royalSlider.rsUni.rsHor .rsArrowLeft .rsArrowIcn {
      background: url(../../img/slideshow/slideshow_arrow_lg_left.png);
      background-position: 0 0;
      opacity:.8;
    }
    .standardSlider .royalSlider.rsUni.rsHor .rsArrowRight .rsArrowIcn {
      background: url(../../img/slideshow/slideshow_arrow_lg_right.png);
      background-position: 0 0;
      opacity:.8;
    }    
    .standardSlider .royalSlider.rsUni.rsHor .rsArrowRight .rsArrowIcn:hover,
    .standardSlider .royalSlider.rsUni.rsHor .rsArrowLeft .rsArrowIcn:hover {
      opacity:1;
    }
    .standardSlider .royalSlider.rsUni .rsArrowIcn {
      height: 44px;
      width: 44px;
    }
    .standardSlider .royalSlider.rsUni .rsArrowLeft .rsArrowIcn {
      margin-left:-6px;  /* match the left edge of infoBlock */
    }
    .standardSlider .royalSlider.rsUni .rsArrowRight .rsArrowIcn {
      margin-left:-36px; /* match the right edge of bullets */
    }

/* -------------- component: Expander -------------------------*/

.expanderComponent .expanderHeader .expanderIcon {
    
    position: absolute;
    margin-left: -1.3em;
    margin-top: 0.14em;

    line-height: 0.7em;
    width: 0.7em;
    font-size: 1em;
    text-decoration: none;
    text-align: center;

    color: #c9d3eb;
    background-color: #207c7e;

}

.expanderComponent .expanderHeader.closed {

    color: #123054;

}

.expanderComponent .expanderHeader.closed .expanderIcon {

    color: #39b6b9;
    background-color: #123054;

}

.expanderComponent .expanderHeader .expanderIcon.active,
.expanderComponent .expanderHeader .expanderIcon:hover {

    color: #c9d3eb;
    background-color: #207c7e;

}

.expanderComponent .expanderHeader,
.expanderComponent .expanderParsys,
.expanderComponent .expanderIntro {
    
    margin-left: 46.4px; /* if you don't understand rems */
    margin-left: 2.9rem;

}

.expanderComponent .expanderIntro {
    
    margin-bottom: 12.8px;
    margin-bottom: 0.8rem;
    
}

.expanderComponent .expanderHeader {
    
    position: relative;
    cursor: pointer;
    margin-top: 0.8em;
    margin-bottom: 0.2em;
    color: #39b6b9;
    
}

.expanderComponent .expanderParsys.colorTheme1 {

    padding: 1em 1.5em;
    background-color: #e9e9e9;
    
}

.expanderComponent .expanderParsys :first-child {

	margin-top: 0;

}