/*! normalize.css v3.0.2 | MIT License | git.io/normalize */

/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif; /* 1 */
  -ms-text-size-adjust: 100%; /* 2 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/**
 * Remove default margin.
 */
body {
  margin: 0;
}

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0;
}

/* Text-level semantics
   ========================================================================== */
/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0; /* 1 */
  padding: 0; /* 2 */
}



/* Result set
   ========================================================================== */
body {
  font-family: Arial,Helvetica,sans-serif;
  line-height: 1.45em;
  color: #123054;
  font-size: 90%;
  margin-top: 1em;
}

a {
  color: #39b6b9;
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  text-decoration: underline;
  color: #89c348;
}

/* Hide the space created from <br /> elements inconveniently added to provide spacing before the extra junk we're hiding. */
ol:last-of-type {
  margin-bottom: -3em;
}

ol li {
	list-style-type: square;
}

p[style*="text-align:center"], center {
	display: none;
}

/* Form
   ========================================================================== */
/* Name "employee..." instead of "employer..." is a relic of previous naming. When I gave the iframe to SEP it used "employee..." language. */
.employee_match_container {
  display: none;
}
