/* CSS for the highlights box component. */

/* handle the top-padding when highlights box is inside a column or gradient column */
.fh_gradient_columns div.highlightsBoxContainer>h3 { margin-top:0; }

div.highlightsBoxContainer {
    /*width:300px;*/
}

div.highlightsBoxContainer div.panels {
    /*width:300px;*/
    overflow:hidden;
    position:relative;
}

div.highlightsBoxContainer div.panels dl {
    position:relative;
    list-style:none;
    margin:0;
    padding:0;
}

div.highlightsBoxContainer div.panels dt {
    display:none;
}

div.highlightsBoxContainer div.panels dd {
    /*width:300px;*/
    float:left;
    margin:0;
    padding:0;
    padding-bottom: 10px;
    visibility: visible;
    position: static;
}

div.highlightsBoxContainer div.status {
    float:right;
    text-align:right;
    display: none;
}


div.highlightsBoxContainer div.image img {
    border: 0;
}

/* default is that the dd contains text and image: */
div.highlightsBoxContainer dd div.image {
    /*width:100px;*/
    float:left;
    margin-right:10px;
}    
div.highlightsBoxContainer dd div.text {
    /* width:186px;  not the full 200px, to give a little padding */
    float:right;
}    

/* but when there's no image...: */
div.highlightsBoxContainer dd.noimage div.image {
    display:none;
}    
div.highlightsBoxContainer dd.noimage div.text {
    /*width:300px;*/
    float:none;
}    

div.highlightsBoxContainer div.panels dd.hiddenSlide {
	visibility: hidden;
	position: absolute;
}