/* ie7 conditional styles */

.navigation-main-item:hover div.dropdown_menu { display:none; } /* menu drop downs work poorly in ie7 */
#fh_utility_nav { z-index:20; } /* utility nav disappears w/o a z-index */



/* ie7 needs this when imagePlus elements are in the column cells: */
body.griddedcolumns div.parsys_column.cq-colctrl-lt0,
body.griddedcolumns div.parsys_column.cq-colctrl-lt1,
body.griddedcolumns div.parsys_column.cq-colctrl-lt2,
body.griddedcolumns div.parsys_column.cq-colctrl-default { border-top:none; margin:16px 0; } /* this produces 20px spacing for some reason */

/* see "stdform" handling in static.css */
form input[type*="submit"].stdform {
  padding: 0 8px; 
}