/* ie8 conditional stylesheet */

li.navigation-main-item.menu-give { padding-right:0; } /* ie8 doesn't handle :last-child */

img {
	
	border: 0; /* IE8 displays the blue border around linked images */
	
}

.utility_nav ul li.donate-now { 
	
	padding-left: 0; 
	padding-right: 0; 
	
}



/* ie8 (not ie7) needs this when imagePlus elements are inside column control: */
body.griddedcolumns div.parsys_column.cq-colctrl-lt0,
body.griddedcolumns div.parsys_column.cq-colctrl-lt1,
body.griddedcolumns div.parsys_column.cq-colctrl-lt2,
body.griddedcolumns div.parsys_column.cq-colctrl-default { border-top:1px white solid;  margin:19px 0; } /* ie8 needs border-top */

/* when text-based components are inside column control: */
body.griddedcolumns div.parsys_column div.multipurpose_box div.textcolumn p { margin-bottom:0; }
body.griddedcolumns div.parsys_column div.textimage div.text p { margin-bottom:0; }
body.griddedcolumns div.horizontalimagetext .hz_text p { margin-bottom:0; }

/* when featured researcher is inside column control: */
body.griddedcolumns div.parsys_column div.featuredResearcher p.more { margin-bottom:0; }

/* when news article finder is inside column control: */
body.griddedcolumns div.parsys_column .newsfindercontainer div.related-news p { margin-bottom:0; }

/* when featurebox is inside column control: */
body.griddedcolumns div.parsys_column .featureBox div.description_text p { margin-bottom:0; }

