/* items from cq foundational main.css that we want to retain in this app */

.form_section {
    width: 300px;
    float: none;
}

.form_section form {
    float: left;
    width: 300px;
}

.form_section fieldset {
    width: 300px;
    float: left;
}

.form_section .input_box1 {
    background: url(main/../../../../etc/designs/default/images/input_box.gif) no-repeat 0 0;
    width: 185px;
    height: 23px;
    float: left;
}

.form_section input {
    width: 175px;
    padding-left: 5px;
    padding-right: 5px;
    border: none;
    background: none;
    padding-top: 4px;
    font-size: 11px;
    color: #999;
}

.form_section input.sign_up {
    background: url(main/../../../../etc/designs/default/images/sign_up_btn.gif) no-repeat 0 0;
    width: 82px;
    height: 23px;
    float: left;
    margin-left: 5px;
    display: inline;
    cursor: pointer;
}

form .form_row {
    display: block;
    font-size: 13px;
    line-height: 24px;
    color: #666;
    clear: both;
}

form .form_field_checkbox, form .form_field_radio {
    margin-left: 20px;
}

form .form_field_text, form .form_field_textarea {
    background:url("main/../../../../etc/designs/default/images/collab/fieldbg.gif") repeat-x scroll center top #FFFFFF;
    border-color:#7C7C7C #C3C3C3 #DDDDDD;
    border-style:solid;
    border-width:1px;
    color:#333333;
    font-family: "Lucida Grande","Lucida Sans Unicode",Arial,Helvetica,sans-serif;
    font-size:100%;
    margin:0;
    padding:2px;
}

form .form_field_textarea {
    width: 698px;
}

form .form_row_description {
    font-size: 11px;
    line-height: 12px;
    clear: both;
    color: #666666;
}

form .form_rightcol {
    clear: both;
}

form .form_rightcolnobr {
    clear: none;
    float: right;
    margin-bottom: 15px;
}

form .form_rightcolnooverflow {
    overflow: hidden;
}

form .title {
    padding-top: 10px;
}

form .form_leftcolmark {
    color: #f00;
}

form .form_leftcollabel {
    float: left;
    font-weight: bold;
}

form .form_leftcolmark {
    float: left;
    padding-left: 2px;
    font-weight: bold;
}

form .form_leftcolnobr {
    float: left;
    margin-bottom: 15px;
}

form .form_captcha_input {
    float: left;
    width: 170px;
}

form .form_captcha_input input {
    width: 170px;
}

form .form_captcha_img {
    float: left;
    padding-left: 16px;
}

form .form_captcha_refresh {
    float: right;
}

form .form_captchatimer {
    float: left;
    border: 1px solid #CCCCCC;
}

form .form_captchatimer_bar {
    float: left;
    background-color:#CCCCCC;
    height: 8px;
}

form .customer_survey_submit {
    float: right;
    margin-top: 28px;
}

form .form_field_text {
    width: 334px;
    margin-bottom: 4px;
}

form .form_field_text.form_field_multivalued {
    width: 314px;
}

form .form_field_select {
    width: 340px;
}

form .form_error {
    color: #f00;
    font-weight: bold;
}

form div.section {
    padding-bottom: 10px;
}

form div.colctrl.section {
    padding-bottom: 0 !important;
}