/* print-friendly override settings. these cascade under printing. */
/* used on all pages except the homepage */

/* new (Jul/12): */
#fh_sidebar {display:none; }
#fh_body_content { left:0; }
#fh_container { margin:0; }

#fh_mission,
#global_nav,
#navigation-main-container,
#fh_panorama,
#fh_utility_nav,
#breadcrumbs
 { display:none; }
 
#fh_logo { position:relative;top:0;left:0; }
#fh_body { padding-top:0; }
#fh_container { padding-top:0; /*width:auto;*/ } /* width:auto doesn't work for ie7/8 */
 
.share_options { display:none !important; } 
.container_12 { margin:0; } /* shifts the page flush left (was centered) */
 
/* removes the linen background */
body { background-image:none; min-width:0; }

/* removes the shading behind the main content */ 
.fh_body {
  -moz-box-shadow: none;-webkit-box-shadow: none;box-shadow: none;
    /* For IE 8 */
    -ms-filter: none;
    /* For IE 5.5 - 7 */
    filter: none;
}

/* eliminate all divs within footer_container - footer... */
#footer_container  { background:none; padding:0;  }
#footer_container .footer div { display:none; }
/* ... but retain the attribution div: */
#footer_container div#copyright { display:block; color:black;margin:0;width:auto; padding:0; }
#footer_container div#copyright a { display:none; }
#footer_container div#copyright .terms_privacy { display:none; }
#footer_container .footer_content { margin-left:0; }

/* line up the logo and the attribution */
#footer_container div#copyright { margin-left:10px;margin-top:10px; }

/* new (Jul/12): */

/* revise the framework for .grid_12 which was inline */
  /* ********************************************** */
  /* ie7 needs width:100% AND display:block to work */
  /* ********************************************** */
.fh_body.container_12 .grid_12 { width:100%; /*width:auto;*/ display:block !important; float:none !important; } /* fails for ie7,8 (blank page), but is required for ff3 (cuts off page) */

/* this fixes news releases for IE9 compat, also fixes the FF width: */
.fh_body.container_12 .fh_body_content.grid_9 { float:none !important; }

/* news landing page has the right column but not the date picker and Load More feature */
.fh_rightcol_content .newsrollDatePicker { display:none; }
.newsroll .loadmore { display:none; } 

/* news landing page and the news pages themselves do not have read more or 2nd social share */
.newsroll .read_more { display:none; }/*    the read more feature            */
.newsroll .socialshare { display:none; } /* and the 2nd social share         */

/* newsplus-type news pages ditch the right column and go full-width */
div.grid_12.fh_rightcol_container.newsplus { background:none; }
.newsplus .fh_body_column.grid_8 { width: 100%;  }
.newsplus .fh_rightcol_column.grid_4 { display:none; }

/* events: */
.fh_body.container_12 .fh_body_content.grid_9 .grid_6 { float:none !important; width:auto; }
.fh_body.container_12 .fh_body_content.grid_9 .grid_3 { display:none; }

/* a late addition: */
.fh_body { min-height:0; }

/* fix a problem some browsers have with custom fonts */
h1,h2,h3,h4,h5,h6,.cluster_title,.share_options,h2.news-subhead { /*font-family: Arial, Helvetica, sans-serif;*/ } /* try to omit, aug/14 - new font is geogroteque/webfonts which might work better than franklin/typekit */

/* new (Oct/14) */
/* Safari 5 and Opera do not render Geogrotesque font correctly for printing, so switch to Arial */

/* Safari 5-6 selectors */

/* Regular font */
_::-moz-svg-foreign-content, :root h1,
:root h2,
:root h3,
:root h4,
:root h5,
:root h6,
:root .cluster_title,
:root .share_options,
:root .breadcrumbs,
:root .fh_sidebar_content,
:root .section-nav ul li a,
:root .fh_sidebar div.profile_contact_information,
:root .fh_body_content,
:root .utility_nav .utility_search .search_term,
:root div.dropdown_menu dl dt,
:root .footer_content,
:root form input[type*="text"].stdform,
:root .multipurpose .imagecolumn .caption,
:root .fh_sidebar_content .relatedcontentarea .horizontalimagetext,
:root .fh_sidebar .relatedcontentarea,
:root .profileresult .profile_text .name,
:root .search_box form .search_term_container .search_term,
:root .headerwidget .more,
:root .headerwidget .more .raquo,
:root .homepageText h2 a,
:root div.featuredevents div.text_container h3.title,
:root div.featureBox div.text_and_titles_container h3.feature_box_title,
:root div.featuredresearchers h3.name,
:root div.featuredevents div.text_container h3.title,
:root .newsroll-item h2 a,
:root .newsroll .loadmore a,
:root .newsroll .taglist a,
:root .newsroll .share_options a.a2a_dd,
:root .newsSocialShare .share_link_text,
:root .relatednews_container .item .news-subtitle,
:root .relatednews_container .item .news-date,
:root .newsplus span.newspage-byline, 
:root .newsplus span.newspage-date,
:root div.fh_body_content  div.mainsubtitle {
	
	font-family: Arial, Helvetica, Sans-serif;
	
}

/* Bold font */

_::-moz-svg-foreign-content, :root .fh_body_content b,
:root .fh_body_content strong,
:root .section-nav ul li.onTrail>a,
:root .section-nav ul li.currentPage>div>a,
:root .section-nav>ul>li,
:root .fh_sidebar .also_about dl dt,
:root .fh_sidebar .profile_contact_information dl dt,
:root .fh_sidebar .profile_contact_information a,
:root .fh_body_content dl.profile_appointments dt,
:root .newspage-byline,
:root .fh_body_content a,
:root .utility_nav,
:root a.navigation-main-link,
:root div.dropdown_menu ul li,
:root .footer_container dl dt,
:root .other_sites dl dt,
:root div#footer_container div#footer_content div.footer h3,
:root form input[type*="submit"].stdform,
:root .donateformlet .df_amount input,
:root .donateformlet .df_other a,
:root .fh_sidebar .relatedcontentarea a,
:root .profileresult .profile_text .appt2,
:root .eventlistingitem .eventtext .title a,
:root .eventlistingitem .date,
:root .profileListContainer .alphaSelect a.inactive,
:root .profileListContainer .alphaSelect a.active,
:root .profileListContainer .profileListItem .profileListText .profileName,
:root .googlemapsapielement .googlemaplocator .directions,
:root .tabsContainer li.header>a,
:root .homepageText a,
:root .homepageText .textline,
:root .rssTarget .eventContainer .eventDate,
:root .eventListItem .alertText,
:root div.donateButton a.donate_button,
:root div.featuredevents div.text_container h2.category,
:root div.featuredresearchers div.research_interest,
:root div.featuredevents div.text_container div.date,
:root div.featureBox div.text_and_titles_container h2.category,
:root div.featuredresearchers h2.category,
:root div.featuredevents div.text_container h2.category {
	
	font-family: Arial, Helvetica, Sans-serif;
	font-weight: bold;
	
}

/* Italics font */

_::-moz-svg-foreign-content, :root .fh_body_content i, 
:root .fh_body_content em,
:root .fh_sidebar div.profile_image .caption,
:root div.spotlightImage .credit,
:root .imageplus dl dd .credit,
:root .profileListContainer .note,
:root .profileListContainer .profileListItem .profileListText .profileBusinessRole {
	
	font-family: Arial, Helvetica, Sans-serif;
	font-style: italic;
	
}

/* Bold AND Italics font */

_::-moz-svg-foreign-content, :root .fh_body_content b i, 
:root .fh_body_content i b,
:root .fh_body_content strong i,
:root .fh_body_content i strong,
:root .fh_body_content b em, 
:root .fh_body_content em b,
:root .fh_body_content strong em,
:root .fh_body_content em strong {
	
	font-family: Arial, Helvetica, Sans-serif;
	font-weight: bold;
	font-style: italic;
	
}

/* Opera 9.5+ selectors */

/* Regular font */
_:-o-prefocus, body:last-child h1,
body:last-child h2,
body:last-child h3,
body:last-child h4,
body:last-child h5,
body:last-child h6,
body:last-child .cluster_title,
body:last-child .share_options,
body:last-child .breadcrumbs,
body:last-child .fh_sidebar_content,
body:last-child .section-nav ul li a,
body:last-child .fh_sidebar div.profile_contact_information,
body:last-child .fh_body_content,
body:last-child .utility_nav .utility_search .search_term,
body:last-child div.dropdown_menu dl dt,
body:last-child .footer_content,
body:last-child form input[type*="text"].stdform,
body:last-child .multipurpose .imagecolumn .caption,
body:last-child .fh_sidebar_content .relatedcontentarea .horizontalimagetext,
body:last-child .fh_sidebar .relatedcontentarea,
body:last-child .profileresult .profile_text .name,
body:last-child .search_box form .search_term_container .search_term,
body:last-child .headerwidget .more,
body:last-child .headerwidget .more .raquo,
body:last-child .homepageText h2 a,
body:last-child div.featuredevents div.text_container h3.title,
body:last-child .newsroll-item h2 a,
body:last-child .newsroll .loadmore a,
body:last-child .newsroll .taglist a,
body:last-child .newsroll .share_options a.a2a_dd,
body:last-child .newsSocialShare .share_link_text,
body:last-child .relatednews_container .item .news-subtitle,
body:last-child .relatednews_container .item .news-date,
body:last-child .newsplus span.newspage-byline, 
body:last-child .newsplus span.newspage-date,
body:last-child div.fh_body_content  div.mainsubtitle {
	
	font-family: Arial, Helvetica, Sans-serif;
	
}

/* Bold font */

_:-o-prefocus, body:last-child .fh_body_content b,
body:last-child .fh_body_content strong,
body:last-child .section-nav ul li.onTrail>a,
body:last-child .section-nav ul li.currentPage>div>a,
body:last-child .section-nav>ul>li,
body:last-child .fh_sidebar .also_about dl dt,
body:last-child .fh_sidebar .profile_contact_information dl dt,
body:last-child .fh_sidebar .profile_contact_information a,
body:last-child .fh_body_content dl.profile_appointments dt,
body:last-child .newspage-byline,
body:last-child .fh_body_content a,
body:last-child .utility_nav,
body:last-child a.navigation-main-link,
body:last-child div.dropdown_menu ul li,
body:last-child .footer_container dl dt,
body:last-child .other_sites dl dt,
body:last-child div#footer_container div#footer_content div.footer h3,
body:last-child form input[type*="submit"].stdform,
body:last-child .donateformlet .df_amount input,
body:last-child .donateformlet .df_other a,
body:last-child .fh_sidebar .relatedcontentarea a,
body:last-child .profileresult .profile_text .appt2,
body:last-child .eventlistingitem .eventtext .title a,
body:last-child .eventlistingitem .date,
body:last-child .profileListContainer .alphaSelect a.inactive,
body:last-child .profileListContainer .alphaSelect a.active,
body:last-child .profileListContainer .profileListItem .profileListText .profileName,
body:last-child .googlemapsapielement .googlemaplocator .directions,
body:last-child .tabsContainer li.header>a,
body:last-child .homepageText a,
body:last-child .homepageText .textline,
body:last-child .rssTarget .eventContainer .eventDate,
body:last-child .eventListItem .alertText,
body:last-child div.donateButton a.donate_button,
body:last-child div.featuredevents div.text_container h2.category,
body:last-child div.featuredresearchers div.research_interest,
body:last-child div.featuredevents div.text_container div.date {
	
	font-family: Arial, Helvetica, Sans-serif;
	font-weight: bold;
	
}

/* Italics font */

_:-o-prefocus, body:last-child .fh_body_content i, 
body:last-child .fh_body_content em,
body:last-child .fh_sidebar div.profile_image .caption,
body:last-child div.spotlightImage .credit,
body:last-child .imageplus dl dd .credit,
body:last-child .profileListContainer .note,
body:last-child .profileListContainer .profileListItem .profileListText .profileBusinessRole {
	
	font-family: Arial, Helvetica, Sans-serif;
	font-style: italic;
	
}

/* Bold AND Italics font */

_:-o-prefocus, body:last-child .fh_body_content b i, 
body:last-child .fh_body_content i b,
body:last-child .fh_body_content strong i,
body:last-child .fh_body_content i strong,
body:last-child .fh_body_content b em, 
body:last-child .fh_body_content em b,
body:last-child .fh_body_content strong em,
body:last-child .fh_body_content em strong {
	
	font-family: Arial, Helvetica, Sans-serif;
	font-weight: bold;
	font-style: italic;
	
}