/* css for Fred Hutchinson Cancer Research Center */


/* general-purpose, global styles up top */

body { margin:0; padding:0; background-image:none; }
.nobreak { white-space:nowrap; }
.visuallyHidden {
    position: absolute; 
    overflow: hidden; 
    clip: rect(0 0 0 0); 
    height: 1px; width: 1px; 
    margin: -1px; padding: 0; border: 0; 
}

/* IE9/10 fix for borders around images */

a > img,
img[usemap*="#"] {
	
	border-style: none;
	
}

/* Test for Safari 5 */

_::-moz-svg-foreign-content, :root .utility_nav .utility_search .search_term {
	
	line-height: 1;
	
}

/* Use semibold font rather than normal font with font-weight bold. Same for italics. */

.fh_body_content b,.fh_body_content strong { font-family:Geogrotesque-Semibold,Arial,Helvetica,Sans-serif; font-weight:normal; }
.fh_body_content i, .fh_body_content em { font-family:Geogrotesque-RegularIt,Arial,Helvetica,Sans-serif; font-weight:normal; font-style:normal; }

.fh_body_content b i, .fh_body_content i b,
.fh_body_content strong i, .fh_body_content i strong,
.fh_body_content b em, .fh_body_content em b,
.fh_body_content strong em, .fh_body_content em strong { 
	font-family:Geogrotesque-SemiBoldIt,Arial,Helvetica,Sans-serif; 
	font-weight:normal; 
	font-style:normal; 
} 

h1 { 
	font-family: 'Geogrotesque-Light',Arial,Sans-serif; 
	font-size: 330%; 
	line-height: 1em; 
	color: #123054; 
	margin-top: 5px; 
	letter-spacing: 0; 
	font-weight: normal; 
}

h2 { 
	font-family:'Geogrotesque-Regular',Arial,Sans-serif; 
	font-size:200%; 
	line-height:1em; 
	color: #123054; 
	font-weight:normal; 
}

h3, h2.news-subhead { 
	font-family:'Geogrotesque-Regular',Arial,Sans-serif; 
	font-size:146%; /* was 155% */ 
	line-height:1em; 
	color: #123054; 
	font-weight:normal;
}

h4 { 
	font-family:'Geogrotesque-Regular',Arial,Sans-serif; 
	font-size:130%; 
	line-height:1.1em; 
	color: #123054; 
	font-weight:normal; 
}

h5 { 
	font-family:'Geogrotesque-Regular',Arial,Sans-serif; 
	font-size:115%; 
	line-height:1em; 
	color: #123054; 
	font-weight:normal;
}

h6 { font-family:'Geogrotesque-Regular',Arial,Sans-serif; font-size:100%; line-height:1em; color: #123054; font-weight:normal;}

a h1,
a h2,
a h3,
a h4,
a h5,
a h6 {
	
	color: #39b6b9;
}

a h1:hover,
a h2:hover,
a h3:hover,
a h4:hover,
a h5:hover,
a h6:hover {
	
	color: #89c348;
	
}

.fh_body_content a h1,
.fh_body_content h1 a {
	
	font-family: 'Geogrotesque-Light';
	
}

.fh_body_content a h2,
.fh_body_content a h3,
.fh_body_content a h4,
.fh_body_content a h5,
.fh_body_content h2 a,
.fh_body_content h3 a,
.fh_body_content h4 a,
.fh_body_content h5 a {
	
	font-family: 'Geogrotesque-Regular';
	
}

/* --------- styling available to users as classes in the rtf drop-down, etc. ----- */
ul.square { list-style-image:url(../../img/bullets/fred_hutch_bullet.png); }
ul.spare { margin-top:0; padding-top:0; }
ul.spare li { padding-bottom:12px; }
ul.flush { padding-left:.1em; margin-left:1em; }
ul.nobullets { padding-left:.1em; margin-left:.1em; list-style:none; }
ul.nobullets li { padding-bottom:.8em; } /* when no bullets need a greater separation between li elements */

p span.hr { display:block; border-top: 1px solid #e9e9e9; height: 2px;} /* simulates an hr, used in RTE class drop-down */


/* to get the nice square, flush bullets, attach class SquareBullets to the <ul>. or, wrap the code inside a div of class forceSquareBullet */
ul.SquareBullet,
.forceSquareBullet ul { list-style-image:url(../../img/bullets/fred_hutch_bullet.png);padding-left:.1em; margin-left:1em; }
ul.SquareBullet li,
.forceSquareBullet ul li { padding-bottom:.8em; } /* guess-timate */
 

/* CQ editor preview mode: hide anything with a "no preview" class on it in preview mode. see /libs/cq/ui/widgets.js near setModeCss */
.cq-edit-only { display:none; }
body.cq-wcm-edit .cq-edit-only { display:block; }
body.cq-wcm-preview .cq-edit-only { display:none; }

/* CQ editor redirect notice: displays an alert when in WCM mode and the asset has a redirect target. see the foundation template, redirect-notice.jsp */
div.cq-redirect-notice { width:100%; text-align:center; position:absolute; top:0; left:0; z-index:50; }
div.cq-redirect-notice div { width:800px;margin-left:auto;margin-right:auto; background-color:orangered; padding:10px; color:white; font-weight:bold; font-family:Arial,Helvetica,Sans-serif;font-size:13px; }
div.cq-redirect-notice a { color:white; }
div.cq-redirect-notice a:hover { color:#f1f1f1; }

img.frame { border: 1px #e9e9e9 solid; }

.underline {border-bottom:2px #e9e9e9 solid;padding-bottom:7px; margin-bottom:15px;} /* general underlining: adds a cream underline below the element. does not otherwise adjust the element's padding/margins */

.sccagreen { color: #006633; } /* used at least in directory results */
.red { color: #ff0000; } /* gotta have red */

/* ------- page cluster-top title ----------- */
.cluster_title { 
	margin: 0 0 15px 0; 
	padding: 0; 
	font-family: 'Geogrotesque-medium',Arial,Sans-serif; 
	text-transform: uppercase; 
	font-size: 170%; 
	line-height: 1em; 
	color: #123054; 
	font-weight: normal; 
	letter-spacing: normal;
} /* letter-spacing accommodates h1.cluster_title for landing pages */
.cluster_title .share_options { text-align:right; /*margin-top:10px;*/ float:right; }
.cluster_title div.share_options { margin-bottom:0; }


/* ------- share options. these appear in the cluster title and also on some page bottoms ------------ */
.share_options { display:none; } /* start out hidden, but are turned on via js - see static.js */
div.share_options { margin-bottom:10px; }
.share_options a.a2a_dd { 
	color: #123054; 
	text-decoration: none;  
	text-transform: none;
	font-weight: normal;
	font-size: 18px;
	font-family: 'geogrotesque-regular',Arial,Helvetica,Sans-serif;
	font-weight: normal;
}
.share_options a.a2a_dd:hover { 
	color:#89c348;
	text-decoration:underline;  
}
.share_options a.a2a_dd img {
	
	margin-right: 8px;
	
}
.share_options a.a2a_dd span.share_link_text {
	
	position: relative;
	top: -6px;
	
}


/* ------- breadcrumbs ------------ */

#breadcrumbs { 

	padding-left: 3px; 
	margin-bottom: 50px; 
	
} /* this + the padding-left on the first breadcrumb = 22px (?) */
.breadcrumbs { 

	color: #999999; 
	font-family: 'Geogrotesque-light', Arial,Sans-serif; 
	font-size: 13px; 

}
.breadcrumbs a, .breadcrumbs a:visited { 
	
	text-decoration: underline; 
	color: #999999; 
	
}
.breadcrumbs a:hover { 

	color: #89c348; 

}
.breadcrumbs ul { margin:0; padding:0; }
.breadcrumbs ul li { padding-left:10px; display:inline; }
.breadcrumbs ul>li:first-child { padding-left:0; }

.breadcrumbs ul li a { 
	
	padding-right: 4px; 
	
}

.breadcrumbs ul li:after {
	
	content: "\2202"; /* Unicode escaped character for right facing triangle */
	text-decoration: none;
	font-size: 20px;
	color: #22385d;
	position: relative;
	top: 3px;
	
}

.breadcrumbs ul li:last-child:after {
	
	content: "";
	
}

/* ------ right col on full-width landing pages or general pages that have it. different styles for different grids. ------ */

.fh_rightcol_container .fh_rightcol_column { width:100%; overflow-x:hidden; }
.fh_rightcol_container .fh_body_column { width:100%; overflow-x:hidden; }

div.grid_12.fh_rightcol_container { background:url(../../img/backgrounds/lp-right-shaded-column.gif) repeat-y 640px 0; }
div.grid_12.fh_rightcol_container .fh_rightcol_content { margin:20px; }
div.grid_12.fh_rightcol_container .fh_rightcol_content div.divider_chevron { width:300px;position:relative;left:-20px; margin-left:0; margin-right:0; overflow:hidden; }

div.grid_9.fh_rightcol_container { background:url(../../img/backgrounds/lp-right-shaded-column.gif) repeat-y 400px 0; }
div.grid_9.fh_rightcol_container .fh_rightcol_content { margin:20px; }
div.grid_9.fh_rightcol_container .fh_rightcol_content div.divider_chevron { width:300px;position:relative;left:-20px; margin-left:0; margin-right:0; overflow:hidden; }


/* ------ left col on pages that have it ------- */

.fh_sidebar_content { 
	background-color:#e9e9e9; 
	width:100%; 
	overflow-x:hidden; 
	overflow-y:hidden;
	font-family: "geogrotesque-regular", Arial, Helvetica, Sans-serif; 
} /* added the width and overflow-x late in the game...monitor this. added overflow-y:hidden to avoid scrollbars in safari. */
.fh_sidebar { margin-bottom:20px; } /* space under the gradient and before the share this page tool */


/* --------- divider chevron (appears in sidebars). ----------- */
div.divider_chevron { margin-left:0px;margin-right:0px; text-align:center;background-image:url(../../img/backgrounds/chevron.gif);background-position:center top;height:42px;/*repeat:repeat-x;*/ }
div.divider_chevron { text-align:center;background-image:url(../../img/backgrounds/chevron.gif);background-position:center top;height:42px;/*repeat:repeat-x;*/ }

/* ------  section nav appears in the left col -------- */

.section-nav ul { margin:0; padding:0; list-style:none; }
.section-nav ul li a { 
	
	color: #123054; 
	text-decoration: none; 
	font-family: 'geogrotesque-Regular', Arial,Sans-serif; 
	font-size: 14px; 
	display: block; 
	
}
.section-nav ul li a:hover { 
	
	text-decoration: underline;
	color: #89c348; 
	
}
.section-nav ul li.onTrail>a { font-family: 'geogrotesque-semibold',Arial,Helvetica,sans-serif; font-weight:normal; color: #123054; }   /* this is the treatment for ontrail links (which includes the current page link) */
.section-nav ul li.currentPage>a,
.section-nav ul li.currentPage>div>a { font-family: 'geogrotesque-semibold',Arial,Helvetica,sans-serif; font-weight:normal; color:#89c348; } /* this is the treatment of the single current page link. the div comes in with the sectionhome element */
.section-nav ul li.currentPage>a:hover,
.section-nav ul li.currentPage>div>a:hover { text-decoration:none; }      /* make it not underline on hover                        */
.section-nav ul li.currentPage>a:after,
.section-nav ul li.currentPage>div>a:after { content: '>'; margin-left:3px; }
.section-nav ul li { line-height:17px; }


/* level 1 */
.section-nav>ul>li { 
	
	display: block; 
	border-top: 1px #d7d7d7 solid;
	padding: 15px 15px 12px 15px; 
	color: #123054; 
	font-family: 'geogrotesque-semibold',Arial,Helvetica,sans-serif;
	font-weight: normal; 

}
.section-nav>ul>li.onTrail { background-color: #f8f7f7; }
.section-nav>ul>li.onTrail>a { }
.section-nav>ul>li.onTrail>a:after { }
/* level 2 */
.section-nav>ul>li>ul>li { display:block; padding-top:7px;padding-bottom:6px; padding-left:10px; color:#333333; font-weight:normal;  }
.section-nav>ul>li>ul>li>a { 

	padding-left:0px;
	color: #123054;
	font-weight: normal; 

}
/* level 3 */
.section-nav>ul>li>ul>li>ul>li { display:block; padding-top:8px;padding-bottom:2px; padding-left:10px; color:#333333; }
.section-nav>ul>li>ul>li>ul>li>a { 
	
	padding-left:14px; 
	color: #123054;

}
/* level 4 */
.section-nav>ul>li>ul>li>ul>li>ul>li { display:block; padding-top:8px;padding-bottom:2px; padding-left:14px; color:#333333; }
.section-nav>ul>li>ul>li>ul>li>ul>li>a { 
	
	padding-left:14px; 
	color: #123054; 
	
}
/* level 5 */
.section-nav>ul>li>ul>li>ul>li>ul>li>ul>li { display:block; padding-top:6px;padding-bottom:2px; padding-left:15px; color:#333333; }
.section-nav>ul>li>ul>li>ul>li>ul>li>ul>li>a { 
	
	padding-left:14px;
	color: #123054;

}
/* level 6 */
.section-nav>ul>li>ul>li>ul>li>ul>li>ul>li>ul>li { display:block; padding-top:6px;padding-bottom:2px; padding-left:15px; color:#333333; }
.section-nav>ul>li>ul>li>ul>li>ul>li>ul>li>ul>li>a { 
	
	padding-left:14px;
	color: #123054;
	
}
/* level 7 */
.section-nav>ul>li>ul>li>ul>li>ul>li>ul>li>ul>li>ul>li { display:block; padding-top:6px;padding-bottom:2px; padding-left:15px; color:#333333; }
.section-nav>ul>li>ul>li>ul>li>ul>li>ul>li>ul>li>ul>li>a { 

	padding-left:14px;
	color: #123054;
	
}
/* level 8 */
.section-nav>ul>li>ul>li>ul>li>ul>li>ul>li>ul>li>ul>li>ul>li { display:block; padding-top:6px;padding-bottom:2px; padding-left:15px; color:#333333; }
.section-nav>ul>li>ul>li>ul>li>ul>li>ul>li>ul>li>ul>li>ul>li>a { 
	
	padding-left:14px;
	color: #123054;
	
}
/* level 9 */
.section-nav>ul>li>ul>li>ul>li>ul>li>ul>li>ul>li>ul>li>ul>li>ul>li { display:block; padding-top:6px;padding-bottom:2px; padding-left:15px; color:#333333; }
.section-nav>ul>li>ul>li>ul>li>ul>li>ul>li>ul>li>ul>li>ul>li>ul>li>a { 
	
	padding-left:14px;
	color: #123054;
	
}


/* section home is the first element in every navigation list */
.section-nav ul li.sectionhome { 
	
	padding: 0;
	border-top: none;
	background-color: #ffffff;
	border-bottom: 1px #ffffff solid; 
	
}
.section-nav ul li.sectionhome div { 
	
	padding: 14px 0 12px 14px;
	-moz-border-radius-topleft: 5px; 
	border-top-left-radius: 5px;
	-moz-border-radius-topright: 5px; 
	border-top-right-radius: 5px;
	background-color: #e9e9e9;
	
}
.section-nav ul li.sectionhome a { font-size:16px; }


/* ------ 'also about' element (related list) appears in the left col ------ */

.fh_sidebar .also_about { padding:15px; }
.fh_sidebar .also_about { font-family:Arial,sans-serif; font-size:13px; color:#393434 }
.fh_sidebar .also_about a { color:#0659A1; text-decoration:none; }
.fh_sidebar .also_about a:hover { text-decoration:underline; }
.fh_sidebar .also_about dl { margin:0; padding:0; }
.fh_sidebar .also_about dl dt { padding-bottom:10px; font-family: 'geogrotesque-semibold',Arial,Helvetica,sans-serif; font-weight:normal;}
.fh_sidebar .also_about dl dd { padding:0;margin:0; }
.fh_sidebar .also_about ul { margin:0; padding:0; list-style:none; }
.fh_sidebar .also_about ul li { display:block; padding-bottom:10px; }
.fh_sidebar .also_about ul li.more a { text-decoration:underline; }
.fh_sidebar .also_about ul li.more a:hover { color:#348dd1; }


/* ------- 'profile' image and contact info, appears in left col on profile pages ------- */
.fh_sidebar div.profile_image { 
	width:100%; 
	overflow-x:hidden; 
	padding-bottom:12px; 
	background-color:#ffffff; 
}
.fh_sidebar div.profile_image.noimage { display:none; }
.fh_sidebar div.profile_image img { margin-bottom:0px; max-width:100%; } /* ensures image doesn't break the grid_3 + 3px border width */
.fh_sidebar div.profile_image div.image { margin:0 } /* this plays with cq's editing css, which may cause problems in author. without this, there is a big gap introduced between the image and the next element */
.fh_sidebar div.profile_image .caption { margin:2px 1px 0 1px; font-family:Geogrotesque-RegularIt,Arial,Helvetica,Sans-serif;font-size:12px; font-style: normal; }
.fh_sidebar div.profile_image .caption p { margin:0;padding:0 }

.fh_sidebar div.profile_contact_information { padding:15px; font-family:'geogrotesque-regular',Arial,sans-serif; font-size:13px;  }
.fh_sidebar .profile_contact_information h4 { margin-top:0;}
.fh_sidebar .profile_contact_information dl { padding:0; margin:0 }
.fh_sidebar .profile_contact_information dl dt { 
	font-family: 'geogrotesque-semibold',Arial,Helvetica,sans-serif;
	font-size:15px;
	color:#123054; 
	font-weight:normal;
	padding:0 0 2px 0; 
	margin:0 0 4px 0; 
}
.fh_sidebar .profile_contact_information dl dd { margin:0; padding-bottom:1.5em; color:#123054; }
.fh_sidebar .profile_contact_information dl dd>div>:first-child { margin-top:0; } /* assumes cq extra div: monitor this */
.fh_sidebar .profile_contact_information a { 
	color:#39b6b9; 
	text-decoration:none;
	font-family: 'geogrotesque-semibold',Arial,Helvetica,sans-serif;
	font-weight: normal; 
}
.fh_sidebar .profile_contact_information a:hover { 
	color:#89c348;
	text-decoration: underline; 
}


/* ------ 'profile' styles that appear in the main content body ------- */
.fh_body_content dl.profile_appointments { margin:0; padding:0; }
.fh_body_content dl.profile_appointments dt { font-size:110%; font-family: 'geogrotesque-semibold',Arial,Helvetica,sans-serif; font-weight:normal; color:#393434; }
.fh_body_content dl.profile_appointments dd { font-size:110%; padding-bottom:1.2em; margin:0; }
.fh_body_content dl.profile_appointments a { /*color:#0659A1; text-decoration:none;*/ }
.fh_body_content dl.profile_appointments a:hover { /*color:#348dd1; text-decoration:underline;*/ }
.fh_body_content .profile_additionallinks ul { margin-top:0; }
.fh_body_content .profile_additionallinks ul.featuredresearcherlink { margin-bottom:0; }

/* -------- 'related news' styles that appear on multiple page types ----------- */
/*.related-news .news-title { line-spacing:13em !important; }*/
.related-news .news-date,
.related-news .news-source { font-size:85%; color:#777777; }
.related-news .news-date a,
.related-news .news-source a { color:#777777; }
.related-news .news-date a:hover,
.related-news .news-source a:hover { color:#888888; }
.related-news .news-description p { display:inline;margin:0;padding:0; } /* tighten up any unexpected p tags inside the description span */

/* --------- newslister-type listings of news assets use common formatting for dates and sources -------- */
.newslister .news-date,
.newslister .news-source { font-size:85%; color:#777777; }
.newslister .news-date a,
.newslister .news-source a { color:#777777; }
.newslister .news-date a:hover,
.newslister .news-source a:hover { color:#888888; }
li.newslister { margin-bottom:1em; } /* assumes each item is wrapped in an <li>. might need to add <p> as well. */


/* ----------- news pages (templates) ----------------- */
.newspage-byline { padding-top:0; font-family: 'geogrotesque-semibold',Arial,Helvetica,sans-serif; font-weight:normal; margin-bottom:1em; }
.newspage-byline p { padding:0; margin:0; } /* p tags can get in there during in-context editing */
.newspage-byline br { display:none; }       /* so can br tags */
.newspage-date { padding-top:0; margin-bottom:1em; }

.newsplus span.newspage-byline, .newsplus span.newspage-date { float:left; font-family: 'geogrotesque-regular',Arial,Helvetica,sans-serif;  }
.newsplus span.newspage-byline div { display:inline; }
body.cq-wcm-edit .newsplus span.newspage-byline div { display:block; }
body.cq-wcm-edit .newsplus span.newspage-byline { float:none; }
body.cq-wcm-edit .newsplus span.newspage-byline span.pipes { display:none; }

div.spotlightImage { float:right;max-width:380px;margin-left:10px;margin-bottom:10px; }
div.spotlightImage img { max-width:376px; border: 3px #eee6d7 solid; }
div.spotlightImage .caption { font-size:90%; }
div.spotlightImage .credit { font-family:Geogrotesque-RegularIt,Arial,Helvetica,Sans-serif; font-style:normal; font-size:90%; }

/* ---------- event pages (main and subs) ------------- */
.eventmain-banner {  }
.eventmain-banner { margin-bottom:20px; } /* spacing between the eventmain banner and the rest of the content */
.eventmain-banner .imageplus img.frame { max-width:694px; } /* if they choose a framed image in this par, needs 6px for frame */
.eventmain-leftcol h1 { margin-top:0; }
.eventmain-leftcol div.leftcol div.text>:first-child { margin-top:0; }
.eventmain-leftcol { width:100%; overflow-x:hidden; }
.eventmain-leftcol img { max-width:460px; }
.eventmain-leftcol img.frame { max-width:454px; }
.eventmain-rightcol { overflow-x:hidden; overflow-y:hidden; } /* added overflow-y to prevent occasional vertical scrollbars Mar/16/2012 */
.eventmain-rightcol img { max-width:220px; }
.eventmain-rightcol img.frame { max-width:214px; }
.eventmain-rightcol h2 a,
.eventmain-rightcol h3 a,
.eventmain-rightcol h4 a { text-decoration:none; }
.eventmain-rightcol h2 a:hover,
.eventmain-rightcol h3 a:hover,
.eventmain-rightcol h4 a:hover { text-decoration:underline; }
.eventmain-rightcol div.rightcol div.text>:first-child { margin-top:5px; }

.eventmain-leftcol .eventinfoblock { margin-bottom:20px; } /* these are the title/text pairs that go into the gradient column on event main pages */
.eventmain-leftcol .eventinfoblock ul li { padding-bottom:0; } /* close up spacing between bullets within this little component */
.eventmain-leftcol .eventinfoblock h3 { margin-top:0;margin-bottom:8px; } /* margin-bottom snugs this use of h3 up a little bit from its normal 15px use */
.eventmain-leftcol .eventinfoblock div.text>:first-child { margin-top:0;padding-top:0; }

img.eventsubpage-banner { max-width:694px; } /* banners on event subpages shouldn't exceed grid_9 (3px + 3px left/right borders) */

/* -------- home page styles and styling -------------------------- */
.hero_slider { /*padding-top:58px;*/height:300px;width:980px;z-index:1; }

.hero_actionbar { background-color:#196098; background-image:url(../../img/backgrounds/hero-actionbar.gif); background-position:left top;background-repeat:repeat-x;  height:63px; }
.hero_actionbar .textitems { width:710px; }
.hero_actionbar .textitems .item { float:left; margin-right:5px; margin-left:20px; color:#ffffff; font-family:Arial,Helvetica,sans-serif; font-size:17px; line-height:63px;}
.hero_actionbar .textitems .item a { color:#ffffff; text-decoration:none; }
.hero_actionbar .textitems .item a:hover { color:#ffffff; text-decoration:underline; }
.hero_actionbar .textitems .helpusfind { float:right; color:#ffffff; margin-top:12px; font-family:'franklin-gothic-urw-n5','franklin-gothic-urw','Franklin Gothic Medium',Arial,Helvetica,sans-serif; font-weight:500;font-size:15px; text-align:right; }
.hero_actionbar .donate { float:right;margin-right:20px;margin-top:14px; }
.hero_actionbar .donate a img { border:none; }

.hero_actionbar.bannermode { background-color:#ffffff;background-image:none;height:auto; }
.hero_actionbar.bannermode a img { border:none; }
.hero_actionbar.bannermode div.sizer { max-height:78px; max-width:980px; overflow:hidden; }

.hpdiseasesweresearch h2 { margin-bottom:0; }
.hpdiseasesweresearch .learnmore { margin:0;margin-bottom:20px; }
.hpdiseasesweresearch .tabsContainer .tabContent ul { list-style:none; margin-left:.1em; padding-left:.1em; } /* remove bullets from disease tab feature */
.hpdiseasesweresearch .tabsContainer .tabContent ul ul { list-style:disc; padding-left:20px; } /* add back bullets for sub elements */
.hpdiseasesweresearch .tabsContainer .tabContent ul ul li { margin-left:10px; } 



/* ------ body content for all pages; this holds the page content (text) ------- */

.fh_body_content { padding-bottom:20px; min-height:500px; width:100%; overflow-x:hidden } /* 9 cols x 60px + 10px margins = 700px */
.fh_body_content { font-family:'Geogrotesque-Regular',Arial,Helvetica,sans-serif; font-size:100%; line-height:1.4em; } /* line-height might be too widely applied at this level */
.fh_body_content>:first-child { padding-top:0; margin-top:4px; } /* first element within the body content (us. h1) should be flush top. the non-zero margin-top is needed for IE in compat mode, not sure why. */
.fh_body_content { color:#123054; }

.fh_body_content a { 
	color:#39b6b9;
	font-family: 'geogrotesque-semibold',Arial,Helvetica,sans-serif;
	font-weight: normal; 
	text-decoration:none; 
}

.fh_body_content a:hover { 
	color:#89c348;
	text-decoration: underline;
}

#fh_body_content.full_width { width:100%; } /* landing pages span the whole width. might need to make this smaller */
.fh_body_content hr { 
	height:2px; 
	color:#e9e9e9; 
	background-color:#e9e9e9; 
	border:0px solid #e9e9e9; 
	margin: 0;
	padding: 0;
}

div.dividerchevron {
	
	margin: 20px 0;
	
}

.fh_sidebar hr,
.fh_body_content .fh_rightcol_content hr,
.fh_body_content div.callout hr {
	
	background-color: #d3d3d3;
	
}

/* site lives within fh_container div which provides 0,0 positioning for elements */
#fh_container {  width:980px; margin-left:auto; margin-right:auto; position:relative; padding-top:140px; background-color:#ffffff;z-index:10; } /* 163px = topline down to top edge of the global nav, for box-shading effect to work */

/* --------- body box ----------------- */

#fh_body { position:relative; z-index:9; padding-top:20px; } /* this padding-top controls where the cluster-top title appears, relative to the top edge of the global nav */
#fh_body.homepage { padding-top:10px; } /* the homepage has a different top padding */
.fh_body { background-color: #ffffff; min-height: 500px;  }
.fh_body {
    /*-moz-box-shadow: 0 0 4px #aaaaaa;-webkit-box-shadow: 0 0 4px #aaaaaa;box-shadow: 0 0 4px #aaaaaa;*/
    /* For IE 8 */
    /*-ms-filter: "progid:DXImageTransform.Microsoft.shadow(Strength=3, Direction=100, Color='#aaaaaa')";*/
    /* For IE 5.5 - 7 */
    /*filter: "progid:DXImageTransform.Microsoft.shadow(Strength=3, Direction=100, Color='#aaaaaa')";*/
}



/* --------- utility nav ------------------ */

#fh_utility_nav { position:absolute; top:0px; left:0px; background-image:none;/*background-color:#ffffff;*/ top:0; left:0; width:100%; height: 37px; }
#utility_nav { margin-left:auto; margin-right:auto; width:940px; position: relative; }
.utility_nav { font-family:'Geogrotesque-semibold',Arial,Helvetica,Sans-serif; font-size:12px;font-weight:normal;  }
.utility_nav ul { float:right; margin:0; padding:0; position:relative; z-index:11; } /* here is the overall indent for the utility nav line of items */
.utility_nav ul li { display:block; float:left;  text-align: center; padding-left:1em; padding-right:1em; height:3.5em; line-height:3.4em;  }
.utility_nav li:first-child { padding-left:0; }
.utility_nav li:last-child { padding-left: 0; padding-right: 0; }

/*
.utility_nav li.donate-now { background-color:#89c348; }
.utility_nav li.donate-now:hover { background-color:#73ad33; }
.utility_nav li.donate-now a { height:100%; width:100%; display:inline-block; color: white; }
.utility_nav li.donate-now:hover a { text-decoration:none; }
*/
.utility_nav a { color:#89c348; text-decoration:none; text-transform:uppercase; letter-spacing: .08em; /*padding-left:1em; padding-right:1em;*/ }
.utility_nav a:hover { text-decoration:underline; } /* roll-over color/treatment */

.utility_nav .utility_search {
	background-color: #fff;
	border: 1px solid #cccccc;
	height: 26px;
	margin: 0;
	padding: 0 0 0 10px;
	white-space: nowrap;
	position: absolute;
	top: 59px;
	right: 0;
	z-index: 10;
}

.utility_nav .utility_search .search_term {
	border: 0 none transparent;
	font-family: 'Geogrotesque-Regular', Arial,Helvetica,sans-serif;
	font-size: 12px; /* font-size: 15px;*/
	font-weight: normal;
	height: 25px;
	line-height: 24px;
	margin: 0;
	padding: 0;
	width: 240px; /* width: 240px;*/
	/*new*/
	color: #123054;
	outline: none;
	
}

.utility_nav .utility_search .search_button {
    margin: 0px 3px 2px; /*margin: 3px 5px 4px;*/
    vertical-align: bottom;
}

/* --------- new global nav -------------- */

#navigation-main-container { position:absolute; top: 105px; width:100%; z-index:50; }
#navigation-main-wrapper { margin-left:auto; margin-right:auto; width:940px; }
ul.navigation-main { float:right; margin:0; }
ul.navigation-main li { display:block; float:left; position:relative; }
li.navigation-main-item { padding-left:1em; padding-right:1em; }
li.navigation-main-item:last-child { padding-right:0; }

a.navigation-main-link { color:#123054; font-family: 'Geogrotesque-Semibold',Arial,Helvetica,Sans-serif; font-size:15px; font-weight:normal; text-decoration:none; white-space:nowrap; }
li.navigation-main-item:hover a.navigation-main-link { color: #89c348; }
div.dropdown_menu { display:none; position:absolute; line-height:normal; width:230px; -moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box; background-color: #123054; padding: 2.4em 1.5em 1em 1.5em;} /* undo the line-height on its parent */
div.dropdown_menu ul { margin:0; padding:0; }
div.dropdown_menu ul li { float:none; font-family: 'Geogrotesque-Semibold',Arial,Helvetica,sans-serif; font-size:16px; font-weight:normal; margin-bottom:.8em; margin-bottom:.8rem; line-height:1em; }
div.dropdown_menu ul li a { color:#ffffff; text-decoration:none; }
div.dropdown_menu ul li a:hover { color:#89c348; text-decoration:underline; }

div.dropdown_menu dl dd { margin-left:0; }
div.dropdown_menu dl dt { color: #39b6b9; font-family:'Geogrotesque-Light',Arial,Helvetica,sans-serif; text-transform:uppercase; font-weight:normal;letter-spacing:.1em; margin-bottom:.5em; margin-top:.9em; }

.navigation-main-item:hover div.dropdown_menu { display:block; } /* non-js control/reveal of dropdowns */

div.dropdown_menu {
    background-image: url("../../img/nav/dropdown-dagger-bar.png");
    background-repeat: no-repeat;
 }  
.menu-diseases  div.dropdown_menu { background-position: -429px top; } /* a) fine-tune the location of the dagger. b) for a right-edge position use 'right:1em' or 'right:0' for the last item */
.menu-treatment div.dropdown_menu { background-position: -436px top; }
.menu-about     div.dropdown_menu { background-position: -470px top; }
.menu-labs      div.dropdown_menu { background-position: -451px top; }
.menu-events    div.dropdown_menu { background-position: -328px top; right:1em; }
.menu-give      div.dropdown_menu { background-position: -311px top; right:0; }

/* used for testing: */
/*div.dropdown_menu.active { display:block; }*/
/*.menu-events .dropdown_menu { display:block; }*/



/* ------------- home page logo ------------ */

#fh_logo { position:absolute; z-index:30; top:11px; left:13px; }



/* ------------- panorama (outside positioning context) --------- */

#fh_panorama { display:none; }


/* ------------- global footer (outside positioning context) ----- */

#footer_container { 
	max-width: 980px; 
	margin-left:auto; 
	margin-right:auto; 
	margin-bottom: 20px;
	background-color:#ffffff; 
/*	
	background-image:url(../../img/backgrounds/footer_texture.jpg);
	background-repeat:repeat; 
	padding-top:20px; 
	padding-bottom:10px;
*/
}
.footer_content { width:980px; margin-left:auto; margin-right:auto; } 
.footer_content { 
	font-family: 'Geogrotesque-Regular', Arial, Sans-serif; 
	color: #123054; 
	font-size: 12px; 
}
.footer_content .horizontal_rule { 
	height:1px; 
	border-bottom: 2px #e9e9e9 solid; 
} /* 100% width div with bottom border creates the hr */

.footer_content .footer_text_column_1 a,
.footer_content .footer_text_column_2 a,
.footer_content .footer_text_column_3 a,
div#copyright span.terms_privacy a {
	
	color: #123054;
	text-decoration: none;
	
}

.footer_content .footer_text_column_1 a:hover,
.footer_content .footer_text_column_2 a:hover,
.footer_content .footer_text_column_3 a:hover,
div#copyright span.terms_privacy a:hover {
	
	color: #123054;
	text-decoration: underline;
	
}

.footer_container dl { margin:0; padding:0; display:inline; float:left; } /* information-for, sites, etc., general treatments */
.footer_container dl dt, 
.footer_container dl dd,
.footer_container dl ul { margin:0; padding:0;  }
.footer_container dl ul { list-style:none; }
.footer_container dl ul li { display:block; }
.footer_container dl dt { font-size:14px; font-family: 'geogrotesque-semibold',Arial,Helvetica,sans-serif; font-weight:normal; }

.footer_container .info_for,
.footer_container .nccn-nci { padding-top:20px; padding-bottom:20px; }
.footer_container .nccn-nci img { vertical-align:top; }
.footer_container .info_for dl { width:25%; } /* spaces out the four columns of info-for equally. reduce to 20% if five columns */
.footer_container .info_for dl dt { padding-bottom:3px; }
.footer_container .info_for ul li { padding-bottom:2px; }
.footer_container .info_for a { color:#f6f4ec; text-decoration:none; white-space:nowrap; }
.footer_container .info_for a:hover { text-decoration:underline; }

.footer_container .nccn-nci img { padding-bottom:10px; margin-right:20px; }

.footer_container .social_media { padding-bottom:20px; }

.footer_container .hc_is { padding-top:2px; line-height:16px; }

.footer_container .donate_pill { text-align:center; padding-top:8px; }
.footer_container .donate_pill img { margin-right:18px; } /* guess-timate to align "Donate" with the Quick Links dl in the footer */

.other_sites, .copyright { color:#999999; padding-top:20px; }
#other_sites { float:right; width:520px;margin-right:20px; }
.other_sites dl { margin-bottom:10px; clear:both; }
.other_sites ul { margin:0; padding:0;list-style:none; }
.other_sites ul li { display:inline; float:left;  }
/*.other_sites ul li:after { content: " | "; }
.other_sites ul li:last-child:after { content: ""; }*/
.other_sites ul li { background-image:url(../../img/backgrounds/pipe-cream.gif); background-position:right center;background-repeat:no-repeat; padding-right:5px; margin-right:5px; } /* pipes between each li element */
.other_sites ul li:last-child { background-image:none; }

.other_sites dl dt { font-size:12px; font-family: 'geogrotesque-semibold',Arial,Helvetica,sans-serif; font-weight:normal; color:#dcceba; }
.other_sites a { color:#c1ad92; text-decoration:none; white-space:nowrap; }
.other_sites a:hover { text-decoration:underline; }

.other_sites dl.employeelinks dt,
.other_sites dl.employeelinks dd { font-size:14px; } /* bump up employee links a bit */


#copyright { /*width:400px;*/margin-left:20px; }
/*
.copyright a { color:#c1ad92; text-decoration:none; white-space:nowrap; }
.copyright a:hover { text-decoration:underline; }
.copyright .terms_privacy { margin-top:10px; }
*/

/* RESKIN ADDS TO FOOTER */
div#footer_container div#footer_content div.footer h2,
div#footer_container div#footer_content div.footer h3 {
	
	font-size: 14px;
	font-size: 0.875rem;
	font-family: 'geogrotesque-semibold',Arial,Helvetica,sans-serif;
	font-weight: normal;
	margin-top: 0;
	margin-bottom: 4px;
	
}

div#footer_container div#footer_content div.footer div.footer_text_column_1 p:first-of-type,
div#footer_container div#footer_content div.footer div.footer_text_column_2 p:first-of-type,
div#footer_container div#footer_content div.footer div.footer_text_column_3 p:first-of-type {
	
	margin-top: 0;

}

div#footer_container div#footer_content div.footer div.horizontal_rule {
	
	margin-bottom: 24px;
	
}


/* fourth column holds hard-coded logos */
div.footer .footer_column_4 { color: #747474; }
div.footer .footer_column_4 p { margin-top:0; margin-bottom:1em; margin-bottom:1rem; font-family:Geogrotesque-medium,Arial,Helvetica,Sans-serif; font-size:9.5px; font-size:0.59375rem; }
div.footer .footer_column_4 #aahrpp_logo_footer { float:left; margin-right:6px; }
div.footer .footer_column_4 #aahrpp_accreditation { overflow:hidden; line-height:12px; line-height:.75rem;  }


div#footer_container div#footer_content div.footer img#social_media_icons_footer {
	
	margin-bottom: 20px;
	
}

div#footer_container div#footer_content div.footer a.donate_button {
	
	float: right;
	
}

/* label anything as non-printable: */
@media print {
  .noprint { display:none; }
}

/*
 * EXTRA GRID CLASSES 
 * We need a 5-column support for the footer. This is all based on the CSS from 980.css
 */
 
 .container_12 .grid_fifths {
	
	width: 17.916%;
	
}

.grid_fifths {
	
	display: inline;
	float: left;
	margin-left: 10px;
	margin-right: 10px;
	position: relative;
	
}

.grid_fifths:last-child {
	
	margin-right: 0;
	
}



/* support for "standard forms" */
/* to get standard display of certain form elements, use class="stdform" on the elements you want. */
/* for example, <input type="text" class="stdform">, and <select class="stdform"> */

  /* styles 'text' and 'select' elements */
  form select.stdform,
  form input[type*="text"].stdform {  
    width: 360px; 
    height:42px; 
    line-height: 36px; /* safari needs line-height slightly less than the height of the element. */ 
    font-family:geogrotesque-regular,arial,helvetica,sans-serif; font-size:110%; color:#123054; 
    padding-left:10px; 
    vertical-align:middle;
    -moz-box-sizing: border-box;  -webkit-box-sizing: border-box;  box-sizing: border-box;
    outline: none; }

  /* styles the little arrow in select elements */
  form select.stdform {
     background: url(../../img/backgrounds/drop_down_arrow.png) no-repeat right #fff; -webkit-appearance: none; /*-moz-appearance:none;*/ appearance:none;
  }
  @-moz-document url-prefix() { /* firefox stopped supporting the 'hide arrow' feature at rev 30. https://gist.github.com/joaocunha/6273016#comment-1244649 */
     form select.stdform { background-image:none; }
  }
  form select.stdform::-ms-expand { display:none; } /* ie10+. http://stackoverflow.com/questions/16603979/select-removing-dropdown-arrow */

  /* styles the "submit" button */
  form input[type*="submit"].stdform { 
    background-color: #89c348;
    border: medium none; /* this flattens the button; you may wish not to */
    color: white; 
    font-size: 12px;
    font-size: 0.75rem;    
    font-family: "Geogrotesque-Semibold",Arial,Helvetica,sans-serif;
    font-weight:normal;
    letter-spacing: 0.08em;
    height: 42px; /* match height of input elements */
    line-height: 40.8px; line-height: 2.55rem;
    margin: 0 20px 0 10px; /* controls the distance between the input element and the submit element */
    padding:0 16px; padding: 0 1rem; /* adjust to your liking */
    text-transform: uppercase;
    vertical-align:middle;
    -moz-box-sizing: border-box;  -webkit-box-sizing: border-box;  box-sizing: border-box; 
    -webkit-appearance: none;
    border-radius: 0;    
  }
  form input[type*="submit"].stdform:hover { 
    background-color: #73ad33; /* rollover color */
    cursor: pointer;
  }
  form input[type="submit"].stdform::-moz-focus-inner {border:none;}  /* http://christophzillgens.com/en/articles/equal-height-input-and-button-elements-in-firefox-and-safari */
  
  /* also see ie9.css for one conditional css for ie9 and lower, involving the little arrow in select drop downs. and ie7.css for an ie7 padding fix. */
