/* --------------- component: royal slider --------------- */
.royalSlider {}
.royalSlider img { max-width: none; } /* remove the site-wide default w/in this widget */
.royalSlider .rsImg { border:0; }
.royalSlider > div.rsContent { /* http://help.dimsemenov.com/kb/royalslider-jquery-plugin-issues/slider-content-appears-for-a-second-before-initialization */
  display: none;
}
.royalSlider > div.rsContent.hero { display: block; }
.royalSlider .rsGCaption { 
  display:block;  /* will disappear at smaller form factors */
  /*background-color: #000; background-color: rgba(0,0,0,.6); *background-color: #000;*/
  
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.6);
  /* For IE 5.5 - 7*/
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
  /* For IE 8*/ /* http://css-plus.com/2010/04/ie-opacity-with-css/ */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)"; 
    
  height:40px;   
  width: 100%; 
  padding:0;
  bottom:0;left:0;
  z-index:10;
  font-size:0; /* "hide" the caption text that will appear when royal slider instantiates */ 
}
.royalSlider.fullWidth { width: 100%; }

/* bullets/navigation bar */
.rsMinW .rsNav.rsBullets { width:960px; max-width: 100%; left:0; right:0; bottom:0; margin-left:auto; margin-right:auto; text-align:right; padding-bottom:8px; 
  padding-right:24px; /* ie8, ie7 need padding-right:0, see conditional css */
 }
.rsMinW .rsBullet { height:23px; width:23px; padding-top:4px; }
.rsMinW .rsBullet span { height:16px; width:16px; border:2px #7e7e7e solid; background-color:#ffffff; }
.rsMinW .rsBullet.rsNavSelected span { background-color:#dc3b0f; }

/* left/right arrows...take on styling from rsDefaultInv */
.royalSlider div.rsArrow.rsArrowLeft { display:none !important; } /* override the instantiator, because you DO want arrows at mobile */
.royalSlider div.rsArrow.rsArrowRight { display:none !important; }

.rsMinW .rsArrow { /* I want rsDefaultInv arrows, so I copied out the css for arrows from rsDefaultInv and replaced ".rsDefaultInv" with ".rsMinW" in this section to base it off those arrows. */
	height: 100%;
	width: 51px; /*44px;*/  /* lines up the left arrow just under the search icon */
	position: absolute;
	display: block;
	cursor: pointer;
	z-index: 21;
}
.rsMinW.rsVer .rsArrow {
	width: 100%;
	height: 44px;
	
}
.rsMinW.rsVer .rsArrowLeft { top: 0; left: 0; }
.rsMinW.rsVer .rsArrowRight { bottom: 0;  left: 0; }

.rsMinW.rsHor .rsArrowLeft { left: 0; top: 0; }
.rsMinW.rsHor .rsArrowRight { right: 0; top:0; }

.rsMinW .rsArrowIcn {		
	width: 32px;
	height: 32px;
	top: 50%;
	left: 50%;
	margin-top:-16px;	
	margin-left: -16px;

	position: absolute;	
	cursor: pointer;	
}
.rsMinW .rsArrowIcn:hover {
	background-color: rgba(255,255,255,0.9);
}
.rsMinW .rsArrowLeft .rsArrowIcn {
  background: url('../img/slider-responsive-backarrow-icon.png') no-repeat;
}
.rsMinW .rsArrowRight .rsArrowIcn {
  background: url('../img/slider-responsive-forwardarrow-icon.png') no-repeat;
}

.rsMinW.rsHor .rsArrowLeft .rsArrowIcn { background-position: 0 0; }
.rsMinW.rsHor .rsArrowRight .rsArrowIcn { background-position: 0 0; }

.rsMinW.rsVer .rsArrowLeft .rsArrowIcn { background-position: 0 0; }
.rsMinW.rsVer .rsArrowRight .rsArrowIcn { background-position: 0 0; }

.rsMinW .rsArrowDisabled .rsArrowIcn { filter: alpha(opacity=20); opacity: .2; *display: none; }


@media screen and (max-width:790px) {

  .royalSlider .rsNav.rsBullets { display:none !important; }
  .royalSlider div.rsArrow.rsArrowLeft { display:block !important; }
  .royalSlider div.rsArrow.rsArrowRight { display:block !important; }
  
  .royalSlider .rsGCaption { display:none; }
  
}