/**
Custom Colors Style Sheet for the STRIPE project.
Feb 22 2013
**/

.Aquamarine {
	color: #7FFFD4;
}

.Aliceblue {
    color: #F0F8FF;
}         

.Antiquewhite {
    color: #FAEBD7;         
}

.Aqua {
    color: #00FFFF;
}

.Aquamarine {
    color: #7FFFD4;         
}

.Azure {
    color: #F0FFFF;         
}

.Beige {
    color: #F5F5DC;
}

.Bisque {
    color: #FFE4C4;        
}

.Blanchedalmond {
    color: #FFEBCD;
}

.Blue {
    color: #0000FF;         
}

.Blueviolet {
    color: #8A2BE2;         
}

.Brown {
    color: #A52A2A;
}

.Burlywood {
    color: #DEB887;         
}

.Cadetblue {
    color: #5F9EA0;         
}

.Chartreuse {
    color: #7FFF00;
}

.Chocolate {
    color: #D2691E;         
}

.Coral {
    color: #FF7F50;         
}

.Cornflowerblue {
    color: #6495ED;
}

.Cornsilk {
    color: #FFF8DC;        
}

.Crimson {
    color: #DC143C;         
}

.Cyan {
    color: #00FFFF;
}

.Darkblue {
    color: #00008B;        
}

.Darkcyan {
    color: #008B8B;         
}

.Darkgoldenrod {
    color: #B8860B;
}

.Darkgray {
    color: #A9A9A9;        
}

.Darkgreen {
    color: #006400;        
}

.Darkkhaki {
    color: #BDB76B;
}

.Darkmagenta {
    color: #8B008B;         
}

.Darkolivegreen {
    color: #556B2F;        
}

.Darkorange {
    color: #FF8C00;
}

.Darkorchid {
    color: #9932CC;         
}

.Darkred {
    color: #8B0000;        
}

.Darksalmon {
    color: #E9967A;
}

.Darkseagreen {
    color: #8FBC8F;         
}

.Darkslateblue {
    color: #483D8B;         
}

.Darkslategray {
    color: #2F4F4F;
}

.Darkturquoise {
    color: #00CED1;        
}

.Darkviolet {
    color: #9400D3;         
}

.Deeppink {
    color: #FF1493;
}

.Deepskyblue {
    color: #00BFFF;         
}

.Dimgray {
    color: #696969;        
}

.Dodgerblue {
    color: #1E90FF;
}

.Firebrick {
    color: #B22222;         
}

.Floralwhite {
    color: #FFFAF0;         
}

.Forestgreen {
    color: #228B22;
}

.Fuchsia {
    color: #FF00FF;        
}

.Gainsboro {
    color: #DCDCDC;         
}

.Ghostwhite {
    color: #F8F8FF;
}

.Gold {
    color: #FFD700;         
}

.Goldenrod {
    color: #DAA520;        
}

.Gray {
    color: #808080;
}

.Green {
    color: #008000;         
}

.Greenyellow {
    color: #ADFF2F;         
}

.Honeydew {
    color: #F0FFF0;
}

.Hotpink {
    color: #FF69B4;        
}

.Indianred {
    color: #CD5C5C;         
}

.Indigo {
    color: #4B0082;
}

.Ivory {
    color: #FFFFF0;         
}

.Khaki {
    color: #F0E68C;         
}

.Lavender {
    color: #E6E6FA;
}

.Lavenderblush {
    color: #FFF0F5;         
}

.Lawngreen {
    color: #7CFC00;         
}

.Lemonchiffon {
    color: #FFFACD;
}

.Lightblue {
    color: #ADD8E6;         
}

.Lightcoral {
    color: #F08080;         
}

.Lightcyan {
    color: #E0FFFF;
}

.Lightgoldenrodyellow {
    color: #FAFAD2;         
}

.Lightgreen {
    color: #90EE90;        
}

.Lightgrey {
    color: #D3D3D3;
}

.Lightpink {
    color: #FFB6C1;         
}

.Lightsalmon {
    color: #FFA07A;         
}

.Lightseagreen {
    color: #20B2AA;
}

.Lightskyblue {
    color: #87CEFA;         
}

.Lightslategray {
    color: #778899;         
}

.Lightsteelblue {
    color: #B0C4DE;
}

.Lightyellow {
    color: #FFFFE0;         
}

.Lime {
    color: #00FF00;         
}

.Limegreen {
    color: #32CD32;
}

.Linen {
    color: #FAF0E6;        
}

.Magenta {
    color: #FF00FF;        
}

.Maroon {
    color: #800000;
}

.Mediumauqamarine {
    color: #66CDAA;         
}

.Mediumblue {
    color: #0000CD;         
}

.Mediumorchid {
    color: #BA55D3;
}

.Mediumpurple {
    color: #9370D8;         
}

.Mediumseagreen {
    color: #3CB371;         
}

.Mediumslateblue {
    color: #7B68EE;
}

.Mediumspringgreen {
    color: #00FA9A;         
}

.Mediumturquoise {
    color: #48D1CC;         
}

.Mediumvioletred {
    color: #C71585;
}

.Midnightblue {
    color: #191970;         
}

.Mintcream {
    color: #F5FFFA;         
}

.Mistyrose {
    color: #FFE4E1;
}

.Moccasin {
    color: #FFE4B5;         
}

.Navajowhite {
    color: #FFDEAD;         
}

.Navy {
    color: #000080;
}

.Oldlace {
    color: #FDF5E6;         
}

.Olive {
    color: #808000;
}

.Olivedrab {
    color: #688E23;
}

.Orange {
    color: #FFA500;         
}

.Orangered {
    color: #FF4500;         
}

.Orchid {
    color: #DA70D6;
}

.Palegoldenrod {
    color: #EEE8AA;         
}

.Palegreen {
    color: #98FB98;         
}

.Paleturquoise {
    color: #AFEEEE;
}

.Palevioletred {
    color: #D87093;         
}

.Papayawhip {
    color: #FFEFD5;         
}

.Peachpuff {
    color: #FFDAB9;
}

.Peru {
    color: #CD853F;         
}

.Pink {
    color: #FFC0CB;         
}

.Plum {
    color: #DDA0DD;
}

.Powderblue {
    color: #B0E0E6;         
}

.Purple {
    color: #800080;         
}

.Red {
    color: #FF0000;
}

.Rosybrown {
    color: #BC8F8F;         
}

.Royalblue {
    color: #4169E1;         
}

.Saddlebrown {
    color: #8B4513;
}

.Salmon {
    color: #FA8072;         
}

.Sandybrown {
    color: #F4A460;         
}

.Seagreen {
    color: #2E8B57;
}

.Seashell {
    color: #FFF5EE;         
}

.Sienna {
    color: #A0522D;         
}

.Silver {
    color: #C0C0C0;
}

.Skyblue {
    color: #87CEEB;         
}

.Slateblue {
    color: #6A5ACD;         
}

.Slategray {
    color: #708090;
}

.Snow {
    color: #FFFAFA;         
}

.Springgreen {
    color: #00FF7F;         
}

.Steelblue {
    color: #4682B4;
}

.Tan {
    color: #D2B48C;         
}

.Teal {
    color: #008080;         
}

.Thistle {
    color: #D8BFD8;
}

.Tomato {
    color: #FF6347;         
}

.Turquoise {
    color: #40E0D0;         
}

.Violet {
    color: #EE82EE;
}

.Wheat {
    color: #F5DEB3;         
}

.Whitesmoke {
    color: #F5F5F5;
}

.Yellow {
    color: #FFFF00;         
}

.YellowGreen {
    color: #9ACD32;
}