/**
*  Custom Style Sheet for the Lab's project.
*  Sridhar Bojja
*  Custom CSS file for Stripe Project
**/

/*-----Bootstrap/CQ5 conflicts-----*/

label, input, button, select, textarea {
    font-size: 11px;
    font-weight: normal;
    line-height: 10px;nav
    
}
label {
    display: inline;
    margin-bottom: 0px;
}

legend {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: -moz-use-text-color -moz-use-text-color #E5E5E5;
    border-image: none;
    border-style: none none none;
    border-width: 0 0 1px;
    color: #333333;
    display: block;
    font-size: 21px;
    line-height: 40px;
    margin-bottom: 0px;
    padding: 0px;
    width: auto;
}


table,th,td {
	padding: 5px;
}

th {
	vertical-align: middle;
}

/*--------- structural --------*/

.container,
.navbar-static-top .container,
.navbar-fixed-top .container,
.navbar-fixed-bottom .container,
.navbar-stripe-top .container {
  width: 980px;
}

.navbar-static-top .container,
.navbar-fixed-top .container,
.navbar-fixed-bottom .container {
  width: 980px;
}

/*------------HTML------------*/


.span12 {
  width: 980px;
}

.span11 {
  width: 880px;
}

.span10 {
  width: 800px;
}

.span9 {
  width: 720px;
}

.span8 {
  width: 640px;
}

.span7 {
  width: 560px;
}

.span6 {
  width: 480px;
}

.span5 {
  width: 400px;
}

.span4 {
  width: 320px;
}

.span3 {
  width: 240px;
}

.span2 {
  width: 160px;
}

.span1 {
  width: 80px;
}

body{
    color: #000000; 
}

/*---------- navbar ----------*/
.navbar-inner{
  background-image: none;
  background-color: #7700B4;
}

.navbar-stripe-top .navbar-inner.navitems{
    /**height: 50px;**/
    height: auto;
}

.navbar-stripe-top .navbar-inner.navitems.editmode{
    height: 134px;
}

.navbar-inverse .nav li.dropdown{
    height: 50px;
}

/* THIS CAN BE DELETED AFTER EVERYTHING WORKS PROPERLY */
.navbar-inverse .navbar-inner {
  background-color: #7700B4;
  background-image: -moz-linear-gradient(top, #7702b1, #7700B4);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#7702b1), to(#7700B4));
  background-image: -webkit-linear-gradient(top, #7702b1, #7700B4);
  background-image: -o-linear-gradient(top, #7702b1, #7700B4);
  background-image: linear-gradient(to bottom, #7702b1, #7700B4);
  background-repeat: repeat-x;
  border-color: #252525;
  border: none;
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ff7702b1', endColorstr='#ff7700B4', GradientType=0);
}



.navbar-stripe-top {
  margin-bottom: 0;
  width: 100%;
  margin-top: 37px;
  min-width: 980px;
}

.navbar-stripe-top .container{
  width: 980px;
}

.navbar-stripe-top .navbar-inner {
  padding-right: 0;
  padding-left: 0;
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
  height: 65px;
  border-width: 0 0 1px;
}

.navbar .nav  li  a {
    text-shadow: none;
}

.navbar-inverse .brand, .navbar-inverse .nav  li  a {
    text-shadow: none;
}
.navbar-inverse .nav li.dropdown > a{
    /**margin-top: 5px;
    height: 100%;**/
    height: 100%;
    width: auto;
}

.navbar-inverse .nav li.dropdown > a p {
    color: #000000;
    position: absolute;
    bottom: 0px;
    width: 80%;
    padding-right: 10%;
    padding-left: 10%;
}

.navbar-inverse .nav  li  a:hover,
.navbar-inverse .nav li.dropdown:hover,
.navbar-inverse .nav li.dropdown.open,
.navbar-inverse .nav li.dropdown.open  .dropdown-toggle,
.navbar-inverse .nav li.dropdown.active  .dropdown-toggle,
.navbar-inverse .nav li.dropdown.open.active  .dropdown-toggle {
  color: #111111;
  background-color: #dcbfeb;
}

.navbar-inverse .nav li.dropdown.selected{
  color: #111111;
  background-color: #dcbfeb;
}

.navbar-inverse .brand, .navbar-inverse .nav  li  a {
    color: #ffffff;
    text-shadow: none;
}

.navbar-inverse .brand, .navbar-inverse .nav li a:hoover {
    color: #FFFFFF;
    text-shadow: none;
}

.dropdown-menu {
  background-color: #dcbfeb;
  zoom: 1;
  filter: alpha(opacity=50);
  opacity: 0.8;
}

/** THIS CAN BE DELETED AFTER EVERYTHING WORKS **/
 
.dropdown-menu li > a:hover,
.dropdown-menu li > a:focus,
.dropdown-submenu:hover > a {
  background-color: #7702b1;
  background-color: #7702b1;
  background-image: -moz-linear-gradient(top, #7702b1, #7700B4);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#7702b1), to(#7700B4));
  background-image: -webkit-linear-gradient(top, #7702b1, #7700B4);
  background-image: -o-linear-gradient(top, #7702b1, #7700B4);
  background-image: linear-gradient(to bottom, #7702b1, #7700B4);
  background-repeat: repeat-x;
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ff7702b1', endColorstr='#ff7700B4', GradientType=0);
}


.navbar-inverse .nav ul.dropdown-menu li a {
    color: #000000;
    height: auto;
    text-shadow: none;
    text-align: left;
    padding: 5px;
}

li.dropdown {
    line-height: 14px; 
}

.dropdown-menu {
    margin: 0px 0px 0px -1px;
    border-radius: 10px 10px 6px 6px;
}

.open > .dropdown-menu {
    border-top: 5px solid transparent;
}

.navbar .nav  li  .dropdown-menu:after {
    border-bottom: 6px solid #DCBFEB;
}



/*---------------*/

.nav{
    color: #ffffff;
    min-width: 250px;
}

.nav  li a {
  display: block;
}

.nav  li  a:hover {
  text-decoration: none;
  background-color: #eeeeee;
}

.nav  li.dropdown.open.active  a:hover {
  color: #ffffff;
  background-color: #999999;
  border-color: #999999;
}

.nav div.new{
    width: 150px;   
}

.navbar .nav  li {
    float: left;
    text-align: center;
    width: 98px;
}

.navbar .nav .navdropdownsubitem li {
    width: 100%;
    height: auto; 
}

.navbar .nav {
    margin: 0;
    /**margin: 0px 0 30px;**/
    /**position: relative;**/
    width: 100%;
}

.navbar .nav  li  a {
  float: none;
  padding: 0px 0px;
  color: #777777;
  text-decoration: none;
  /**text-shadow: 0 1px 0 #ffffff;**/
}

.navbar .nav  li  a:focus,
.navbar .nav  li  a:hover {
  color: #333333;
  text-decoration: none;
  background-color: transparent;
}

.navbar .nav  li  .dropdown-menu:before {
  position: absolute;
  top: -6px;
  left: 9px;
  display: inline-block;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #ccc;
  border-left: 6px solid transparent;
  border-bottom-color: rgba(0, 0, 0, 0.2);
  content: '';
}

.navbar .nav  li  .dropdown-menu:after {
  position: absolute;
  top: -5px;
  left: 10px;
  display: inline-block;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #ffffff;
  border-left: 5px solid transparent;
  content: '';
}


.navbar-fixed-bottom .nav  li  .dropdown-menu:before {
  top: auto;
  bottom: -7px;
  border-top: 7px solid #ccc;
  border-bottom: 0;
  border-top-color: rgba(0, 0, 0, 0.2);
}

.navbar-fixed-bottom .nav  li .dropdown-menu:after {
  top: auto;
  bottom: -6px;
  border-top: 6px solid #ffffff;
  border-bottom: 0;
}

.navbar .pull-right  li  .dropdown-menu,
.navbar .nav  li  .dropdown-menu.pull-right {
  right: 0;
  left: auto;
}


.navbar-inverse .brand,
.navbar-inverse .nav  li  a {
  color: #ffffff;
  /**text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);**/
}

.navbar-inverse .brand:hover,
.navbar-inverse .nav  li  a:hover {
  color: #ffffff;
}

.navbar-inverse .nav  li  a:focus,
.navbar-inverse .nav  li  a:hover {
  color: #ffffff;
  background-color: transparent;
}

.nav div.section{
    float: left;    
    vertical-align: bottom;
}

.nav .dropdown-menu div.section{
    clear:both;
    width: 100%;    
}


/*-------------- header -------------------*/

.header-colorbar{
    color: #FFF;
    background-color: #ecc90e;
    width: auto;
    height: 50px;
    margin-right: auto;
    margin-left: auto;
    background-image: -moz-linear-gradient(top, #ecc900, #ecc90e);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ecc900), to(#ecc90e));
    background-image: -webkit-linear-gradient(top, #ecc900, #ecc90e);
    background-image: -o-linear-gradient(top, #ecc900, #ecc90e);
    background-image: linear-gradient(to bottom, #ecc900, #ecc90e);
    background-repeat: repeat-x;
    filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffecc900', endColorstr='#ffecc90e', GradientType=0);
}

.header-colorbar.editmode{
    height: 105px;
}
        
.header-greybar{
    color: #000;
    background-color: #bfc0c2;
    height: 40px;
    width: auto;
    margin-right: auto;
    margin-left: auto;
    background-image: -moz-linear-gradient(top, #c2c3c5, #bfc0c2);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#c2c3c5), to(#bfc0c2));
    background-image: -webkit-linear-gradient(top, #c2c3c5, #bfc0c2);
    background-image: -o-linear-gradient(top, #c2c3c5, #bfc0c2);
    background-image: linear-gradient(to bottom, #c2c3c5, #bfc0c2);
    background-repeat: repeat-x;
    filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffc2c3c5', endColorstr='#ffbfc0c2', GradientType=0);
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
    border-bottom: 2px solid grey;
    border-top: 2px solid white;
}      

.header-greybar-inner{
    margin-left: auto;
    margin-right: auto;
    width: 980px;
}

.headertitle{
    text-align: right;
}

.headertitle a{
    float: right;
}

/*-------------- footer -------------------*/

.footer{
      min-height: 40px;
      margin-top: 0px;
      background-color: #636267;
      background-repeat: repeat-x;
      padding-top: 5px;
      /*border-top: 1px solid #bfc0c2;*/
     /** border: 1px solid #d4d4d4;
      -webkit-border-radius: 4px;
         -moz-border-radius: 4px;
              border-radius: 4px;
      filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffffffff', endColorstr='#fff2f2f2', GradientType=0);
      *zoom: 1;
      -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
         -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
              box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
              
      width: 940px;
      margin-left: auto;
      margin-right: auto;**/
}

.footer-container{
    border-top: 2px solid #bfc0c2;
    margin-top: 15px;
   /* position: absolute;
    bottom: 0;
    width: 100%;    */
    min-width: 980px;
}

/*
.footer-colorbar{
    background-color: #7700b4;
    width: 100%; 
    min-width: 980px;
}
*/

/*-------------- footer start -------------------*/

.footer-colorbar{
    color: #FFF;
    background-color: #ecc90e;
    width: auto;
    height: 20px;
    margin-right: auto;
    margin-left: auto;
    background-image: -moz-linear-gradient(top, #ecc900, #ecc90e);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ecc900), to(#ecc90e));
    background-image: -webkit-linear-gradient(top, #ecc900, #ecc90e);
    background-image: -o-linear-gradient(top, #ecc900, #ecc90e);
    background-image: linear-gradient(to bottom, #ecc900, #ecc90e);
    background-repeat: repeat-x;
    filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffecc900', endColorstr='#ffecc90e', GradientType=0);
}

.footer-colorbar.editmode{
    height: 105px;
}
.footer-page-title {
    font-size: 12pt;
}

.footer-location {
    font-size: 10pt;
}

.footer-copyright {
    font-size: 8pt;
}

.footer .footer-icons{
    padding-top: 10px;
    float: right;
}

.footer .footer-icons ul{
   float:left;
   padding-top:3px
}

.footer .footer-logo {
   display:none; /* turned "on" via print-friendly.css */
}

/*-------------- footer end -------------------*/



/*------------------ text -------------------*/

p{
    color: #000000;
}

/* --------- utility nav ------------------ */

#fh_utility_nav { position:absolute; z-index:100; top:0px; left:0px; z-index:10;
   background-color:#bfc0c2;
   background-image: -moz-linear-gradient(top, #c2c3c5, #bfc0c2);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#c2c3c5), to(#bfc0c2));
    background-image: -webkit-linear-gradient(top, #c2c3c5, #bfc0c2);
    background-image: -o-linear-gradient(top, #c2c3c5, #bfc0c2);
    background-image: linear-gradient(to bottom, #c2c3c5, #bfc0c2);
    background-repeat: repeat-x;
    filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffc2c3c5', endColorstr='#ffbfc0c2', GradientType=0);
   top:0; left:0; width:100%; min-width: 980px; height: 37px; }
#utility_nav { margin-left:auto; margin-right:auto; width:980px;}
.utility_nav { font-family:'franklin-gothic-urw-n4','franklin-gothic-urw','Franklin Gothic',Arial,Helvetica,Sans-serif; font-size:14px;font-weight:400;  }
.utility_nav ul { margin:0; padding:10px 0 0 0;} /* here is the overall indent for the utility nav line of items */
.utility_nav ul li { display:block; float:left;  }
.utility_nav li:first-child { padding-left:0; }
.utility_nav ul li { padding:0 8px; background-image:url(../img/fhcrc_public/backgrounds/pipe-olive.gif);background-position:left center;background-repeat:no-repeat; }
.utility_nav ul li:first-child { background-image:none; }
.utility_nav a { color:black; text-decoration:none; }
.utility_nav a:hover { text-decoration:underline; color:#666666; } /* roll-over color/treatment */

.utility_nav .utility_search { float:right; margin:4px 0 0 0;padding:0 0 0 10px; white-space:nowrap; border:1px #999999 solid; height:26px; background-color:#ffffff; }
.utility_nav .utility_search .search_term {  width:240px; height:25px; line-height:24px;border:none;border-color:transparent; margin:0; padding:0; font-family:Arial,Helvetica,sans-serif; font-size:15px;font-weight:normal;}
.utility_nav .utility_search .search_button { margin:3px 5px 4px 5px; vertical-align:bottom; }

textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
    box-shadow: none;
}

textarea, input[type="text"]:focus, input[type="password"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"], input[type="number"], input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus, .uneditable-input:focus {
    box-shadow: none;
}


/*-------------- social icon set ------------*/

ul.socialicons                      { list-style-type: none;  margin-right: 15px; }
ul.socialicons li                   { list-style-type: none; display: inline; float: left; padding: 0 5px 0 0; }
ul.color li a                       { background: url('../img/supermassivecsspriteicons2.png') no-repeat 0 0; }
ul.socialicons li a                 { text-indent: -9999px; width: 32px; height: 33px; display: block; overflow: hidden; margin: 2px; }
                                                                      
ul.socialicons li a.stumbleupon             { background-position: 0 0; }
ul.socialicons li a.stumbleupon:hover   { background-position: -38px 0; }
ul.socialicons li a.digg                    { background-position: 0 -36px; }
ul.socialicons li a.digg:hover          { background-position: -38px -36px; }
ul.socialicons li a.facebook                { background-position: 0 -73px; }
ul.socialicons li a.facebook:hover      { background-position: -38px -73px; }
ul.socialicons li a.twitter                 { background-position: 0 -109px; }
ul.socialicons li a.twitter:hover       { background-position: -38px -109px; }
ul.socialicons li a.delicious               { background-position: 0 -146px; }
ul.socialicons li a.delicious:hover     { background-position: -38px -146px; }
ul.socialicons li a.flickr                  { background-position: 0 -183px; }
ul.socialicons li a.flickr:hover        { background-position: -38px -183px; }
ul.socialicons li a.youtube                 { background-position: 0 -219px; }
ul.socialicons li a.youtube:hover       { background-position: -38px -219px; }
ul.socialicons li a.skype                   { background-position: 0 -256px; }
ul.socialicons li a.skype:hover         { background-position: -38px -256px; }
ul.socialicons li a.linkedin                { background-position: 0 -292px; }
ul.socialicons li a.linkedin:hover      { background-position: -38px -292px; }
ul.socialicons li a.vimeo                   { background-position: 0 -329px; }
ul.socialicons li a.vimeo:hover         { background-position: -38px -329px; }
ul.socialicons li a.blogger                 { background-position: 0 -365px; }
ul.socialicons li a.blogger:hover       { background-position: -38px -365px; }
ul.socialicons li a.tumblr                  { background-position: 0 -402px; }
ul.socialicons li a.tumblr:hover        { background-position: -38px -402px; }
ul.socialicons li a.picasa                  { background-position: 0 -438px; }
ul.socialicons li a.picasa:hover        { background-position: -38px -438px; }
ul.socialicons li a.wordpress               { background-position: 0 -475px; }
ul.socialicons li a.wordpress:hover     { background-position: -38px -475px; }
ul.socialicons li a.rss                     { background-position: 0 -511px; }
ul.socialicons li a.rss:hover           { background-position: -38px -511px; }
ul.socialicons li a.mobileme                { background-position: 0 -548px; }
ul.socialicons li mobileme:hover        { background-position: -38px -548px; }
ul.socialicons li a.apple                   { background-position: 0 -585px; }
ul.socialicons li a.apple:hover         { background-position: -38px -585px; }
ul.socialicons li a.gpluslight              { background-position: 0 -621px; }
ul.socialicons li a.gpluslight:hover    { background-position: -38px -621px; }
ul.socialicons li a.gplusdark               { background-position: 0 -694px; }
ul.socialicons li a.gplusdark:hover     { background-position: -38px -694px; }
ul.socialicons li a.twitterb                { background-position: 0 -658px; }
ul.socialicons li a.twitterb:hover      { background-position: -38px -658px; }
ul.socialicons li a.instagram               { background-position: 0 -731px; }
ul.socialicons li a.instagram:hover     { background-position: -38px -731px; }
ul.socialicons li a.myspace                 { background-position: 0 -767px; }
ul.socialicons li a.myspace:hover       { background-position: -38px -767px; }
ul.socialicons li a.dribble                 { background-position: 0 -803px; }
ul.socialicons li a.dribble:hover       { background-position: -38px -803px; }
ul.socialicons li a.blip                    { background-position: 0 -838px; }
ul.socialicons li a.blip:hover          { background-position: -38px -838px; }
ul.socialicons li a.spotify                 { background-position: 0 -874px; }
ul.socialicons li a.spotify:hover       { background-position: -38px -874px; }
ul.socialicons li a.grooveshark             { background-position: 0 -910px; }
ul.socialicons li a.grooveshark:hover   { background-position: -38px -910px; }
ul.socialicons li a.ichat                   { background-position: 0 -946px; }
ul.socialicons li a.ichat:hover         { background-position: -38px -946px; }
ul.socialicons li a.github                  { background-position: 0 -981px; }
ul.socialicons li a.github:hover        { background-position: -38px -981px; }
ul.socialicons li a.soundcloud              { background-position: 0 -1017px; }
ul.socialicons li a.soundcloud:hover    { background-position: -38px -1017px; }
ul.socialicons li a.pinterest               { background-position: 0 -1053px; }
ul.socialicons li a.pinterest:hover     { background-position: -38px -1053px; }
ul.socialicons li a.smugmug                 { background-position: 0 -1088px; }
ul.socialicons li a.smugmug:hover       { background-position: -38px -1088px; }
ul.socialicons li a.virb                    { background-position: 0 -1124px; }
ul.socialicons li a.virb:hover          { background-position: -38px -1124px; }
ul.socialicons li a.technorait              { background-position: 0 -1160px; }
ul.socialicons li a.technorait:hover    { background-position: -38px -1160px; }
ul.socialicons li a.slashdot                { background-position: 0 -1195px; }
ul.socialicons li a.slashdot:hover      { background-position: -38px -1195px; }
ul.socialicons li a.sharethis               { background-position: 0 -1231px; }
ul.socialicons li a.sharethis:hover     { background-position: -38px -1231px; }
ul.socialicons li a.posterous               { background-position: 0 -1267px; }
ul.socialicons li a.posterous:hover     { background-position: -38px -1267px; }
ul.socialicons li a.googleb                 { background-position: 0 -1302px; }
ul.socialicons li a.googleb:hover       { background-position: -38px -1302px; }
ul.socialicons li a.reddit                  { background-position: 0 -1338px; }
ul.socialicons li a.reddit:hover        { background-position: -38px -1338px; }
ul.socialicons li a.friendfollow            { background-position: 0 -1374px; }
ul.socialicons li a.friendfollow:hover  { background-position: -38px -1374px; }
ul.socialicons li a.designfloat             { background-position: 0 -1409px; }
ul.socialicons li a.designfloat:hover   { background-position: -38px -1409px; }
ul.socialicons li a.amazon                  { background-position: 0 -1445px; }
ul.socialicons li a.amazon:hover        { background-position: -38px -1445px; }
ul.socialicons li a.netvibes                { background-position: 0 -1481px; }
ul.socialicons li a.netvibes:hover      { background-position: -38px -1481px; }
ul.socialicons li a.bing                    { background-position: 0 -1516px; }
ul.socialicons li a.bing:hover          { background-position: -38px -1516px; }
ul.socialicons li a.yahoo                   { background-position: 0 -1552px; }
ul.socialicons li a.yahoo:hover         { background-position: -38px -1552px; }
ul.socialicons li a.aim                     { background-position: 0 -1588px; }
ul.socialicons li a.aim:hover           { background-position: -38px -1588px; }
ul.socialicons li a.email                   { background-position: 0 -1623px; }
ul.socialicons li a.email:hover         { background-position: -38px -1623px; }
ul.socialicons li a.ebay                    { background-position: 0 -1659px; }
ul.socialicons li a.ebay:hover          { background-position: -38px -1659px; }
ul.socialicons li a.paypal                  { background-position: 0 -1695px; }
ul.socialicons li a.paypal:hover        { background-position: -38px -1695px; }
ul.socialicons li a.feedburner              { background-position: 0 -1730px; }
ul.socialicons li a.feedburner:hover    { background-position: -38px -1730px; }
ul.socialicons li a.podcast                 { background-position: 0 -1766px; }
ul.socialicons li a.podcast:hover       { background-position: -38px -1766px; }
ul.socialicons li a.appstoreios             { background-position: 0 -1802px; }
ul.socialicons li a.appstoreios:hover   { background-position: -38px -1802px; }
ul.socialicons li a.itunes                  { background-position: 0 -1837px; }
ul.socialicons li a.itunes:hover        { background-position: -38px -1837px; }
ul.socialicons li a.appstoremac             { background-position: 0 -1873px; }
ul.socialicons li a.appstoremac:hover   { background-position: -38px -1873px; }
ul.socialicons li a.yelp                    { background-position: 0 -1909px; }
ul.socialicons li a.yelp:hover          { background-position: -38px -1909px; }
ul.socialicons li a.wthree                  { background-position: 0 -1944px; }
ul.socialicons li a.wthree:hover        { background-position: -38px -1944px; }
ul.socialicons li a.etsy                    { background-position: 0 -1980px; }
ul.socialicons li a.etsy:hover          { background-position: -38px -1980px; }
ul.socialicons li a.stackoverflow           { background-position: 0 -2016px; }
ul.socialicons li a.stackoverflow:hover { background-position: -38px -2016px; }
ul.socialicons li a.foursquare              { background-position: 0 -2051px; }
ul.socialicons li a.foursquare:hover    { background-position: -38px -2051px; }
ul.socialicons li a.quora                   { background-position: 0 -2087px; }
ul.socialicons li a.quora:hover         { background-position: -38px -2087px; }
ul.socialicons li a.photobucket             { background-position: 0 -2123px; }
ul.socialicons li a.photobucket:hover   { background-position: -38px -2123px; }


/*------------- buttons ------------------*/

.btn-login {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #7702b1;
  *background-color: #7702b1;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#6300b4), to(#7702b1));
  background-image: -webkit-linear-gradient(top, #6300b4, #7702b1);
  background-image: -o-linear-gradient(top, #6300b4, #7702b1);
  background-image: linear-gradient(to bottom, #6300b4, #7702b1);
  background-image: -moz-linear-gradient(top, #6300b4, #7702b1);
  background-repeat: repeat-x;
  border-color: #7702b1 #7702b1 #002a80;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ff6300b4', endColorstr='#ff7702b1', GradientType=0);
  filter: progid:dximagetransform.microsoft.gradient(enabled=false);
}

.btn-login:hover,
.btn-login:active,
.btn-login.active,
.btn-login.disabled,
.btn-login[disabled] {
  color: #ffffff;
  background-color: #7702b1;
}

/*--------------- parsys  --------------------*/

div.par, div.rightpar {
    clear: both;
}
div.parsys_column {
    /*height: 100%;*/
    width: 100%;
    float: left;
    border: 0;
    vertical-align:top;
    padding: 0;
    margin: 0px;
}

div.section {
    /* Property added to avoid IE hasLayout issue on paragraphs
       see #20817 - IE6: div around Drag Components image not big enough
    */
    zoom: 1;
}

div.parsys_column .section {
    /* uncomment the below code if there are any floating issues*/
    /*overflow:hidden;*/
    width: 100%;
}

/*------------- column control layouts ----------------------*/
div.cq-colctrl-cols {width: 100%; float: left; }

div.cq-colctrl-default { width: 100%;}

/* layout 0 : 50% 50% ( grid6 + grid6 ) */
div.cq-colctrl-lt0 { }
div.cq-colctrl-lt0-c0 { width: 340px; margin-right:10px}
div.cq-colctrl-lt0-c1 { width: 340px; margin-left: 10px}

/* layout 1 : 33% 33% 33%( grid4 + grid4 + grid4 ) */
div.cq-colctrl-lt1 { }
div.cq-colctrl-lt1-c0 { width: 300px; margin-right: 10px;}
div.cq-colctrl-lt1-c1 { width: 300px; margin-left: 10px; margin-right: 10px;}
div.cq-colctrl-lt1-c2 { width: 300px; margin-left: 10px; }

/* layout 3: 4 x 25% ( grid3 + grid3 + grid3 + grid3 ) */
div.cq-colctrl-lt3 { }
div.cq-colctrl-lt3-c0 { width: 160px; margin-right: 10px;}
div.cq-colctrl-lt3-c1 { width: 160px; margin-left: 10px; margin-right: 10px;}
div.cq-colctrl-lt3-c2 { width: 160px; margin-left: 10px; margin-right: 10px;}
div.cq-colctrl-lt3-c3 { width: 160px; margin-left: 10px; }

/* layout 4: 5 x 20% ( grid2.5 + grid2.5 + grid2.5 + grid2.5 + grid2.5 ) */
div.cq-colctrl-lt4 { }
div.cq-colctrl-lt4-c0 { width: 124px; margin-right: 10px;}
div.cq-colctrl-lt4-c1 { width: 124px; margin-left: 10px; margin-right: 10px;}
div.cq-colctrl-lt4-c2 { width: 124px; margin-left: 10px; margin-right: 10px;}
div.cq-colctrl-lt4-c3 { width: 124px; margin-left: 10px; margin-right: 10px;}
div.cq-colctrl-lt4-c4 { width: 124px; margin-left: 10px; }


/* custom column layouts for STRIPE */

/* layout 2: 25% 25% 25% 25% ( grid3 + grid3 + grid3 + grid3 ) */
div.cq-colctrl-lt2 { }
div.cq-colctrl-lt2-c0 { width: 230px; margin-right: 10px;}
div.cq-colctrl-lt2-c1 { width: 230px; margin-left: 10px; margin-right: 10px}
div.cq-colctrl-lt2-c2 { width: 230px; margin-left: 10px; margin-right: 10px}
div.cq-colctrl-lt2-c3 { width: 230px; margin-left: 10px }

/* layout 2 V2: 25% 25% 25% 25% ( grid3 + grid3 + grid3 + grid3 ) */
div.cq-colctrl-lt2-v2 { }
div.cq-colctrl-lt2-v2-c0 { width: 230px; margin-right: 10px;}
div.cq-colctrl-lt2-v2-c1 { width: 230px; margin-left: 10px; margin-right: 10px}
div.cq-colctrl-lt2-v2-c2 { width: 230px; margin-left: 10px; margin-right: 10px}
div.cq-colctrl-lt2-v2-c3 { width: 230px; margin-left: 10px }

/* layout 0-v2 : 50% 50% ( grid6 + grid6 ) total width 980px*/
div.cq-colctrl-lt0-v2 { }
div.cq-colctrl-lt0-v2-c0 { width: 480px; margin-right:10px}
div.cq-colctrl-lt0-v2-c1 { width: 480px; margin-left: 10px; text-align: right;}

/* layout 0-v2 : 50% 50% ( grid6 + grid6 ) total width 980px*/
div.cq-colctrl-lt0-v3 { }
div.cq-colctrl-lt0-v3-c0 { width: 47.5%; margin-right:2.25%; margin-left:0.5%}
div.cq-colctrl-lt0-v3-c1 { width: 47.5%; margin-left: 2.25%}

/* widepage layouts */

/* layout 5 : 50% 50% ( grid8 + grid8 ) */
div.cq-colctrl-lt5 { }
div.cq-colctrl-lt5-c0 { width: 480px; margin-right:10px}
div.cq-colctrl-lt5-c1 { width: 480px; margin-left: 10px}

/* layout 6 : 25% 25% ( grid4 + grid4 + grid4 + grid4) */
div.cq-colctrl-lt6 { }
div.cq-colctrl-lt6-c0 { width: 220px; margin-right:10px}
div.cq-colctrl-lt6-c1 { width: 220px; margin-left: 10px; margin-right:10px}
div.cq-colctrl-lt6-c2 { width: 220px; margin-left: 10px; margin-right:10px}
div.cq-colctrl-lt6-c3 { width: 220px; margin-left: 10px}

.parsys_column li{
    color: #000000; 
}

/* 2 column for dynamic design */
div.cq-colctrl-lt8 { }
div.cq-colctrl-lt8-c0 { width: 320px; margin-right: 10px;}
div.cq-colctrl-lt8-c1 { width: 320px; margin-right: 10px; }
div.cq-colctrl-lt8-c2 { width: 320px; }


/* 3 column for vertical design*/
div.cq-colctrl-lt9 { }
div.cq-colctrl-lt9-c0 { width: 98.25%; margin-right:1.25%; margin-left:0.5%;}


/* Horizontal 4 column */ 

div.horiz-4-col { }
div.horiz-4-col-c0 { width: 230px; margin-right: 10px;}
div.horiz-4-col-c1 { width: 230px; margin-left: 10px; margin-right: 10px}
div.horiz-4-col-c2 { width: 230px; margin-left: 10px; margin-right: 10px}
div.horiz-4-col-c3 { width: 230px; margin-left: 10px;}

/* Horizontal 3 column */ 

div.horiz-3-col { }
div.horiz-3-col-c0 { width: 320px; margin-right: 10px;}
div.horiz-3-col-c1 { width: 320px; margin-right: 10px; }
div.horiz-3-col-c2 { width: 320px; }


/* Horizontal 2 column */

div.horiz-2-col { }
div.horiz-2-col-c0 { width: 480px; margin-right:10px;}
div.horiz-2-col-c1 { width: 480px; margin-left: 10px;}


/* Horizontal 2 column right column right align */

div.horiz-2-col-right-col-right-align { }
div.horiz-2-col-right-col-right-align-c0 { width: 480px; margin-right:10px;}
div.horiz-2-col-right-col-right-align-c1 { width: 480px; margin-left: 10px; text-align: right;}

/* Horizontal 2 column right column two third one third */

div.horiz-2-col-two-third-one-third { }
div.horiz-2-col-two-third-one-third-c0 { width: 640px; margin-right:20px;}
div.horiz-2-col-two-third-one-third-c1 { width: 320px;}

/* horiz-2-col-three-fourth-one-fourth */

div.horiz-2-col-three-fourth-one-fourth { }
div.horiz-2-col-three-fourth-one-fourth-c0 { width: 720px; margin-right:20px;}
div.horiz-2-col-three-fourth-one-fourth-c1 { width: 240px;}
 

/*---------------- breadcrumb component ---------------------*/

.breadcrumb {
  padding: 8px 15px;
  margin: 0 0 20px;
  list-style: none;
  color: #ccc;
  background-color: #636267;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}

.breadcrumb li {
  display: inline-block;
  *display: inline;
  text-shadow: 0 1px 0 #ffffff;
  *zoom: 1;
}

.breadcrumb .divider {
  padding: 0 5px;
  color: #ccc;
}

.breadcrumb .active {
  color: #999999;
}

.breadcrumb a {
    text-decoration: none;
    color: #ffffff;
}

.breadcrumb a:hover {
    text-decoration: underline;
}

div.flash {
    margin-bottom:20px;
}

/*------------------- page description -------------------------*/


.transparent_description {
    background-color: #333;
    height: 80px;
    margin-bottom: -120px;
    padding: 20px;
    position: relative;
    top: -85px;
    width: 480px;
    zoom: 1;
    filter: alpha(opacity=50);
    opacity: 0.75;
}
/*
.bottom_description{
      
    height: 35px;
    background-color: #636267; 
    padding: 10px;
}
*/

.transparent_description p{
    color:#fff;
    font-size: 15px;
}

/* ----------carousel ----------*/

.carousel-icons {
    position: absolute;
    right: 20px;
    text-align: center;
    top: 325px;
    left: auto;
    opacity: 0.75;
    background-color: white;
}
.carousel-icons img {
    height:16px;
    width:16px;
}

.carousel {
    margin-bottom: 0px;
}

.carouseltitle {
    height: 80px;
    margin-bottom: -120px;
    padding: 20px;
    position: relative;
    top: -20px;
    width: 925px;
    z-index: 1000;
}

.carousel.carousel-fade .item {
  -webkit-transition: opacity 2s ease-in-out;
  -moz-transition: opacity 2s ease-in-out;
  -ms-transition: opacity 2s ease-in-out;
  -o-transition: opacity 2s ease-in-out;
  transition: opacity 2s ease-in-out;
}
.carousel.carousel-fade .active.left,
.carousel.carousel-fade .active.right {
  left: 0;
  z-index: 2;
  opacity: 0;
  filter: alpha(opacity=0);
}
.carousel.carousel-fade .next,
.carousel.carousel-fade .prev {
  left: 0;
  z-index: 1;
}

.carousel.carousel-fade .carousel-control,
.carousel.carousel-fade .carousel-icons,
#thumbs-pointer{
  z-index: 3;
}
.carousel .item{
    border-top: 3px solid #bfc0c2;
    border-bottom: 3px solid #636267;
}
/* --------- herobanner -----------------*/

.herobanner-inner{
    border-top: 3px solid #bfc0c2;
    border-bottom: 3px solid #636267; 
}

/* ---------- subheader-------*/
.subheader{
    margin: 0px 0 25px 0;
    /*border-top: 3px solid #bfc0c2;
    border-bottom: 3px solid #636267; */
    float:center;
    width: 100%;
}

/*-------title & divisiontitle components------------*/
h2 {
    margin: 0;
    font-size: 24px;
}

.headertitle p{
    font-size: 30px;
    text-decoration: none;
    padding-top: 15px; 
    text-align: right   
}

.headertitle p a{
    color: #ffffff;
    text-decoration: none;    
}

.divisiontitle p{
    font-size: 24px;
    padding-top: 10px;
}

/*------ dynamic component ---------*/


.slider-thumbs {
    /*background: url("../img/slider-thumb-BG.gif") repeat scroll 0 0 transparent;*/
    background-color: #e5e5e5;
    border-top: 1px solid #999999;
    text-align: center;
}

.slider-thumbs .inside {
    position: relative;
}

.slider-thumbs #thumbs-pointer {
    background: url("../img/slideshow-pointer.png") no-repeat scroll center center transparent;  
    display: block;
    height: 17px;
    left: 0;
    position: absolute;
    top: -17px;
    width: 36px;
}


.slider-thumbs .thumbs-container {
    /*height: 160px;*/
    height: auto;
    overflow: hidden;
    position: relative;
}

.slider-thumbs .thumbs-container ul {
    margin: 16px 0 0 -14px;
    position: relative;
}

.slider-thumbs li {
    float: left;
    font: 14px/20px "Proxima-Nova-n3","Proxima-Nova-1","Proxima-Nova-2",sans-serif;
    vertical-align: top;
    margin-top: 0px;
    margin-right: 10px;
    margin-bottom: 0px;
    list-style: none;
}

.slider-thumbs li.thumbs6 {
    margin-left: 16px;
    margin-right: -15px;  
}

.slider-thumbs li.thumbs5 {
    margin-left: 26px;
}

.slider-thumbs li.thumbs4 {
   margin-left: 65px;
}

.slider-thumbs li.thumbs3 {
    margin-left: 123px;
}

.slider-thumbs li.thumbs2 {
    margin-left: 222px;
}

.slider-thumbs li.thumbs1 {
    margin-left: 404px;
}

.slider-thumbs li a {
    color: #000000;   
}

.slider-thumbs li a p{
    width: 148px;
}

slider-thumbs li:hover,
.slider-thumbs li a:hover {
    text-decoration: none;  
}

.slider-thumbs li a .thumb-image {
    width: 136px;
    height: 100px;
    overflow: hidden;
    position: relative;
    border: 4px solid #FFFFFF;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
    left: 12.5px;
}


.slider-thumbs li.current a .thumb-image{
    border: 4px solid #004dc2;
}

.slider-thumbs li a .thumb-image:hover,
.slider-thumbs li a .thumb-image:focus,
.slider-thumbs li a .thumb-image:active {
    border: 4px solid #004dc2;
}

.slider-thumbs li a .thumb-image img {
    position: absolute;
    left: 0px;
    width:271px;
    max-width: 271px;
    height: 100px;
    display: block;
    margin: 0 auto 10px;
}

.slider-thumbs li a .thumb-image img.squareImg {
    width:136px;
    height: 100px;
}

.slider-thumbs li a p.thumb-label {
    margin-top: 5px;
    margin-left: 12.5px;
}

.dynamic-content{
    margin-top: 20px;
}

.dynamic-content div.disabled{
    display:none;
}

.dynamic_description {
    background-color: #333;
    height: 80px;
    margin-bottom: -120px;
    padding: 20px;
    position: relative;
    top: -65px;
    width: 960px;
    zoom: 1;
    filter: alpha(opacity=75);
    opacity: 0.75;
}

.dynamic_description p{
    color:#fff;
    font-size: 15px;
}


/*------ logo ---------------*/

.fhcrclogo{
    margin-top: 15px;  
}

.fhcrclogo img{
    height: 40px;
    width: 250px;   
}

/* ---------- dynamic component -------*/
.slides{
    border-top: 4px solid #706f73 ;
    border-bottom: 4px solid #706f73 ; 
}
.slides .item{
    border-top: none;
    border-bottom: none;
}

/** Horizontal Welcome... **/ 
.horizontalnavheading1 p,
.vertvnavheading1 p,
.headerComponent h1,
.body_content .text h1 {
    font-size: 21px;
    padding-bottom: 3px;
    line-height: 25px;
    margin: 10px 0;
    font-weight: normal; 
}

/** Horizontal Nav Heading 1 -- H2  **/ 
.horizontalnavheading1 h2,
.vertvnavheading1 h2,
.headerComponent h2,
.body_content .text h2 {
    font-size: 21px;
    padding-bottom: 3px;
    font-weight: normal;
    line-height: 25px;
    margin: 10px 0;
}

.horizontalnavheading2 h3,
.headerComponent h3,
.body_content .text h3 {
    font-size: 18px;
    padding-bottom: 3px;
    font-weight: normal;
    line-height: 25px;
}

.vertvnavheading2 h3,
.globalSidePage .headerComponent h3,
.homeSidePage .headerComponent h3 {
    font-size: 18px;
    padding-bottom: 3px;
    padding-left: 0px !important;
    font-weight: normal;
    line-height: 25px;
}

.vertvnavheading3 h4,
.globalSidePage .headerComponent h4,
.homeSidePage .headerComponent h4 {
    font-size: 16px;
    padding-bottom: 3px;
    padding-left: 0px !important;
    font-weight: normal;
    line-height: 25px;
}

.horizontalnavheading3 h4,
.headerComponent h4,
.body_content .text h4 {
    font-size: 16px; 
    padding-bottom: 3px;
    font-weight: normal;
    line-height: 25px;
}

/** NOT BEING USED **/
.sectiontitle h3{
    font-size: 18px;
    padding-bottom: 3px;
    padding-left: 0px !important;
    font-weight: normal;
    line-height: 25px;
}

/** NOT BEING USED **/
.mainsectiontitle h3{
    font-size: 18px;
    padding-bottom: 3px;
    font-weight: normal;
    line-height: 25px;
}

/*----------- member -------------*/

.member{
    height: auto;
    width: auto;
    margin-right: 7px;
    margin-bottom: 15px;
}

.member .name{
    font-size: 16px;    
}

.member img{
    margin: 1px 0px 10px 0px;
    /*border: 2px solid #FFFFFF;*/
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}

/*----------- image -------------*/

.image .shadowed,
.fh_textimage .shadowed {
	
	box-shadow: 0 0 5px #888;
	
}

.image .inner_shadowed,
.fh_textimage .inner_shadowed {
	
	box-shadow: inset 0px 0px 10px rgba(0,0,0,0.9);
	
}

.image .inner_shadowed img,
.fh_textimage .inner_shadowed img {
	
	position: relative;
	z-index: -2;
	
}

.image strong.custom_image_title {
	
	display: block;
	margin-bottom: 1em;
	
}


/*----- generic box---------*/
.box{
    border: 4px solid #706f73;
    background-color:#eee;
    background-image: -moz-linear-gradient(top, #c0c0c0, #eeeeee);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#c0c0c0), to(#eeeeee));
    background-image: -webkit-linear-gradient(top, #c0c0c0, #eeeeee);
    background-image: -o-linear-gradient(top, #c0c0c0, #eeeeee);
    background-image: linear-gradient(to bottom, #c0c0c0, #eeeeee);
    background-repeat: repeat-x;
    filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffc0c0c0', endColorstr='#ffeeeeee', GradientType=0);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.box img{
        border-bottom: 1px solid #706f73;       
}


.modal-body {
    max-height: auto !important;
   
}

.modal {
    /** overflow-y: auto !important; */
   /**max-height: 400px !important;*/
   
}

.modal.fade.in {
    
}


.modal-header {
    padding: 5px 15px 25px 0px; 
}

.modal-footer {
	 padding: 5px 15px 10px 0px;
	}
.modal.fade {
  /*top: 50% !important;*/
  transition: 1.4s ease-out !important;  
  box-shadow: 0px 0px 30px rgba(0,0,0,0.2);  
  
  /*transform:  scale(0.7);*/
}

.container .body_content .parsys_column img{
    /*float: right;*/
}

.container .body_content .cq-dd-image{
    /*box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 0 5px #888;
    -webkit-box-shadow: 0 0 5px#888;
    box-shadow: 0 0 5px #888;
    display:block;
    margin-top:5px;
    margin-bottom:5px;*/
}

.video {

    line-height: 10px !important;
    margin: 20px 0;

}

.video .shadowed {
	
	-moz-box-shadow: 0 0 5px #888;
    -webkit-box-shadow: 0 0 5px#888;
    box-shadow: 0 0 5px #888;
	
}

/** This is the only H1 on the page **/
.labtitle h1{
    font-size: 30px;
    text-decoration: none;
    /*padding-top: 15px;*/ 
    line-height: 30px;
    text-align: right;
    font-weight: normal;   
}

/*
.labtitle a{
    /color: #ffffff;
    text-decoration: none;    
}
*/


/** Home Icon **/

.home {
    float: left; 
    background-color: #bfc0c2; 
    margin-left: -10px; 
    margin-bottom: 0px; 
    position: absolute; 
    z-index: 15; 
    box-shadow: 0 0 5px #888;
}

.home img{
	padding-left:12px; 
	padding-top:10px;
}

.container .body_content .cq-dd-image-link:hover{
    cursor: pointer;
}

/** New Finder **/

/* --------- search box styling for general purpose use ------- */
.search_box form { margin:0; margin-bottom:12px; padding:0; white-space:nowrap; border:1px #999999 solid; height:27px; background-color:#ffffff; }
.search_box form .search_button_container { float:left;margin-left:-20px;width:20px; }
.search_box form .search_button { margin:3px 5px 0 0; vertical-align:bottom; }
.search_box form>div { padding:0 7px 0 5px; }
.search_box form .search_term_container { float:left;width:100%; }
.search_box form .search_term_container>div { padding-right:30px; }
.search_box form .search_term_container .search_term {  width:100%;border-color:transparent; margin:0; padding:0; height:25px; line-height:25px;border:none; font-family:Arial,Helvetica,sans-serif; font-size:14px;}
.search_box .linktext { margin:0;margin-top:4px; padding:0; font-size:90%; }
.search_box .linktext a { /*font-weight:bold;*/ /*text-decoration:none;*/ }
.search_box .linktext a:hover { /*text-decoration:underline;*/ }
.search_box p.linktext br { display:none; } /* quash breaks that may appear in the content */


/* -------- components: directorysearchboxcontainer and directorysearchapiresults ------------------ */
.directorysearchboxcontainer { background-color:white;width:500px;padding:15px;border:1px silver solid; }
.directorysearchboxcontainer .startover { margin-bottom:0;padding-bottom:0; }
.directorysearchboxcontainer label { margin-right:20px; }
.directorysearchapiresults {}
.directorysearchapiresults .deptmatch { padding-left:20px;border-left:1px silver dotted; }
.directorysearchapiresults .peoplematch { padding-right:10px; }
.directorysearchapiresults .expandedsearch { margin:0 0 0 10px; }
#directoryContactInfoContainer div.directoryContactInfo>:first-child { margin-top:0; } /* firms up the spacing of the first h3 inside the contact info extended data block */


/* --------- search ---------- */

div.search {
    padding:0 1px 0 0;
}

div.searchRight {
    border-left: 1px solid #dddddd;
    float: right;
    width: 150px;
    padding-left: 20px;
    padding-bottom: 20px;
}

div.searchTrends {
    text-align: justify;
}

div.searchRight p {
    text-align: center;
    font-weight: bold;
    margin-bottom: 5px;
}

div.search span.icon img {
    width: 16px;
    height: 16px;
}
div.search span.icon  {
    padding: 0 2px 8px 0;
    background: url(../../../../../etc/designs/default/images/icons/default.gif) no-repeat
}
div.search span.icon.type_doc  {
    background: url(../../../../../etc/designs/default/images/icons/doc.gif) no-repeat
}
div.search span.icon.type_eps  {
    background: url(../../../../../etc/designs/default/images/icons/eps.gif) no-repeat
}
div.search span.icon.type_gif  {
    background: url(../../../../../etc/designs/default/images/icons/zip.gif) no-repeat
}
div.search span.icon.type_jpg  {
    background: url(../../../../../etc/designs/default/images/icons/jpg.gif) no-repeat
}
div.search span.icon.type_pdf  {
    background: url(../../../../../etc/designs/default/images/icons/pdf.gif) no-repeat
}
div.search span.icon.type_ppt  {
    background: url(../../../../../etc/designs/default/images/icons/ppt.gif) no-repeat
}
div.search span.icon.type_tif  {
    background: url(../../../../../etc/designs/default/images/icons/tif.gif) no-repeat
}
div.search span.icon.type_txt  {
    background: url(../../../../../etc/designs/default/images/icons/txt.gif) no-repeat
}
div.search span.icon.type_xls  {
    background: url(../../../../../etc/designs/default/images/icons/xls.gif) no-repeat
}
div.search span.icon.type_zip  {
    background: url(../../../../../etc/designs/default/images/icons/zip.gif) no-repeat
}

/* -------- components: directorysearchboxcontainer and directorysearchapiresults ------------------ */
.directorysearchboxcontainer { background-color:white;width:500px;padding:15px;border:1px silver solid; }
.directorysearchboxcontainer .startover { margin-bottom:0;padding-bottom:0; }
.directorysearchboxcontainer label { margin-right:20px; }
.directorysearchapiresults {}
.directorysearchapiresults .deptmatch { padding-left:20px;border-left:1px silver dotted; }
.directorysearchapiresults .peoplematch { padding-right:10px; }
.directorysearchapiresults .expandedsearch { margin:0 0 0 10px; }
#directoryContactInfoContainer div.directoryContactInfo>:first-child { margin-top:0; } /* firms up the spacing of the first h3 inside the contact info extended data block */


.DirectoryResults {
	width:100%;
}


/* -------- 'related news' styles that appear on multiple page types ----------- */
.related-news .news-title { line-spacing:13em !important; }
.related-news .news-date,
.related-news .news-source { font-size:85%; color:#777777; }
.related-news .news-date a,
.related-news .news-source a { color:#777777; }
.related-news .news-date a:hover,
.related-news .news-source a:hover { color:#888888; }
.related-news .news-description p { display:inline;margin:0;padding:0; } /* tighten up any unexpected p tags inside the description span */

/* -------------------------- textimage ------------------- */

/* imageAlignRight class is used in the /public/ version of textimage */
.fh_textimage { margin-bottom:10px; }
.fh_textimage dl { margin: 0; }
.fh_textimage div.textimage_image { margin:0 20px 20px 0; max-width:980px; } /* imageplus has a little styling on it too */
.fh_textimage div.textimage_image { float:left; } /* default is to float the image left w/in textimage */
.fh_textimage div.textimage_image.imageAlignRight {
	float: right;
	margin: 0 0 20px 20px; 
}

.fh_textimage div.textimage_image img {
	max-width: 100%;
}

.fh_textimage div.text { }
.fh_textimage div.text>:first-child { margin-top:0; }
.fh_textimage.noimage div.textimage_image { display:none; } /* hide image part of textimage if there is none */


@media print {
  * {
    color: #000 !important;
    text-shadow: none !important;
    background: transparent !important;
    box-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: "" !important;
  }
  abbr[title]:after {
    content: "" !important;
  }
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "" !important;
  }
}