

/* -------------- component: TextComponent -----------------------------*/

/* see shared/components/content/textComponent and
       etc/designs/shared/clientlibs/components/textComponent.css
       for design choices/details/guidance */

/* colorTheme1 = white text on teal background */

.textComponent .colorTheme1 { background-color: #78b0b7; color: #ffffff; padding:1em; }
.textComponent .colorTheme1 :first-child { margin-top: 0; padding-top: 0; }
.textComponent .colorTheme1 :last-child { margin-bottom: 0; padding-bottom: 0; }

div.textComponent .colorTheme1 h2,
div.textComponent .colorTheme1 h3,
div.textComponent .colorTheme1 h4,
div.textComponent .colorTheme1 h5,
div.textComponent .colorTheme1 h6 { color: #ffffff; }

div.textComponent .colorTheme1 a,
div.textComponent .colorTheme1 a:visited { color: #ffffff;}
div.textComponent .colorTheme1 a:hover { color: #ffffff; text-decoration: none; }

/* colorTheme2 = normal text on light teal background */

.textComponent .colorTheme2 { background-color: #c0dbdf; padding:1em; }
.textComponent .colorTheme2 :first-child { margin-top: 0; padding-top: 0; }
.textComponent .colorTheme2 :last-child { margin-bottom: 0; padding-bottom: 0; }

/* colorTheme3 = normal text on light pink background */

.textComponent .colorTheme3 { background-color: #e9d8e1; padding:1em; }
.textComponent .colorTheme3 :first-child { margin-top: 0; padding-top: 0; }
.textComponent .colorTheme3 :last-child { margin-bottom: 0; padding-bottom: 0; }




/* -------------- component: Text & Image --------------------- */
/* -------------- component: Image ---------------------------- */

/* colorTheme1 = white text on teal background */

div.textimage .colorTheme1 h2,
div.textimage .colorTheme1 h3,
div.textimage .colorTheme1 h4,
div.textimage .colorTheme1 h5,
div.textimage .colorTheme1 h6 { color: #ffffff; }

div.textimage .colorTheme1 a,
div.textimage .colorTheme1 a:visited { color: #ffffff;}
div.textimage .colorTheme1 a:hover { color: #ffffff; text-decoration: none; }

div.textimage .colorTheme1 { background-color: #78b0b7; color:#ffffff; padding:1em; }
div.textimage .colorTheme1 :first-child { margin-top: 0; padding-top: 0; }
div.textimage .colorTheme1 :last-child { margin-bottom: 0; padding-bottom: 0; }

.textimageContainer.colorTheme1 { padding: 1em;  }
.textimageContainer.colorTheme1 .imageContainer img { border: 3px solid #eeeeee; padding:.5em;  }
.textimageContainer.colorTheme1 .textContainer :first-child { margin-top: 0; padding-top: 0; }
.textimageContainer.colorTheme1 .textContainer :last-child { margin-bottom: 0; padding-bottom: 0; }

/* colorTheme2 = normal text on light teal background */

div.textimage .colorTheme2 { background-color: #c0dbdf; padding:1em; }
div.textimage .colorTheme2 :first-child { margin-top: 0; padding-top: 0; }
div.textimage .colorTheme2 :last-child { margin-bottom: 0; padding-bottom: 0; }

.textimageContainer.colorTheme2 { padding: 1em;  }
.textimageContainer.colorTheme2 .imageContainer img { border: 3px solid #eeeeee; padding:.5em;  }
.textimageContainer.colorTheme2 .textContainer :first-child { margin-top: 0; padding-top: 0; }
.textimageContainer.colorTheme2 .textContainer :last-child { margin-bottom: 0; padding-bottom: 0; }

/* colorTheme3 = normal text on pink background */

div.textimage .colorTheme3 { background-color: #e9d8e1; padding:1em; }
div.textimage .colorTheme3 :first-child { margin-top: 0; padding-top: 0; }
div.textimage .colorTheme3 :last-child { margin-bottom: 0; padding-bottom: 0; }

.textimageContainer.colorTheme3 { padding: 1em;  }
.textimageContainer.colorTheme3 .imageContainer img { border: 3px solid #eeeeee; padding:.5em;  }
.textimageContainer.colorTheme3 .textContainer :first-child { margin-top: 0; padding-top: 0; }
.textimageContainer.colorTheme3 .textContainer :last-child { margin-bottom: 0; padding-bottom: 0; }

.textimageContainer { margin-bottom: 1em; } /* mandatory spacing, might consider removing this */

.image .imageAndCaption {

/*    display: table;
    table-layout: fixed;
    width: 100%;*/
        
}



.textimageContainer .imageAndCaption {
    
    float: left;
/*    display: table;
    table-layout: fixed;
    width: 100%;*/
    margin-right: 1.5em;
    max-width: 40%;
        
}

.textimageContainer.rightAlign .imageAndCaption {
    
    float: right;
    margin-right: 0;
    margin-left: 1.5em;
    
}

.textimageContainer.centerAlign .imageAndCaption {
    
    float: none;
    margin: 0 auto;
    max-width: 100%;
    
}

.image .imageAndCaption.horizontallyCentered {
    
    float: none;
    
}

.image .imageAndCaption.horizontallyCentered img {
    
    margin: auto;
    max-width: 100%;
    
}

.image .imageAndCaption.horizontallyCentered .captionAndCredit { 

    text-align: center;
    
}

.textimageContainer .imageContainer img {
    
    max-width:100%;
    padding: 0.5em;
    border: 3px solid #eeeeee;
    /* margin: 0 auto; */
    display: block;
    box-sizing: border-box;
    
}

.textimageContainer.centerAlign .imageContainer img {
	
	margin: 0 auto;
	
}

.image .imageContainer img {

    max-width:100%;
    padding: 0.5em;
    border: 3px solid #eeeeee;
    display: block;
    
}


.textimageContainer .imageContainer.noBorder img,
.image .imageContainer.noBorder img {
    
    padding: 0;
    border: 0;
    
}

.textimageContainer .imageAndCaption .captionAndCredit,
.image .imageAndCaption .captionAndCredit {
    
    padding: 0.75em 0.25em;
/*    display: table-caption;
    caption-side: bottom;
*/    
}

.textimageContainer .imageAndCaption .caption,
.textimageContainer .imageAndCaption .credit,
.textimageContainer .imageAndCaption .hiRes,
.image .imageAndCaption .caption,
.image .imageAndCaption .credit,
.image .imageAndCaption .hiRes {
    
    display: block;
    
}

.textimageContainer .imageAndCaption .caption,
.image .imageAndCaption .caption {
    
    font-size: .95em;
    line-height: 1.3em;
    
}

.textimageContainer .imageAndCaption .credit,
.textimageContainer .imageAndCaption .hiRes,
.image .imageAndCaption .credit,
.image .imageAndCaption .hiRes {
    
    font-size: 0.9em;
    line-height: 1.3em;
    font-style: italic;
    margin-bottom: .5em;
    
}

/*-------------- Header component ---------------- */

.headerWidget {
	color: #23282b;
}

.headerWidget a {
	color: #245387;
}

.headerWidget a:hover {
    color: #459BFC;
}

.headerWidget h2.designTheme1,
.headerWidget h3.designTheme1,
.headerWidget h4.designTheme1 {
	border-bottom: 3px solid #f0ebeb;
}

.headerWidget h2 {
	font-weight: bold;
}

/*-------------- Horizontal Line component ------------- */

div.horizontalLine {
	
	/*padding: 1em 0;*/ /* Padding here instead of margin on HR tag to allow for easier selection of the component */
	margin: 1em 0;
	
}

.horizontalLine hr {
	border: 0;
	border-bottom: 3px solid #f0ebeb;
}

/*-------------- CSS Button component ------------- */

div.page_content div.CSSButton {
	
	/* Place margins on the wrapping DIV to allow margin-collapse to occur */
    margin-top: 10px;
    margin-top: 0.625rem;   
    margin-bottom: 10px;
    margin-bottom: 0.625rem;
    
}

div.page_content .CSSButton a.button {
	
	font-size: 15px;
	font-size: 0.9375rem;
	font-weight: bold;
	line-height: 32px;
	line-height: 2rem;
	color: #000000;
	text-decoration: none;
	
	min-width: 128px;
	min-width: 8rem;
	padding-left: 15px;
	padding-left: 0.9375rem;
    padding-right: 15px;
    padding-right: 0.9375rem;
    
    display: inline-block;
    
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    
    background: #cbe3fd; /* Old browsers */
    background: -moz-linear-gradient(top,  #cbe3fd 0%, #62aafa 1%, #459bfc 33%, #459bfc 96%, #2672c8 98%, #459bfc 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cbe3fd), color-stop(1%,#62aafa), color-stop(33%,#459bfc), color-stop(96%,#459bfc), color-stop(98%,#2672c8), color-stop(100%,#459bfc)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #cbe3fd 0%,#62aafa 1%,#459bfc 33%,#459bfc 96%,#2672c8 98%,#459bfc 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #cbe3fd 0%,#62aafa 1%,#459bfc 33%,#459bfc 96%,#2672c8 98%,#459bfc 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #cbe3fd 0%,#62aafa 1%,#459bfc 33%,#459bfc 96%,#2672c8 98%,#459bfc 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #cbe3fd 0%,#62aafa 1%,#459bfc 33%,#459bfc 96%,#2672c8 98%,#459bfc 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cbe3fd', endColorstr='#459bfc',GradientType=0 ); /* IE6-9 */
    
}

div.page_content .CSSButton a.button:hover {
    
    background: #1c4f88; /* Old browsers */
    background: -moz-linear-gradient(top,  #1c4f88 0%, #1b497d 5%, #62aafa 96%, #cbe3fd 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1c4f88), color-stop(5%,#1b497d), color-stop(96%,#62aafa), color-stop(100%,#cbe3fd)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #1c4f88 0%,#1b497d 5%,#62aafa 96%,#cbe3fd 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #1c4f88 0%,#1b497d 5%,#62aafa 96%,#cbe3fd 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #1c4f88 0%,#1b497d 5%,#62aafa 96%,#cbe3fd 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #1c4f88 0%,#1b497d 5%,#62aafa 96%,#cbe3fd 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1c4f88', endColorstr='#cbe3fd',GradientType=0 ); /* IE6-9 */
    
    color: #000000;
    text-decoration: none;
    
}

body.general div.page_content .CSSButton a.button {
	
    border: 3px solid #eeeeee;
    
}

/*-------------- component: OOTB columns --------------- */

div.cq-colctrl-cols {width: 100%; float: left; }

div.cq-colctrl-default { width: 100%;}

div.parsys_column { height: 100%; width: 100%; float: left; border: 0; vertical-align:top; padding: 0; margin: 0;}
div.parsys_column div.section { overflow:hidden; width: 100%; }
div.parsys_column div.section { zoom: 1; /* Property added to avoid IE hasLayout issue on paragraphs see #20817 - IE6: div around Drag Components image not big enough*/ }

/* layout 0 : 50% 50% */
div.cq-colctrl-lt0 { }
div.cq-colctrl-lt0-c0 { width: 48.5%; margin-right:1.5%; } 
div.cq-colctrl-lt0-c1 { width: 48.5%; margin-left: 1.5%; }

/* layout 1 : 66% 33% */
div.cq-colctrl-lt1 { }
div.cq-colctrl-lt1-c0 { width: 64.666666666666%; margin-right:1.5%; } 
div.cq-colctrl-lt1-c1 { width: 32.333333333333%; margin-left: 1.5%; }

/* layout 2 : 33% 66% */
div.cq-colctrl-lt2 { }
div.cq-colctrl-lt2-c0 { width: 32.333333333333%; margin-right: 1.5%; }
div.cq-colctrl-lt2-c1 { width: 64.666666666666%; margin-left: 1.5%; } 

/* layout 3 : 33% 33% 33% */
div.cq-colctrl-lt3 { }
div.cq-colctrl-lt3-c0 { width: 31.333333333333%; margin-right: 1.5%;}
div.cq-colctrl-lt3-c1 { width: 31.333333333333%; margin-left: 1.5%; margin-right: 1.5%;}
div.cq-colctrl-lt3-c2 { width: 31.333333333333%; margin-left: 1.5%; }

/* layout 4 : 25% 25% 25% 25% */
div.cq-colctrl-lt4 { }
div.cq-colctrl-lt4-c0 { width: 22.75%; margin-right: 1.5%;}
div.cq-colctrl-lt4-c1 { width: 22.75%; margin-left: 1.5%; margin-right: 1.5%;}
div.cq-colctrl-lt4-c2 { width: 22.75%; margin-left: 1.5%; margin-right: 1.5%;}
div.cq-colctrl-lt4-c3 { width: 22.75%; margin-left: 1.5%; }

/* layout 5 : 20% 20% 20% 20% 20% */
div.cq-colctrl-lt5 { }
div.cq-colctrl-lt5-c0 { width: 17.6%; margin-right: 1.5%;}
div.cq-colctrl-lt5-c1 { width: 17.6%; margin-left: 1.5%; margin-right: 1.5%;}
div.cq-colctrl-lt5-c2 { width: 17.6%; margin-left: 1.5%; margin-right: 1.5%;}
div.cq-colctrl-lt5-c3 { width: 17.6%; margin-left: 1.5%; margin-right: 1.5%;}
div.cq-colctrl-lt5-c4 { width: 17.6%; margin-left: 1.5%; }






/* ------------- component: OOTB search ---------------- */

div.sitesearch div.searchRight {  /* search result additional features */
    border-left: 1px solid #dddddd;
    float: right;
    width: 25%;
    padding-left: 1em;
    padding-bottom: 1em;
    margin-left: 1em;
}

div.pushdown_search div.sitesearch form {  /* cascading overrides for the push-down search widget */
    background-color: #ffffff;
    padding-right:2.5em; 
}
div.pushdown_search div.sitesearch form input.searchbox,
div.pushdown_search div.sitesearch form input.searchbutton {
    font-size: 1.1em;
    height: 1.8em; 
}

div.sitesearch div.searchTrends .size12 { font-size:.9em; } /* these must match the classes set in the search component for setMinSize() and setMaxSize() */
div.sitesearch div.searchTrends .size13 { font-size:1em; }
div.sitesearch div.searchTrends .size14 { font-size:1.1em; }
div.sitesearch div.searchTrends .size15 { font-size:1.2em; }
div.sitesearch div.searchTrends .size16 { font-size:1.3em; }
div.sitesearch div.searchTrends .size17 { font-size:1.4em; }
div.sitesearch div.searchTrends .size18 { font-size:1.5em; }

div.sitesearch div.searchRight p {
    text-align: left;
    font-weight: bold;
    margin-bottom: .4em;
}
div.sitesearch div.searchRight div.tagexplorer {
    font-size:.9em; 
}
div.sitesearch dl.hitresults {
    margin-bottom:1em;
}
div.sitesearch dl.hitresults dd {
    margin-left: 0;
    margin-bottom: 1em;
}
div.sitesearch dl.hitresults div.hiturl {
    font-size:.85em;
    color: #888888; 
}
        
div.sitesearch div.result_paging {}
div.sitesearch div.result_paging .pagetile {
    padding:0 .25em; /* Luke says we need 44px targets for mobile */
}
div.sitesearch div.result_paging .pagetile.previouspage {
    padding-left:0;
}
div.sitesearch div.result_paging .pagetile.nextpage {
    padding-right:0;
}

div.sitesearch span.icon img {
    width: 16px;
    height: 16px;
}
div.sitesearch span.icon  { /* be sure dispatcher is configured to serve from /etc/designs/default */
    padding: 0 2px 8px 0;
    background: url(../../../../../etc/designs/default/images/icons/default.gif) no-repeat
}
div.sitesearch span.icon.type_doc  {
    background: url(../../../../../etc/designs/default/images/icons/doc.gif) no-repeat
}
div.sitesearch span.icon.type_eps  {
    background: url(../../../../../etc/designs/default/images/icons/eps.gif) no-repeat
}
div.sitesearch span.icon.type_gif  {
    background: url(../../../../../etc/designs/default/images/icons/zip.gif) no-repeat
}
div.sitesearch span.icon.type_jpg  {
    background: url(../../../../../etc/designs/default/images/icons/jpg.gif) no-repeat
}
div.sitesearch span.icon.type_pdf  {
    background: url(../../../../../etc/designs/default/images/icons/pdf.gif) no-repeat
}
div.sitesearch span.icon.type_ppt  {
    background: url(../../../../../etc/designs/default/images/icons/ppt.gif) no-repeat
}
div.sitesearch span.icon.type_tif  {
    background: url(../../../../../etc/designs/default/images/icons/tif.gif) no-repeat
}
div.sitesearch span.icon.type_txt  {
    background: url(../../../../../etc/designs/default/images/icons/txt.gif) no-repeat
}
div.sitesearch span.icon.type_xls  {
    background: url(../../../../../etc/designs/default/images/icons/xls.gif) no-repeat
}
div.sitesearch span.icon.type_zip  {
    background: url(../../../../../etc/designs/default/images/icons/zip.gif) no-repeat
}


/* ------------- component: News Ticker ----------------- */

div#fancy-news {
	/* border-top: 6px solid #17191a; */
}

/* Reset */
.fn-container div, .fn-container h3, .fn-container h4, .fn-container ul, .fn-container li, .fn-container span, .fn-container a, .fn-container img {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	list-style: none;
	list-style-type: none;
	max-width: 100%;
	outline: none;
}

.fn-container {
	color: #23282b; /* Set here the color of all text elements */
	font-size: 1em;
	font-family: "proxima-nova-n4", "proxima-nova", sans-serif; /* Set here the font of all text elements */
	line-height: 22.4px;
	line-height: 1.4rem;
	max-width: 100%;
	background-color: #ffffff;
}

.fn-news-list {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* the box of the preview */
.fn-news-list .fn-preview {
	width: 100%;
	display: none;
	cursor: pointer;
	overflow: hidden;
}

.fn-news-list .fn-preview div p span u:hover {
	color: #459bfc; /* The links in the preview are not actually links, they are just spans */
}

/* the thumbnail in the previews */
.fn-preview	> img	{
	margin: 10px; /* Set here the margin for every thumbnail */
	border: 1px solid #A0CE4E; /* Set here the border color and thickness for every thumbnail */
	float: left;
	max-width: 120px;
}

/* the text box in the previews */
.fn-preview	> div	{
	display: block;
	margin: 20px 0 10px 0; /* Set here the padding for the preview text */
}

.fn-preview	> div > p {
	line-height: 22.4px;
	line-height: 1.4rem;
	margin: 5px 0 0 0;
	margin: 0.3125rem 0 0 0;
/*	font-size: 13px; */
}

/* the title in the previews */
.fn-preview	> div > h3	{
	margin: 0 0 5px;
	margin: 0 0 0.3125rem; /* Set here the offset between title and date */
	font-size: 125%;
/*	line-height: 14px; */
	font-family: "proxima-nova-n4", "proxima-nova", sans-serif;
	color: #23282b; /* Set here the color of the title */
}

/* the date in the previews */
.fn-preview	> div > h4	{
	margin-bottom: 3px;  /* Set here the offset between date and text */
	font-size: 10px; /* Set here the size of the date */
	line-height: 10px;
	color: #23282b; /* Set here the color of the date */
}

/* the full post */
.fn-full-post	{
	width: 100%;
	display: none;
	position: absolute;
	background: #ffffff; /* Set here the color of the news view background */
	z-index: 10;
	top: 0;
	left: 0;
}

/* title in the full post */
.fn-full-post > h3	{
	margin: 10px 15px 5px 20px;
	font-size: 14px; /* Set here the size of the title */
	font-family: "proxima-nova-n4", "proxima-nova", sans-serif;
	font-weight: bold;
	color: #23282b; /* Set here the color of the title */
}

/* the text container in the full post */
.fn-full-post > div	{
	width: 95%;
	margin-left: 15px;
	overflow: auto;
	outline: none;
}

.fn-full-post * {
	max-width: 100%;
}

.fn-full-post a	{
	color: #245387; /* Set here the color of every link in the full post */
}

.fn-full-post a:hover	{
	color: #459bfc; 
}

/* navigation bar with rounded corners */
.fn-navigation	{
	position: relative;
	max-width: 100%;
	height: 30px; /* Set here the height of the footer bar */
	line-height: 30px; /* Set the line-height to the height, you set above */
	color: #01A4FD; /* Set here the color of the text in the footer bar */
	font-size: 14px; /* Set here the size of the text in the footer bar */
	-webkit-border-radius: 0px 0px 10px 10px;
	border-radius: 0px 0px 10px 10px; 
}

.fn-navigation a:focus {
	outline: none;
}

.fn-navigation .fn-post-count {
	margin-left: 10px;
	float: left;
}

.fn-close-button {
	display: none;
	background: url('/etc/designs/sttr/img/newsTicker-close.png') no-repeat; /* Set here the path to the close.png */
	width: 15px; /* Width for the close button */
	height: 15px; /* Height for the close button */
	margin: 7px 15px 0 0;
	float: right;
}

.fn-previous-button, .fn-next-button	{
	float: right;
	width: 31px; /* Width for the previous/next buttons */
	height: 18px; /* Height for the previous/next buttons */
	margin: 11px 16px 0 0;
}

.fn-previous-button	{
	background: url('/etc/designs/sttr/img/sttr_highlight_arrow_up.png') no-repeat; /* Set here the path to the previous.png */
}

.fn-next-button	{
	background: url('/etc/designs/sttr/img/sttr_highlight_arrow_down.png') no-repeat; /* Set here the path to the next.png */
}

.fn-preloader	{
	position: absolute;
	background: url('/etc/designs/sttr/img/newsTicker-preloader.gif') no-repeat; /* Set here the path to the preloader.gif */
	width: 31px; /* Same width as the preloader.gif width */
	height: 31px; /* Same height as the preloader.gif height */
	z-index: 11;
}

/* Vertical Scrolling */

.fn-vertical .fn-news-list .fn-preview {
	position: absolute;
	top: 0;
	height: 100%;
}

.fn-vertical .fn-preview > img {
	float: none;
}

.fn-vertical .fn-previous-button, .fn-vertical .fn-next-button	{
	width: 10px;
	height: 15px;
	margin: 8px 10px 0 0;
}

.fn-vertical .fn-previous-button {
	background: url('/etc/designs/sttr/img/newsTicker-previous_vertical.png') no-repeat;
}

.fn-vertical .fn-next-button {
	background: url('/etc/designs/sttr/img/newsTicker-next_vertical.png') no-repeat;
}


/* Helper */
.fn-clearfix:before, .fn-clearfix:after { content: "\0020"; display: block; height: 0; overflow: hidden; }
.fn-clearfix:after { clear: both; }
.fn-clearfix { zoom: 1; }
.fn-clear {clear: both;}
.fn-hidden {display: none;}


/* basic scrollbar styling */
/* vertical scrollbar */
.mCSB_container{
	width:auto;
	margin-right:20px !important;
	padding-left: 5px !important;
	overflow:hidden;
}
.mCSB_container.mCS_no_scrollbar{
	margin-right:0;
}
.mCS_disabled .mCSB_container.mCS_no_scrollbar,
.mCS_destroyed .mCSB_container.mCS_no_scrollbar{
	margin-right:30px;
}
.mCustomScrollBox .mCSB_scrollTools{
	width:16px;
	height:100%;
	top:0;
	right:0;
}
.mCSB_scrollTools .mCSB_draggerContainer{
	height:100%;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}
.mCSB_scrollTools .mCSB_buttonUp+.mCSB_draggerContainer{
	padding-bottom:40px;
}
.mCSB_scrollTools .mCSB_draggerRail{
	width:2px;
	height:100%;
	margin:0 auto;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	border-radius:10px;
}
.mCSB_scrollTools .mCSB_dragger{
	cursor:pointer;
	width:100%;
	height:30px;
}
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{
	width:4px;
	height:100%;
	margin:0 auto;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	border-radius:10px;
	text-align:center;
}
.mCSB_scrollTools .mCSB_buttonUp,
.mCSB_scrollTools .mCSB_buttonDown{
	height:20px;
	overflow:hidden;
	margin:0 auto;
	cursor:pointer;
}
.mCSB_scrollTools .mCSB_buttonDown{
	bottom:0;
	margin-top:-40px;
}
/* horizontal scrollbar */
.mCSB_horizontal .mCSB_container{
	height:auto;
	margin-right:0;
	margin-bottom:30px;
	overflow:hidden;
}
.mCSB_horizontal .mCSB_container.mCS_no_scrollbar{
	margin-bottom:0;
}
.mCS_disabled .mCSB_horizontal .mCSB_container.mCS_no_scrollbar,
.mCS_destroyed .mCSB_horizontal .mCSB_container.mCS_no_scrollbar{
	margin-right:0;
	margin-bottom:30px;
}
.mCSB_horizontal.mCustomScrollBox .mCSB_scrollTools{
	width:100%;
	height:16px;
	top:auto;
	right:auto;
	bottom:0;
	left:0;
	overflow:hidden;
}
.mCSB_horizontal .mCSB_scrollTools .mCSB_draggerContainer{
	height:100%;
	width:auto;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	overflow:hidden;
}
.mCSB_horizontal .mCSB_scrollTools .mCSB_buttonLeft+.mCSB_draggerContainer{
	padding-bottom:0;
	padding-right:20px;
}
.mCSB_horizontal .mCSB_scrollTools .mCSB_draggerRail{
	width:100%;
	height:2px;
	margin:7px 0;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	border-radius:10px;
}
.mCSB_horizontal .mCSB_scrollTools .mCSB_dragger{
	width:30px;
	height:100%;
}
.mCSB_horizontal .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{
	width:100%;
	height:4px;
	margin:6px auto;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	border-radius:10px;
}
.mCSB_horizontal .mCSB_scrollTools .mCSB_buttonLeft,
.mCSB_horizontal .mCSB_scrollTools .mCSB_buttonRight{
	width:20px;
	height:100%;
	overflow:hidden;
	margin:0 auto;
	cursor:pointer;
	float:left;
}
.mCSB_horizontal .mCSB_scrollTools .mCSB_buttonRight{
	right:0;
	bottom:auto;
	margin-left:-40px;
	margin-top:-16px;
	float:right;
}

/* default scrollbar colors and backgrounds */
.mCustomScrollBox .mCSB_scrollTools{
	opacity:0.75;
}
.mCustomScrollBox:hover .mCSB_scrollTools{
	opacity:1;
}
.mCSB_scrollTools .mCSB_draggerRail{
	background:#000; /* rgba fallback */
	background:rgba(0,0,0,0.4);
	filter:"alpha(opacity=40)"; -ms-filter:"alpha(opacity=40)"; /* old ie */
}
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{
	background:#fff; /* rgba fallback */
	background:rgba(255,255,255,0.75);
	filter:"alpha(opacity=75)"; -ms-filter:"alpha(opacity=75)"; /* old ie */
}
.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar{
	background:rgba(255,255,255,0.85);
	filter:"alpha(opacity=85)"; -ms-filter:"alpha(opacity=85)"; /* old ie */
}
.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar,
.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar{
	background:rgba(255,255,255,0.9);
	filter:"alpha(opacity=90)"; -ms-filter:"alpha(opacity=90)"; /* old ie */
}
.mCSB_scrollTools .mCSB_buttonUp,
.mCSB_scrollTools .mCSB_buttonDown,
.mCSB_scrollTools .mCSB_buttonLeft,
.mCSB_scrollTools .mCSB_buttonRight{
	background-image:url(mCSB_buttons.png);
	background-repeat:no-repeat;
	opacity:0.4;
	filter:"alpha(opacity=40)"; -ms-filter:"alpha(opacity=40)"; /* old ie */
}
.mCSB_scrollTools .mCSB_buttonUp{
	background-position:0 0;
	/* 
	sprites locations are 0 0/-16px 0/-32px 0/-48px 0 (light) and -80px 0/-96px 0/-112px 0/-128px 0 (dark) 
	*/
}
.mCSB_scrollTools .mCSB_buttonDown{
	background-position:0 -20px;
	/* 
	sprites locations are 0 -20px/-16px -20px/-32px -20px/-48px -20px (light) and -80px -20px/-96px -20px/-112px -20px/-128px -20px (dark) 
	*/
}
.mCSB_scrollTools .mCSB_buttonLeft{
	background-position:0 -40px;
	/* 
	sprites locations are 0 -40px/-20px -40px/-40px -40px/-60px -40px (light) and -80px -40px/-100px -40px/-120px -40px/-140px -40px (dark) 
	*/
}
.mCSB_scrollTools .mCSB_buttonRight{
	background-position:0 -56px;
	/* 
	sprites locations are 0 -56px/-20px -56px/-40px -56px/-60px -56px (light) and -80px -56px/-100px -56px/-120px -56px/-140px -56px (dark) 
	*/
}
.mCSB_scrollTools .mCSB_buttonUp:hover,
.mCSB_scrollTools .mCSB_buttonDown:hover,
.mCSB_scrollTools .mCSB_buttonLeft:hover,
.mCSB_scrollTools .mCSB_buttonRight:hover{
	opacity:0.75;
	filter:"alpha(opacity=75)"; -ms-filter:"alpha(opacity=75)"; /* old ie */
}
.mCSB_scrollTools .mCSB_buttonUp:active,
.mCSB_scrollTools .mCSB_buttonDown:active,
.mCSB_scrollTools .mCSB_buttonLeft:active,
.mCSB_scrollTools .mCSB_buttonRight:active{
	opacity:0.9;
	filter:"alpha(opacity=90)"; -ms-filter:"alpha(opacity=90)"; /* old ie */
}

/* --------------------- component: standardSlider ------------------ */

.standardSlider .royalSlider { /*margin-bottom:20px;*/ }

.standardSlider .royalSlider { width: 100%; }

.standardSlider .royalSlider .rsImg { border:0; }

.standardSlider .royalSlider > div.rsContent { /* http://help.dimsemenov.com/kb/royalslider-jquery-plugin-issues/slider-content-appears-for-a-second-before-initialization */
  display: none;
}
.standardSlider .royalSlider > div.rsContent.hero {
  display: block;
  overflow-y:hidden; /* for non-JS and also IE7 */
}    

/* we're not using rsCaption */
.standardSlider .royalSlider .rsCaption { display:none; }

/* layered captions */
.standardSlider .royalSlider .rsContent .infoBlock { 
  position: absolute;
  bottom: 0;
  left: 0;
  right: auto;
  width:100%;
  -moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;
  padding-bottom: 0;
  overflow: hidden;
  padding: 1.5625em;
  word-wrap: break-word;
  color: #ffffff; /* default font treatment */      
}

.standardSlider .royalSlider .rsContent .infoBlock.gradient {
  /* http://www.colorzilla.com/gradient-editor/#000000+0,000000+74,000000+100&0+0,1+100;Custom */
  background: black; /* default to a black band */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9Ijc0JSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjc0Ii8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(bottom,  rgba(0,0,0,1) 0%, rgba(0,0,0,0.74) 38px, rgba(0,0,0,0) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0%,rgba(0,0,0,1)), color-stop(38px,rgba(0,0,0,0.74)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(bottom,  rgba(0,0,0,1) 0%,rgba(0,0,0,0.74) 38px,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(bottom,  rgba(0,0,0,1) 0%,rgba(0,0,0,0.74) 38px,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(bottom,  rgba(0,0,0,1) 0%,rgba(0,0,0,0.74) 38px,rgba(0,0,0,0) 100%); /* IE10+ */
  background: linear-gradient(to top,  rgba(0,0,0,1) 0%,rgba(0,0,0,0.74) 26px,rgba(0,0,0,0) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 ); /* IE6-8 */
 }

.standardSlider .royalSlider .rsContent .infoBlock h4,
.standardSlider .royalSlider .rsContent .infoBlock p {
  max-width:85%;
  color: white;
  line-height: normal; /* let's stick with browser line heights for a change */
  
}

.standardSlider .royalSlider .rsContent .infoBlock h4 {
  font-family: "proxima-nova-n4", "proxima-nova", sans-serif;
  font-size: 237%; /*1.188em;*/ /* fix after you wrap */
  margin: 0;
  padding-bottom: 0;
}
.standardSlider .royalSlider .rsContent .infoBlock p.deck {
  font-family: "proxima-nova-n4", "proxima-nova", sans-serif;  
  font-size:14px; font-size: .875rem;  /*0.813em;*/ /* fix after wrapping */
  margin: 0;
}
.standardSlider .royalSlider .rsContent a .infoBlock p.deck:hover { /* only underline when wrapped in a hyperlink */
  text-decoration: underline;
  cursor: pointer;
}
.standardSlider .royalSlider .rsContent .infoBlock p.credit {
  font-family: "proxima-nova-n4", "proxima-nova", sans-serif;   
  font-size: 11px; /*0.813em;*/ /* fix after wrapping */
  margin: 1em 0 0 0;
}
.standardSlider .royalSlider .rsContent a,
.standardSlider .royalSlider .rsContent a:hover {
  color: #ffffff;
  text-decoration: none;
}


/* move the bullets */
.standardSlider .royalSlider.rsUni .rsBullets {
  position: absolute;
  bottom:30px;
  right:26px; /* match the right arrow */
  width:auto;
}

/* space out the bullets */
.standardSlider .royalSlider.rsUni .rsBullet {
  padding: 6.5px;
}

/* color and size the bullets */
.standardSlider .royalSlider.rsUni .rsBullet span {
    background-color: #999999;
    height: 14px;
    width: 14px;
    border-radius: 14px; /* iPad needs this, didn't work with 50% */
    opacity: 0.72;
}    

/* color the active bullet */
.standardSlider .royalSlider.rsUni .rsBullet.rsNavSelected span {
  background-color: #ffffff;
  opacity: 1;
}

/* reduce the left/right arrows hitpad to avoid conflict with infoBlock. ie does not expand beyond the actual arrow icon. */
.standardSlider .royalSlider.rsUni .rsArrow { 
   height:15%; 
   //height:100%;
 }
.standardSlider .royalSlider.rsUni.rsHor .rsArrowRight,
.standardSlider .royalSlider.rsUni.rsHor .rsArrowLeft {
  top:40%;
  //top:0;
}

/* new arrows */
.standardSlider .royalSlider.rsUni.rsHor .rsArrowLeft .rsArrowIcn {
  background: url(../../img/sttr_slider_arrow_left.png);
  background-position: 0 0;
  background-repeat: no-repeat;
  opacity:.8;
}
.standardSlider .royalSlider.rsUni.rsHor .rsArrowRight .rsArrowIcn {
  background: url(../../img/sttr_slider_arrow_right.png);
  background-position: 0 0;
  background-repeat: no-repeat;
  opacity:.8;
}    
.standardSlider .royalSlider.rsUni.rsHor .rsArrowRight .rsArrowIcn:hover,
.standardSlider .royalSlider.rsUni.rsHor .rsArrowLeft .rsArrowIcn:hover {
  opacity:1;
}
.standardSlider .royalSlider.rsUni .rsArrowIcn {
  height: 47px;
  width: 27px;
}
.standardSlider .royalSlider.rsUni .rsArrowLeft .rsArrowIcn {
  margin-left:-6px;  /* match the left edge of infoBlock */
}
.standardSlider .royalSlider.rsUni .rsArrowRight .rsArrowIcn {
  margin-left:-36px; /* match the right edge of bullets */
}


/* ------------- MOBILE DECLARATIONS ----------------- */

@media screen and (max-width:480px) {

   /*-------------- Text & Image Component ----------------*/   
    
   .textimageContainer .imageAndCaption,
   .textimageContainer.rightAlign .imageAndCaption,
   .textimageContainer.centerAlign .imageAndCaption {        
       float: none;
       margin: 0 auto;
       max-width: 100%;        
   }
   
   .textimageContainer .imageAndCaption img,
   .textimageContainer.rightAlign .imageAndCaption img,
   .textimageContainer.centerAlign .imageAndCaption img {
   
   	  margin: 0 auto;
   
   }
   

   /*-------------- OOTB Columns --------------------------------*/
 
   div.parsys_column {   /* all columns stack at the smallest form factor */
     float:none; 
     margin-right:0; margin-left:0;
   }
   div.parsys_column div.parsys_column {
     width: 100%;
     overflow: hidden;
     x-padding-bottom: 1em;
     margin-bottom: 1em; /* adds a line of separation between now-stacked columns */
   }    

   /* ------------- slider -------------------------------- */  
  .royalSlider .rsContent .infoBlock { display:none; } /* hide the captions on slider at this small form factor */  
  .royalSlider .rsNav.rsBullets { display:none; }
  .slider .royalSlider div.rsArrow.rsArrowLeft { display:none !important; }
  .slider .royalSlider div.rsArrow.rsArrowRight { display:none !important; }	
	
	
   /*-------------- OOTB Search ---------------------------------*/
   
   div.sitesearch div.result_paging {
     line-height:2em;
   }
   div.sitesearch div.searchRight {
     display: none;
   }
   div.sitesearch div.result_paging .pagetile a,
   div.sitesearch div.result_paging .pagetile.currentpage {
      display:inline-block;
      padding:0 12px; /* make them larger targets */
   }   
	
	

}

