@charset "utf-8";
/* CSS Document */

div.sitesearch form input.searchbox {
   padding-left: 0; /* because border-box doesn't work in ie7 */
}  
.tk-proxima-nova {
   font-family: "proxima-nova-n4", "proxima-nova", sans-serif !important;
   font-weight: 400;
   font-style: normal;
}

/* fixes for the global nav and its dropdowns */

div.global_nav ul li {
  float:left; /* IE7 wants left-floated elements, so lets give it that. */
}

div.global_nav ul li a {
  padding:0 .5em; /* for IE7 hackfix, keeps elements from running all together. */
}

#global_nav ul.dropdown_menu {
  display: none; 
}