@charset "utf-8";
/* css for sttr website */


/* utilities */

.clear { clear:both; }
.nobreak { white-space: nowrap; }
.visuallyHidden {
    position: absolute; 
    overflow: hidden; 
    clip: rect(0 0 0 0); 
    height: 1px; width: 1px; 
    margin: -1px; padding: 0; border: 0; 
}

/* foundational treatments */

body {
  background: #000000;
  margin:0;
  padding:0;
  font-family: "proxima-nova-n4", "proxima-nova", sans-serif;
  font-weight: 400;
  font-style: normal;  
  /* this font declaration is unnecessary once site is live at fhcrc.org */
  /*font-family: "proxima_nova_regular", sans-serif;*/  
}

h1, h2, h3, h4, h5, h6 {
  font-family: "proxima-nova-n3", "proxima-nova", sans-serif;
  font-weight: 300; /* light */
  font-style: normal;
  /* this font declaration is unnecessary once site is live at fhcrc.org and configured through typekit */
  /*font-family: "proxima_nova_light", sans-serif;*/
}

h1 {
  font-size: 44px;
  font-size: 2.75rem;
  margin: 24px 0; 
  margin: 1.5rem 0;
  line-height: 46px;
  line-height: 2.9rem;
  /*font-weight: normal;*/
}

body.landingpage h1 {
  margin-top:27px;
}

/* body element comes first */

.body {
  min-height: 400px;
  background-color: #ffffff;
  margin-top:160px; /* guess-ti-mate. will be overridden by adjustBodyPosition onload/onresize */
}

div.body_contents {
    margin-left: auto;
    margin-right: auto;
    max-width: 984px; /* 984 + 20 + 20 = 1024 */
    padding: 0 20px;
    word-wrap: break-word;
    padding-bottom: 1em;
    padding-top: 34px;
    padding-top: 2.125rem;
}

body.homepage div.body_contents { /* homepage doesn't have the background feature image */
    background: none;
}

div.sidebar { /* only if the <body> has a class of with_sidebar will this appear */
    display: none;
}

body.with_sidebar div.sidebar {
    display: block;
}

body.with_sidebar div.page_content {
    float: right;
    width: 76%; /*79.268%;*/ /*72.3404%;*/   
}

div.page_content {
    color: #23282b;
    overflow:hidden;
    line-height: 22px;
    line-height: 1.4rem;
    font-size: 1em;
}

div.page_content img {
    max-width: 100%;
    height: auto;
}

body.general div.page_content h1 {
    margin-top:0; 
}

div.page_content a { /* general link treatments - body text */
    color: #245387;
}

div.page_content a:hover {
    color: #459bfc;
}

/* homepage slider */

div.homepage_slider { 
    display:none;
}

body.homepage div.homepage_slider {
    display: block;
    float: right;
    width: 56%;
}
body.homepage div.homepage_slider img {
    max-width: 100%; /* temporary until we get the real slider */
    height: auto;
}

/* sidebar */

body.with_sidebar div.sidebar {
    float: left;
    width: 19.817%; /*25.5319%;*/
}

div.body_contents div.sidebar div.sidebar_contents {
    margin: 0;
    width: 100%;
    overflow: hidden;    
    margin-top:1em;
}

/* ticker */

/*
div.ticker {
    background-color: #23282b;
    border-top: 8px #212528 solid;
    border-bottom: 8px #212528 solid;
}
*/

div.ticker div.ticker_contents {
    max-width: 984px; /* 1004 + 20 + 20 = 1024 */
    padding: 0 20px;
    margin:0 auto;
    color: #ebecec;    
}

div.ticker div.ticker_contents a {
    color: #459BFC;	
}
div.ticker div.ticker_contents a:hover {
    color: #ffffff; 
}		

body.general div.ticker {
    display:none; /* no tickers on general page types */
}

/*  section nav */

.section-nav { margin-bottom:1em; }
.section-nav ul { margin:0; padding:0; list-style:none; }
.section-nav ul li a { color: #245387; text-decoration:none; font-size:1em; display:block; padding-right:.5em; } /* creates right gutter */
.section-nav ul li a:hover { color: #459bfc; text-decoration:underline; }
.section-nav ul li.onTrail>a { /*font-weight:bold;*/ }   /* this is the treatment for ontrail links (which includes the current page link) */
.section-nav ul li.currentPage>a { font-weight:bold; text-decoration:underline; } /* this is the treatment of the one current page link. */
/*.section-nav ul li.currentPage>a:after { content: '\A0>'; }*/
.section-nav ul li { line-height:1.2em; }

/* common treatments */
.section-nav ul li { padding-top:.4em; padding-bottom:.1em; padding-left:7%; display:block; border-top:1px #d4d4d4 solid; }
.section-nav ul li.onTrail ul li { border-top: none; }

/* level 1 gets special treatment */
.section-nav>ul>li { padding-top:.875em; padding-bottom:.875em;  }
.section-nav>ul>li.onTrail { background-color:#f0ebeb; }

/* section home is the first element in every navigation list */
.section-nav ul li.sectionhome { padding:0; border-top:1px #ffffff solid; position:relative; }
.section-nav ul li.sectionhome div { padding:.875em 0 .875em 7%; }
.section-nav ul li.sectionhome a { /*color: #ffffff;*/ display:inline; }
.section-nav ul li.sectionhome a:after { content: ' Home'; }
.section-nav ul li.sectionhome a:hover { /*color: #cd7d2c;*/  }
.section-nav ul li.sectionhome.currentPage a { text-decoration:none; }
.section-nav ul li.sectionhome .larrow { /*color: #ffffff;*/ margin-right:.2em; position:absolute; left:0; }
.section-nav ul li.sectionhome .larrow:before { content: '<'; }
.section-nav ul li.sectionhome.currentPage .larrow { display:none; }


div.breadcrumbs {
    margin-bottom: 2em;
    margin-left:.8em;
}

div.breadcrumbs ul {
    font-size: 0.8em;
    letter-spacing: 0.3px;
    margin: 0;
    padding: 0;
}

div.breadcrumbs ul li:after {
    content: "\A0>";
}

div.breadcrumbs ul li:last-child:after {
    content: "";
}

div.breadcrumbs ul li {
    color: #23282b;
    display: inline;
    list-style: none outside none;
    margin-right: 0.6em;
}

div.breadcrumbs ul li a {
    color: #23282b;
    margin-right: 0.6em;
    text-decoration: underline;
}
div.breadcrumbs ul li a:hover {
    color: #888888;
}

body.landingpage div.breadcrumbs {
    display:none; /* landing pages don't have breadcrumbs */
}


/* header element contains the utility nav, search logo and global nav */

.header {  
  position: absolute;
  top: 0;
  width: 100%;  
  background: #000000 url(../../img/header_bg.gif) repeat-x left bottom; /* this background image only relevant on full-width: it provide the "wings" that fly flush left/right */
}

.header .header_contents {
  margin:0 auto;
  max-width: 1024px;
  position: relative;
}

.header_contents .utility_nav {
  float:right;
}

div.utility_nav ul {
    display: block;
    font-size: 13px;
    font-size: 0.8rem;
    letter-spacing: 0.06em;
    margin: 0;
    padding: 0;
}

div.utility_nav ul li {
    color: #FFFFFF;
    display: block;
    float: left;
    list-style: none outside none;
    padding: 0.9em 1em;
    white-space: nowrap;
}

div.utility_nav ul li.utility_donate_button {
	
	padding: 0 0 0 24px;
	
}

div.utility_nav ul li.utility_donate_button img {
	
	border: 0;
	
}

div.utility_nav ul li.search {}

body.homepage div.utility_nav ul li.utility_home { 
    display: none; /* the home page doesn't need a back to home link, smile */
}

div.utility_nav ul li a {
    color: #ffffff;
    text-decoration: none;
}

div.utility_nav ul li a:hover {
    color: #459bfc;
    text-decoration: underline;
}

div.utility_nav div.utility_search {
    clear: both;
    display: none;
    padding-top: 0.5em;
    /*background-color: #000000;*/
    /*margin-right:1em;*/
}

/* sitesearch appears in desktop format and in mobile format */

div.sitesearch {    
}

div.sitesearch form {
    /*border: 1px solid #CCCCCC;*/
    margin: 0;
    padding-left: 0.5em;
    padding-right: 3em;
    position: relative;
    background-color: #ffffff; /* bridge the input text and submit elements */
    width: 268px; /* Magic number to make the whole box 316px wide */
    float: right;
}

div.page_content div.sitesearch form {
	border: 1px solid #cccccc;
}

ul.mobile_search div.sitesearch form {
	float: none;
	width: auto;
}

div.sitesearch form input.searchbox {
    width: 100%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
div.sitesearch form input.searchbox, div.sitesearch form input.searchbutton {
    border: 0 none;
    font-size: 1em;
    height: 2em;
    margin: 0;
    padding: 0;
}
div.sitesearch form input.searchbox {
    padding-left: .5em; /* works because of border-box setting */
}

div.sitesearch form input.searchbutton {
    background-color: #459bfc;
    color: #FFFFFF;
    overflow: auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 2em;
    cursor: pointer;
    -webkit-appearance: none; /* http://stackoverflow.com/questions/2918707/turn-off-iphone-safari-input-element-rounding */
    border-radius: 0;
}
div.sitesearch form input.searchbutton:hover {
    background-color: #60a8fa; /* check this color */
}



/* logo */

div.header_contents div.logo {
    float: left;
    /*max-width: 40%;*/
    /*min-width: 230px;*/
}

div.header_contents div.logo div.logo_contents {
    padding-left: 12px; /* matches the left edge of the logo graphics (2) with the content well */
    padding-top: 1.7em;
}

div.header_contents div.logo div.logo_contents img {
    height: auto;
    max-width: 100%;
    border: none;
}

div.header_contents div.logo div.logo_contents img#logo-partners {
	margin-left: 10px;
	border: none;	
}

/* global nav */

/* TO DO - all this CSS for global_nav */

div.global_nav {
    font-size: 0.85em;
    padding-top: 2em;
    clear:both;
}

div.global_nav div.global_menu_contents > ul {
    display: table;
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #23282b;
    height: 43px; /* this height has to match the header_bg.gif background image of the .header div */
}

div.global_nav div.global_menu_contents > ul > li {
    display: table-cell;
    letter-spacing: 0.03em;
    margin: 0;
    padding: 0.5em;
    text-align: center;
    vertical-align: middle;
    border-right:2px #3e4143 solid;
    -webkit-box-sizing: border-box; /* used in the post-load equi-spacing function */
    box-sizing: border-box;
    color: #ffffff;
}
div.global_nav div.global_menu_contents > ul > li.selected {
    background-color: #59a5fb;
    /*border-bottom:1px black solid;*/
}
div.global_nav div.global_menu_contents > ul > li.selected:hover {
    /*border-bottom:none;*/
}
div.global_nav div.global_menu_contents > ul > li.selected > a {
    color: #000000;
}

div.global_nav div.global_menu_contents > ul > li:first-child {
    border-left: 2px #3e4143 solid;
}


div.global_nav div.global_menu_contents > ul > li a {
    color: #ffffff;
    text-decoration: none;
}
div.global_nav div.global_menu_contents > ul > li a:hover {
    text-decoration: underline;
}


div.global_nav ul.dropdown_menu {
    background-color: #459bfc;
    /*box-shadow: 0 8px 9px -1px #555555;*/
    color: #000000;
    display: none;
    margin: 0 0 0 -0.5em;
    max-width: 35%;
    min-width: 25%;
    padding: 1.4em 1.5em;
    position: absolute;
    top: 100%;
    /*visibility: hidden;*/
}

/* dropdown menu of the last couple elements should flush right, not left */
div.global_nav ul > li:last-child ul.dropdown_menu { /* c.f., ie8.css shim */
    right:2px; /* tab has a 2px border */
}
/*div.global_nav ul > li:nth-last-child(2) ul.dropdown_menu {
    right:2em;
}*/

/* hover effect: 1. background of current tab */
div.global_nav div.global_menu_contents > ul > li:hover,
div.global_nav div.global_menu_contents > ul > li.active {
    background-color: #459bfc;
    color:#000000;
}
/* hover effect: 2. open the child dropdown menu on desktops only.  */
@media screen and (min-device-width:769px) { /* http://www.javascriptkit.com/dhtmltutors/cssmediaqueries2.shtml */
	div.global_nav div.global_menu_contents > ul > li:hover ul.dropdown_menu,
	div.global_nav div.global_menu_contents > ul > li.active ul.dropdown_menu {
	    display:block;
    }
    div.global_nav div.global_menu_contents > ul.core > li > a {
        text-decoration: none;
    }
}

div.global_nav div.global_menu_contents > ul > li:hover > a {
    color:#000000;
}


div.global_nav ul.dropdown_menu li {
    display: block;
    /*font-size: 1.2em;*/
    line-height:1em;
    margin-bottom:1em;
    font-weight: normal;
    list-style-type: none;
    text-align: left;
    text-transform: none;
}

div.global_nav div.global_menu_contents ul.dropdown_menu a {
    color: #000000;
    text-decoration: none;
}

div.global_nav div.global_menu_contents > ul.mobile_utilities {
    display: none; /* extra nav elements only in mobile form factor */
    background-color: #5da8fc;
}
div.global_nav div.global_menu_contents > ul.mobile_search {
    display:none;
}

/* footer */

div.footer {
    background-color: #000000;
    clear: both;
    border-top: 1px #e4e4e4 solid;
    width: 100%;
}

div.footer div.footer_content {
    max-width: 984px; /* 1004 + 20 + 20 = 1024 */
    margin: 60px auto 1em auto;  /* was 80. changed when footer-donate element was introduced */
    text-align: center;
    color: #cccccc;
    font-size: 12px;
    font-size: .75rem;
    font-family: "proxima-nova-n3", "proxima-nova", sans-serif;
    font-weight: 300; /* light */
    font-style: normal;
    /* this font declaration is unnecessary once site is live at fhcrc.org */    
    /*font-family: "proxima_nova_light", sans-serif;*/

    line-height: 1rem;
}
body.landingpage div.footer div.footer_content,
body.homepage div.footer div.footer_content {
	margin-top:20px;  /* added when footer-donate element was introduced */	
}

div.footer_content a {
    color: #cccccc;
}
div.footer_content a:hover {
    color: #888888;
}

div.footer p.copy {
    margin-top:2em;
}

div.footer img {
    margin: 0 auto;
    border: none;
}

div.footer div#footer-donate {
	margin-bottom: 15px;	
}

/* social media icons */

div.footer div#footer-donate {
  float:left;
  margin-left:10%;
}

div.footer div#socialmedia {
  margin-bottom:15px;
  float:right;
  margin-right:10%;
}
div.footer div#socialmedia img {
  max-width: 36px;
  border:0;
  margin-right:2px;
  margin-left:2px;
}

div.footer div#footer-logos {
  clear:both;
}


/* small form factors gets a special mobile nav */

div.mobile_nav {
  display: none; /* starts out hidden */
  position: absolute;
  top:38px; right:0;
}
div.mobile_nav div.mobile_menu_button img {
  cursor: pointer;
  padding:.35em 1em; /* give it a bigger target */
}


/* print styles */

@media print {
  .noprint { display:none; }
}

/* cq styles */

/* styles from/for the rte drop-down */

/* this will be picked up and used in the RTE iframe editing view in CQ only: */
.rte_smalltext { font-size:11px; } /* guess-ti-mates */
.rte_largetext { font-size:15px; }

/* this will be used in production: */
.pageContent span.rte_smalltext { font-size:.85em; }
.pageContent span.rte_largetext { font-size:1.1em; line-height:1.4em; }

/* CQ editor preview mode: hide anything with a "no preview" class on it in preview mode. see /libs/cq/ui/widgets.js near setModeCss */
.cq-edit-only { display:none; }
body.cq-wcm-edit .cq-edit-only { display:block; }
body.cq-wcm-preview .cq-edit-only { display:none; }

/* CQ editor redirect notice: displays an alert when in WCM mode and the asset has a redirect target. see the foundation template, redirect-notice.jsp */
div.cq-redirect-notice { width:100%; text-align:center; position:absolute; top:0; left:0; z-index:50; }
div.cq-redirect-notice div { min-width:500px;margin-left:auto;margin-right:auto; background-color:orangered; padding:10px; color:white; font-weight:bold; font-family:Arial,Helvetica,Sans-serif;font-size:13px; }
div.cq-redirect-notice a { color:white; }
div.cq-redirect-notice a:hover { color:#f1f1f1; }
div.cq-redirect-notice .smaller { font-size:12px; }