@CHARSET "ISO-8859-1";
/* ------- Component: Text & Image --------- */
.textimageContainer .imageAndCaption {
    
    float: left;
    display: table;
/*    table-layout: fixed;
    width: 100%;*/
    margin-right: 1.5em;
    max-width: 40%;
        
}

.textimageContainer.rightAlign .imageAndCaption {
    
    float: right;
    margin-right: 0;
    margin-left: 1.5em;
    
}

.textimageContainer.centerAlign .imageAndCaption,
.image .imageAndCaption.horizontallyCentered {
    
    float: none;
    margin: 0 auto;
    max-width: 100%;
    
}

.image .imageContainer img {

    max-width:100%;
    padding: 0;
    border: 1px solid #000000;
    display: block;
    
}

.textimageContainer .imageContainer img {
    
    max-width:100%;
    padding: 0;
    border: 1px solid #000000;
    margin: 0 auto;
    display: block;
    box-sizing: border-box;
    
}

.textimageContainer .imageContainer.noBorder img,
.image .imageContainer.noBorder img {
    
    border: 0;
    
}

.textimageContainer .imageAndCaption .captionAndCredit,
.image .imageAndCaption .captionAndCredit {
    
    padding: 0.75em 0.25em;
    
}

.textimageContainer .imageAndCaption .caption,
.textimageContainer .imageAndCaption .credit,
.textimageContainer .imageAndCaption .hiRes,
.image .imageAndCaption .caption,
.image .imageAndCaption .credit,
.image .imageAndCaption .hiRes {
    
    display: block;
    
}

.textimageContainer .imageAndCaption .caption,
.image .imageAndCaption .caption {
    
    font-size: .95em;
    line-height: 1.3em;
    
}

.textimageContainer .imageAndCaption .credit,
.textimageContainer .imageAndCaption .hiRes,
.image .imageAndCaption .credit,
.image .imageAndCaption .hiRes {
    
    font-size: 0.9em;
    line-height: 1.3em;
    font-style: italic;
    margin-bottom: .5em;
    
}

.textimageContainer.designTheme1 {
	
    border: 1px solid #eeeeee;
    padding: 15px;
    padding: 0.9375rem;
    margin-bottom: 1em;
    
}

.textimageContainer.designTheme1 {
    
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top,  #eeeeee 0%, #ffffff 35%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eeeeee), color-stop(35%,#ffffff)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #eeeeee 0%,#ffffff 35%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #eeeeee 0%,#ffffff 35%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #eeeeee 0%,#ffffff 35%); /* IE10+ */
    background: linear-gradient(to bottom,  #eeeeee 0%,#ffffff 35%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
    
}

.maincontent table th {
	
	font-size: 1.4em;
	text-align: left;
	padding-top: 0.75em;
	padding-bottom: 0.75em;
	
	background: #a7c890; /* Old browsers */
    background: -moz-linear-gradient(top,  #a7c890 0%, #accb96 1%, #9fc684 10%, #7ab84f 31%, #6eb33f 40%, #6eb43f 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a7c890), color-stop(1%,#accb96), color-stop(10%,#9fc684), color-stop(31%,#7ab84f), color-stop(40%,#6eb33f), color-stop(100%,#6eb43f)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #a7c890 0%,#accb96 1%,#9fc684 10%,#7ab84f 31%,#6eb33f 40%,#6eb43f 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #a7c890 0%,#accb96 1%,#9fc684 10%,#7ab84f 31%,#6eb33f 40%,#6eb43f 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #a7c890 0%,#accb96 1%,#9fc684 10%,#7ab84f 31%,#6eb33f 40%,#6eb43f 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #a7c890 0%,#accb96 1%,#9fc684 10%,#7ab84f 31%,#6eb33f 40%,#6eb43f 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a7c890', endColorstr='#6eb43f',GradientType=0 ); /* IE6-9 */   
	
}

/* -------- End: Text & Image --------*/

/* ------- Component: Text & Callout Box -------*/

.maincontent .textcallout {
	
    min-height:2em;

}

.maincontent .textcallout .callout {

    max-width: 40%;
    float: right;
    border: 1px solid #DDDDDD;
    color: #000000;
    margin-left: 1em;
    margin-bottom: 1em;
    padding: 15px;
    padding: 0.9375rem;
    
    background: #a7c890; /* Old browsers */
    background: -moz-linear-gradient(top,  #a7c890 0%, #accb96 1%, #9fc684 10%, #7ab84f 31%, #6eb33f 40%, #6eb43f 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a7c890), color-stop(1%,#accb96), color-stop(10%,#9fc684), color-stop(31%,#7ab84f), color-stop(40%,#6eb33f), color-stop(100%,#6eb43f)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #a7c890 0%,#accb96 1%,#9fc684 10%,#7ab84f 31%,#6eb33f 40%,#6eb43f 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #a7c890 0%,#accb96 1%,#9fc684 10%,#7ab84f 31%,#6eb33f 40%,#6eb43f 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #a7c890 0%,#accb96 1%,#9fc684 10%,#7ab84f 31%,#6eb33f 40%,#6eb43f 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #a7c890 0%,#accb96 1%,#9fc684 10%,#7ab84f 31%,#6eb33f 40%,#6eb43f 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a7c890', endColorstr='#6eb43f',GradientType=0 ); /* IE6-9 */    

}

.maincontent .textcallout .alignLeft .callout {
	
	float: left;
	margin-left: 0;
	margin-right: 1em;
	
}

.callout a{
    color:#2852B1;
    text-decoration:underline;
}
