@media screen and (max-width: 768px) {
	
	.row-fluid #topnav {
	
	   width: auto;
	   
	}
	
}

/* css for Cancer Immunotherapy Trials Network  - if device screen width is less than 480px */
@media all and (max-width: 480px) {

.container-fluid,span1,span2,span3,span4,span5,span6,span7,span8,span9,span10,span11,span12,#home_logos a,.topnav{
    width:100%;
}

#home_logos a,
.topnav,
.topnav li,
.textimage .image,
#footer_logo img{
    float: none;
}
.flexiblepage .text{
    color:#000000;
}
.topnav{
    border:1px solid white;
}
.spacer{
    display:none;
}
.topnav li{
    width:90%;
    border-bottom:1px solid #6EB43F;
}

.nav_border_r{
    border-right:none;
}
.nav_border_l{
    border-left:none;
}

.textimage .image {
    width:90%;
    margin-top:1em;
}
#sidebar_divider {
    height: 3px;
}


/* ------------- global footer (outside positioning context) ----- */

    .flexiblepage .footer {
        border-top: 3px solid #C4C4C4;
        height: auto;
    }

    #footer_logo img{
        width:90%;
    }
	
    .generalpage .footer {
    
        height: auto;
        
    }
    
    .generalpage .footer #footer_logo {
    
        margin-top: 10px;
        margin-top: 0.625rem;
        
    }

}
