/* css for Cancer Immunotherapy Trials Network (CITN) */

/* This CSS is specifically to override some effects bootstrap has on the design page dialogs. Please do not touch. */
#CQ .x-form-check-wrap input, #CQ .x-form-check-wrap label{float:left;}

body{ 
    font-family: Arial,Helvetical,Verdana,Sans-serif;
    margin: 0;
    padding: 0;
    background-color:#000000; 
}

/* general-purpose, global styles up top */
.container-fluid{
    max-width:960px;
    margin: 0 auto;
}
.generalpage .container-fluid{
    background-color:#FFFFFF;
}
.midcontent{
    padding-top:2em;
    min-height:750px;
}

.nobreak { white-space:nowrap; }
h1 {
    color: #438C12;
    font-size: 175%;
    font-weight: normal;
}
h3{
    color:black;
    font-size: 130%;
    font-weight: bold;
}
.text a{
    color: #2852B1;
}
.text a:hover{
    color:#888888;

}
.bshomepage .text{
    color: #FFFFFF;
    font-size: 14px;
    line-height: 20px;
}
.bshomepage .text a{
    color:#66CC33;
    text-decoration:underline;
}
.bshomepage .text a:hover{
    color:#888888;
}
.bshomepage #nav_home{
    display:none;
}
#home_logos a{
    float: left;
    max-width: 50%;
    padding-top: 3em;
}

.generalpage .text{
    color:#000000;
}
.spacer, .topnav{
    min-height:1em;
}
.header{
    width:105%;
    margin-left:-20px;
    background-color:black;
}

/* Main (top) navigation ******************** */
#topnav {
    float: left;
}
ul#nav{
    margin-left:0;
}

.mainnav{
    float:left;
    height:auto;
    width:100%;
}
.mainnav li {
    display: block;
    float: left;
    margin-left: 1px;
    padding: 2em 12px .5em 6px;
}

.mainnav li.active {
	
	background: #548a30; /* Old browsers */
    background: -moz-linear-gradient(top,  #548a30 0%, #6eb43f 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#548a30), color-stop(100%,#6eb43f)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #548a30 0%,#6eb43f 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #548a30 0%,#6eb43f 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #548a30 0%,#6eb43f 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #548a30 0%,#6eb43f 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#548a30', endColorstr='#6eb43f',GradientType=0 ); /* IE6-9 */
	
}

.mainnav li a{
    color:white;
    text-decoration:none;
}
.mainnav li a:hover{
    color: #6EB43F;
}
.mainnav li.activenav {
    background-color: #6EB43F;
    }
.nav_border_r{
    border-right:2px solid #6EB43F;
}
.nav_border_l{
    border-left:2px solid #6EB43F;
}
.mainnav li:last-child{
    border-right:1px solid black;;
}
.bshomepage .nav_border_l{
    border-left:none;
    border-right:5px double #6EB43F;
}
.bshomepage li.startHandle{
    display:none;
}
.bshomepage .text{
    line-height: 22px;
    padding-left: 70px;
    padding-top: 48px;
}
.textimage .image {
    float: right;
    margin: 5em 1em 1em;
}
.textimage .image img{
    border: 1px solid black;
}
#sidebar_divider {
    background-color: #6EB43F;
    height: 6px;
    margin: 24px 0 10px;
}

/* BIO ******************** */
.biotextimage{
    border: 1px solid #EEEEEE;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background: #eeeeee; /* Old browsers */
    background: -moz-linear-gradient(top,  #eeeeee 0%, #ffffff 35%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eeeeee), color-stop(35%,#ffffff)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #eeeeee 0%,#ffffff 35%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #eeeeee 0%,#ffffff 35%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #eeeeee 0%,#ffffff 35%); /* IE10+ */
    background: linear-gradient(to bottom,  #eeeeee 0%,#ffffff 35%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
    
    /*background-image:url(/content/dam/citn/design/tableback.png);
    background-repeat:repeat-x;
    background-position:top;*/
    margin-bottom:1em;
}

.biotextimage .image{
    float:left;
    padding:1em;
}
.biotextimage .image img{
    border:1px solid black;
}
.biotextimage .text{
    padding:1em;
}


/* CQ editor redirect notice: displays an alert when in WCM mode and the asset has a redirect target. see the foundation template, redirect-notice.jsp */
div.cq-redirect-notice { width:100%; text-align:center; position:absolute; top:0; left:0; z-index:50; }
div.cq-redirect-notice div { width:800px;margin-left:auto;margin-right:auto; background-color:orangered; padding:10px; color:white; font-weight:bold; font-family:Arial,Helvetica,Sans-serif;font-size:13px; }
div.cq-redirect-notice a { color:white; }
div.cq-redirect-notice a:hover { color:#f1f1f1; }

img.frame { border: 3px #eee6d7 solid; }

/* ------- page cluster-top title ----------- */
.cluster_title { border-bottom:2px #e6e1cf solid; margin:0 0 15px 0; padding:0; x-padding-left:10px; font-family:'franklin-gothic-urw-n5','franklin-gothic-urw','Franklin Gothic Medium',Arial,Sans-serif; font-size:210%; line-height:1em; color: #393434; font-weight:500; letter-spacing:normal;} /* letter-spacing accommodates h1.cluster_title for landing pages */
.cluster_title .share_options { text-align:right;margin-top:10px;float:right; }
.cluster_title div.share_options { margin-bottom:0; }

/* ------- breadcrumbs ------------ */

.breadcrumb{
    background-image:none;
    background-color:white;
    border:none;
    padding-left:0;
    margin-bottom:45px;
}
.breadcrumb a{
    color:#555555;
    text-decoration:underline;
}
.breadcrumb a:hover{
    color:#888888;
}



/* ------  section nav appears in the left col -------- */
.section-nav{padding-bottom:2em;}
.section-nav ul { margin:0; padding:0; list-style:square; }
.section-nav ul li a { color:#438C12; text-decoration:none; font-family: Arial,Sans-serif; font-size:13px; x-font-weight:bold; display:block; }
.section-nav ul li a:hover { text-decoration: underline; color:#888888;}
.section-nav ul li.onTrail>a { font-weight:bold; }   /* this is the treatment for ontrail links (which includes the current page link) */
.section-nav ul li.currentPage>a,
.section-nav ul li.currentPage>div>a { font-weight:bold; } /* this is the treatment of the single current page link. the div comes in with the sectionhome element */
.section-nav ul li.currentPage>a:hover,
.section-nav ul li.currentPage>div>a:hover { text-decoration:underline; color:#888888 }                       
.section-nav ul li.currentPage>a:after,
.section-nav ul li.currentPage>div>a:after { content: '»'; margin-left:3px; }
.section-nav ul li { line-height:17px; }


/* level 1 */
.section-nav>ul>li { display:block; padding-top:5px;margin-bottom:4px; padding-bottom:0; padding-left:20px; color:#438C12; font-weight:normal; list-style:square; background-image:url(/content/dam/citn/design/bullet_green.gif); background-repeat:no-repeat; background-position:left 10px;}
.section-nav>ul>li.onTrail { }
.section-nav>ul>li.onTrail>a { }
.section-nav>ul>li.onTrail>a:after { }
/* level 2 */
.section-nav>ul>li>ul>li { display:block; padding-top:7px;padding-bottom:6px; padding-left:10px; color:#333333; font-weight:normal; list-style-type: square;background-image: url("/content/dam/citn/design/bullet_orange.gif"); background-position: left 12px; background-repeat: no-repeat;}
.section-nav>ul>li>ul>li>a { padding-left:0px; color:#333333; }
.section-nav>ul>li>ul>li>a:hover{color:#888888; text-decoration:underline;}


/* section home is the first element in every navigation list */
.section-nav ul li.sectionhome { padding:0;border-top:none;color:#438C12; background-image:none;}
.section-nav ul li.sectionhome div { padding:14px 0 0; }
.section-nav ul li.sectionhome a { font-size:16px;color:#438C12; font-weight:bold;}

/* Footer ******************** */

.homefooter{
    border-top: 6px solid #C4C4C4;
    color: #333333;
    font-size: 75%;
}
.generalpage .footer {
    border-top: 6px solid #C4C4C4;
    color: #333333;
    height: 60px;
    margin:2em 1em 0 1em;
    position: relative;
    padding-top:2em;
}

.footer_home {
    border-top: 1px solid #232323;
    color: #CCCCCC;
    font-size: 90%;
    text-align: right;
    padding-top:.5em;
}
.footer_home a {
    color: #CCCCCC;
}
.footer_home a:hover, #footer_text a:hover {
    color: #888888;
}
#footer_logo img{
    float:right;
}
#footer_text{
    margin-top:1em;
}
#footer_text a{
    text-decoration:underline;
}

/* container dropshadow ******************** */
.dropshadow{
    background-image:url(/content/dam/citn/design/page_container_bg.gif);
    background-repeat:repeat-x;
    height:22px;
    background-color:white;
    margin-left:-20px;
    width:104.2%;
}

/* SEARCH ******************** */

  .search .gsc-search-button input.gsc-search-button{
      background-color: #6EB43F;
      background-image: none;
      border: none;
  }

  #searchresults{
      min-height:3em;
  }

/* label anything as non-printable: */
@media print {
  .noprint { display:none; }
}
