/* -------------- component: TextComponent -----------------------------*/

/* include me in your stylesheet, or copy me and make me your own */

/* colorTheme0 = no special styling */

/* colorTheme1 = white text on teal background */

.textComponent .colorTheme1 { background-color: teal; color: #ffffff; padding:1em; }
.textComponent .colorTheme1 :first-child { margin-top: 0; padding-top: 0; }
.textComponent .colorTheme1 :last-child { margin-bottom: 0; padding-bottom: 0; }

div.textComponent .colorTheme1 h2,
div.textComponent .colorTheme1 h3,
div.textComponent .colorTheme1 h4,
div.textComponent .colorTheme1 h5,
div.textComponent .colorTheme1 h6 { color: #ffffff; }

div.textComponent .colorTheme1 a,
div.textComponent .colorTheme1 a:visited { color: #ffffff;}
div.textComponent .colorTheme1 a:hover { color: #ffffff; text-decoration: none; }

/* colorTheme2 = <color> text on <color> background, etc. */



/* designTheme0 = no special styling */

/* designTheme1 = white text on teal background */

.textComponent .designTheme1 { width:80%; border:2px black solid; }

/* designTheme2 = etc. */