/**
    Custom Side Page Style Sheet for the STRIPE project.
**/

/* ---------- structure ------------*/

.container-par {
    float: right;
    width: 830px;
}

.container-aside {
    float: left;
    width: 150px;
    height:auto; 
    margin-bottom:-20px;
    background-color: #eec900;
    float:  none;
}

.center-parsys{
    margin: 25px 0 25px 25px;   
}

/*-----------page------------*/

.page_description{  
    height: 35px;
    background-color: #636267; 
    padding: 10px 10px 10px 25px;
}

.bottom_description{  
    height: 50px;
}

.bottom_description p{  
    padding-top: 10px;
}


.navbar-stripe-top {
  margin-bottom: 0;
  width: 100%;
}


/*-------------- footer -------------------*/

.footer{
      min-height: 40px;
      margin-top:0px;
      background-color: #636267;
      background-repeat: repeat-x;
      /**border: 1px solid #d4d4d4;
      -webkit-border-radius: 4px;
         -moz-border-radius: 4px;
              border-radius: 4px;
      filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffffffff', endColorstr='#fff2f2f2', GradientType=0);
      *zoom: 1;
      -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
         -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
              box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
              
      width: 940px;
      margin-left: auto;
      margin-right: auto;**/
}

.footer-container{
    border-top: 2px solid grey;
    margin-top: 1px;   
}

.footer-colorbar{
    background-color: #eec900; width: 100%; 
}

/*------------ Sidebar ----------------*/

.container-aside .title h1 {
    margin: 0;
    border-bottom: 3px solid #8c8c8c;
    color: #8c8c8c;
    font-size: 13px;
    font-weight: normal;
    text-transform: uppercase;
}
.container-aside .list ul.default {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.container-aside .list ul.default a {
    display: block;
    padding: 7px 0 6px;
    border-bottom: 1px solid #d9d9d9;
    text-decoration: none;
    color: #5a5a5a;
}
.container-aside .list ul.default a:hover {
    color: #007cba;
}
.container-aside .list ul.default a h4 {
    margin: 0;
    font-size: 12px;
    font-weight: normal;
}

.side-button{
    float: left;
    width: 150px;   
}

/* ----- Side Nav ------*/

.collapse {
    position: static;
}

.nav-collapse {
    clear: none !important;
}

.nav{
    min-width: 0px;
}

.nav-tabs.nav-stacked li > a {
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom: 1px solid #ffffff;
    border-style: none none solid;
    border-width: medium medium 1px;
    /*height: 35px !important;*/
    /*line-height: 15px !important;*/
    /*padding: 15px 20px 0px 10px;*/
    padding: 15px 20px 15px 10px;
}

.nav-tabs.nav-stacked .dropdown-menu li > a {
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom: none;
    height: 35px; 
    line-height: 20px;
    padding: 12px 20px 0px 20px;
    white-space: nowrap;    
}

p {
      margin: 0px !important;
}

.nav-tabs.nav-stacked li:last-child > a {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}


.nav-tabs.nav-stacked li:first-child > a {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

li.dropdown {
    width:150px;
}


.dropdown-menu {
    margin: -39px 0px 0px 149px;
    box-shadow: 7px 3px 10px rgba(0, 0, 0, 0.2);
}



.open > .dropdown-menu {
    border-left: 5px solid transparent;
    border-top: none;  
}

.nav-tabs .dropdown-menu {
    border-radius: 10px 6px 6px 10px;
}

.caret-right {
  border-left: 4px solid red;
  border-right: 0;
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
}


.nav  li  .dropdown-menu:before {
  position: absolute;
  top: 6px;
  padding-top: 10px;
  padding-bottom: 10px;
  left: -6px;
  display: inline-block;
  /*border-right: 7px solid transparent;*/
  /*border-bottom: 7px solid #ccc;*/
  border-top: 6px solid #ccc;
  border-left: 6px solid transparent;
  border-bottom-color: rgba(0, 0, 0, 0.2);
  content: '';
}

.nav  li  .dropdown-menu:after {
  position: absolute;
  top: 6px;
  padding-top: 10px;
  padding-bottom: 10px;
  left: -6px;
  display: inline-block;
  /*border-right: 6px solid transparent;*/
  /*border-bottom: 6px solid #ffffff;*/
  border-bottom: none;
  border-top: 6px solid #ffffff;
  border-left: 6px solid transparent;
  content: '';
}


.nav li.dropdown.selected{
  color: #111111;
  background-color: #dcbfeb;
}

/* ---------- subheader-------*/
.subheader{
    margin: 0px;
    width:100%;
}


/*------------- buttons ------------------*/

.btn-login.active {
  color: rgba(255, 255, 255, 0.75);
}

.btn-login{
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  /*
  background-color: #783100;
  background-color: #783100;*/
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#582400), to(#783100));
  background-image: -webkit-linear-gradient(top, #582400, #783100);
  background-image: -o-linear-gradient(top, #582400, #783100);
  background-image: linear-gradient(to bottom, #582400, #783100);
  background-image: -moz-linear-gradient(top, #582400, #783100);
  background-repeat: repeat-x;
  border-color: #7702b1 #7702b1 #002a80;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ff582400', endColorstr='#ff783100', GradientType=0);
  filter: progid:dximagetransform.microsoft.gradient(enabled=false);
}

.btn-login:hover,
.btn-login:active,
.btn-login.active,
.btn-login.disabled,
.btn-login[disabled] {
  color: #ffffff;
  /*background-position: 0 40px;
  background-color: #783100;
  background-color: #003bb3;*/
}

.btn-login:active,
.btn-login.active {
  /*background-color: #783100;*/
}

.btn-side{
    border-radius: 0;
    height: 50px;
    text-align:center;
    padding:25px 5px 0px 0px;
    width:165px;
    position:relative;
    left:-22px;
    top:-15px;
    margin-bottom:-15px;
    font-size: 24px;
}

/* --------carousel ------*/


.carousel-icons {
    top: 315px;
}

.modal {
   /*margin: -250px 0 0 -525px !important;*/
}

.vertvnavheading1 p {
    font-size: 21px;
    padding-bottom: 3px;
    padding-left: 0px;
}

.container .body_content p{
    margin: 0 0 10px 0 !important;
}

/* ----- columnctrl ------*/

/* 3 column for vertical design*/
div.cq-colctrl-lt7 { }
div.cq-colctrl-lt7-c0 { width: 225px; margin-right:55px;}
div.cq-colctrl-lt7-c1 { width: 225px; margin-right: 55px;}
div.cq-colctrl-lt7-c2 { width: 225px;}

div.cq-colctrl-lt0-v10 { }
div.cq-colctrl-lt0-v10-c0 { width: 395px; margin-right:10px}
div.cq-colctrl-lt0-v10-c1 { width: 395px;}

div.cq-colctrl-lt0-v11 { }
div.cq-colctrl-lt0-v11-c0 { width: 790px; margin-right:10px;}

/* Vertical 3 column */

div.vert-3-col { }
div.vert-3-col-c0 { width: 225px; margin-right:55px;}
div.vert-3-col-c1 { width: 225px; margin-right: 55px;}
div.vert-3-col-c2 { width: 225px;}


/* Vertical 2 column */

div.vert-2-col { }
div.vert-2-col-c0 { width: 395px; margin-right:10px;}
div.vert-2-col-c1 { width: 395px;}

/* Vertical 1 column */
div.vert-1-col { }
div.vert-1-col { width: 790px; margin-right:10px;}

/* Vertical 2 column two-third-one-third */ 

div.vert-2-col-two-third-one-third {}
div.vert-2-col-two-third-one-third-c0 { width: 585px; margin-right: 15px;}
div.vert-2-col-two-third-one-third-c1 { width: 200px;}

/* section title */

.sectiontitle p  {
    padding-left: 3px;
}


/*** FOR SMART DEVICES  ***/


/*---------- navbar ----------*/
.navbar-inner{
  background-image: none;
  background-color: #582400;
}

.navbar-inverse .navbar-inner {
  background-color: #582400;
  background-image: -moz-linear-gradient(top, #582400, #783200);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#582400), to(#783200));
  background-image: -webkit-linear-gradient(top, #582400, #783200);
  background-image: -o-linear-gradient(top, #582400, #783200);
  background-image: linear-gradient(to bottom, #582400, #783200);
  background-repeat: repeat-x;
  border-color: #252525;
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ff582400', endColorstr='#ff783200', GradientType=0);
}

.nav li.dropdown.open  .dropdown-toggle,
.nav li.dropdown.active  .dropdown-toggle,
.nav li.dropdown.open.active  .dropdown-toggle {
  color: #000;
  background-color: #f7e380;
}

.nav li.dropdown  .dropdown-toggle:hover{
  color: #000;
  background-color: #f7e380;
}

.nav li a {
    color: #000;
    text-shadow: none;
}

.nav li a:hoover {
    color: #000;
    text-shadow: none;
    background-color: #f7e380;
}


.dropdown-menu {
  background-color: #eec900;
  zoom: 1;
  filter: alpha(opacity=99);
  opacity: 0.99;
}

.dropdown-menu a {
    color: #000;
}

.dropdown-menu li a:hover,
.dropdown-menu li a:focus,
.dropdown-submenu:hover a {
  color: #000;
  background-color: #f7e380;
  background-color: #f7e380;
  background-image: -moz-linear-gradient(top, #f7e380, #f7e380);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f7e380), to(#f7e380));
  background-image: -webkit-linear-gradient(top, #f7e380, #f7e380);
  background-image: -o-linear-gradient(top, #f7e380, #f7e380);
  background-image: linear-gradient(to bottom, #f7e380, #f7e380);
  background-repeat: repeat-x;
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#fff7e380', endColorstr='#fff7e380', GradientType=0);
}

.nav li .dropdown-menu:after {
    border-bottom: 6px solid #DCBFEB;
}