/************* Text component ************/
/********* Text & Image component ********/

div.textComponent div,
div.textimage div.textimageContainer {
	padding: 1em;
}

div.textComponent div.colorTheme0,
div.textimage div.textimageContainer.colorTheme0 {
	padding: 0;
}

div.textComponent div.colorTheme1,
div.textimage div.colorTheme1 {
	background-color: #cbe5ec;
}

div.textComponent div.colorTheme2,
div.textimage div.colorTheme2 {
	background-color: #f2f0e6;
}

div.textComponent div.colorTheme3,
div.textimage div.colorTheme3 {
	background-color: #e2e2e2;
}

div.textComponent div.colorTheme4,
div.textimage div.colorTheme4 {
	background-color: #dc3b0f;
	color: #ffffff;
}

div.textComponent div.colorTheme5,
div.textimage div.colorTheme5 {
	background-color: #099cc5;
	color: #ffffff;
}

/* adjust hyperlinks for the darkest background colors */
div.textComponent div.colorTheme4 a,
div.textimage div.colorTheme4 a,
div.textComponent div.colorTheme5 a,
div.textimage div.colorTheme5 a,
div.textComponent div.colorTheme4 a:hover,
div.textimage div.colorTheme4 a:hover,
div.textComponent div.colorTheme5 a:hover,
div.textimage div.colorTheme5 a:hover {
	color: #b5b5b5;
}

div.textComponent div.colorTheme4 a:visited,
div.textimage div.colorTheme4 a:visited,
div.textComponent div.colorTheme5 a:visited,
div.textimage div.colorTheme5 a:visited,
div.textComponent div.colorTheme4 a:active,
div.textimage div.colorTheme4 a:active,
div.textComponent div.colorTheme5 a:active,
div.textimage div.colorTheme5 a:active {
	color: #404040;
}

div.content-primary div.textComponent div.colorTheme1 :first-child,
div.content-primary div.textComponent div.colorTheme2 :first-child,
div.content-primary div.textComponent div.colorTheme3 :first-child,
div.content-primary div.textComponent div.colorTheme4 :first-child,
div.content-primary div.textComponent div.colorTheme5 :first-child,
div.content-primary div.textimage div.colorTheme1.leftAlign div.textContainer :first-child,
div.content-primary div.textimage div.colorTheme2.leftAlign div.textContainer :first-child,
div.content-primary div.textimage div.colorTheme3.leftAlign div.textContainer :first-child,
div.content-primary div.textimage div.colorTheme4.leftAlign div.textContainer :first-child,
div.content-primary div.textimage div.colorTheme5.leftAlign div.textContainer :first-child,
div.content-primary div.textimage div.colorTheme1.rightAlign div.textContainer :first-child,
div.content-primary div.textimage div.colorTheme2.rightAlign div.textContainer :first-child,
div.content-primary div.textimage div.colorTheme3.rightAlign div.textContainer :first-child,
div.content-primary div.textimage div.colorTheme4.rightAlign div.textContainer :first-child,
div.content-primary div.textimage div.colorTheme5.rightAlign div.textContainer :first-child {
	padding-top: 0;
	margin-top: 0;
}

div.content-primary div.textComponent div.colorTheme1 :last-child,
div.content-primary div.textComponent div.colorTheme2 :last-child,
div.content-primary div.textComponent div.colorTheme3 :last-child,
div.content-primary div.textComponent div.colorTheme4 :last-child,
div.content-primary div.textComponent div.colorTheme5 :last-child,
div.content-primary div.textimage div.colorTheme1 div.textContainer :last-child,
div.content-primary div.textimage div.colorTheme2 div.textContainer :last-child,
div.content-primary div.textimage div.colorTheme3 div.textContainer :last-child,
div.content-primary div.textimage div.colorTheme4 div.textContainer :last-child,
div.content-primary div.textimage div.colorTheme5 div.textContainer :last-child {
	padding-bottom: 0;
	margin-bottom: 0;
}

/********* END TEXT COMPONENT ***********/

/* Need margin above and below Text/Image/TextImage components */

div.content-primary div.imageComponent,
div.content-primary div.textComponent,
div.content-primary div.textimage {
	
	/*margin: 0.8em 0;
	margin: 0.8rem 0;*/
	
}

/* Let's try asking the user to ADD padding via designTheme, for these two components: */

div.content-primary div.textComponent div.designTheme1,
div.content-primary div.textimage div.designTheme1 {
	margin-bottom: 0.8em;
	margin-bottom: 0.8rem;
}


/********* Image Component **************/

div.content-primary div.imageComponent .frame,
div.content-primary div.textimage .frame {
	
	border: 1px solid #cccccc;
	padding: 0.5em;
	
}

.textimageContainer.noBorder .imageContainer img,
.imageComponent .imageAndCaption.noBorder .imageContainer img {
    
    padding: 0;
    border: 0;
    
}

.imageComponent .imageAndCaption.rightAlign {

	float: right;

}

.textimageContainer.centerAlign .imageAndCaption,
.imageComponent .imageAndCaption.horizontallyCentered .imageContainer img {
    
    float: none;
    margin: 0 auto;
    max-width: 100%;
    display: block;
    
}

.textimageContainer .imageAndCaption .captionAndCredit,
.imageComponent .imageAndCaption .captionAndCredit {
    
    padding: 0.25em 0.25em; /* was .75em 0.25em */
    /*text-transform: uppercase;*/
    /*font-weight: 700;*/
    line-height: 1.1em;
    
}

.textimageContainer .imageAndCaption .caption,
.textimageContainer .imageAndCaption .credit,
.textimageContainer .imageAndCaption .hiRes,
.imageComponent .imageAndCaption .caption,
.imageComponent .imageAndCaption .credit,
.imageComponent .imageAndCaption .hiRes {
    
    display: block;
    
}

.textimageContainer .imageAndCaption .caption,
.imageComponent .imageAndCaption .caption {
    
    font-size: 0.9em;
    /*line-height: 1.0em;*/
    font-family: museo_slab500italic, Helvetica, Arial, sans-serif;	
    
}

.textimageContainer .imageAndCaption .credit,
.textimageContainer .imageAndCaption .hiRes,
.imageComponent .imageAndCaption .credit,
.imageComponent .imageAndCaption .hiRes {
    
    font-size: 0.75em;
    /*line-height: 1.0em;*/
    
}

/*********** END IMAGE COMPONENT **********/

.textimageContainer.leftAlign .imageAndCaption {
    
    float: left;
    margin-right: 1.5em;
    max-width: 40%;
        
}

.textimageContainer.rightAlign .imageAndCaption {
    
    float: right;
    margin-right: 0;
    margin-left: 1.5em;
    max-width: 40%;
    
}

.textimageContainer .imageContainer img {
    
    max-width:100%;
    padding: 0.5em;
    margin: 0 auto;
    display: block;
    box-sizing: border-box;
    
}

@media screen and (max-width:480px) {
    
	.textimageContainer.leftAlign .imageAndCaption,
	.textimageContainer.rightAlign .imageAndCaption,
	.textimageContainer.centerAlign .imageAndCaption {        
	    float: none;
	    margin: 0 auto;
	    max-width: 100%;        
	}
   
	div.content-primary div.textimage div.colorTheme1.leftAlign div.textContainer :first-child,
	div.content-primary div.textimage div.colorTheme2.leftAlign div.textContainer :first-child,
	div.content-primary div.textimage div.colorTheme3.leftAlign div.textContainer :first-child,
	div.content-primary div.textimage div.colorTheme4.leftAlign div.textContainer :first-child,
	div.content-primary div.textimage div.colorTheme5.leftAlign div.textContainer :first-child,
	div.content-primary div.textimage div.colorTheme1.rightAlign div.textContainer :first-child,
	div.content-primary div.textimage div.colorTheme2.rightAlign div.textContainer :first-child,
	div.content-primary div.textimage div.colorTheme3.rightAlign div.textContainer :first-child,
	div.content-primary div.textimage div.colorTheme4.rightAlign div.textContainer :first-child,
	div.content-primary div.textimage div.colorTheme5.rightAlign div.textContainer :first-child {
		padding-top: inherit;
		margin-top: inherit;
	}

}

/******** END TEXT & IMAGE COMPONENT ******/

/*********** Header Component *************/

div.content-primary div.headerWidget .isUnderlined {
	
	border-bottom: 3px solid #868484;
	
}

div.content-primary div.headerWidget a {
	
	text-decoration: none;
	
}

/* User can remove padding */

div.content-primary div.headerWidget .omitPadding {
	
	margin-bottom:0;
	
}


/*********** END HEADER COMPONENT ********/

/*********** Bucket Component *************/

div.content-primary div.bucket {
	
	/*max-width: 260px;*/ /* removing this constraint to avoid several side effects including strange width effects at smaller form factors */
	text-align: center;
	/*margin-bottom: 32px;
	margin-bottom: 2rem;*/
	margin-bottom: 0.8em;
	margin-bottom: 0.8rem;
	
}

div.content-primary div.bucket div.bucketImageContainer {
	
	/*margin-bottom: 30px;
	margin-bottom: 1.875rem;*/
	margin-bottom: 1em;
	margin-bottom: 1rem;
	
}

div.content-primary div.bucket h2.bucketHeader {
	margin:0; /* rely on the margins of the image and the text for spacing */
}

@media screen and (max-width: 480px) {
	
	div.content-primary div.bucket div.hideAtMobile {
		
		display: none;
		
	}	
	
}

/*********** END BUCKET COMPONENT ********/

/*********** Horizontal Line Component *************/

div.content-primary div.horizontalLine hr {
	
	border-top: 3px solid #404040;
	margin: 0.8em 0;
	margin: 0.8rem 0;
	
}

div.content-primary div.right-column div.horizontalLine hr {
	
	margin: 0.8em 0;
	margin: 0.8rem 0;
	
}

div.content-primary div.horizontalLine div.colorTheme0 hr {
	
	border-top: 3px solid #999999;
	
}

div.content-primary div.horizontalLine div.colorTheme1 hr {
	
	border-top: 3px solid #404040;
	
}

div.content-primary div.horizontalLine div.colorTheme2 hr {
	
	border-top: 3px solid #f9a28a;
	
}

div.content-primary div.horizontalLine div.colorTheme3 hr {

	border-top: 3px solid #4195b1;
	
}

div.content-primary div.horizontalLine div.colorTheme4 hr {

	border-top: 3px solid #ffffff;
	
}

/*********** END HORIZONTAL LINE COMPONENT *********/

/*-------------- component: OOTB columns --------------- */

div.cq-colctrl-cols {width: 100%; float: left; }

div.cq-colctrl-default { width: 100%;}

div.parsys_column { height: 100%; width: 100%; float: left; border: 0; vertical-align:top; padding: 0; margin: 0;}
div.parsys_column div.section { overflow:hidden; width: 100%; }
div.parsys_column div.section { zoom: 1; /* Property added to avoid IE hasLayout issue on paragraphs see #20817 - IE6: div around Drag Components image not big enough*/ }

/* layout 0 : 50% 50% */
div.cq-colctrl-lt0 { }
div.cq-colctrl-lt0-c0 { width: 48.5%; margin-right:1.5%; } 
div.cq-colctrl-lt0-c1 { width: 48.5%; margin-left: 1.5%; }

/* layout 3 : 66% 33% */
div.cq-colctrl-lt3 { }
div.cq-colctrl-lt3-c0 { width: 64.666666666666%; margin-right:1.5%; } 
div.cq-colctrl-lt3-c1 { width: 32.333333333333%; margin-left: 1.5%; }

/* layout 2 : 33% 66% */
div.cq-colctrl-lt2 { }
div.cq-colctrl-lt2-c0 { width: 32.333333333333%; margin-right: 1.5%; }
div.cq-colctrl-lt2-c1 { width: 64.666666666666%; margin-left: 1.5%; } 

/* layout 1 : 33% 33% 33% */
div.cq-colctrl-lt1 { }
div.cq-colctrl-lt1-c0 { width: 31.333333333333%; margin-right: 1.5%;}
div.cq-colctrl-lt1-c1 { width: 31.333333333333%; margin-left: 1.5%; margin-right: 1.5%;}
div.cq-colctrl-lt1-c2 { width: 31.333333333333%; margin-left: 1.5%; }

/* layout 4 : 25% 25% 25% 25% */
div.cq-colctrl-lt4 { }
div.cq-colctrl-lt4-c0 { width: 22.75%; margin-right: 1.5%;}
div.cq-colctrl-lt4-c1 { width: 22.75%; margin-left: 1.5%; margin-right: 1.5%;}
div.cq-colctrl-lt4-c2 { width: 22.75%; margin-left: 1.5%; margin-right: 1.5%;}
div.cq-colctrl-lt4-c3 { width: 22.75%; margin-left: 1.5%; }


@media screen and (max-width:768px) {
	
  /* 4-columns 
     on tablet-sized devices 4-columns switches to 2 rows, 2 cols */
  div.parsys_column div.cq-colctrl-lt4-c0 { margin:0; width: 48.5%; margin-right: 1.5%;}
  div.parsys_column div.cq-colctrl-lt4-c1 { margin:0; width: 48.5%; margin-left: 1.5%; }
  div.parsys_column div.cq-colctrl-lt4-c2 { margin:0; clear:both; width: 48.5%;  margin-right: 1.5%;}
  div.parsys_column div.cq-colctrl-lt4-c3 { margin:0; width: 48.5%; margin-left: 1.5%; }  	
	
}

@media screen and (max-width:480px) {
	
   /* all columns stack at the smallest form factor */
 
   div.parsys_column {   
     float:none; 
     margin-right:0; margin-left:0;
   }
   div.parsys_column div.parsys_column {
     width: 100%;
     overflow: hidden;
     margin:0;
     margin-bottom: 1em; /* adds a line of separation between now-stacked columns */
   }    
	
		
}

/* ------------- component: OOTB search ---------------- */

div.sitesearch {
    /*padding:0 1em 0 0;*/
}
div.sitesearch form { 
	border:1px #cccccc solid; 
	position:relative;
	padding-left:.5em;
	padding-right:3.5em; /* big enough to clear the search button */
	margin:0; 
}
div.sitesearch form input.searchbox,
div.sitesearch form input.searchbutton {
    border:0; margin:0; padding:0;
    font-size: 1.2em;
    height: 2em;
}		
div.sitesearch form input.searchbox {
    width: 100%;
}
div.sitesearch form input.searchbutton {
    position: absolute;
    right:0; top:0;
    width: 2em; 
	color: #ffffff;
	background: #f37653; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2YzNzY1MyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNkYzNiMGYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #f37653 0%, #dc3b0f 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f37653), color-stop(100%,#dc3b0f)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #f37653 0%,#dc3b0f 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #f37653 0%,#dc3b0f 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #f37653 0%,#dc3b0f 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #f37653 0%,#dc3b0f 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f37653', endColorstr='#dc3b0f',GradientType=0 ); /* IE6-8 */
	overflow: auto; /* http://stackoverflow.com/questions/7131356/filter-progiddximagetransform-microsoft-gradient-is-not-working-in-ie7 */
}
div.sitesearch form input.searchbutton:hover {
    background: #dc3b0f; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2RjM2IwZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmMzc2NTMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #dc3b0f 0%, #f37653 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#dc3b0f), color-stop(100%,#f37653)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #dc3b0f 0%,#f37653 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #dc3b0f 0%,#f37653 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #dc3b0f 0%,#f37653 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #dc3b0f 0%,#f37653 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dc3b0f', endColorstr='#f37653',GradientType=0 ); /* IE6-8 */
}

div.sitesearch div.searchRight {  /* search result additional features */
    border-left: 1px solid #dddddd;
    float: right;
    width: 25%;
    padding-left: 1em;
    padding-bottom: 1em;
    margin-left: 1em;
}

div.pushdown_search div.sitesearch form {  /* cascading overrides for the push-down search widget */
    background-color: #ffffff;
    padding-right:2.5em; 
}
div.pushdown_search div.sitesearch form input.searchbox,
div.pushdown_search div.sitesearch form input.searchbutton {
    font-size: 1.1em;
    height: 1.8em; 
}

div.sitesearch div.searchTrends .size12 { font-size:.9em; } /* these must match the classes set in the search component for setMinSize() and setMaxSize() */
div.sitesearch div.searchTrends .size13 { font-size:1em; }
div.sitesearch div.searchTrends .size14 { font-size:1.1em; }
div.sitesearch div.searchTrends .size15 { font-size:1.2em; }
div.sitesearch div.searchTrends .size16 { font-size:1.3em; }
div.sitesearch div.searchTrends .size17 { font-size:1.4em; }
div.sitesearch div.searchTrends .size18 { font-size:1.5em; }

div.sitesearch div.searchRight p {
    text-align: left;
    font-weight: bold;
    margin-bottom: .4em;
}
div.sitesearch div.searchRight div.tagexplorer {
    font-size:.9em; 
}
div.sitesearch dl.hitresults {
    margin-bottom:1em;
    line-height: 1.3;
    margin-top: 1em;
}
div.sitesearch dl.hitresults dd {
    margin-left: 0;
    margin-bottom: 1em;
}
div.sitesearch dl.hitresults div.hiturl {
    font-size:.85em;
    color: #888888; 
}
        
div.sitesearch div.result_paging {}
div.sitesearch div.result_paging .pagetile {
    padding:0 .25em; /* Luke says we need 44px targets for mobile */
}
div.sitesearch div.result_paging .pagetile.previouspage {
    padding-left:0;
}
div.sitesearch div.result_paging .pagetile.nextpage {
    padding-right:0;
}

div.sitesearch span.icon img {
    width: 16px;
    height: 16px;
}
div.sitesearch span.icon  { /* be sure dispatcher is configured to serve from /etc/designs/default */
    padding: 0 2px 8px 0;
    background: url(../../../../../etc/designs/default/images/icons/default.gif) no-repeat
}
div.sitesearch span.icon.type_doc  {
    background: url(../../../../../etc/designs/default/images/icons/doc.gif) no-repeat
}
div.sitesearch span.icon.type_eps  {
    background: url(../../../../../etc/designs/default/images/icons/eps.gif) no-repeat
}
div.sitesearch span.icon.type_gif  {
    background: url(../../../../../etc/designs/default/images/icons/zip.gif) no-repeat
}
div.sitesearch span.icon.type_jpg  {
    background: url(../../../../../etc/designs/default/images/icons/jpg.gif) no-repeat
}
div.sitesearch span.icon.type_pdf  {
    background: url(../../../../../etc/designs/default/images/icons/pdf.gif) no-repeat
}
div.sitesearch span.icon.type_ppt  {
    background: url(../../../../../etc/designs/default/images/icons/ppt.gif) no-repeat
}
div.sitesearch span.icon.type_tif  {
    background: url(../../../../../etc/designs/default/images/icons/tif.gif) no-repeat
}
div.sitesearch span.icon.type_txt  {
    background: url(../../../../../etc/designs/default/images/icons/txt.gif) no-repeat
}
div.sitesearch span.icon.type_xls  {
    background: url(../../../../../etc/designs/default/images/icons/xls.gif) no-repeat
}
div.sitesearch span.icon.type_zip  {
    background: url(../../../../../etc/designs/default/images/icons/zip.gif) no-repeat
}
