/*
 * Forms-overrides.css
 *
 * These styles override those found in /etc/clientlibs/foundation/form/form.css [cq.forms]
 * that should come in via a dependency or an embed.
 *
 */ 

.form_section input,
form .form_row,
form .form_field_text, form .form_field_textarea,
form .form_row_description,
form div.form_cc_expiry_separator
{ font-size: inherit; }

form .form_field_text, form .form_field_textarea {
    font-family: inherit;
}

.form_section input,
form .form_row,
form .form_field_text, form .form_field_textarea,
form .form_row_description {
    color: inherit;
}

form div.section {
    padding-bottom:1em;
}


form .form_field_textarea {
    width: 100%;
}

form .form_field_text,
form .form_field_text.form_field_multivalued,
form .form_field_select {
	max-width:100%;
}

form .form_row {
    line-height: 1.7em;
}
form .form_row_description {
    line-height: inherit;
    margin-top:4px;
}


/* captcha */
form div.captcha.section {}
form div.captcha.section .form_captchatimer { margin-bottom:.5em; }
form .form_captcha_refresh { float:left; margin-left:1rem; }
form .form_captcha_refresh input.form_button { text-transform:capitalize; }
@media screen and (max-width:350px){ /* send the refresh button to its own line */
	form .form_captcha_refresh { float:none; clear:left; margin-left:0; }
}

form .form_button_submit { 
    font-size:1.2em;
    font-family: inherit;
}

/* highlight colors */
form .form_leftcolmark,
form .form_rightcolmark,
form .form_error {
    color: #dc3b0f;
}