/* ie8 conditional */

/* royalslider */
.rsMinW .rsNav.rsBullets { padding-right:0; max-width:90%; }
.rsMinW .rsBullet span { border:none; }

/* exact positioning of the global nav's drop downs */
div#navigation-main-wrapper ul.navigation-sub {
	top:35px;
}

/* sup and sub need some help on ie */
sup {
	vertical-align:super;
	font-size:0.9em;
	font-size:0.9rem;
}
sub {
	vertical-align:sub;
	font-size:0.9em;
	font-size:0.9rem;
}


