@charset "utf-8";
/* CSS Document */

/* BASE TYPOGRAPHY STYLES */

div.content-primary { /* this div contains the main content well (.main-content-well) and the right-hand column (.right-column) */
	font-family: museo_slab500, Helvetica, Arial, sans-serif;	
  color: #404040;
}

div.content-primary a,
div.content-primary a:hover {
  color: #099cc5;  
} 
div.content-primary a:active {
  color: #404040;
}

div.content-primary a.internalAnchor {
	display: block; 
	position: relative; 
	top: -192px; 
	visibility: hidden;
}

div.content-primary b,
div.content-primary strong { /* use fonts for bold and italic body text, not browser styling */
	font-family: museo_slab700, Helvetica, Arial, sans-serif;	
	font-weight: normal;
}
div.content-primary i,
div.content-primary em {
	font-family: museo_slab500italic, Helvetica, Arial, sans-serif;	
	font-style: normal;
}
div.content-primary b i,
div.content-primary b em,
div.content-primary strong i,
div.content-primary strong em,
div.content-primary i b,
div.content-primary em b,
div.content-primary i strong,
div.content-primary em strong
 {
	font-family: museo_slab700italic, Helvetica, Arial, sans-serif;	
	font-style: normal;
	font-weight: normal;
}

sup {
	vertical-align:super;
	font-size:0.8em;
	font-size:0.8rem;
}
sub {
	vertical-align:sub;
	font-size:0.8em;
	font-size:0.8rem;
}

/* SECTION-SPECIFIC TYPOGRAPHY STYLES */

div.content-primary p,
div.content-primary ul,
div.content-primary ol,
div.content-primary blockquote,
div.content-primary pre,
div.content-primary q { /* block-level elements have consistent top/bottom margins */
  margin:0.8em 0;
  margin:0.8rem 0;
}

div.content-primary p {
  line-height: 1.3em;
}

div.content-primary ul {
  margin-left:2.2em;
}
div.content-primary ol {
  margin-left:2.5em;
}

div.content-primary ul li,
div.content-primary ol li {
  line-height: 1.2em; /* touch smaller than regular leading */
  margin-bottom:.8em;
  margin-bottom:.8rem;
}

/* header elements */
div.content-primary h1, h2, h3, h4, h5  {
  margin:0.8em 0;
}
/* h1 per template */
body.homepage div.content-primary h1 {
  display:none; /* homepage does not reveal its h1 */
}
body.landingpage div.content-primary h1 {
  font-size:3.4em;
  margin:.4em 0 0 0;
  font-family: novecento_widebook,Helvetica, Arial, sans-serif;
  color: #099cc5;
  font-weight: normal;
}
body.generalpage div.content-primary h1 {
  font-size:2.83em;
  margin:1em 0 .8rem 0;
  font-family: novecento_widebook,Helvetica, Arial, sans-serif;
  color: #dc3b0f;
  font-weight: normal;
  text-transform: uppercase;
}
/* h2 per template */
body.homepage div.content-primary h2 {
  font-size:1.5em;
  font-family: novecento_widemedium,Helvetica, Arial, sans-serif;
  letter-spacing: 0.01em;
  font-weight: normal;
}
body.landingpage div.content-primary h2,
body.generalpage div.content-primary h2 {
  font-size:1.5em;
  font-family: museo_sans500, Helvetica, Arial, sans-serif;
  font-weight: normal;
}
/* h3 per template */
body.homepage div.content-primary h3 {
  font-size:1.4em;
  font-family: novecento_widemedium,Helvetica, Arial, sans-serif;
  letter-spacing: 0.05em;
  font-weight: normal;
}
body.landingpage div.content-primary h3,
body.generalpage div.content-primary h3 {
  font-size:1.3em;
  font-family: museo_sans500, Helvetica, Arial, sans-serif;
  font-weight: normal;
}
/* h4 per template */
body.homepage div.content-primary h4,
body.landingpage div.content-primary h4,
body.generalpage div.content-primary h4 {
  font-size:1.1em;
  font-family: museo_slab700, museo_slab500, Helvetica, Arial, sans-serif; 
  font-weight: normal;
}



/* STANDARD ELEMENTS */
body {
	background: #ffffff;
}

div#wrapper-header-fixed {
	width: 100%;
	position: fixed;
	/*height: 185px;*/
	z-index: 100;
  top:0;
}

/*div#wrapper-header-fixed.search-active {
	height: 262px;
}*/

div#wrapper-header {
	width: 100%;
	background: #ffffff;	
}

/*div#wrapper-header.search-active {
	height: 228px;
}*/

div#header {
	/*height: 148px;*/
	max-width: 978px;
	margin: 0 auto;	
	padding-bottom: 15px;
	padding-top: 0; /* when adjusting the thickness of the header, also adjust the initial margin-top of div#slideshow to reduce flutter */
}

div#logo-hvtn {
  float: left;
  padding: 32px 0 0 30px;
  /*width: 214px;*/
}
div#logo-hvtn h1 {
	margin:0; padding:0;
}

div#header-right {
	float: right;
}

div#logo-fred-hutch {
  float: right;
  padding: 32px 30px 8px;
}

div#navigation-utility {
	float: right;
	padding: 0 30px 0 0;
}

div#navigation-utility a {
	color: #8d8d8d;
	text-decoration: none;
}

div#navigation-utility a.header-search {
	color: #ef6d49;
}

div#navigation-utility a:hover {
	text-decoration: underline;
}

body.homepage div#navigation-utility span.homenav {
	display:none;
}

div#header-search {
	display: none;
	float: right;
	/*height: 38px;*/
	margin: 24px 30px 0 0;
}

input[type="text"].input-text-standard {
	height: 34px;
	width: 280px;
	border: 1px solid #000000;
	border-radius: 10px;
	padding: 4px 0 4px 12px;
	font-family: museo_sans500,Arial,Helvetica,sans-serif;
	letter-spacing: 0.03em;
	letter-spacing: 0.04rem;	
	font-size:1.3em;
	margin-right: 12px;
	outline: none;
}

div#header-mobile-search input[type="text"].input-text-standard {
	
	max-width: 70%;
	
}

div#header-mobile-menu {
	
	display: none;
	/*height: 40px;*/ /* remove: now we have fred hutch banner */
	line-height: 40px; /* matches height */
	background-color: #000000;
	padding: 0 10px;
	color: #ffffff;
	font-family: novecento_widedemibold, Helvetica, Arial, sans-serif;
	font-size: 1.1em;
	font-size: 1.1rem;
	text-align: center;
	
}

div#header-mobile-menu img#fhcrc_banner {
  width: 350px;
}

div#header-mobile-menu #mobile-search-icon {
	float:left;
	color: #EF6D49;
}
div#header-mobile-menu #mobile-search-icon:hover {
	cursor: pointer;
}

img#mobile-logo-header {
  border: 0;
  margin-top: 4px;
  height: 30px;
}

div#header-mobile-menu-toggle {
	
	float: right;
	cursor: pointer;
	text-transform:uppercase;
	
}

div#header-mobile-menu-toggle img {
	
	display: inline-block;
	vertical-align: middle; /*text-bottom;*/
	
}

div#header-mobile-search {
	
	display: none;
	background-color: #404040;
	padding: 5px 14px;
	padding: 0.3125rem 0.875rem;
	
}

div#navigation-main-wrapper {
	height: 50px;
	position: relative;
}

/* GLOBAL NAVIGATION */

ul#navigation-main {
	margin: 0 auto;
	list-style-type: none;
	text-align: center;
	font-family: novecento_widedemibold, Helvetica, Arial, sans-serif;
	color: #ffffff;
	letter-spacing: .02em;
	letter-spacing: .02rem;
}

ul#navigation-main li {
	display: inline;
	margin: 10px 0 0 0;
	padding: 0 10px 0 10px;
	position: relative;
	top: 16px;
	text-transform: uppercase;	
}

ul#navigation-main li a {
	color: #ffffff;
	text-decoration: none;
	font-size: 104%;
	padding: 0 20px 0 20px;
	max-width: 978px;
}

ul#navigation-main > li > a {
	height: 50px; /* needed to provide padded target for hover effect on desktop for just the MAIN ELEMENTS of the navigation */
	display: inline-block; /* used to be on ul#navigation-main li a */
}

ul#navigation-main li a:hover,
ul#navigation-main li a.currentSection {
	color: #ef6d49;
	text-decoration: none;
}

div#navigation-main-wrapper ul.navigation-sub {
	background-color: rgb(207, 62, 22); /* ie8 */
	filter: alpha(opacity=90) !important; /* ie8 */
	background: none repeat scroll 0 0 rgba(207, 62, 22, 0.9);
    border-bottom: 1px solid #AD3210;
    border-left: 1px solid #AD3210;
    border-right: 1px solid #AD3210;
    display: none;
    left: 7px;
    padding: 12px 12px 24px;
    position: absolute;
    text-align: left;
    top: 36px;
    min-width: 230px; /* arbitrary: make the dropdown elements a little chunkier. without this they shrink-wrap to the width of the longest single word in the nav elements within */
}

ul#navigation-main li ul.navigation-sub li {
	display: block;
	text-transform: uppercase;
	top: 0px;
}

ul#navigation-main li.chevron { 
  display:block;
  margin:0;
  position:absolute;
  margin-top: -9px;
  left: 0;
  background-image: url(../../img/nav/dropdown-chevron.png);
  background-position: left top;
  background-repeat: no-repeat;
  height: 9px;
  width: 100%;
}

ul#navigation-main li.navigation-sub-item a {
	padding: 0;
	height: auto; /*24px;*/
}

ul#navigation-main li.navigation-sub-item a:hover {
	color: #a4a4a4;
	cursor: pointer; 
}

.black-alpha60 {
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.8);
    /* For IE 5.5 - 7*/
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#CC000000, endColorstr=#CC000000);
    /* For IE 8*/ /* http://css-plus.com/2010/04/ie-opacity-with-css/ */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)"; 
}


div#slideshow {
    height: auto;
    margin: 0 auto;
    margin-top: 135px; /* initial setting, will be adjusted by javascript */
    background-color: #000000;
}

div.slideshow-contents {
    /*max-width: 1500px;*/ /* if you re-enable the max-width, your slideshow imagery must be at least this large */
    margin-left:auto; margin-right:auto;
}

/* general pages don't have leading graphics on them */
body.generalpage div.slideshow-contents {
    display:none;
}

/* landingpage display images need to be block for pixel precise */
body.landingpage div.slideshow-contents img {
    display:block;
    width: 100%; 
}


/*div#slideshow.search-active {
	top: 211px;
}*/

/* right column for general pages can contain
   section navigation and/or related content.
   use the class on the body tag to figure out
   which is in force for this page. */



div.right-column { display:none; }
div.related-content { display:none; }
div.section-navigation { display:none; }

body.with_related_content div.main-content-well,
body.with_section_navigation div.main-content-well {
  width:62.1052631%;
  float:left;
}
body.with_section_navigation div.right-column,
body.with_related_content div.right-column {
  width:31.578947%; 
  float:right;
  display:block;
}
body.with_related_content div.related-content {
  display:block;
}
body.with_section_navigation div.section-navigation {
  display:block
}

/* section nav */
div.section-navigation { display:none; }
body.with_section_navigation div.section-navigation {
  display:block;
}
div.section-navigation {
  margin-left: 27px;
  border-bottom: 3px #cccccc solid;
  padding-bottom: 2em;
}
div.section-navigation h3 {
  margin-bottom:1.0em;
}
div.section-navigation ul {
  margin-bottom:1.5em;
  margin-left:0;
}
div.section-navigation ul li {
  list-style: none;
  margin-bottom:1em;
  line-height:1.2em;
  line-height:1.2rem;
}
div.section-navigation ul > li:first-child {
  margin-top:1em;
}
div.section-navigation h3 { /* level 1 */
  font-size:1.6em;
  font-weight:normal;
  text-transform: uppercase;
}
div.section-navigation > ul > li a { /* level 2 */
  font-family: museo_sans500, Helvetica, Arial, sans-serif;
  font-size: .95em;
  color: #dd3e26;
  text-transform: uppercase;
}
div.section-navigation > ul > li a:active,
div.section-navigation > ul > li a:hover {
  color: #dd3e26;
}
div.section-navigation > ul > li a:hover { text-decoration:underline; }


div.section-navigation > ul > li > ul  li  {/* level 3 and below  */
  margin-left:1em;
  margin-left:1rem;
}

div.section-navigation > ul > li > ul > li a { /* level 3 */
  font-family: museo_sans500, Helvetica, Arial, sans-serif;
  font-size: .95em;
  color: #000000;
  text-transform: none;
  text-decoration: underline;
}  
div.section-navigation > ul > li > ul > li a:active,
div.section-navigation > ul > li > ul > li a:hover {
  color: #000000;
}
div.section-navigation > ul > li > ul > li a:hover { text-decoration:underline; }
div.section-navigation > ul > li > ul > li > ul > li a { /* level 4 */
  font-family: museo_sans500, Helvetica, Arial, sans-serif;
  font-size: .95em;
  color: #333333;
  text-transform: none;
  text-decoration: underline;
}  
div.section-navigation > ul > li > ul > li > ul > li a:active,
div.section-navigation > ul > li > ul > li > ul > li a:hover { 
   color: #333333; 
}
div.section-navigation li.currentPage > a {
  text-decoration:none;
  font-family: museo_sans700, museo_sans500, Helvetica, Arial, sans-serif;
} 

body.with_related_content.with_section_navigation div.section-navigation {
  border-bottom: none;
}


/* related content in the right-hand column */
div.related-content {
  background-color: #ffffff; /* default color */
  padding:1px 0; /* handles the margin-folding */
}
div.related-content-content {
  margin-top: 40px; /* if you change this also change in the media query, below, to match */
  margin-bottom: 40px;
  margin-left: 27px;
  margin-right: 27px;
}
body.related-color-0 div.related-content {
  background-color: #cbe5ec;
}
body.related-color-1 div.related-content {
  background-color: #f2f0e6;
}
body.related-color-2 div.related-content {
  background-color: #e2e2e2;
}


div#back-to-parent {
  display:none; /* appears only in responsive form factors */
}


div#breadcrumbs {
  display:none;
  font-family: museo_sans500, Helvetica, Arial, sans-serif;
  font-weight:normal;
}
body.generalpage div#breadcrumbs {
  margin-top:40px;
  display:block;
  color:#78787A; /* also set the a color */
}

div#breadcrumbs ul {
	font-size: 14px;
    font-size: 0.875rem;
    font-weight: normal;
    letter-spacing: 0.3px;
    margin: 0;
    padding: 0;
}
div#breadcrumbs ul li:after {
    content: " >";
}
div#breadcrumbs ul li {
    display: inline;
    list-style: none outside none;
    margin-right: 0.6em;
    font-size:1.2em;
}
div#breadcrumbs ul li.firstTwoBreadcrumbs {
    text-transform: uppercase;
    font-family: novecento_widemedium,Helvetica, Arial, sans-serif;
}
div#breadcrumbs ul li.currentPageBreadcrumb:after {
    content: "";
}
div#breadcrumbs ul li a {
    text-decoration:none;
    color: #404040;
}
div#breadcrumbs ul li a:hover {
   text-decoration:underline;
}
div#breadcrumbs ul li.currentPageBreadcrumb {
	color: #d4603e;
}

div#wrapper-content-outer {
    /*position: relative;*/
    /*margin-top: 550px;*/
    /*z-index: -5;*/
	  padding: 0 0 70px 0; /* bottom padding is the spacing between content and footer */
}

div#wrapper-content {
    /*border-left: 1px solid #000000;
    border-right: 1px solid #000000;*/
    margin: 0 auto;
    max-width: 978px;
    /*min-height: 1200px;*/
    /*position: relative;
    top: 96px;*/
    width: 100%;
}

div#hp-content-banner {
    margin:0 auto;
    text-align:center;
    padding:30px;
    padding-bottom:0;
    display:none; /* only appears on the homepage */
}
body.homepage div#hp-content-banner {
    display:block;
}

div#mobile-section-navigation {
    display:none; /* only appears on mobile form factors */
}


div#content-primary {
	padding: 30px;
	/*background-color:#ffeeee;*/
}


div#hp-content-mobile-logos {
   display:none;
}


div#wrapper-footer-outer {
    background: none repeat scroll 0 0 #DC3B0F;
    border-top: 1px solid #F6CBBF;
    min-height: 260px;
    /*position: relative;*/
    /*z-index: -1;*/
}

div#wrapper-footer {
	width: 100%
}

div#footer {
    margin: 0 auto;
    max-width: 978px;
    width: 100%;
    /*padding: 24px 30px;*/
    padding: 24px 30px 0 30px;
}

div#footer-text p.affiliation a {
   text-decoration:none;
}
div#footer-text p.affiliation .title {
   text-transform: uppercase;   
}


div#footer-mobile-util-nav {
	
	display: none;
	font-family: museo_sans500, Helvetica, Arial, sans-serif;
}

div#footer-mobile-util-nav p {
  font-size:16px;
  font-size:1em;
  font-size:1rem;
  line-height:24px;
  line-height:1.5em;
  line-height:1.5rem;
}

div#footer-social {
	float: right;
	/*width: 27.60736196319018%;*/
	/*max-width: 270px;*/
}

div.footer-social-item {
	float: left;
	width: 17.03703703703704%;
	max-width: 46px;
	margin-left: 6px;
}

div#navigation-utility p {
	font-family: novecento_widemedium, Helvetica, Arial, sans-serif;
	padding: 12px 0 0 0;
	color: #8d8d8d;
	font-size: 12px;
	font-size: .75em;
 	letter-spacing: .16em;
	letter-spacing: .12rem;
}

div#footer-text p,
div#footer-text dl {
	font-size: 14px;
  font-size: .875rem;
  line-height: 1.3em;
}

div#footer p {
	color: #ffffff;
	font-family: museo_sans500, Helvetica, Arial, sans-serif;
	padding: 0 0 .75em 0;
	/*line-height: 1.15em;*/
}

div#footer dl {
	color: #ffffff;
	font-family: museo_sans500, Helvetica, Arial, sans-serif;
}

div#footer dl.itemlist {
  margin-top:2em;
  padding-bottom: 0.75em;
}

/*div#footer p span.large,
div#footer dl.itemlist {
	font-size: 13px;
	font-size: 0.825em;
}*/

div#footer dl dd {
  padding-top:.3em;
}

div#footer dl.itemlist dt { 
  text-transform: uppercase;
}

div#footer dl ul {
  list-style: none;
}

div#footer dl ul li {
  display: inline;
}

div#footer dl ul li:after {
  content: ' | ';
}

div#footer dl ul li:last-child:after {
  content: '';
}

/*
div#footer p span.small,
div#footer dl.itemlist {
	font-size: 12px;
	font-size: 0.75em;
}*/

div#footer a {
	color: #ffffff;
	text-decoration: underline;
}

span.all-caps {
	
	text-transform: uppercase;
	
}



/* CQ editor redirect notice: displays an alert when in WCM mode and the asset has a redirect target. see the foundation template, redirect-notice.jsp */
div.cq-redirect-notice { width:100%; text-align:center; position:absolute; top:0; left:0; z-index:200; }
div.cq-redirect-notice div { width:800px;margin-left:auto;margin-right:auto; background-color:orangered; padding:10px; color:white; font-weight:bold; font-family:Arial,Helvetica,Sans-serif;font-size:1rem;line-height:1.2rem; }
div.cq-redirect-notice a { color:white; }
div.cq-redirect-notice a:hover { color:#f1f1f1; }



/* MEDIA QUERIES */

@media only screen and (max-width:996px) {

	div#footer {
        padding:30px 20px 20px 30px;        
	}
}

/*
@media only screen and (max-width : 850px) {
	
	div#footer-social {
		
		float: none;
		width: auto;
		display: block;
		min-height: 47px;
		margin-left: auto;
		margin-right: auto;
		
	}
  
  div#footer-text {
   
    clear: both;
   
  }
	
}
*/

@media only screen and (max-width:790px) {

	div#header {
		
		display: none;
		
	}

	div#header-mobile-menu {
		
		display: block;
		text-align: center;
		
	}
	
	div#wrapper-header-fixed {

		height: auto;
		
	}


	
	/* Navigation has to change */
	
	div#navigation-main-wrapper {
		height: auto;
		position: relative;
		background-color: #404040;
		display: none;
		/* For IE 5.5 - 7*/
		filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#00000000, endColorstr=#00000000);
		/* For IE 8*/ /* http://css-plus.com/2010/04/ie-opacity-with-css/ */
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"; 
	}
	
	ul#navigation-main {
		margin: 0;
		list-style-type: none;
		text-align: left;
		font-family: novecento_widedemibold, Helvetica, Arial, sans-serif;
		color: #ffffff;
	}
	
	ul#navigation-main li {
		display: block;
		border-bottom: 1px solid #2e2e2e;
		margin: 0;
		padding: 0;
		position: relative;
		position: static; /* updated feb 6, 2014 to fix menuing under kindle and samsung. watch this. */		
		top: 0px;
		font-size: 16px;
		font-size: 1em;
		font-size: 1rem;
		line-height: 2.5em;
	}
	
	ul#navigation-main li a {
		color: #ffffff;
		text-decoration: none;
		padding: 0 14px;
		padding: 0 0.875rem;
		max-width: 100%;
		display: inline-block;
		height: auto;
	}
	
	ul#navigation-main li a:hover {
		color: #ef6d49;
		text-decoration: none;
	}
	
	li.navigation-main-item {
		background-image: url(../../img/icons/icon-mobile-menu-plus.png);
		background-repeat: no-repeat;
		background-position: right 10px;
	}
	li.navigation-main-item.active {
		background-image: url(../../img/icons/icon-mobile-menu-minus.png);
	}	
	
	div#navigation-main-wrapper ul.navigation-sub {
			background-color: #d24119;
			border-bottom: 0;
			border-left: 0;
			border-right: 0;
			display: none;
			left: 0px;
			padding: 0;
			position: relative;
			text-align: left;
			top: 0px;
	}
	
	ul#navigation-main li ul.navigation-sub li {
		display: block;
		text-transform: uppercase;
		top: 0px;
		padding: 0 0 0 42px;
		padding: 0 0 0 2.625rem;
		border-bottom: 1px solid #d45a37;
	}

	ul#navigation-main li ul.navigation-sub li.chevron { 
		display:none; /* chevron disappears */
	}
	
	ul#navigation-main li.navigation-sub-item a {
		/*padding: 0;*/
		height: auto;
		line-height: 1.3rem;
		padding: 0.8rem 0;
	}
	
	ul#navigation-main li.navigation-sub-item a:hover {
		color: #a4a4a4;
		cursor: pointer; 
	}
	
	div#slideshow {
    /*top: 40px;*/
    /*margin-top:40px;*/
    margin-top:89px; /* will change via javascript for perfect positioning */
	}
	
  body.generalpage div#breadcrumbs {
    display:none;
  }
  
  
  body.generalpage div#back-to-parent {
    display:block;       
  }
  div#back-to-parent p {
    font-family: museo_sans500, Helvetica, Arial, sans-serif; 
    font-size:1.1em;
    letter-spacing: .025em;
    color: #404040;
    margin-top:0;

  }
  div#back-to-parent p a {
    text-decoration: none;
    color: #404040;
  }
  div#back-to-parent p img {
     vertical-align: middle;
     vertical-align: text-bottom;
     margin-right: .4em;
     width: 27px;     
  }
  div#back-to-parent span.parent {
	  font-family: novecento_widedemibold, Helvetica, Arial, sans-serif;
	  text-transform: uppercase;
  }
  
	
  div#wrapper-content {

    /*top: 40px;*/ /* Compensate for the fixed header */

	}
  
  div#wrapper-content-outer { 
     padding-bottom:0;
  }
	
  
  body.homepage div#hp-content-mobile-logos {
     display:block;
     text-align:center;
     margin-top:2em;
  }  
  div#hp-content-mobile-logos img {
     margin:1em 0;
  }
  div#hp-content-mobile-logos img.hvtn {
     max-width:190px; /*258px;*/
  }
  
  
  /* typography changes at smaller form factors */
  body.homepage div.content-primary h3 {
   font-family: museo_sans500, Helvetica, Arial, sans-serif;
   font-weight: normal;
  }


  body.landingpage div.content-primary h1 {
    font-family: novecento_widenormal, Helvetica, Arial, sans-serif;
    font-size:2.5em;
    text-transform: uppercase;
    font-weight: normal;
  }  
  body.landingpage div.content-primary h2 {
    font-family: novecento_widemedium, Helvetica, Arial, sans-serif;
    font-weight: normal;
    text-transform: uppercase;
  } 

  
  body.generalpage div.content-primary h1 {
    font-size:2em;
    margin-top:0.8em; /* tighten up just a bit from desktop */
  }   
  body.generalpage div.content-primary h2 {
    font-family: novecento_widemedium,Helvetica, Arial, sans-serif;
    font-weight: normal;
  }       

  div.content-primary h1,
  div.content-primary h2 {
    text-transform: uppercase;
  }   
  
  
	div#footer-mobile-util-nav {
		
		display: block;
		margin-bottom: 16px;
		margin-bottom: 1rem;
		width: 100%;
		text-align: center;
		color: #ffffff;
		
	}


   div#footer {
   
     margin-left:auto;
     margin-right:auto;
     text-align:center;
    
   }
   
   div#footer-social {
   
     float: none;
     max-width: none;
     width: auto;
     display: block;
     margin-left: auto;
     margin-right: auto;
   
   } 
   
   div.footer-social-item {
     display: inline-block; /* was: inline */
     float: none;
     max-width: 40px; /* makes five line up perfectly on smallest form factor */
   }
   
   div#footer-text { 
   
     clear:both;
   
   }
   
   div#footer-text p.affiliation a {
   
     text-decoration: underline;
   
   }
   
   div#footer-text span.title,
   div#footer-text span.address {
   
     display:none;
   
   }
   
   /* mobile version of section navigation */
   div#mobile-section-navigation {
      display:block;
      margin-top:2em;     
      font-family: museo_slab500, Helvetica, Arial, sans-serif; 
      font-size:1em;
      color:#404040;
      line-height:1.6em;
   }
   body.homepage div#mobile-section-navigation { display:none; }
   div#mobile-section-navigation ul { list-style:none; margin-left:0; }
   div#mobile-section-navigation ul li {
      display:inline;
   }
   div#mobile-section-navigation ul li:after {
      content: " | ";
   }
   div#mobile-section-navigation ul li:last-child:after {
      content: "";
   }
   div#mobile-section-navigation ul li a {
     color:#404040;
   }
   
   
}



@media screen and (min-width:768px) and (max-width:850px){ /* upper limit is estimated, can adjust */

   div.related-content ul,
   div.related-content ol {
     margin-left:1.35em; /* guess-ti-mate for near-flush */
   }


}

@media screen and (max-width:767px) {

  /* tighten the margins of body content */
  div#content-primary {
    padding: 10px; /* this is 30px at desktop format */
  }
	
  /* any pages with a right column adjust how that column appears */

  body.with_related_content div.main-content-well,
  body.with_section_navigation div.main-content-well {
    width:auto;
    float:none;
  }
  body.with_section_navigation div.right-column,
  body.with_related_content div.right-column {
    width:auto; 
    float:none;
  }
  
  /* turn off section nav */
  body.with_section_navigation div.section-navigation { display:none; }
  
  body.with_related_content div.related-content {
    margin-top:2em;
  }
  
  /* adjust padding on non-colored related content */
  div.related-content-content {
    margin:0;
  }
  body.related-color-0 div.related-content-content { margin: 40px 27px; } /* be sure these values match the full-width values, above */
  body.related-color-1 div.related-content-content { margin: 40px 27px; }
  body.related-color-2 div.related-content-content { margin: 40px 27px; }

}


@media screen and (max-width:480px){

  div#header-mobile-menu { /* back off a little on the size of SEARCH and MENU in smallest form factor */
    font-size:.9em;
    font-size:.9rem;
  }

  img#mobile-logo-header { 
    height: 26px; /* guess-ti-mates */
    margin-top:6px;
  }
  
  div.content-primary a.internalAnchor {
  	top: -40px;
  }

}


@media print {
	.noprint {
		display: none !important;
	}
}

/* UTILITY STYLES */

.clear {
	clear: both;
}

.display-block {
	display: block;
}

.visuallyHidden {
    position: absolute; 
    overflow: hidden; 
    clip: rect(0 0 0 0); 
    height: 1px; width: 1px; 
    margin: -1px; padding: 0; border: 0; 
}

img.frame {
	
	border: 1px solid #cccccc;
	
}

span.alertText,
option.alertText {
	
	color: #dc3b0f;
	
}