/* print.css for hvtn */

#navigation-main-wrapper,
#header-mobile-search,
#header-mobile-menu,
#navigation-utility,
body.generalpage div#breadcrumbs
{ display:none; }

/* no section nav: */
body.with_section_navigation div.section-navigation { display:none; }

/* div#wrapper-content { max-width:none; } */

/* rework the logos in the header: */
div#wrapper-header-fixed {
  position:relative;
  /*min-height:130px;*/ /* adjust if you change the aspect ratio of the logos */
  margin-bottom:20px;
}
div#header { padding-bottom:0; }
div#logo-hvtn { float:left;  margin:0; padding:0; width:auto; }
div#logo-hvtn img { height:100px; } /* guess-ti-imate */
div#logo-fred-hutch { position:absolute; bottom:0; right:0; margin:0; padding:0; padding-bottom:5px; }
div#logo-fred-hutch img { height:35px; } /* guess-ti-mate */

/* adjust how the page bottom works: */
div#timeline { display:none; }
div#footer { top:0; padding-left:0; }
div#footer p, div#footer a { color:#000; font-family:Helvetica,Arial,sans-serif; }
div#footer-social { display:none; }
div#footer dl.itemlist { display:none; }
div#footer-text p.privacy-links { display:none; }
div#wrapper-footer-outer { min-height:0; border-top-color:#666; clear:both; background-color:inherit; }

/* tighten up the slideshow/landing page image top margin: */
div#slideshow { margin-top:0 !important; }

/* let content fill the container: */
div#content-primary { padding:0; color:#000; }


/* tighten up the h1 top margin: */
body.generalpage div.content-primary h1 { margin-top:0; margin-bottom:10px !important; }

/* homepage slider: no navigation elements */
.rsMinW .rsNav.rsBullets { display:none; }
.royalSlider .rsGCaption { display:none; }

