/* components.css */

/* ***************** */
/* component styling */
/* ***************** */
/* much of the styling came originally from the public site, and we've */
/* modified it for the mobile presentation. notice the change to ems   */
/* and the reduced formatting options. */

/* -------------------- multiple components --------------- */
/* These selectors are used in more than one component */

.imageCaption {
    color:#2c2c2c;
    font-size: 0.9375em;
    line-height: 1.1875em;
}

.imageCredit {
    color:#8d8b8b;
    font-size: 0.9375em;
    line-height: 1.1875em;    
}

.visuallyHidden {
    position: absolute; 
    overflow: hidden; 
    clip: rect(0 0 0 0); 
    height: 1px; width: 1px; 
    margin: -1px; padding: 0; border: 0; 
}

.tableCell {
    
    display: table-cell;
    
}


/* common treatment for the "text input" part of searchfor/go features */
div.search_dropdown form input.typein,
.directorysearchboxcontainer form input[name=q],
div#googleapisearchresults form input[name=q] {
  vertical-align:middle;
  width:50%; max-width:300px;
  border:4px #d6d6d6 solid;
  border-radius: 10px; -webkit-border-radius: 10px; -moz-border-radius: 10px;
  font-size:1.4em;
  padding: .4em 1em .4em 40px; /* .8em 1em .8em 40px; */
  margin-right:.3em;  
  font-weight:bold;
  font-family:'Franklin Gothic',Arial, Helvetica,Sans-serif;
  letter-spacing:-.03em;
  background: url(../../img/search_site.png) no-repeat 5px ;
}
/* common treatment for the "go" button part of searchfor/go features */
input[type="submit"].submitButton,
input[name="btnG"] {
    background-color: #BC5615;
    color: white;
    font-size: 1.3em;
    padding: 0.4em;
    vertical-align: middle;
    -webkit-border-radius: 0.4em;
    border-radius: 0.4em;
    -webkit-appearance: none;  /* http://stackoverflow.com/questions/5449412/css-styling-for-input-buttons-on-ipad-iphone */    
}


/* -------------------------- divider --------------------- */
div.divider_line { 
    width: 110%; /* has to break out of the 5% left/right gutters */
    margin-left: -5%;
    height: 1.1em;
	background-color: #999999;
	margin-top:1em;
	margin-bottom:1em;
}
div.fh_content.homepage div.divider_line {
    background-color: #494646;	/* the home page's divider color is darker */
}

/* -------------------------- textimage ------------------- */
.textimage { 
	margin-bottom:1em; 
}

.textimage .imageContainer {
    background-color: #f1f1f1;
    padding-left: 0.9375em;
    padding-right: 0.9375em;
}

.textimage .imageContainer img {
    margin-left: auto;
    margin-right: auto;
    display: block;
    border: 3px solid #c3bab0;
}

.textimage .imageContainer.imageOnly {
    padding-bottom: 0.9375em;
}

@media screen and (max-width: 767px) {

.textimage .imageContainer {
    
    max-width: 294px;
    border: 1px solid #e3e3e3;
    
    float:right;
    
    padding-top: 0.9375em;
    margin-left: 0.75em;

}

.textimage .imageContainer img {
    
    max-width: 258px;
    
}

.textimage .imageContainer .captionCreditContainer {
    padding-top: 1.25em;
    padding-bottom: 1.625em;
}

.textimage .imageContainer .creditContainer {
    padding-top: 0.9375em;
    padding-bottom: 0.9375em;
    text-align: center;
}

.textimage .imageContainer .captionContainer {
    padding-top: 1.25em;
    padding-bottom: 1.625em;
}

/* We need to clear the float; this way uses no extra HTML markup */
.textimage .textContainer:after {
	content: ".";
	display: block;
	height: 0em;
	clear: both;
	visibility: hidden;
}

} /* end max-width: 767px */

/* Vertical screen, non-tablet device */

@media screen and (max-width: 340px) {

.textimage .imageContainer {
	max-width: 100%;
	
    padding-top: 1em;
    border-top: 1px solid #e3e3e3;
    border-bottom: 1px solid #e3e3e3;
    
    float: none;
}
	
.textimage .imageContainer img {
	max-width: 100%;
}

.textimage .imageContainer .captionCreditContainer {
    padding-top: 1.25em;
    padding-left: 0.9375em;
    padding-bottom: 1.625em;
}

.textimage .imageContainer .creditContainer {
    padding-top: 1.25em;
    padding-bottom: 1.25em;
    text-align: center;
}

.textimage .imageContainer .captionContainer {
    padding-top: 1.25em;
    padding-bottom: 1.25em;
    padding-left: 0.9375em;
}

.textimage .textContainer {
    padding-top: 1.0625em;
    padding-left: 0.9375em;
    background-color: #fdfdfd;
    color: #1f1e1e;
    font-size: 1.0625em;
    line-height: 1.1875em;
}

/* We already have the padding we want (see .textContainer padding-top) */
.textimage .textContainer :first-child {
    margin-top: 0em;
    padding-top: 0em;
}

} /* end max-width: 340px */


/* ------------- component: imageplus (image plus caption, credit and link to high-res ----- */
.imageplus  { margin-bottom: 1em; }
/*
.imageplus dl { margin-top:0; margin-bottom:0; }
.imageplus dl dd { margin-left:0; }
.imageplus dl dd .caption { font-size:0.8em; line-height:1.2em; margin-top:0; margin-bottom:0.2em; }
.imageplus dl dd .credit { font-size:0.8em; font-style:italic; margin-top:0; margin-bottom:0.2em; line-height:1.2em;  }
.imageplus dl dd .highres { font-size:0.8em; margin-top:0;  }
.imageplus.floatright dl {float:right;}
.imageplus img.noborder { border:none; }
*/
.imagePlus .imageContainer img {
	/* Allows box-shadows to flow over the image */
    display: block;
    z-index: 0;
    position: relative;
}

.imagePlus .topBar {
    height: 0.25em;
    z-index: 1;
    position: relative;
    background-color: #d9d9d9;
    box-shadow: 0em 0.25em 0.25em rgba(0,0,0,0.75),
        0em -0.125em 0.125em rgba(0,0,0,0.75);
    text-indent: -9999px;
}

.imagePlus .captionCreditContainer {
    z-index: 1;
    position: relative;
    padding-top: 0.8125em;
    padding-left: 0.9375em;
    padding-bottom: 0.9375em;
    background-color: #f1f1f1;
    box-shadow: 0px 0.375em 0.3125em -0.125em rgba(0,0,0,0.75),
        0px -0.1875em 0.3125em -0.125em rgba(0,0,0,0.75);
}

.imagePlus .captionContainer {
    z-index: 1;
    position: relative;
    padding-top: 0.9375em;
    padding-left: 0.9375em;
    padding-bottom: 1em;
    background-color: #f1f1f1;
    box-shadow: 0px 0.375em 0.3125em -0.125em rgba(0,0,0,0.75),
        0px -0.1875em 0.3125em -0.125em rgba(0,0,0,0.75);
}

.imagePlus .creditContainer {
    z-index: 1;
    position: relative;
    padding-top: 0.8125em;
    padding-left: 0.9375em;
    padding-bottom: 0.75em;
    background-color: #f1f1f1;
    box-shadow: 0px 0.375em 0.3125em -0.125em rgba(0,0,0,0.75),
        0px -0.1875em 0.3125em -0.125em rgba(0,0,0,0.75);
}

.imagePlus .bottomBar {
    z-index: 1;
    position: relative;
    height: 0.3125em;
    background-color: #f1f1f1;
    box-shadow: 0em 0.3125em 0.3125em rgba(0,0,0,0.75),
        0em -0.125em 0.125em rgba(0,0,0,0.75);
    text-indent: -9999px;
}


/* -------------------- component: socialshare ---------------- */

div.socialsharewidget { margin: 1em 0;}
div.socialsharewidget p.directive { margin-bottom:.4em; padding-bottom:0; }
div.socialsharewidget img { border:0; }


/* -------------------- component: expander ------------------- */

.expanderContainer .title {
    
    /* Gradient from http://www.colorzilla.com/gradient-editor */
    background: #f7f5ed; /* Old browsers */
    background: -moz-linear-gradient(top, #f7f5ed 0%, #eeebe3 20%, #cac3b9 71%, #c3bab0 84%, #bcb2a8 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f7f5ed), color-stop(20%,#eeebe3), color-stop(71%,#cac3b9), color-stop(84%,#c3bab0), color-stop(100%,#bcb2a8)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #f7f5ed 0%,#eeebe3 20%,#cac3b9 71%,#c3bab0 84%,#bcb2a8 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #f7f5ed 0%,#eeebe3 20%,#cac3b9 71%,#c3bab0 84%,#bcb2a8 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #f7f5ed 0%,#eeebe3 20%,#cac3b9 71%,#c3bab0 84%,#bcb2a8 100%); /* IE10+ */
    background: linear-gradient(to bottom, #f7f5ed 0%,#eeebe3 20%,#cac3b9 71%,#c3bab0 84%,#bcb2a8 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f5ed', endColorstr='#bcb2a8',GradientType=0 ); /* IE6-9 */
    
}

.expanderContainer .titleContainer {
    
    vertical-align: top;
    width: 100%;
    
}

.expanderContainer .iconContainer {
    
    display: none;
    
    width: 10%;
    vertical-align: top;
    
}

.expanderContainer .title h2 {
    
    
/*  height: 1.923em; /* To account for font-size */
    
    font-size: 1.625em;
    line-height: 1.923em;
    
    margin-top: 0.25em;
    margin-bottom: 0;
    padding-left: 0.461em;
    
}

.expanderContainer .title span.expanderIcon {
    
    background: #c1beb6;
    border-radius: 0.673em;
    
    font-size: 1.625em;
    
    height: 1.346em;
    width: 1.346em;
    
    color: #ffffff;
    text-align:center;
    
    line-height: 1.346em;
    
  float:right;
    margin-top: 0.5em;
    margin-right: 0.461em;
    
}

.expanderContainer .textContainer {
    
    padding-left: 0.9375em; 
    
}

.expanderContainer .textContainer :first-child {
    
    margin-top: 1.0625em;
    
}

.expanderContainer .closingLine {
    
    height: 0.25em;
    background-color: #f8f8f8;
    
}

/* --------------component: Mobile Slider --------------------------------------- */

.slider {
    
    width: 100%;

    position: relative;
    
    background-color: #413f3f;
    
}

.slider .photoContainer {
    
    width: 100%;
    position: relative;
    
    background-color: #2f2e2e;
    
}

.slider .photoContainer img {
    
    max-width: 100%;
    
    margin-left: auto;
    margin-right: auto;
    display: block;
    
}

.slider .locationIndicator {
    
    width: 100%;
    height: 6px;
    
    padding: 4px 10px 4px 10px;
    
    background-color: #111111;
    
    text-align: center;
        
}

.slider .locationIndicator .indexContainer {
    
    margin: 0;
    padding: 0;
    
    height: 4px;
    
    line-height: 0;
    
    text-align: center;
    
}

.slider .indexContainer .indexIndicator {
    
    width: 18px;
    height: 4px;
    margin: 0 6px 0 0;
    padding: 0;
    
    display: inline-block;

    background-color: #737171;  
    -webkit-border-radius: 1px;
    border-radius: 1px;
    
}

.slider .indexContainer .indexIndicator.active {
    
    background-color: #ffffff;
    
}

.slider .textContainer {
    
    margin: 0;
    padding-top: 1em;
    width: 100%;
    
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    
    position: relative;
    
    min-height: 3em;
    
}

.slider .textContainer .theText {
    
    padding: 0 3.25em 0 1.25em;
    
}

.slider .textContainer .theText .expandedText {
    
    display: none;
    
}

.slider .textContainer .theText .compressedText {
    
    display: block;
    padding-bottom: 0.5em;
    
}


.slider .textContainer .theText.open .expandedText {
    
    display: block;
    padding-bottom: 1.875em;
    
}

.slider .textContainer .theText.open .compressedText {
    
    display: none;
    
}

.slider .textContainer .expandButton {
    
    position: absolute;
    top: 0.4em;
    right: 0.5em;
    height: 1.25em;
    width: 1.25em;
    
    margin-left: 0.5em;
    
    background-color: #2f2e2e;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    
    text-align: center;
    font-weight: bold;
    font-size: 1.75em;
    
    line-height: 1.25em;
    
}

.slider .textContainer a,
.slider .textContainer a:visited {
    
    color: #ffffff;
    
}


/* ------------- component: cssbutton ------------------------------------------- */

div.cssbutton {
	max-width: 500px;
	margin-left:auto;
	margin-right: auto;
	margin-top:1em; margin-bottom:1em;
}
div.cssbutton a {
    padding: 0.5em 1em;
    color: #ffffff;
    text-decoration:none;
    text-align: center;
    font-size: 1.5em;
    line-height:1em;
    font-weight: bold;
    display:block;
    -moz-border-radius: 1em;  
    -webkit-border-radius: 1em;  
    border-radius: 1em; 
    text-shadow: 1px 1px 1px black;  
    -moz-box-shadow: 0 1px 3px black;  
    -webkit-box-shadow: 0 1px 3px black;  
    box-shadow: 0 1px 3px black; 
    
    /* default color treatment is green. author can choose other colors (see below). */
    background: #73b557; /* Old browsers */
    background: -moz-linear-gradient(top,  #73b557 0%, #69aa4f 50%, #61a047 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#73b557), color-stop(50%,#69aa4f), color-stop(100%,#61a047)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #73b557 0%,#69aa4f 50%,#61a047 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #73b557 0%,#69aa4f 50%,#61a047 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #73b557 0%,#69aa4f 50%,#61a047 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #73b557 0%,#69aa4f 50%,#61a047 100%); /* W3C */
}

/* WHILE HOVERED */  
div.cssbutton a:hover {  
	text-decoration:none;
    background: #61a047; /* Old browsers */
    background: -moz-linear-gradient(top,  #61a047 0%, #69aa4f 50%, #73b557 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#61a047), color-stop(50%,#69aa4f), color-stop(100%,#73b557)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #61a047 0%,#69aa4f 50%,#73b557 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #61a047 0%,#69aa4f 50%,#73b557 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #61a047 0%,#69aa4f 50%,#73b557 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #61a047 0%,#69aa4f 50%,#73b557 100%); /* W3C */
}

/* WHILE BEING CLICKED */  
div.cssbutton a:active {  
  /*-moz-box-shadow: 0 2px 6px black;  
    -webkit-box-shadow: 0 2px 6px black;*/  
}  
        
/* color choices other than default */
div.cssbutton.brandColor3 a {
	background: #61b6f7; /* Old browsers */
    /* IE9 SVG */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzYxYjZmNyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMzYTgyYjkiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  #61b6f7 0%, #3a82b9 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#61b6f7), color-stop(100%,#3a82b9)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #61b6f7 0%,#3a82b9 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #61b6f7 0%,#3a82b9 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #61b6f7 0%,#3a82b9 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #61b6f7 0%,#3a82b9 100%); /* W3C */
}
div.cssbutton.brandColor4 a {
	background: #ac72c2; /* Old browsers */
    /* IE9 SVG */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2FjNzJjMiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM3YjUwOGIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  #ac72c2 0%, #7b508b 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ac72c2), color-stop(100%,#7b508b)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #ac72c2 0%,#7b508b 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #ac72c2 0%,#7b508b 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #ac72c2 0%,#7b508b 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #ac72c2 0%,#7b508b 100%); /* W3C */
}



/* ------------- component: panel button ---------------------------------------- */

.panelButton {
    
    width: 100%;
    margin-bottom: 0.25em;

    /* since panelButton is always inside fh_content with 5% left/right padding... */
    width: 110%; /* make it +5% left and +5% right = 110% */
    margin-left: -5%; /* and shove it 5% to the left. sld. 1/2013. */    
}

.panelButton .mainContainer {
    
    display: table;
    border-spacing: 0px;
    
}

.panelButton .mainContainer.brandColor1 {
    
    background: #ec6c19; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VjNmMxOSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNjNDUxMDkiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  #ec6c19 0%, #c45109 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ec6c19), color-stop(100%,#c45109)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #ec6c19 0%,#c45109 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #ec6c19 0%,#c45109 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #ec6c19 0%,#c45109 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #ec6c19 0%,#c45109 100%); /* W3C */
    
}

.panelButton .mainContainer.brandColor2 {
    
    background: #efc216; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VmYzIxNiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNiMjhiMDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  #efc216 0%, #b28b00 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#efc216), color-stop(100%,#b28b00)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #efc216 0%,#b28b00 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #efc216 0%,#b28b00 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #efc216 0%,#b28b00 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #efc216 0%,#b28b00 100%); /* W3C */
    
}

.panelButton .mainContainer.brandColor3 {
    
    background: #61b6f7; /* Old browsers */
/* IE9 SVG */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzYxYjZmNyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMzYTgyYjkiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  #61b6f7 0%, #3a82b9 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#61b6f7), color-stop(100%,#3a82b9)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #61b6f7 0%,#3a82b9 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #61b6f7 0%,#3a82b9 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #61b6f7 0%,#3a82b9 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #61b6f7 0%,#3a82b9 100%); /* W3C */
    
}

.panelButton .mainContainer.brandColor4 {
    
    background: #ac72c2; /* Old browsers */
/* IE9 SVG */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2FjNzJjMiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM3YjUwOGIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  #ac72c2 0%, #7b508b 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ac72c2), color-stop(100%,#7b508b)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #ac72c2 0%,#7b508b 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #ac72c2 0%,#7b508b 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #ac72c2 0%,#7b508b 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #ac72c2 0%,#7b508b 100%); /* W3C */
    
}

.panelButton .mainContainer.brandColor5 {
    
    background: #8ed64d; /* Old browsers */
/* IE9 SVG */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzhlZDY0ZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM2YTk4NDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  #8ed64d 0%, #6a9840 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#8ed64d), color-stop(100%,#6a9840)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #8ed64d 0%,#6a9840 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #8ed64d 0%,#6a9840 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #8ed64d 0%,#6a9840 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #8ed64d 0%,#6a9840 100%); /* W3C */
    
}

.panelButton .mainContainer.brandColor6 {
    
    background: #ac835e; /* Old browsers */
/* IE9 SVG */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2FjODM1ZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM3ZDY4NGUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  #ac835e 0%, #7d684e 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ac835e), color-stop(100%,#7d684e)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #ac835e 0%,#7d684e 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #ac835e 0%,#7d684e 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #ac835e 0%,#7d684e 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #ac835e 0%,#7d684e 100%); /* W3C */
    
}

.panelButton a,
.panelButton a:hover {
    
    color: inherit;
    text-decoration: none;
    
}

.panelButton .photoContainer {
    
    width: 40%;
    
}

.panelButton .photoContainer img {
    
    max-width: 100%;
    width: 100%;
    
    display: block;
    
    border: 0;
    
}

.panelButton .textContainer {
    
    width: 50%;
    padding: 0.75em 0.25em 0.25em 0.75em;
    
    vertical-align: middle;
    
}

.panelButton .textContainer.alignTop {
	
	vertical-align: top;
	
}

.panelButton .mainContainer.noImage .textContainer {
	
	width: 90%;
	
}

.panelButton .mainContainer.noArrow .textContainer {
	
	width: 55%;
	
}

.panelButton .mainContainer.noImage.noArrow .textContainer {

    width: 95%;
    
}

.panelButton .mainContainer.noImage .textContainer {
    padding-left: 5%;	/* when no image, line up the text with the 5% page gutter (see .fh_content). sld 1/2013. */
}

.panelButton .textContainer h2,
.panelButton .textContainer h3 {
    
    margin-top: 0;
    padding-top: 0;
    margin-bottom: 0.25em;
    padding-bottom: 0;
    
    line-height: 0.9em;
    
}

.panelButton .arrowContainer {
    
    width: 5%;
    
    vertical-align: middle;
    
}

.panelButton .arrowContainer.alignTop {
	
	vertical-align: top;
	
}

.panelButton .arrowContainer div.arrow {
    
    -webkit-border-radius: 50%;
    border-radius: 50%;
    font-size: 1.25em;
    width: 1.2em;
    height: 1.2em; 
    line-height: 1.2em;    
    text-align: center;
    margin-right: 0.75em;
    color: white;
    font-weight: bold;
    
}

.panelButton .arrowContainer.alignTop div.arrow {
	
	margin-top: 0.6em;
	
}

.panelButton .brandColor1 .arrowContainer div.arrow {
    
    background-color: #a0490f;
    
}

.panelButton .brandColor2 .arrowContainer div.arrow {
    
    background-color: #967909;
    
}

.panelButton .brandColor3 .arrowContainer div.arrow {
    
    background-color: #4582b1;
    
}

.panelButton .brandColor4 .arrowContainer div.arrow {
    
    background-color: #724b80;
    
}

.panelButton .brandColor5 .arrowContainer div.arrow {
    
    background-color: #67943d;
    
}

.panelButton .brandColor6 .arrowContainer div.arrow {
    
    background-color: #705740;
    
}

/* ------------- component: Enews Subscriber ------------------------------------ */

.enewsSubscriber input,
.enewsSubscriber label {
    
    display: block;
    margin: 0;
    padding: 0;
    
    font-size: 1.2em;
    
}

.enewsSubscriber input {
    
    margin-bottom: 0.75em;
    
}

.enewsSubscriber input[type="text"],
.enewsSubscriber input[type="email"] {
	
	width: 70%;
	max-width: 300px;
	
}

.enewsSubscriber input:invalid {
    
    background-color: rgba(255,0,0,0.1);
    
}

/* ------------- component: next shuttle widget --------------------------------- */

.nextShuttleContainer {
	
	display: block;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	-webkit-border-radius: 1em;
	border-radius: 1em;
	
	padding: 0.25em;
	margin-bottom: 0.25em;
	
	border: 1px solid #111111;
	
	text-align: center;
	
}

.nextShuttleContainer.FHCRC {
	
	background-color: #61b6f7;
	
}

.nextShuttleContainer.SCCA {
	
	background-color: #8ed64d;
	
}

.nextShuttleContainer .shuttleTime {
	
	font-size: 4em;
	margin-bottom: 0;
	margin-top: 0;
	
}

#shuttleScheduleTable {
	
	width: 90%;
    margin-left: auto;
    margin-right: auto;
    
    margin-top: 2em;
	
	text-align: center;
	
}

#shuttleScheduleTable th,
#shuttleScheduleTable td {
	
	width: 50%;
	
}

/* ------------- components: disease page, related widgets (various) ------------ */
.diseaserelated {}
.diseaserelated img.rolloverImage { border:0; }


/* ------------- component: social sharing widget (addtoany) -------------------- */
.share_options { font-size:.9em;font-family:'franklin-gothic-urw-n5','franklin-gothic-urw','Franklin Gothic Medium',Arial,Sans-serif;font-weight:500; }
/*div.share_options { margin-bottom:10px; }*/
.share_options .a2a_kit a.a2a_dd { color:#0659A1; text-decoration:none;  }
.share_options .a2a_kit a.a2a_dd:hover { color:#348dd1 ;text-decoration:underline;  }


/* -------- components: directorysearchboxcontainer and directorysearchapiresults ------------------ */
.directorysearchboxcontainer { margin-bottom:1em; }
.directorysearchboxcontainer .startover { margin-bottom:0;padding-bottom:0; }
.directorysearchboxcontainer label { margin-right:1em; }
.directorysearchboxcontainer .searchfield { margin:.4em 0 .4em 0; }
.directorysearchapiresults {}
.directorysearchapiresults .deptmatch { }
.directorysearchapiresults .peoplematch {  }
.directorysearchapiresults .expandedsearch { font-size:.9em; }
.directorysearchapiresults .result { padding: .8em 0; border-bottom: 1px silver solid; margin-bottom:1em; }
.directorysearchapiresults .result p { margin:0; padding:0; }
.directorysearchapiresults .result .name { font-size:1.2em; font-weight:bold; }
/*.directorysearchapiresults .result.scca { background-color:#e4f3e6; }*/
.directorysearchapiresults .result .phone { margin-top:1em; }
.directorysearchapiresults h3 { margin:0; background-color:#eeeeee; padding: 0.3em 0 0.3em 0.3em; margin-bottom:.5em; }
.directorysearchboxcontainer form { margin:0;padding:0; }


/* ------------- embedVideo ----------------------- */
div.videoEmbed div.embeddedVideo { /* http://css-tricks.com/NetMag/FluidWidthVideo/Article-FluidWidthVideo.php */
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
}
div.videoEmbed div.embeddedVideo iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* ------------- search results page (google) ----- */
/*div#googleapisearchresults { background-color:pink; }*/
/*div#googleapisearchresults table { border:1px red solid;}*/
div#googleapisearchresults .result_count { font-size:.8em; margin-bottom:0; }
div#googleapisearchresults p.g {margin-top: 1em; margin-bottom: 0}
div#googleapisearchresults div.n { margin-top:2em; } /* the paging at bottom of search results */
div#googleapisearchresults div.n a { text-decoration:none; }
div#googleapisearchresults a span.raquo { text-decoration:none; /*color:#0659A1;*/ background-color:white; }
div#googleapisearchresults form[name=gs] { margin:0;padding:0; }
div#googleapisearchresults form input {
  vertical-align:middle;
}
div#googleapisearchresults form input[name=q] {
  width: 68%; /* google xslt puts into tables, so a small tweak here to accommodate */	
}
div#googleapisearchresults form input[name=btnG] {
  font-size:1.3em;
  padding:.25em .2em; 
  background-color:#BC5615;color:white;
  margin-left:.2em;
  vertical-align:middle;
  -webkit-border-radius: 0.4em;
  border-radius: 0.4em;
  -webkit-appearance: none; /* http://stackoverflow.com/questions/5449412/css-styling-for-input-buttons-on-ipad-iphone */
  /* now controlled via the generic submitButton style */
}
div#googleapisearchresults table.google_searchbox_container {
  /*width:80%;	
  border:1px red solid;*/ 
}
div#googleapisearchresults table[width="100%"] {
  width: auto;	
}
div#googleapisearchresults table {
  /*width: 100%;*/
}
div#googleapisearchresults table.google_searchbox_container td.google_searchbox_text_input {
  /*width: 80%;	
  background-color:yellow;*/
}
div#googleapisearchresults table.google_searchbox_container td.google_searchbox_go_button {
  /*width: 20%;  
  background-color:pink;*/
}
div#googleapisearchresults table[bgcolor="#efebe3"],
div#googleapisearchresults td[bgcolor="#efebe3"] {
  background-color: white;
}
div#googleapisearchresults div.n img {
  display:none;	
}	
div#googleapisearchresults div.n table td.boxpanel a,
div#googleapisearchresults div.n table td.boxpanel span.i {
  display:inline-block;
  padding:.4em; background-color: #e5e5e5;
  border-right:.4em white solid;
  border-left:.4em white solid;
  font-size:1.1em;
}
div#googleapisearchresults div.n table td.boxpanel span.i {
  background-color:#ffffff;	
  border-right:none;
  border-left:none;
}
/*div#googleapisearchresults div.n table td.boxpanel a {
  padding:.5em;display:inline-block;
}*/
div#googleapisearchresults div.n table td[nowrap='1'] {
  padding:.5em;
  font-size:1.1em;
}

div#googleapisearchresults div.n table td.prev {
	/* display:none; */
}
div#googleapisearchresults div.n table td.prev,
div#googleapisearchresults div.n table td.next {
	/* display:none; */
	/* font-size:1.2em; */
}
div#googleapisearchresults td.s br { /* nuke the mini's insertions of br tags in the snippets */
  display:none;
}


/* -------- component: newslister (omni lister) ------------------ */
div.newslister { }
div.newslister div.pagination div.previous { display:inline; margin-right:2em; }
div.newslister div.pagination div.next { display:inline; }
div.newslister ul.fhnews,                             /* specialized variants */
div.newslister ul.fhnewsshort { padding-left:0; margin-left:0; }
div.newslister ul.fhnews li,
div.newslister ul.fhnewsshort { list-style-type:none; }



/* ***************** */
/* template styling  */
/* ***************** */
/* style some components that appear in specific templates */

/* override public site styling on disease pages */
#wrapper.diseasepage div.textimage div.textimage_image.imagePlus { max-width:40% !important; } /* important needed because there is an inline style setting the width of the container (1000 points is hard to beat) */
#wrapper.diseasepage div.textimage div.textimage_image.imagePlus dl dd .highres { display:none; }
#wrapper.diseasepage div.tabsContainer.diseasetabs ul.tabs li.viewAll { display:none; }
#wrapper.diseasepage div.tabsContainer.diseasetabs p.backtotop { text-align:center; background-color:#dddddd; font-size:0.8em; font-family: Verdana,Arial,Helvetica,Sans-serif; padding:4px 0 }
#wrapper.diseasepage div.diseaserelated { background-color:silver; padding:0 1.4em 1.4em 1.4em; border:1px black solid; margin-bottom:2em; }
#wrapper.diseasepage div.diseaserelated { 
  border:2px solid;
  border-radius:25px;
  -moz-border-radius:25px; /* Firefox 3.6 and earlier */
}
#wrapper.diseasepage div.diseaserelated h4 { font-size:1.5em;  }