/* css for sitewide navigation system. this include the three-buttons up top (campus, search, menu) */

/* site-wide nav element. three-buttons: campus, search and menu */
div.sitewidenav {
  background-color:#292929; /* midpoint of top: #292929 and bottom: #222222 */  
  background-image: linear-gradient(top, #292929 0%,  #222222 100%);
  background-image: -o-linear-gradient(top, #292929 0%,  #222222 100%);
  background-image: -moz-linear-gradient(top, #292929 0%,  #222222 100%);
  background-image: -webkit-linear-gradient(top, #292929 0%,  #222222 100%);
  background-image: -ms-linear-gradient(top, #292929 0%,  #222222 100%);
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0, #292929),
    color-stop(1, #222222)
  );  
  /*margin-bottom:1em;*/ /* distance between the top chrome and the page content */
}
div.sitewidenav ul { 
  margin:0; padding:0; 
  display:block;
  margin-left:auto; margin-right:auto;
}
div.sitewidenav ul li { /* the li is the container, apply l/r margins here, not the spans inside of them. */
  display: block;
  text-align:left; 
  float:left;
  padding:0;
  margin:2.5% 1.5% 2.5% 1.5%;
  width: 30%;
  overflow:hidden;
}
div.sitewidenav ul li span { /* the span-within-the-li approach lets me put widths on the li and borders/margins on the span */
  display:block;
  color: white;
  background-color: #2b2b2b;
  white-space:nowrap; /* do not let the icon and the text wrap */
  font-family: Arial,Helvetica,sans-serif;
  font-size:.8em;
  text-align:center;
  text-transform: uppercase;
  padding:3% 0;
  border: 2px #040404 solid;
  border-radius: 8px; -webkit-border-radius: 8px; -moz-border-radius: 8px;
}
div.sitewidenav ul li img {
  max-width:2.5em;
  vertical-align:middle;
  border:0;
}
div.sitewidenav ul li span a { /* avoid any anchor effects on any links within site-wide nav buttons themselves */
  color:white; 
  text-decoration:none;
}
/* when the "campus" button is active: */
div.sitewidenav ul.campus li.campus span { background-color: #ffffff; }
div.sitewidenav ul.campus li.campus span a { color: #000000; }
/* when the "search" button is active: */
div.sitewidenav ul.search li.search span { background-color: #ffffff; }
div.sitewidenav ul.search li.search span a { color: #000000; }
/* when the "menu" button is active: */
div.sitewidenav ul.menu li.menu span { background-color: #ffffff; }
div.sitewidenav ul.menu li.menu span a { color: #000000; }



/* the search/find menu system. */
div.search_menu {
  display: none; 
  position: absolute;
  width:100%;
  /*background-color:pink;*/
}
div.search_dropdown {
  z-index:9; position:relative;
  margin:0% 2.5%; /* give it left/right spacing */
  margin-top:6px; /* how much space do you want to appear between the menu's top edge and the top chrome? */
  /*max-width: 600px;*/
  border: 5px rgba(220,220,220,1) solid;
  -webkit-background-clip: padding-box; /* for Safari */ /* http://stackoverflow.com/questions/4062001/css3-border-opacity */
  background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */
  background-color: #ffffff;
  text-align:center;
  border-radius: 20px; -webkit-border-radius: 20px; -moz-border-radius: 20px;
  padding-bottom:10px; padding-top:10px; /* needed to avoid a menu element's box to cover up the nice bottom rounded corner */
  box-shadow: 0px 4px 5px 2px #bbbbbb; -webkit-box-shadow: 0px 4px 5px 2px #bbbbbb;  
}
div.search_menu div.search_dropdown div.dagger {
  position:absolute;
  top:-22px; left: 50%;
  z-index:10;  
}
div.search_menu div.dagger img {
  position:relative;
  left:-25px; /* one-half of the width of the image file itself: aligns the point to the 0px position */
}
div.search_dropdown { 
  font-family:Arial,Helvetica,sans-serif;
}
div.search_dropdown div.website {
  margin-top:.8em;
}
div.search_dropdown form {
  margin:0; padding:0;
  white-space: nowrap;
}
div.search_dropdown form input {
  vertical-align:middle;
}
div.search_dropdown p.options {
  max-width: 50%;
  margin-left:auto; margin-right:auto;
}
div.search_dropdown a { 
  text-decoration:underline;
  color: #568bb5; /*#67a7d9;*/
}


/* the campus dropdown menu system. */
div.campus_menu {
  display: none; 
  position: absolute;
  width:100%;
  /*background-color:pink;*/
}
div.campus_dropdown {
  /*width:94.5%;*/ /* set the width of the drop down here */
  max-width:600px;
  z-index:9; position:relative;
  /*margin-left:1.5%; *//* matches the positioning of the campus button */
  margin-left:2.5%;
  margin-right:2.5%;
  margin-top:6px; /* how much space do you want to appear between the menu's top edge and the top chrome? */
  border: 5px rgba(220,220,220,1) solid;
  -webkit-background-clip: padding-box; /* for Safari */ /* http://stackoverflow.com/questions/4062001/css3-border-opacity */
  background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */
  background-color: #ffffff;
  text-align:center;
  border-radius: 20px; -webkit-border-radius: 20px; -moz-border-radius: 20px;
  padding-bottom:10px; padding-top:10px; /* needed to avoid a menu element's box to cover up the nice bottom rounded corner */
  box-shadow: 0px 4px 5px 2px #bbbbbb; -webkit-box-shadow: 0px 4px 5px 2px #bbbbbb;  
}
div.campus_dropdown ul { 
  margin:0; padding:0;
  display:block;
}
div.campus_dropdown ul li {
  display:block;
  float:left;
  padding:0; margin:0; 
  margin-bottom:0.7em;
  font-family:'Franklin Gothic',Arial,Helvetica,sans-serif;
  width:33.3333333%;  /* default is to show 3-wide */
  text-align:center;
  padding-top:66px;
  background: url(../../img/sprites_campus_menu_v.png) center top no-repeat; /* positions will be adjusted per element, below */
}
div.campus_dropdown ul li.maps { background-position: center -6px; }
div.campus_dropdown ul li.cafes { background-position: center -382px; }
div.campus_dropdown ul li.directory { background-position: center -788px; }
div.campus_dropdown ul li.bus { background-position: center -133px; }
div.campus_dropdown ul li.employees { background-position: center -259px; }
div.campus_dropdown ul li.shuttle { background-position: center -932px; }
div.campus_dropdown ul li.streetcar { background-position: center -517px; }
div.campus_dropdown ul li.campus { background-position: center -653px; }
div.campus_dropdown ul li:hover {
  /*background: url(../../img/sprites_campus_menu_v_over.png) center top no-repeat;*/ /* not working */
}
div.campus_dropdown ul li a { 
  text-decoration:none;
  color: #000000;
}
div.campus_menu div.campus_dropdown div.dagger {
  position:absolute;
  top:-22px; left: 15%; /* horizontal positioning is a guess-ti-mate */
  z-index:10;  
}
div.campus_menu div.dagger img {
  position:relative;
  left:-25px; /* one-half of the width of the image file itself: aligns the point to the 0px position */
}




/* the menu menu (grin) system. */
div.menu_menu {
  display:none; 
  position:absolute;
  width: 97.5%; /*97.5%;*/  
}
div.menu_dropdown_container {
  /*background-color:pink !important;*/
  margin-left:15%; /* keeps the element from spanning the entire screen width */
  display:inline-block; /*display:block;*/
  float:right;
  width:94.5%;
  max-width:600px; /* overall width-limiter for big screens */
  margin-right: 0;
  margin-top:6px; /* how much space do you want to appear between the menu's top edge and the top chrome? */
  /*position:absolute;*/
  /*right:2.5%;*/ /* matches the positioning of the menu button: 1.5% + the 1% left over */
  /*margin-left:10%;*/ /* guess-ti-mate */
  border: 5px rgba(220,220,220,1) solid;
  -webkit-background-clip: padding-box; /* for Safari */ /* http://stackoverflow.com/questions/4062001/css3-border-opacity */
  background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */
  border-radius: 20px; -webkit-border-radius: 20px; -moz-border-radius: 20px;
  box-shadow: 0px 4px 5px 2px #bbbbbb; -webkit-box-shadow: 0px 4px 5px 2px #bbbbbb;  
}
div.menu_dropdown {
  display: table; /*inline-table;*/
  border-collapse:collapse; /*separate;*/
  width:100%;
  z-index:11;
}
div.menu_dropdown ul { 
  margin:0; padding:0;
  display: table-row;
}
div.menu_dropdown ul li {
  display: table-cell;
  height:3.1em; /* effectively the min-height of each cell */
  vertical-align:middle;
  padding:0; margin:0; 
  font-family:'Franklin Gothic',Arial,Helvetica,sans-serif;
  font-size:1.2em;
  line-height:1em;
  font-weight: bold;
  text-align:center;
  background-color: #ffffff;
}
div.menu_dropdown ul li.tl {
  border-top-left-radius: 13px;
  -webkit-border-top-left-radius: 13px;
  -moz-border-top-left-radius: 13px;
  border-right: 2px #dcdcdc solid;  
}
div.menu_dropdown ul li.tr {
  border-top-right-radius: 13px;
  -webkit-border-top-right-radius: 13px;
  -moz-border-top-right-radius: 13px;
}
div.menu_dropdown ul li.bl {
  border-bottom-left-radius: 13px; /* 13px */
  -webkit-border-bottom-left-radius: 13px;
  -moz-border-bottom-left-radius: 13px;
  border-right: 2px #dcdcdc solid;
  border-top: 2px #dcdcdc solid;
}
div.menu_dropdown ul li.br {
  border-bottom-right-radius: 13px;
  -webkit-border-bottom-right-radius: 13px;
  -moz-border-bottom-right-radius: 13px;
  border-top: 2px #dcdcdc solid;
}
div.menu_dropdown ul li.ml {
  border-right: 2px #dcdcdc solid;
  border-top: 2px #dcdcdc solid;
}
div.menu_dropdown ul li.mr {
  border-top: 2px #dcdcdc solid;
}
div.menu_dropdown ul li:hover {
  background: #67a7d9;
}
div.menu_dropdown ul li a {
  text-decoration:none;
  color:#000000;
  display:block;
  margin:0 1em;
}
div.menu_dropdown ul li:hover a {
  color: #ffffff;
}
div.menu_menu div.menu_dropdown div.dagger {
  position:absolute;
  top:-11px; right: 15%; /* horizontal positioning is a guess-ti-mate */
  z-index:10;  
}
div.menu_menu div.dagger img {
  position:relative;
  right:-25px; /* one-half of the width of the image file itself: aligns the point to the 0px position */
}




/* tiny devices */
/* definition: maximum screen width is 240px or less, any orientation */
@media screen and (max-width:240px){
  /* make the sitewide navigation buttons a bit smaller */  
  div.sitewidenav ul li span {
    font-size:0.75em;
  }
  /* omit icons for sitewide nav buttons */
  div.sitewidenav ul li img { 
    display:none; 
  }
  /* allow the icon and text of the sitewide nav buttons wrap, important if you do not omit the icons. */
  div.sitewidenav ul li span {
    white-space:normal;
  }  

  /* let the drop-down menus fill up fewer icons per row */
  div.campus_dropdown ul li {
    width:50%;
  }
}

/* large devices */
/* definition: minimum screen width is 600px, any orientation */
@media screen and (min-width:600px){
  /* cap the top/bottom padding around logo at a fixed width */
  div.logobar img  {
    margin-top:1em; margin-bottom:.9em;
  }  
  /* make the sitewide navigation buttons and icons a bit larger */
  div.sitewidenav ul li span {
    font-size:1.1em;
  }
  div.sitewidenav ul li img {
    max-width:3.2em;
  }  
  /* reduce some of the extra top and bottom padding for the sitewide navigation buttons */
  div.sitewidenav ul li {
    margin-top:1.5%; margin-bottom:1.5%;
  }
  
  /* let the drop-down menus fill up more icons per row */
  div.campus_dropdown ul li {
    width:20%;
  }
  
}
