@charset "utf-8";

#formContainer {
	margin-bottom: 10px;
}

#reportType {
    display: block;
    margin-bottom: 15px;
}

#formContainer label {
    display: block;
    margin-bottom: 0.5em;
}

#formContainer input[type=num] {
    width: 3em;
}