/*------- TEXT & CALLOUT BOX COMPONENT --------*/

.textcallout .callout {
	
    max-width: 40%;
    margin: 0 0 0 50px;
    margin: 0 0 0 3.125rem;
    padding: 32px 28px;
    padding: 2rem 1.75rem;
    float: right;
    
}

.textcallout .callout :first-child {
	
	padding-top: 0;
	margin-top: 0;
	
}

.textcallout .callout :last-child {
	
	margin-bottom: 0;
	padding-bottom: 0;
	
}

.textcallout .colorTheme0 .callout {
	
	background-color: #78b0b7;
	color: #ffffff;
	
}

.textcallout .colorTheme1 .callout {
	
	background-color: #e9d8e1;
	
}

.textcallout .alignLeft .callout {
	
	float: left;
	margin: 0 50px 0 0;
	margin: 0 3.125rem 0 0;
	
}


/*------- END TEXT & CALLOUT --------*/

blockquote.pullQuote {
    
    margin-left: 0;
    margin-right: 0;
    padding: 32px 28px;
    padding: 2rem 1.75rem;
    background-color: #78b0b7;
    color: #ffffff;
    
}

blockquote.pullQuote.large {
    
    font-size: 1.75em;
    line-height: 1.25em;
    font-weight: bold;
    
}

.patientStory {
    
    margin-left: 0;
    margin-right: 0;
    padding: 10px 20px;
    padding: 0.625rem 1.25rem;
    
}

.patientStory :first-child {
    
    margin-top: 0;
    
}

.patientStory h2.sectionHead {
    
    font-size: 2em;
    margin-bottom: 16px;
    margin-bottom: 1rem;
    
}

.patientStory h1,
.patientStory h2,
.patientStory h3,
.patientStory h4,
.patientStory h5,
.patientStory h6 {
    
    text-transform: uppercase;
    
}

.patientStory .imageWithCaption {
    
    float: left;
    margin: 0 16px 16px 0;
    margin: 0 1rem 1rem 0;
    
}

.patientStory .imageWithCaption:after {
    
    clear: both;
    
}

.patientStory .imageWithCaption .caption {
    
    text-transform: uppercase;
    text-align: right;
    font-size: 0.75em;
/*    font-family: Arial, Helvetica, sans-serif; */
    
}

.patientStory.colorScheme1 {
    
    background-color: #c0dbdf;
    
}

.patientStory.colorScheme1 h1,
.patientStory.colorScheme1 h2,
.patientStory.colorScheme1 h3,
.patientStory.colorScheme1 h4,
.patientStory.colorScheme1 h5,
.patientStory.colorScheme1 h6 {
    
    color: #ffffff;
    
}

/* -------------- component: TextComponent -----------------------------*/

/* see shared/components/content/textComponent and
       etc/designs/shared/clientlibs/components/textComponent.css
       for design choices/details/guidance */

/* colorTheme1 = white text on teal background */

.textComponent .colorTheme1 { background-color: #78b0b7; color: #ffffff; padding:1em; }
.textComponent .colorTheme1 :first-child { margin-top: 0; padding-top: 0; }
.textComponent .colorTheme1 :last-child { margin-bottom: 0; padding-bottom: 0; }

div.textComponent .colorTheme1 h2,
div.textComponent .colorTheme1 h3,
div.textComponent .colorTheme1 h4,
div.textComponent .colorTheme1 h5,
div.textComponent .colorTheme1 h6 { color: #ffffff; }

div.textComponent .colorTheme1 a,
div.textComponent .colorTheme1 a:visited { color: #ffffff;}
div.textComponent .colorTheme1 a:hover { color: #ffffff; text-decoration: none; }

/* colorTheme2 = normal text on light teal background */

.textComponent .colorTheme2 { background-color: #c0dbdf; padding:1em; }
.textComponent .colorTheme2 :first-child { margin-top: 0; padding-top: 0; }
.textComponent .colorTheme2 :last-child { margin-bottom: 0; padding-bottom: 0; }

/* colorTheme3 = normal text on light pink background */

.textComponent .colorTheme3 { background-color: #e9d8e1; padding:1em; }
.textComponent .colorTheme3 :first-child { margin-top: 0; padding-top: 0; }
.textComponent .colorTheme3 :last-child { margin-bottom: 0; padding-bottom: 0; }




/* -------------- component: Text & Image --------------------- */
/* -------------- component: Image ---------------------------- */

/* colorTheme1 = white text on teal background */

div.textimage .colorTheme1 h2,
div.textimage .colorTheme1 h3,
div.textimage .colorTheme1 h4,
div.textimage .colorTheme1 h5,
div.textimage .colorTheme1 h6 { color: #ffffff; }

div.textimage .colorTheme1 a,
div.textimage .colorTheme1 a:visited { color: #ffffff;}
div.textimage .colorTheme1 a:hover { color: #ffffff; text-decoration: none; }

div.textimage .colorTheme1 { background-color: #78b0b7; color:#ffffff; padding:1em; }
div.textimage .colorTheme1 :first-child { margin-top: 0; padding-top: 0; }
div.textimage .colorTheme1 :last-child { margin-bottom: 0; padding-bottom: 0; }

.textimageContainer.colorTheme1 { padding: 1em;  }
.textimageContainer.colorTheme1 .imageContainer img { border: 3px solid #eeeeee; padding:.5em;  }
.textimageContainer.colorTheme1 .textContainer :first-child { margin-top: 0; padding-top: 0; }
.textimageContainer.colorTheme1 .textContainer :last-child { margin-bottom: 0; padding-bottom: 0; }

/* colorTheme2 = normal text on light teal background */

div.textimage .colorTheme2 { background-color: #c0dbdf; padding:1em; }
div.textimage .colorTheme2 :first-child { margin-top: 0; padding-top: 0; }
div.textimage .colorTheme2 :last-child { margin-bottom: 0; padding-bottom: 0; }

.textimageContainer.colorTheme2 { padding: 1em;  }
.textimageContainer.colorTheme2 .imageContainer img { border: 3px solid #eeeeee; padding:.5em;  }
.textimageContainer.colorTheme2 .textContainer :first-child { margin-top: 0; padding-top: 0; }
.textimageContainer.colorTheme2 .textContainer :last-child { margin-bottom: 0; padding-bottom: 0; }

/* colorTheme3 = normal text on pink background */

div.textimage .colorTheme3 { background-color: #e9d8e1; padding:1em; }
div.textimage .colorTheme3 :first-child { margin-top: 0; padding-top: 0; }
div.textimage .colorTheme3 :last-child { margin-bottom: 0; padding-bottom: 0; }

.textimageContainer.colorTheme3 { padding: 1em;  }
.textimageContainer.colorTheme3 .imageContainer img { border: 3px solid #eeeeee; padding:.5em;  }
.textimageContainer.colorTheme3 .textContainer :first-child { margin-top: 0; padding-top: 0; }
.textimageContainer.colorTheme3 .textContainer :last-child { margin-bottom: 0; padding-bottom: 0; }

.textimageContainer { margin-bottom: 1em; } /* mandatory spacing, might consider removing this */

.image .imageAndCaption {

    display: table;
/*  table-layout: fixed;
    width: 100%;*/
        
}



.textimageContainer .imageAndCaption {
    
    float: left;
    display: table;
/*    table-layout: fixed;
    width: 100%;*/
    margin-right: 1.5em;
    max-width: 40%;
        
}

.textimageContainer.rightAlign .imageAndCaption {
    
    float: right;
    margin-right: 0;
    margin-left: 1.5em;
    
}

.textimageContainer.centerAlign .imageAndCaption,
.image .imageAndCaption.horizontallyCentered {
    
    float: none;
    margin: 0 auto;
    max-width: 100%;
    
}

.textimageContainer .imageContainer img {
    
    max-width:100%;
    padding: 0.5em;
    border: 3px solid #eeeeee;
    margin: 0 auto;
    display: block;
    box-sizing: border-box;
    
}

.image .imageContainer img {

    max-width:100%;
    padding: 0.5em;
    border: 3px solid #eeeeee;
    display: block;
    
}


.textimageContainer .imageContainer.noBorder img,
.image .imageContainer.noBorder img {
    
    padding: 0;
    border: 0;
    
}

.textimageContainer .imageAndCaption .captionAndCredit,
.image .imageAndCaption .captionAndCredit {
    
    padding: 0.75em 0.25em;
    display: table-caption;
    caption-side: bottom;
    
}

.textimageContainer .imageAndCaption .caption,
.textimageContainer .imageAndCaption .credit,
.textimageContainer .imageAndCaption .hiRes,
.image .imageAndCaption .caption,
.image .imageAndCaption .credit,
.image .imageAndCaption .hiRes {
    
    display: block;
    
}

.textimageContainer .imageAndCaption .caption,
.image .imageAndCaption .caption {
    
    font-size: .95em;
    line-height: 1.3em;
    
}

.textimageContainer .imageAndCaption .credit,
.textimageContainer .imageAndCaption .hiRes,
.image .imageAndCaption .credit,
.image .imageAndCaption .hiRes {
    
    font-size: 0.9em;
    line-height: 1.3em;
    font-style: italic;
    margin-bottom: .5em;
    
}




/* -------------- component: Video embed (YouTube/Vimeo) ---------- */

.videoEmbed { max-width: 480px; } /* arbitrary, defines the maximum width a video can ever have. feel free to omit. */

.embeddedVideo {
    margin-bottom: 1em;
}

/* http://css-tricks.com/NetMag/FluidWidthVideo/Article-FluidWidthVideo.php */

.embeddedVideo {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
}
.embeddedVideo iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}



/*-------------- component: OOTB columns --------------- */

div.cq-colctrl-cols {width: 100%; float: left; }

div.cq-colctrl-default { width: 100%;}

div.parsys_column { height: 100%; width: 100%; float: left; border: 0; vertical-align:top; padding: 0; margin: 0;}
div.parsys_column div.section { overflow:hidden; width: 100%; }
div.parsys_column div.section { zoom: 1; /* Property added to avoid IE hasLayout issue on paragraphs see #20817 - IE6: div around Drag Components image not big enough*/ }

/* layout 0 : 50% 50% ( grid6 + grid6 ) */
div.cq-colctrl-lt0 { }
div.cq-colctrl-lt0-c0 { width: 48.5%; margin-right:1.5%; } 
div.cq-colctrl-lt0-c1 { width: 48.5%; margin-left: 1.5%; } 

/* layout 1 : 33% 33% 33%( grid4 + grid4 + grid4 ) */
div.cq-colctrl-lt1 { }
div.cq-colctrl-lt1-c0 { width: 31.333333333333%; margin-right: 1.5%;}
div.cq-colctrl-lt1-c1 { width: 31.333333333333%; margin-left: 1.5%; margin-right: 1.5%;}
div.cq-colctrl-lt1-c2 { width: 31.333333333333%; margin-left: 1.5%; }




/* --------------- component: royal slider --------------- */
.royalSlider {}
.royalSlider img { max-width: none; } /* remove the site-wide default w/in this widget */
.royalSlider .rsImg { border:0; }
.royalSlider > div.rsContent { /* http://help.dimsemenov.com/kb/royalslider-jquery-plugin-issues/slider-content-appears-for-a-second-before-initialization */
  display: none;
}
.royalSlider > div.rsContent.hero {
  display: block;
}
.royalSlider .rsContent .infoBlock { /* default is a pearl white box with blue text */
  position: absolute;
  bottom: 0;
  left: 0;
  right: auto;
  max-width: 29%;
  overflow: hidden;
  padding: 1.5625em; 
  /*padding-bottom: 0;*/

  background: #ffffff;
  background: rgba(255, 255, 255, 0.9);
  color: #394786;
  
  word-wrap: break-word;
  font-size: .9em;
  line-height: 1.25em;
}
.royalSlider .rsContent .infoBlock h1,
.royalSlider .rsContent .infoBlock h2,
.royalSlider .rsContent .infoBlock h3,
.royalSlider .rsContent .infoBlock h4,
.royalSlider .rsContent .infoBlock h5,
.royalSlider .rsContent .infoBlock h6 {
  font-family: 'Myriad Pro',Myriad,Arial,Helvetica,Sans-serif;
  margin: 0;
  margin-bottom:.15em;
  padding-bottom: 0;
  letter-spacing: .06em;    
}
.royalSlider .rsContent .infoBlock h4 {
  font-size: 1.3em;
  line-height: 1.1em;
}
.royalSlider .rsContent .infoBlock p {
  margin: 0 0 0 0; /* watch this: did have 1em bottom margin */
}
.royalSlider .rsContent .infoBlock a {
  color: #394786;
  text-decoration: underline;
}
.royalSlider .rsContent .infoBlock a:hover {
  color: #576abd;
}
.royalSlider .rsContent.caption_no_background .infoBlock { /* can override by removing the background color behind the caption */
  color: #ffffff;
  background: transparent;
}
.royalSlider .rsContent.caption_no_background .infoBlock h4 {
  color: #ffffff;
}
.royalSlider .rsContent.caption_no_background .infoBlock a { 
  color: #ffffff;
}
.royalSlider .rsContent.caption_no_background .infoBlock a:hover { 
  color: #dddddd;
}

.royalSlider.rsMinW .rsBullets {
  bottom:20px;	
  line-height:16px; /* accommodates the larger bullet sizes */
}
.royalSlider.rsMinW .rsBullet {
  padding-right:11px;	
}
.royalSlider.rsMinW .rsBullet span {
	height:8px; width:8px; /* larger bullet sizes */
}

.royalSlider .rsGCaption { display:none; }
.royalSlider.fullWidth { width: 100%; }

/* small tweaks so the captions are readable down to the smallest form factor (where they disappear, see end) */ 
@media screen and (max-width:750px) {    
    .royalSlider .rsContent .infoBlock { max-width:50%; }
}
@media screen and (max-width:550px) {   
    .royalSlider .rsContent .infoBlock { font-size:.8em; }
}







/* ------------- component: OOTB search ---------------- */

div.sitesearch {
    /*padding:0 1em 0 0;*/
}
div.sitesearch form { 
    border:1px #cccccc solid; 
    position:relative;
    padding-left:.5em;
    padding-right:3.5em; /* big enough to clear the search button */
    margin:0; 
}
div.sitesearch form input.searchbox,
div.sitesearch form input.searchbutton {
    border:0; margin:0; padding:0;
    font-size: 1.2em;
    height: 2em;   
}       
div.sitesearch form input.searchbox {
    width: 100%;
}
div.sitesearch form input.searchbutton {
    position: absolute;
    right:0; top:0;
    width: 2em; 
    color: #ffffff;
    /* http://www.colorzilla.com/gradient-editor/#c7709d+0,914e71+100;Custom */
	background: #c7709d; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2M3NzA5ZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM5MTRlNzEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #c7709d 0%, #914e71 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c7709d), color-stop(100%,#914e71)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #c7709d 0%,#914e71 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #c7709d 0%,#914e71 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #c7709d 0%,#914e71 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #c7709d 0%,#914e71 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c7709d', endColorstr='#914e71',GradientType=0 ); /* IE6-8 */
    overflow: auto; /* http://stackoverflow.com/questions/7131356/filter-progiddximagetransform-microsoft-gradient-is-not-working-in-ie7 */
}
div.sitesearch form input.searchbutton:hover {
	/* http://www.colorzilla.com/gradient-editor/#914e71+0,c7709d+100;Custom */
	background: #914e71; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzkxNGU3MSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNjNzcwOWQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #914e71 0%, #c7709d 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#914e71), color-stop(100%,#c7709d)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #914e71 0%,#c7709d 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #914e71 0%,#c7709d 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #914e71 0%,#c7709d 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #914e71 0%,#c7709d 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#914e71', endColorstr='#c7709d',GradientType=0 ); /* IE6-8 */
}

div.sitesearch div.searchRight {  /* search result additional features */
    border-left: 1px solid #dddddd;
    float: right;
    width: 25%;
    padding-left: 1em;
    padding-bottom: 1em;
    margin-left: 1em;
}

div.pushdown_search div.sitesearch form {  /* cascading overrides for the push-down search widget */
    background-color: #ffffff;
    padding-right:2.5em; 
}
div.pushdown_search div.sitesearch form input.searchbox,
div.pushdown_search div.sitesearch form input.searchbutton {
    font-size: 1.1em;
    height: 1.8em; 
}

div.sitesearch div.searchTrends .size12 { font-size:.9em; } /* these must match the classes set in the search component for setMinSize() and setMaxSize() */
div.sitesearch div.searchTrends .size13 { font-size:1em; }
div.sitesearch div.searchTrends .size14 { font-size:1.1em; }
div.sitesearch div.searchTrends .size15 { font-size:1.2em; }
div.sitesearch div.searchTrends .size16 { font-size:1.3em; }
div.sitesearch div.searchTrends .size17 { font-size:1.4em; }
div.sitesearch div.searchTrends .size18 { font-size:1.5em; }

div.sitesearch div.searchRight p {
    text-align: left;
    font-weight: bold;
    margin-bottom: .4em;
}
div.sitesearch div.searchRight div.tagexplorer {
    font-size:.9em; 
}
div.sitesearch dl.hitresults {
    margin-bottom:1em;
}
div.sitesearch dl.hitresults dd {
    margin-left: 0;
    margin-bottom: 1em;
}
div.sitesearch dl.hitresults div.hiturl {
    font-size:.85em;
    color: #888888; 
}
        
div.sitesearch div.result_paging {}
div.sitesearch div.result_paging .pagetile {
    padding:0 .25em; /* Luke says we need 44px targets for mobile */
}
div.sitesearch div.result_paging .pagetile.previouspage {
    padding-left:0;
}
div.sitesearch div.result_paging .pagetile.nextpage {
    padding-right:0;
}

div.sitesearch span.icon img {
    width: 16px;
    height: 16px;
}
div.sitesearch span.icon  { /* be sure dispatcher is configured to serve from /etc/designs/default */
    padding: 0 2px 8px 0;
    background: url(../../../../../etc/designs/default/images/icons/default.gif) no-repeat
}
div.sitesearch span.icon.type_doc  {
    background: url(../../../../../etc/designs/default/images/icons/doc.gif) no-repeat
}
div.sitesearch span.icon.type_eps  {
    background: url(../../../../../etc/designs/default/images/icons/eps.gif) no-repeat
}
div.sitesearch span.icon.type_gif  {
    background: url(../../../../../etc/designs/default/images/icons/zip.gif) no-repeat
}
div.sitesearch span.icon.type_jpg  {
    background: url(../../../../../etc/designs/default/images/icons/jpg.gif) no-repeat
}
div.sitesearch span.icon.type_pdf  {
    background: url(../../../../../etc/designs/default/images/icons/pdf.gif) no-repeat
}
div.sitesearch span.icon.type_ppt  {
    background: url(../../../../../etc/designs/default/images/icons/ppt.gif) no-repeat
}
div.sitesearch span.icon.type_tif  {
    background: url(../../../../../etc/designs/default/images/icons/tif.gif) no-repeat
}
div.sitesearch span.icon.type_txt  {
    background: url(../../../../../etc/designs/default/images/icons/txt.gif) no-repeat
}
div.sitesearch span.icon.type_xls  {
    background: url(../../../../../etc/designs/default/images/icons/xls.gif) no-repeat
}
div.sitesearch span.icon.type_zip  {
    background: url(../../../../../etc/designs/default/images/icons/zip.gif) no-repeat
}





















/* ------------- MOBILE DECLARATIONS ----------------- */

@media screen and (max-width:480px) {

   /*-------------- Text & Image Component ----------------*/   
    
   .textimageContainer .imageAndCaption,
   .textimageContainer.rightAlign .imageAndCaption,
   .textimageContainer.centerAlign .imageAndCaption {        
       float: none;
       margin: 0 auto;
       max-width: 100%;        
   }
   

   /*-------------- OOTB Columns --------------------------------*/
 
   div.parsys_column {   /* all columns stack at the smallest form factor */
     float:none; 
     margin-right:0; margin-left:0;
   }
   div.parsys_column div.parsys_column {
     width: 100%;
     overflow: hidden;
     x-padding-bottom: 1em;
     margin-bottom: 1em; /* adds a line of separation between now-stacked columns */
   }    

   /* ------------- slider -------------------------------- */  
  .royalSlider .rsContent .infoBlock { display:none; } /* hide the captions on slider at this small form factor */  
  .royalSlider .rsNav.rsBullets { display:none; }
  .slider .royalSlider div.rsArrow.rsArrowLeft { display:none !important; }
  .slider .royalSlider div.rsArrow.rsArrowRight { display:none !important; }	
	
	
   /*-------------- OOTB Search ---------------------------------*/
   
   div.sitesearch div.result_paging {
     line-height:2em;
   }
   div.sitesearch div.searchRight {
     display: none;
   }
   div.sitesearch div.result_paging .pagetile a,
   div.sitesearch div.result_paging .pagetile.currentpage {
      display:inline-block;
      padding:0 12px; /* make them larger targets */
   }   
	
	

}

