@charset "utf-8";
/* CSS Document */

.tk-source-sans-pro {

    font-family: "source-sans-pro-n4", "source-sans-pro", Arial, Helvetica, sans-serif !important;
    font-style: normal;
    font-weight: 400;
    
}

.header .globalNav ul {
    
    display: block;
    width: 94%; /* guesstimate */
    
}

.header .globalNav ul li {
    
    zoom: 1;
    display: inline; /* inline-block hack, as IE7 doesn't do display: table */  
    padding: 0 1em 0 1em; /* Try to space them relatively evenly along the nav */
    
}

.header .globalNav .subNav li {
    
    padding: 0 1.25em;
    zoom: 1;
    display: inline;
    
}

.header .globalNav .subNav {
    
    top: 95%; /* Try to position the subnav so it can be moused over */
    
}

.footer .footerContent .footerInfo .footerButtonsAndCopyright>div {

    zoom: 1;
    *display: inline; /**/
    
}

.footer .footerContent .footerLogos {
    
    width: auto;
    
}

.footer .footerContent .footerLogos .footerLogo {
    
    zoom: 1;
    *display: inline; /**/
    padding: 0 3em;
    
}

.footer .footerContent .footerInfo .footerButtonsAndCopyright .footerButtonContainer {
    
    width: 18%;
    
}