@charset "utf-8";
/* CSS Document */

body {
    
    background-color: #eff1f3;
    font-family: "source-sans-pro-n4", "source-sans-pro", Arial, Helvetica, sans-serif;
    
}

.clear {
    
    clear: both;
    
}

/* styles from/for the rte drop-down */

/* this will be picked up and used in the RTE iframe editing view in CQ only: */
.rte_smalltext { font-size:11px; } /* guess-ti-mates */
.rte_largetext { font-size:15px; }

/* this will be used in production: */
.pageContent span.rte_smalltext { font-size:.85em; }
.pageContent span.rte_largetext { font-size:1.1em; line-height:1.4em; }

/* CQ editor preview mode: hide anything with a "no preview" class on it in preview mode. see /libs/cq/ui/widgets.js near setModeCss */
.cq-edit-only { display:none; }
body.cq-wcm-edit .cq-edit-only { display:block; }
body.cq-wcm-preview .cq-edit-only { display:none; }

.body {
    
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
    
    background-color: #ffffff;
    
}

.body * {
	
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    
}

.body img {
    
    max-width: 100%;
    
}

/*------------ UTILITY SECTION --------------*/

a.button {
    
    background-color: #914e71;
    color: #ffffff;
    font-size: 22px;
    font-size: 1.375rem;
    font-weight: bold;
/*    font-family: Arial, Helvetica, sans-serif; */
    line-height: 50px;
    line-height: 3.125rem;
    text-align: center;
    text-decoration: none;
    
    display: block;
    
    -webkit-border-radius: 3px;
    border-radius: 3px;
    
}

a.button:hover {
    
    background-color: #c7709d;
    
}

/*---------- BODY CONTENT SECTION -----------*/

.bodyContent {
    
    color: #4a4447;
    
}

.pageContent {
    
    padding: 0 30px 30px 30px;
    padding: 0 1.875rem 1.875rem 1.875rem;
    
/*    font-family: Arial, Helvetica, sans-serif; */
    
    
}

.pageContent a {
    
    color: #7d4361;
    
}

.pageContent a:hover {
    
    color: #dc9dbe;
    
}

.pageContent .largeText {
    
    font-size: 1.375em;
    
}



/*---------- BREADCRUMBS SECTION ------------*/

nav.breadcrumbs ul {
    
    margin: 0;
    padding: 10px 30px 0 30px;
    padding: 0.625rem 1.875rem 0 1.875rem;
/*    font-family: Arial, Helvetica, sans-serif; */
    font-size: 0.75em;
    
}

nav.breadcrumbs ul li {
    
    display: inline-block;
    
}

nav.breadcrumbs ul li:before {
    
    content: ":";
    padding: 0.5em;
    
}

nav.breadcrumbs ul li.homeCrumb:before {
    
    content: "";
    padding: 0;
    
}

nav.breadcrumbs ul li.homeCrumb {
    
    margin: 0;
    
}

nav.breadcrumbs ul li a,
nav.breadcrumbs ul li a:visited {
    
    color: #4a4447;
    
}

/*------------ HEADER SECTION ---------------*/
.header {
    
    position: absolute;
    top: 0;
    
    width: 100%;
    max-width: 1024px;
    
    background-color: #ffffff;
    
}

.header .headerContent {
    
    position: relative;
    
}

.header .headerContent .logo {
    
    padding-left: 1.5em;
    padding-top: 2em;
    padding-bottom: 1.6875em;
    float: left;
    
    max-width: 70%;
    
}

.header .headerContent .searchAndTagline {
    
    float: right;
    max-width: 30%;
    height: 258px;
    
}

.header .headerContent .searchAndTagline form {
    
    border: 1px #ccc solid;
    position: relative;
    padding-left: 0.5em;
    padding-right: 3.5em;
    margin: 0;
    top: 1.75em;
    right: 1.75em;
    
}

.header .headerContent .searchAndTagline form input.searchBox {
    
    width: 100%;
    font-size: 0.8125em;
/*    font-family: Arial, Helvetica, sans-serif; */
    color: #453f3b;
    
}

.header .headerContent .searchAndTagline form input.searchButton {
    
    position: absolute;
    right: 0;
    top: 0;
    width: 2em;
    color: #fff;
    background: #914e71;
    
}

.header .headerContent .searchAndTagline form input.searchBox,
.header .headerContent .searchAndTagline form input.searchButton {
    
    border: 0;
    padding: 0;
    margin: 0;
    font-size: 0.8125em;
    height: 2em;
    
}

.header .headerContent .searchAndTagline .tagline {
    
    position: relative;
    
    top: 78px;
    right: 4em;
    
}

/* ------ NAVIGATION -------*/

.header .globalNav {
    
    font-size: 1.125em;
    line-height: 44px;
    line-height: 2.75rem;
    font-weight: bold;
/*    font-family: Arial, Helvetica, sans-serif; */
    background-color: #647990;
    
    height: 44px;
    height: 2.75rem;
    
}

.header .globalNav ul {

    margin: 0;  
    padding: 0 32px;
    padding: 0 2rem;

    display: table;
    width: 100%;
    
}

.header .globalNav ul li {
    
    display: table-cell; /* Can we do this inline-block?*/
    vertical-align: middle;
    text-align: center;
    margin: 0;
    
}

.header .globalNav ul li.active,
.header .globalNav ul li.selected {
    
    background-color: #7d4462;
    
}

.header .globalNav ul li a {
    
    color: #ffffff;
    text-decoration: none;
    
}

.header .globalNav ul li a:hover {
    
    color: #ffffff;
    text-decoration: underline;
    
}

.header .globalNav .subNav {
    
    visibility: hidden;
    display: block;
    background-color: #7d4462;
    position: absolute;
    top: 100%;
    left: 0;
    text-align: left;
    
}

.header .globalNav .subNav li {
    
    padding: 0 1.25em;
    display: inline-block;
    
}

.header .globalNav li.active .subNav {
    
    visibility: visible;
    
}

.header .globalNav .subNav li.active {
    
    background-color: #6c3a54;
    
}

.header .globalNav .subNav li a {
    
        color: #ffffff;
        text-decoration: none;
        
}

.header .globalNav .subNav li.selected {
    
    background-color: #6c3a54;
    
}

.header .globalNav .subNav li.selected a {
    
    color: #ffffff;
    
}

/* ---- END NAVIGATION ----*/

.header .mobileNav,
.header .headerContent .mobileMenu {
    
    display: none;
    
}

.header .mobileNav ul {
    
    background-color: #914E71;
    font-size: 1.125em;
    line-height: 44px;
    line-height: 2.75rem;
    font-weight: bold;
/*    font-family: Arial, Helvetica, sans-serif; */
    
    margin: 0;  
    padding: 16px 32px;
    padding: 1rem 2rem;

}

.header .mobileNav ul li a {
    
    color: #ffffff;
    text-decoration: none;
    
}

.header .mobileNav ul li a:hover {
    
    text-decoration: underline;
    
}

.header .headerContent .mobileMenu {
    
    float: right;
    max-width: 30%;
    position: absolute;
    bottom: 32px;
    right: 0;
    
}

.header .headerContent .mobileMenu img {
    
    padding-right: 16px;
    padding-right: 1rem;
    
    cursor: pointer;
    
}

.header .mobileSearch {
    
    background-color: #914E71;
    padding: 16px 32px;
    padding: 1rem 2rem;
    display: none;
    
}

.header .mobileSearch form#mobileSearchForm {
    
    background-color: #ffffff;
    border: 1px #ccc solid;
    position: relative;
    padding-left: 0.5em;
    padding-right: 2.5em;
    margin: 0;
/*    font-family: Arial, Helvetica, sans-serif; */
        
}

.header .mobileSearch form input.searchBox,
.header .mobileSearch form input.searchButton {
    
    font-size: 1.1em;
    height: 1.8em;
    
}

.header .mobileSearch form input.searchBox {
    
    width: 100%;
    border: 0;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    
}

.header .mobileSearch form input.searchButton {
    
    position: absolute;
    right: 0;
    top: 0;
    width: 2em;
    color: #ffffff;
    background-color: #914E71;
    
}

/* ---- HEADER MEDIA QUERIES ----*/

@media screen and (max-width:900px) {
    
    .header .headerContent .searchAndTagline .tagline {
        
        right: 2em;
        
    }
    
}

@media screen and (max-width:800px) {
    
    
    .header .headerContent .searchAndTagline .tagline {
        
        display: none;
        
    }
    
}

@media screen and (max-width:640px) {
    
    .globalNav {
        
        display: none;
        
    }
    
    .header .headerContent .searchAndTagline {
        
        display: none;
        
    }
    
    .header .headerContent .mobileMenu {
        
        display: block;
        
    }
    
}

/* ---- END HEADER MEDIA QUERIES ----*/

/*---------- END HEADER SECTION -------------*/

/*------------ FOOTER SECTION ---------------*/

.footer .footerContent .footerInfo {
    
    background-color: #dbe1e9;
    padding-top: 20px;
    padding-top: 1.25rem;
    color: #302f2e;
    
}

.footer .footerContent .footerInfo .footerStatement {
    
    font-size: 0.9375em;
    color: #302f2e;
    text-align: center;
    
}

.footer .footerContent .footerInfo .footerButtonsAndCopyright {
    
    position: relative;
    width: 100%;
    
}

.footer .footerContent .footerInfo .footerButtonsAndCopyright>div {

    display: inline-block;
    
}

.footer .footerContent .footerInfo .footerButtonsAndCopyright .footerButtonContainer {
    
    width: 30%;
    padding: 0 6%;
    
}

.footer .footerContent .footerInfo .footerButtonsAndCopyright .footerButtonContainer a.button {
    
    max-width: 214px;
    max-width: 13.375rem;
    width: 30%;
    padding: 0 1em;
    height: 50px;
    height: 3.125rem;
    
    position: absolute;
    top: 28px;
    top: 1.75rem;

}

.footer .footerContent .footerInfo .footerButtonsAndCopyright .footerButtonContainer.leftButton a.button {
    

    left: 6%;
    
}

.footer .footerContent .footerInfo .footerButtonsAndCopyright .footerButtonContainer.rightButton a.button{
    
    right: 6%;
    
}

.footer .footerContent .footerInfo .footerButtonsAndCopyright .footerCopyright {

    text-align: center;
    font-size: 0.875em;
/*    font-family: Arial, Helvetica, sans-serif; */
    max-width: 40%;
    padding: 0 16px;
    padding: 0 1rem;
    
}

.footer .footerContent .footerLogos {
    
    display: block;
    width: 100%;
    padding: 35px 0 55px 35px;
    padding: 2.125rem 0 3.4rem 2.125rem;
    background-color: #dbe1e9;
    
}

.footer .footerContent .footerLogos .footerLogo {
    
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    padding-left: 5%;
    padding-right: 5%;
    max-width: 30%;
    
}

/*---------- END FOOTER SECTION -------------*/

/* ---- FOOTER MEDIA QUERIES ----*/

@media screen and (max-width:800px) {
    
    .footer .footerContent .footerInfo .footerButtonsAndCopyright .footerButtonContainer {
        
        width: 40%;
        
    }
    
    
    .footer .footerContent .footerInfo .footerButtonsAndCopyright .footerButtonContainer.leftButton a.button {
        
        top: 12px;
        top: 0.75rem;
        left: 6%;
        
    }
    
    .footer .footerContent .footerInfo .footerButtonsAndCopyright .footerButtonContainer.rightButton a.button{
        
        top: 78px;
        top: 4.875rem;
        left: 6%;
        
    }
    
    .footer .footerContent .footerInfo .footerButtonsAndCopyright .footerCopyright {
        
        max-width: 50%;
        
    }
    
}

@media screen and (max-width:650px) {
	
	.footer .footerContent .footerLogos {
	
	   padding: 0;
	   
	}
	
	.footer .footerContent .footerLogos .footerLogo {
	
	   display: block;
	   margin-left: auto;
	   margin-right: auto;
	   margin-bottom: 2em;
	   max-width: 50%;
	   
	}

}

@media screen and (max-width:500px) {
    
    .footer .footerContent .footerInfo .footerButtonsAndCopyright .footerButtonContainer {
        
        width: 100%;
        
    }
    
    .footer .footerContent .footerInfo .footerButtonsAndCopyright .footerButtonContainer a.button {
        
        width: 100%;
        
    }
    
    .footer .footerContent .footerInfo .footerButtonsAndCopyright .footerButtonContainer.leftButton a.button {
        
        top: 12px;
        top: 0.75rem;
        left: 20%;
        
    }
    
    .footer .footerContent .footerInfo .footerButtonsAndCopyright .footerButtonContainer.rightButton a.button{
        
        top: 78px;
        top: 4.875rem;
        left: 20%;
        
    }
    
    .footer .footerContent .footerInfo .footerButtonsAndCopyright .footerButtonContainer {
        
        width: 100%;
        
    }
    
    .footer .footerContent .footerInfo .footerButtonsAndCopyright .footerCopyright {
        
        position: absolute;
        top: 124px;
        top: 7.75rem;
        left: 0;
        width: 100%;
        max-width: 100%;
        
    }
    
}