/** 
 * Styles for NW BioTrust Project 
 **/
 
 .navbar-nwbiotrust-top-bar {
  margin-bottom: 0;
  width: 100%;
  height: 15px;
  min-width: 980px !important;
  background-color: #FFFFFF !important;
  background-image: -moz-linear-gradient(top, #C6C6C6, #FFFFFF) !important;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#C6C6C6), to(#FFFFFF)) !important;
  background-image: -webkit-linear-gradient(top, #C6C6C6, #FFFFFF) !important;
  background-image: -o-linear-gradient(top, #C6C6C6, #FFFFFF) !important;
  background-image: linear-gradient(to bottom, #C6C6C6, #FFFFFF) !important;
  background-repeat: repeat-x !important;
  border-color: #252525 !important;
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#C6C6C6', endColorstr='#FFFFFF', GradientType=0) !important;
}

.home {
	margin-top : -15px !important;
	margin-left: 10px !important;
	height: 55px !important;
	width:55px !important;
}

.home img {
	padding-left: 10px !important;
	padding-top: 10px !important;
}

.nwbiotrust-logobar {
	height: 115px !important;
	border-width: 0 0 1px !important;
	background-color: #FFFFFF !important;
	background-image:linear-graident(to bottom,#FFFFFF, #FFFFFF) !important;
	background-repeat:repeat-x !important;
	border-bottom-color: #FFFFFF !important; 
	
}

.navbar-nwbiotrust-top .container {
  width: 980px;
}

.navbar-nwbiotrust-top .navitems{
   height: 35px;
}

.navbar-nwbiotrust-top .navitems.editmode{
    height: 134px;
}

.container .subheader {
	width: 980px;
}

.navbar {
	margin-bottom: 0px !important;
}

.navbar-nwbiotrust-top .navbar-inner {
  padding-right: 0 !important;
  padding-left: 0 !important;
  -webkit-border-radius: 0 !important;
     -moz-border-radius: 0 !important;
          border-radius: 0 !important;
  height: 40px !important;
  border-width: 0 0 0px !important;
}

.navbar-inverse .nav li.dropdown {
	height: 35px !important;
}


.navbar-inverse .nav li.dropdown > a p {
    margin: 0 0 10px !important; 
}

li.dropdown {
	/** line-height: 0px !important; */
}

.navbar-inverse .nav li.dropdown.selected{
  color: #111111;
  background-color: #dcbfeb;
  margin-top: -18px !important;
  padding-bottom: 18px !important;
}

.navbar-inverse .brand, .navbar-inverse .nav  li  a {
    color: #ffffff;
    text-shadow: none;
}

/*
.navbar-inverse .nav  li  a:hover,
.navbar-inverse .nav li.dropdown:hover,
.navbar-inverse .nav li.dropdown.open
{
  color: #111111;
  background-color: #dcbfeb;
}
*/


.navbar-inverse .brand, .navbar-inverse .nav li a:hover ,
.navbar-inverse .nav li.dropdown.open,
.navbar-inverse .nav li.dropdown:hover
{
  color: #FFFFFF;
  text-shadow: none;
  margin-top: -18px !important;
  padding-bottom: 18px !important;
  font-weight: bold;
}

.navbar-inverse .nav li.dropdown.selected a:hover{
  margin-top: 0px !important;
  padding-bottom: 0px !important;
}


.dropdown-menu {
  background-color: #dcbfeb;
  zoom: 1;
  filter: alpha(opacity=50);
  opacity: 0.8;
}

/* 3;horiz-3-col-one-third-one-third-one-fourth */

div.horiz-3-col-one-third-one-third-one-fourth { }
div.horiz-3-col-one-third-one-third-one-fourth-c0 { width: 355px; margin-right:15px;}
div.horiz-3-col-one-third-one-third-one-fourth-c1 { width: 355px; margin-right:15px;}
div.horiz-3-col-one-third-one-third-one-fourth-c2 { width: 240px;}	
	