/* ***************** */
/* component styling */
/* ***************** */

/* -------------- multiple components -------------------------*/

.visuallyHidden {
    position: absolute; 
    overflow: hidden; 
    clip: rect(0 0 0 0); 
    height: 1px; width: 1px; 
    margin: -1px; padding: 0; border: 0; 
}

span.emphasized {

    color: red;
    
}


.colorTheme1 {
    
    background-color: #394786;
    color: #ffffff;
    
}

div.textimage .colorTheme1 a,
div.textimage .colorTheme1 a:visited {

    color: #ffffff;
    
}

div.textimage .colorTheme1 a:hover {

    color: #ffffff;
    text-decoration: none;
    
}

div.textimage .colorTheme1 h2,
div.textimage .colorTheme1 h3,
div.textimage .colorTheme1 h4,
div.textimage .colorTheme1 h5,
div.textimage .colorTheme1 h6 {
	
	color: #ffffff;
	
}

.colorTheme1 span.emphasized {
	
	color: #34acfd;
	
}

/* -------------- component: Expander -------------------------*/

.expanderComponent .expanderHeader .expanderIcon {
    
    position: absolute;
    margin-left: -1.2em;
    margin-top: 0.2em;
    
    line-height: 1.25em;
    font-size: 0.8em;
    text-decoration: none;

    color: #283675;
    
}

.expanderComponent .expanderHeader .expanderIcon.closed {
    
    margin-top: 0em;
    color: #c9d3eb; 
    
}

.expanderComponent .expanderHeader,
.expanderComponent .expanderParsys,
.expanderComponent .expanderIntro {
    
    margin-left: 24px; /* if you don't understand rems */
    margin-left: 1.5rem;
    
}

.expanderComponent .expanderHeader {
    
    position: relative;
    color: #30387a;
    cursor: pointer;
    margin-top: 0.8em;
    margin-bottom: 0.2em;
    
}

.expanderComponent .expanderHeader .expanderHeaderText {
	
	text-decoration: underline;
	
}

.expanderComponent h4.expanderHeader {
	
	font-weight: normal;
	
}

.expanderComponent .expanderParsys .expanderPar :first-child {
	
	margin-top: 0;
	
}
	

/* -------------- component: Text -----------------------------*/

.textComponent .colorTheme1 {

    padding: 1em;
    
}

.textComponent .colorTheme1 :first-child {
    
    margin-top: 0;
    padding-top: 0;
    
}

.textComponent .colorTheme1 :last-child {
    
    margin-bottom: 0;
    padding-bottom: 0;
    
}

div.textComponent .colorTheme1 h2,
div.textComponent .colorTheme1 h3,
div.textComponent .colorTheme1 h4,
div.textComponent .colorTheme1 h5,
div.textComponent .colorTheme1 h6 {
    
    color: #ffffff;
    
}

div.textComponent .colorTheme1 a,
div.textComponent .colorTheme1 a:visited {

    color: #ffffff;
    
}

div.textComponent .colorTheme1 a:hover {

    color: #ffffff;
    text-decoration: none;
    
}

/* -------------- component: Text & Image --------------------- */
/* -------------- component: Image ---------------------------- */

.image .imageAndCaption {

/*	display: table;
	table-layout: fixed;
	width: 100%;*/
		
}

.textimageContainer.colorTheme1 {
	
	padding: 1em;
	
}

.textimageContainer.colorTheme1 .textContainer :first-child {
    
    margin-top: 0;
    padding-top: 0;
    
}

.textimageContainer.colorTheme1 .textContainer :last-child {
    
    margin-bottom: 0;
    padding-bottom: 0;
    
}

.textimageContainer .imageAndCaption {
    
    float: left;
/*    display: table;
    table-layout: fixed;
    width: 100%;*/
    margin-right: 1.5em;
    max-width: 40%;
        
}

.textimageContainer.rightAlign .imageAndCaption {
    
    float: right;
    margin-right: 0;
    margin-left: 1.5em;
    
}

.textimageContainer.centerAlign .imageAndCaption,
.image .imageAndCaption.horizontallyCentered {
    
    float: none;
    margin: 0 auto;
    max-width: 100%;
    
}

.textimageContainer .imageContainer img {
    
    max-width:100%;
    padding: 0.5em;
    border: 1px solid #c9d3eb;
    margin: 0 auto;
    display: block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    
}

.image .imageContainer img {

	max-width:100%;
    padding: 0.5em;
    border: 1px solid #c9d3eb;
    display: block;
    
}
.textimageContainer.colorTheme1 .imageContainer img {
    
    border: 1px solid #ffffff;
    
}

.textimageContainer .imageContainer.noBorder img,
.image .imageContainer.noBorder img {
    
    padding: 0;
    border: 0;
    
}

.textimageContainer .imageAndCaption .captionAndCredit,
.image .imageAndCaption .captionAndCredit {
    
    padding: 0.75em 0.25em;
/*    display: table-caption; 
    caption-side: bottom; */
    text-transform: uppercase;
    font-family: 'Myriad Pro',Myriad,Arial,Helvetica,Sans-serif;
    font-weight: 700;
    
}

.textimageContainer .imageAndCaption .caption,
.textimageContainer .imageAndCaption .credit,
.textimageContainer .imageAndCaption .hiRes,
.image .imageAndCaption .caption,
.image .imageAndCaption .credit,
.image .imageAndCaption .hiRes {
    
    display: block;
    
}

.textimageContainer .imageAndCaption .caption,
.image .imageAndCaption .caption {
    
    font-size: 0.75em;
    line-height: 1.3em;
    
}

.textimageContainer .imageAndCaption .credit,
.textimageContainer .imageAndCaption .hiRes,
.image .imageAndCaption .credit,
.image .imageAndCaption .hiRes {
    
    font-size: 0.6em;
    line-height: 1.3em;
    
}

/*-------------- component: Icon & Text ----------------*/



/*-------------- component: Header ---------------------*/

div.headerContainer h2,
div.headerContainer h3,
div.headerContainer h4 {
    
    color: #394786;
    margin-bottom: 0.2em;
    
}

div.headerContainer {
    
    border-bottom: 2px solid #c9d3eb;
    margin-bottom: 0.5em;
    
}

div.headerContainer.noUnderline {
    
    border-bottom: 0;
    
}



/*-------------- component: Divider ------------------- */

 /* default appearance: */
div.divider {
  height:1px;
  background-color: #c9d3eb;
  margin:1em 0;
}
div.right_column div.divider,
div.sidebar div.related div.divider {
  margin-left: -8.13953488372093%; /* based upon 7% padding of the enclosing div */
  width: 116.2790697674419%;
  width: 116.280%; /* FF needs a nudge for some reason, maybe rounding error? */
  background-color: #ffffff;
  height: 1em;
}

/*-------------- component: Button widget -------------- */

div.CSSButton a {
    
    text-decoration: none; /* no underlines on any hyperlinks w/in this component */
    
}

div.CSSButtonContainer {
    
    width: 20em;
    max-width: 100%;
    
    margin-bottom: 0.5em;
    
}

div.CSSButtonContainer.brandColor1 {
    
    background-color: #cd7d2c;
    
}

div.CSSButtonContainer.brandColor2 {
    
    background-color: #4a8fbd;
    
}

div.CSSButtonContainer.brandColor3 {
    
    background-color: #65bc46;
    
}

div.CSSButtonContainer.brandColor4 {
    
    background-color: #774ab8;
    
}

div.CSSButtonContainer .buttonTextContainer {
    
    background: #1d4493; /* Old browsers */
    background: -moz-linear-gradient(top, #1d4493 0%, #241f60 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1d4493), color-stop(100%,#241f60)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #1d4493 0%,#241f60 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #1d4493 0%,#241f60 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #1d4493 0%,#241f60 100%); /* IE10+ */
    background: linear-gradient(to bottom, #1d4493 0%,#241f60 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1d4493', endColorstr='#241f60',GradientType=0 ); /* IE6-9 */

    margin-left: 1.0em;
    padding: 0.9em 1.2em 0.9em 1.2em;

}

div.CSSButtonContainer .buttonTextContainer:hover {
    
    background: #241f60; /* Old browsers */
    background: -moz-linear-gradient(top, #241f60 0%, #1d4493 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#241f60), color-stop(100%,#1d4493)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #241f60 0%,#1d4493 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #241f60 0%,#1d4493 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #241f60 0%,#1d4493 100%); /* IE10+ */
    background: linear-gradient(to bottom, #241f60 0%,#1d4493 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#241f60', endColorstr='#1d4493',GradientType=0 ); /* IE6-9 */
}


div.CSSButtonContainer span.buttonText {
    
    color: #ffffff;
    font-size: 1.0em;
    
    display: inline;
    font-family: 'Myriad Pro',Myriad,Arial,Helvetica,Sans-serif;
    font-weight: bold;
    letter-spacing: 1px;
    
}

div.CSSButtonContainer span.buttonText.largeText {
    
    font-size: 1.3em;
    font-weight: normal;
    line-height: 1.3em;
    
}



/* ------------- component: Feature Item ---------------- */

div.featureItemContainer {
  background-color: #e4e5e9;
  overflow: hidden;  
  margin-bottom: 1em;
}
div.featureItemContainer h2 {
  color: #ffffff;
  background-color: #394786; /* default: blue */
  padding: .4em 15px; /* l-r padding matches featureItem_text lr-padding */
  font-weight:normal;
  margin:0;
  font-size: 1.3em;
}
div.featureItemContainer.brandColor1 h2 { background-color: #cd7f2f; } /* orange */
div.featureItemContainer.brandColor2 h2 { background-color: #4a8fbd; } /* light blue */
div.featureItemContainer.brandColor3 h2 { background-color: #107f4d; } /* green */
div.featureItemContainer.brandColor4 h2 { background-color: #47247a; } /* purple */
div.featureItemContainer div.featureItem_image img {
  display: block; /* avoids white space along image bottom edge */
  border:0;
  width: 100%;
}
div.featureItemContainer div.featureItem_text {  
  padding: 0 15px;
}
div.featureItemContainer div.featureItem_text div.featureItem_text_container {
  padding:1px 0;
}

/* ------------- component: Announcement Finder -------- */

.newsfindercontainer .announcementIcon img {
    
    float: left;
    margin-right: 1em;
    
}

/* --------- search box styling for general purpose use ------- */
.search_box form { margin:0; margin-bottom:12px; padding:0; white-space:nowrap; border:1px #999999 solid; height:27px; background-color:#ffffff; }
.search_box form .search_button_container { float:left;margin-left:-20px;width:20px; }
.search_box form .search_button { margin:3px 5px 0 0; vertical-align:bottom; }
.search_box form>div { padding:0 7px 0 5px; }
.search_box form .search_term_container { float:left;width:100%; }
.search_box form .search_term_container>div { padding-right:30px; }
.search_box form .search_term_container .search_term {  width:100%;border-color:transparent; margin:0; padding:0; height:25px; line-height:25px;border:none; font-family:Arial,Helvetica,sans-serif; font-size:14px; outline:none;}
.search_box .linktext { margin:0;margin-top:4px; padding:0; font-size:90%; }
.search_box p.linktext br { display:none; } /* quash breaks that may appear in the content */


/* ------------- component: OOTB search ---------------- */

div.sitesearch {
    /*padding:0 1em 0 0;*/
}
div.sitesearch form { 
	border:1px #cccccc solid; 
	position:relative;
	padding-left:.5em;
	padding-right:3.5em; /* big enough to clear the search button */
	margin:0; 
}
div.sitesearch form input.searchbox,
div.sitesearch form input.searchbutton {
    border:0; margin:0; padding:0;
    font-size: 1.2em;
    height: 2em;   
}		
div.sitesearch form input.searchbox {
    width: 100%;
}
div.sitesearch form input.searchbutton {
    position: absolute;
    right:0; top:0;
    width: 2em; 
	color: #ffffff;
	background: #355397; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzM1NTM5NyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMzOTM2NmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #355397 0%, #39366f 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#355397), color-stop(100%,#39366f)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #355397 0%,#39366f 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #355397 0%,#39366f 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #355397 0%,#39366f 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #355397 0%,#39366f 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#355397', endColorstr='#39366f',GradientType=0 ); /* IE6-8 */
	overflow: auto; /* http://stackoverflow.com/questions/7131356/filter-progiddximagetransform-microsoft-gradient-is-not-working-in-ie7 */
}
div.sitesearch form input.searchbutton:hover {
    background: #39366f; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzM1NTM5NyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMzOTM2NmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  #39366f 0%, #355397 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#39366f), color-stop(100%,#355397)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #39366f 0%,#355397 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #39366f 0%,#355397 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #39366f 0%,#355397 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #39366f 0%,#355397 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#39366f', endColorstr='#355397',GradientType=0 ); /* IE6-8 */
}

div.sitesearch div.searchRight {  /* search result additional features */
    border-left: 1px solid #dddddd;
    float: right;
    width: 25%;
    padding-left: 1em;
    padding-bottom: 1em;
    margin-left: 1em;
}

div.pushdown_search div.sitesearch form {  /* cascading overrides for the push-down search widget */
    background-color: #ffffff;
    padding-right:2.5em; 
}
div.pushdown_search div.sitesearch form input.searchbox,
div.pushdown_search div.sitesearch form input.searchbutton {
    font-size: 1.1em;
    height: 1.8em; 
}

div.sitesearch div.searchTrends .size12 { font-size:.9em; } /* these must match the classes set in the search component for setMinSize() and setMaxSize() */
div.sitesearch div.searchTrends .size13 { font-size:1em; }
div.sitesearch div.searchTrends .size14 { font-size:1.1em; }
div.sitesearch div.searchTrends .size15 { font-size:1.2em; }
div.sitesearch div.searchTrends .size16 { font-size:1.3em; }
div.sitesearch div.searchTrends .size17 { font-size:1.4em; }
div.sitesearch div.searchTrends .size18 { font-size:1.5em; }

div.sitesearch div.searchRight p {
    text-align: left;
    font-weight: bold;
    margin-bottom: .4em;
}
div.sitesearch div.searchRight div.tagexplorer {
    font-size:.9em; 
}
div.sitesearch dl.hitresults {
    margin-bottom:1em;
}
div.sitesearch dl.hitresults dd {
    margin-left: 0;
    margin-bottom: 1em;
}
div.sitesearch dl.hitresults div.hiturl {
    font-size:.85em;
    color: #888888; 
}
        
div.sitesearch div.result_paging {}
div.sitesearch div.result_paging .pagetile {
    padding:0 .25em; /* Luke says we need 44px targets for mobile */
}
div.sitesearch div.result_paging .pagetile.previouspage {
    padding-left:0;
}
div.sitesearch div.result_paging .pagetile.nextpage {
    padding-right:0;
}

div.sitesearch span.icon img {
    width: 16px;
    height: 16px;
}
div.sitesearch span.icon  { /* be sure dispatcher is configured to serve from /etc/designs/default */
    padding: 0 2px 8px 0;
    background: url(../../../../../etc/designs/default/images/icons/default.gif) no-repeat
}
div.sitesearch span.icon.type_doc  {
    background: url(../../../../../etc/designs/default/images/icons/doc.gif) no-repeat
}
div.sitesearch span.icon.type_eps  {
    background: url(../../../../../etc/designs/default/images/icons/eps.gif) no-repeat
}
div.sitesearch span.icon.type_gif  {
    background: url(../../../../../etc/designs/default/images/icons/zip.gif) no-repeat
}
div.sitesearch span.icon.type_jpg  {
    background: url(../../../../../etc/designs/default/images/icons/jpg.gif) no-repeat
}
div.sitesearch span.icon.type_pdf  {
    background: url(../../../../../etc/designs/default/images/icons/pdf.gif) no-repeat
}
div.sitesearch span.icon.type_ppt  {
    background: url(../../../../../etc/designs/default/images/icons/ppt.gif) no-repeat
}
div.sitesearch span.icon.type_tif  {
    background: url(../../../../../etc/designs/default/images/icons/tif.gif) no-repeat
}
div.sitesearch span.icon.type_txt  {
    background: url(../../../../../etc/designs/default/images/icons/txt.gif) no-repeat
}
div.sitesearch span.icon.type_xls  {
    background: url(../../../../../etc/designs/default/images/icons/xls.gif) no-repeat
}
div.sitesearch span.icon.type_zip  {
    background: url(../../../../../etc/designs/default/images/icons/zip.gif) no-repeat
}





/* --------------- component: royal slider --------------- */
.royalSlider {}
.royalSlider img { max-width: none; } /* remove the site-wide default w/in this widget */
.royalSlider .rsImg { border:0; }
.royalSlider > div.rsContent { /* http://help.dimsemenov.com/kb/royalslider-jquery-plugin-issues/slider-content-appears-for-a-second-before-initialization */
  display: none;
}
.royalSlider > div.rsContent.hero {
  display: block;
}
.royalSlider .rsContent .infoBlock { /* default is a pearl white box with blue text */
  position: absolute;
  bottom: 0;
  left: 0;
  right: auto;
  max-width: 29%;
  overflow: hidden;
  padding: 1.5625em; 
  /*padding-bottom: 0;*/

  background: #ffffff;
  background: rgba(255, 255, 255, 0.9);
  color: #394786;
  
  word-wrap: break-word;
  font-size: .9em;
  line-height: 1.25em;
}
.royalSlider .rsContent .infoBlock h1,
.royalSlider .rsContent .infoBlock h2,
.royalSlider .rsContent .infoBlock h3,
.royalSlider .rsContent .infoBlock h4,
.royalSlider .rsContent .infoBlock h5,
.royalSlider .rsContent .infoBlock h6 {
  font-family: 'Myriad Pro',Myriad,Arial,Helvetica,Sans-serif;
  margin: 0;
  margin-bottom:.15em;
  padding-bottom: 0;
  letter-spacing: .06em;    
}
.royalSlider .rsContent .infoBlock h4 {
  font-size: 1.3em;
  line-height: 1.1em;
}
.royalSlider .rsContent .infoBlock p {
  margin: 0 0 0 0; /* watch this: did have 1em bottom margin */
}
.royalSlider .rsContent .infoBlock a {
  color: #394786;
  text-decoration: underline;
}
.royalSlider .rsContent .infoBlock a:hover {
  color: #576abd;
}
.royalSlider .rsContent.caption_no_background .infoBlock { /* can override by removing the background color behind the caption */
  color: #ffffff;
  background: transparent;
}
.royalSlider .rsContent.caption_no_background .infoBlock h4 {
  color: #ffffff;
}
.royalSlider .rsContent.caption_no_background .infoBlock a { 
  color: #ffffff;
}
.royalSlider .rsContent.caption_no_background .infoBlock a:hover { 
  color: #dddddd;
}

.royalSlider .rsGCaption { display:none; }
.royalSlider.fullWidth { width: 100%; }

/* small tweaks so the captions are readable down to the smallest form factor (where they disappear, see end) */ 
@media screen and (max-width:680px) {    
    .royalSlider .rsContent .infoBlock { max-width:50%; }
}
@media screen and (max-width:550px) {   
    .royalSlider .rsContent .infoBlock { font-size:.8em; }
}




/*-------------- component: OOTB columns --------------- */

div.cq-colctrl-cols {width: 100%; float: left; }

div.cq-colctrl-default { width: 100%;}

div.parsys_column { height: 100%; width: 100%; float: left; border: 0; vertical-align:top; padding: 0; margin: 0;}
div.parsys_column div.section { overflow:hidden; width: 100%; }
div.parsys_column div.section { zoom: 1; /* Property added to avoid IE hasLayout issue on paragraphs see #20817 - IE6: div around Drag Components image not big enough*/ }

/* layout 0 : 50% 50% ( grid6 + grid6 ) */
div.cq-colctrl-lt0 { }
div.cq-colctrl-lt0-c0 { width: 48.5%; margin-right:1.5%; } 
div.cq-colctrl-lt0-c1 { width: 48.5%; margin-left: 1.5%; } 

/* layout 1 : 33% 33% 33%( grid4 + grid4 + grid4 ) */
div.cq-colctrl-lt1 { }
div.cq-colctrl-lt1-c0 { width: 31.333333333333%; margin-right: 1.5%;}
div.cq-colctrl-lt1-c1 { width: 31.333333333333%; margin-left: 1.5%; margin-right: 1.5%;}
div.cq-colctrl-lt1-c2 { width: 31.333333333333%; margin-left: 1.5%; }

/* NOT USED layout 2: 16% 16% 16% 33% ( grid2.6 + grid2.6 + grid2.6 + grid4 ) */
div.cq-colctrl-lt2 { }
div.cq-colctrl-lt2-c0 { width: 140px; margin-right: 10px;}
div.cq-colctrl-lt2-c1 { width: 140px; margin-left: 10px; margin-right: 10px}
div.cq-colctrl-lt2-c2 { width: 140px; margin-left: 10px; margin-right: 10px}
div.cq-colctrl-lt2-c3 { width: 220px; margin-left: 10px }

/* layout 3: 4 x 25% ( grid3 + grid3 + grid3 + grid3 ) */
div.cq-colctrl-lt3 { }
div.cq-colctrl-lt3-c0 { width: 22.75%; margin-right: 1.5%;}
div.cq-colctrl-lt3-c1 { width: 22.75%; margin-left: 1.5%; margin-right: 1.5%;}
div.cq-colctrl-lt3-c2 { width: 22.75%; margin-left: 1.5%; margin-right: 1.5%;}
div.cq-colctrl-lt3-c3 { width: 22.75%; margin-left: 1.5%; }

/* NOT USED layout 4: 5 x 20% ( grid2.5 + grid2.5 + grid2.5 + grid2.5 + grid2.5 ) */
div.cq-colctrl-lt4 { }
div.cq-colctrl-lt4-c0 { width: 124px; margin-right: 10px;}
div.cq-colctrl-lt4-c1 { width: 124px; margin-left: 10px; margin-right: 10px;}
div.cq-colctrl-lt4-c2 { width: 124px; margin-left: 10px; margin-right: 10px;}
div.cq-colctrl-lt4-c3 { width: 124px; margin-left: 10px; margin-right: 10px;}
div.cq-colctrl-lt4-c4 { width: 124px; margin-left: 10px; }

/* on the homepage only, adjust how the three-column works. we re-order so the responsive works as desired. */
body.homepage div.cq-colctrl-lt1 { }
body.homepage div.cq-colctrl-lt1-c0 { margin:0; float:left; width: 28%; margin-right:3.8%;  }
body.homepage div.cq-colctrl-lt1-c1 { margin:0; float:right; width: 28%; margin-left: 3.8%;  }
body.homepage div.cq-colctrl-lt1-c2 { margin:0; float:left; width: 28%;  padding-left:3.8%; padding-right:3.8%; border-right:1px #c9d3eb solid; border-left:1px #c9d3eb solid;   }



/*-------------- Mobile declarations ------------------ */

@media screen and (max-width:768px) {
	
  /*-------------- OOTB Columns ---------------------------*/

  /* 3-columns 
     on tablet-sized devices the 3-column layout behaves like this: row1: col1 & col2; row2: col3 */
  div.parsys_column div.cq-colctrl-lt1-c0 { margin:0; padding:0; width: 49%; margin-right: 1%; }
  div.parsys_column div.cq-colctrl-lt1-c1 { margin:0; padding:0; width: 49%; margin-left: 1%;  }
  div.parsys_column div.cq-colctrl-lt1-c2 { margin:0; clear:both; width: auto; padding:0; border:0;   }
  /* home page's 3-column is a bit special: it has dividers */
  body.homepage div.cq-colctrl-lt1-c0 { margin:0; padding:0; float:left; width: 46%; padding-right:3.8%; border-right:1px #c9d3eb solid;  }
  body.homepage div.cq-colctrl-lt1-c1 { margin:0; padding:0; float: right; width: 46%; margin-left: 3.8%;  }
  body.homepage div.cq-colctrl-lt1-c2 { margin:0; clear:both; width: auto; padding:0; border:0;   }	
	
  /* 4-columns 
     on tablet-sized devices 4-columns switches to 2 rows, 2 cols */
  div.parsys_column div.cq-colctrl-lt3-c0 { margin:0; width: 49%; margin-right: 1%;}
  div.parsys_column div.cq-colctrl-lt3-c1 { margin:0; width: 49%; margin-left: 1%; }
  div.parsys_column div.cq-colctrl-lt3-c2 { margin:0; clear:both; width: 49%;  margin-right: 1%;}
  div.parsys_column div.cq-colctrl-lt3-c3 { margin:0; width: 49%; margin-left: 1%; }  

}


@media screen and (max-width:480px) {

   /* ------------- slider -------------------------------- */  
  .royalSlider .rsContent .infoBlock { display:none; } /* hide the captions on slider at this small form factor */  
  .royalSlider .rsNav.rsBullets { display:none; }
  .slider .royalSlider div.rsArrow.rsArrowLeft { display:none !important; }
  .slider .royalSlider div.rsArrow.rsArrowRight { display:none !important; }
	
   /*-------------- Text & Image Component ----------------*/	
    
   .textimageContainer .imageAndCaption,
   .textimageContainer.rightAlign .imageAndCaption,
   .textimageContainer.centerAlign .imageAndCaption {        
       float: none;
       margin: 0 auto;
       max-width: 100%;        
   }
   
   /*-------------- Icon & Text Component -----------------*/   
   
   .iconText .textimageContainer .imageAndCaption {
       float: left;
       display: table;
/*    table-layout: fixed;
    width: 100%;*/
       margin-right: 1.5em;
       max-width: 40%;
   }
   
   .iconText .textimageContainer.rightAlign .imageAndCaption {
       float: right;
       margin-right: 0;
       margin-left: 1.5em;
   }
   
   /*-------------- OOTB Search ---------------------------------*/
   
   div.sitesearch div.result_paging {
     line-height:2em;
   }
   div.sitesearch div.searchRight {
     display: none;
   }
   div.sitesearch div.result_paging .pagetile a,
   div.sitesearch div.result_paging .pagetile.currentpage {
      display:inline-block;
      padding:0 12px; /* make them larger targets */
   }   


   /*-------------- OOTB Columns --------------------------------*/
 
   div.parsys_column {   /* all columns stack at the smallest form factor */
     float:none; 
     margin-right:0; margin-left:0;
   }
   div.parsys_column div.parsys_column {
     width: 100%;
     overflow: hidden;
     /*border-bottom:1px #ccc solid;*/
     padding-bottom: 1em;
     margin-bottom: 1em; /* adds a line of separation between now-stacked columns */
   }	
   div.parsys_column div.parsys_column:last-child {
     border-bottom:none;
   }
	

}


/* styles for printed pages, last in the cascade. c.f. this directive in site.css. */

@media print {

   /* ------------- component: bucket --------------- */

    div.bucket {
      background-color: transparent;
    }
    div.bucket h2 {
      color: #000000;
      background-color: transparent;
      padding-left:0; padding-right:0;
    }
    div.bucket.brandColor1 h2,
    div.bucket.brandColor2 h2,
    div.bucket.brandColor3 h2,
    div.bucket.brandColor4 h2 { background-color: transparent } 
    div.bucket div.bucket_text {  
      padding-left:0; 
    }	
	
}