/* use for any ie7 or lower specific styling. included via
   conditional content in the head element */
   
div.utility_nav div.utility_search {
  width:440px; 
}

div.global_nav > ul li {
  float:left; /* IE7 wants left-floated elements, so lets give it that. */
}

div.global_nav > ul li a {
  padding:0 .5em; /* for IE7 hackfix, keeps elements from running all together. */
}

div.global_nav ul.dropdown_menu {
  display: none; 
}

div.footer {
  overflow:auto; /* http://stackoverflow.com/questions/7131356/filter-progiddximagetransform-microsoft-gradient-is-not-working-in-ie7 */
}

div.footer_content div.copyright div.copyright_content {
  display:inline;
  text-align:center; 
}
div.footer_content div.copyright div.copyright_content p.nci img {
  position:static;
}
div.footer_content div.copyright div.copyright_content div.text_elements {
  margin-left:0;
}
