/* CQ - site.css for www.cancerconsortium.org */

/* this file contains styling for the overall 
   structure of the site. elements include the 
   header, footer and body areas. other css files
   contain styling for navigation and components */
   
   
/* 
   Modified: Apr 23, 2013
   Change log:
    
    0.1 - created
    0.2 - renamed site.css
    0.3 - print friendly, mobile implemented
    0.4 - sidebar, right column
    0.5 - pushdown menu for smallest form factor
    0.6 - global nav drop downs
    0.7 - search
    0.8 - break-word
    0.9 - breadcrumbs, responsive back-to-parent
    1.0 - slider
    1.1 - redirect notice
    1.2 - rearranges the mobile slider
    1.3 - new footer approach (nci logo)
   
 */

 
 
/* basic, site-wide styling */

body { font-size: 100%; margin:0; padding:0; }
img { max-width:100%; } /* keep your eye on this one. this will shrink any oversize image rather than truncate it. effect is diluted if the image has padding/border/margin. */

.clear { clear:both; }
.nobreak { white-space: nowrap; }
.noborder { border:0; }
.center { margin-left:auto; margin-right:auto; }

@media print {
  .noprint { display:none; }
}

/* CQ editor redirect notice: displays an alert when in WCM mode and the asset has a redirect target. see the foundation template, redirect-notice.jsp */
div.cq-redirect-notice { width:100%; text-align:center; position:absolute; top:0; left:0; z-index:50; }
div.cq-redirect-notice div { width:80%;max-width:960px;margin-left:auto;margin-right:auto; background-color:rgba(255,0,0,.8); padding:10px; color:white; font-weight:bold; font-family:Arial,Helvetica,Sans-serif;font-size:13px; }
div.cq-redirect-notice a { color:white; }
div.cq-redirect-notice a:hover { color:#f1f1f1; }
div.cq-redirect-notice .smaller { font-size:12px; }




/* body div.
   contains the breadcrumbs, cluster title, h1 and rest of the body. */
   
div.body {
   min-height: 400px; /* guess-ti-mate. */
   margin-top: 240px; /* guess-ti-mate. overall positioning leaves room for the header (absolutely positioned).
                        this value will be adjusted by a window.onload handler */
}
div.body_contents {
   max-width:940px; /* leaves 20px gutters for the widest layout */
   padding:0 20px;
   margin-left:auto; margin-right:auto;   
   word-wrap: break-word;
}
div.slider {
  margin-bottom: 2em;
  font-family: Arial,Helvetica,Sans-serif;
  color: #333333; 
  font-size: 1em;
  line-height: 1.4em;
  background: #1d4493; /* Old browsers */
  background: -moz-linear-gradient(top,  #1d4493 0%, #241f60 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1d4493), color-stop(100%,#241f60)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #1d4493 0%,#241f60 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #1d4493 0%,#241f60 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #1d4493 0%,#241f60 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #1d4493 0%,#241f60 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1d4493', endColorstr='#241f60',GradientType=0 ); /* IE6-9 */   
}
div.slider_contents {
  background-color:red;
  max-width:980px;
  margin-left:auto;margin-right:auto;
}
div.page_content {
   font-family: Arial,Helvetica,Sans-serif;
   color: #333333; 
   font-size: .9em;
   line-height: 1.4em;
}
div.page_content a {
   color: #30387a;
}
div.page_content a:hover {
   color: #060339;
   color: #cd7d2c;
}

/* main column.
   the page's actual content appears inside this div */
div.page_content div.main_column {
  /*background-color: pink;*/
  overflow: hidden; /* keep content from exploded out of bounds */
}   

/* right column.
   the page_content div can contain a right column.
   if it does, <body> will have the class "with_right_column" */
div.page_content div.right_column {
  /*background-color: yellow;*/
  background: #e3e4e8; /* needed for collapsing margins */
}
div.page_content div.right_column div.right_column_contents {
  padding: 0 7%; /* change l/r with care: components that need to break out of the width use this value to calc margin-left and width, e.g., see divider. */ /* put the padding on the contents, not the parent. use padding rather than margin so you can apply a nice gradient. */
  margin-top: 7%; /* watch this for collapsing margins (you want them to collapse */
  background: #e3e4e8; /* Old browsers */ /* http://www.colorzilla.com/gradient-editor/#e3e4e8+0,ecedef+100;Custom */  
  background: -moz-linear-gradient(top,  #e3e4e8 0%, #ecedef 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e3e4e8), color-stop(100%,#ecedef)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #e3e4e8 0%,#ecedef 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #e3e4e8 0%,#ecedef 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #e3e4e8 0%,#ecedef 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #e3e4e8 0%,#ecedef 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e3e4e8', endColorstr='#ecedef',GradientType=0 ); /* IE6-9 */
  overflow: auto;
  overflow: hidden;  /* keep some browsers e.g., ie7, ff from displaying scrollbars. cf. divider which is slightly wider than the alotted space. */
}
body.with_right_column div.page_content div.main_column {
  width: 65.95744680851064%; /* 620/940 */
  float: left;
}
body.with_right_column div.page_content div.right_column {
  width: 31.91489361702128%; /* 300/940 */
  float: right;
}
div.right_column div.right_column_fade {
  height: 250px; /* arbitrary */
  background: #ecedef; /* Old browsers */ /* http://www.colorzilla.com/gradient-editor/#ecedef+0,ffffff+100;Custom */
  background: -moz-linear-gradient(top,  #ecedef 0%, #ffffff 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ecedef), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #ecedef 0%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #ecedef 0%,#ffffff 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #ecedef 0%,#ffffff 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #ecedef 0%,#ffffff 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ecedef', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
  overflow: auto;  
}

/* sidebar.
   contains section navigation plus other editorial elements.
   <body> will display the class with_sidebar.  */
div.body_contents div.sidebar {
  background-color: #e2e3e7;
}
div.body_contents div.sidebar div.sidebar_contents {
  margin:0 0; /* margin is on the contents, not its parent */  
  width: 100%; /* ie7 likes this (see divider w/in sidebar) */
}
body.with_sidebar div.page_content {
  float: right;
  width: 72.34042553191489%; /* 680/940 */
}
body.with_sidebar div.sidebar {
  float: left;
  width: 25.53191489361702%; /* 240/940 */
}
body.with_sidebar.with_right_column div.page_content div.main_column { /* with sidebar, the relative widths of the main_column and the right_column change */
  width: 52.94117647058824%; /* 360/680 */
}
body.with_sidebar.with_right_column div.page_content div.right_column {
  width: 44.11764705882353%; /* 300/680 */
}
div.sidebar div.related {
  padding:0 7%; /* needs to match the left margin of section-nav. */
  overflow: hidden;
  font-family: Arial,Helvetica,Sans-serif;
  line-height: 1.4em;
  color: #333333;
}
div.sidebar div.sidebar_fade {
  height: 250px; /* arbitrary */
  background: #ecedef; /* Old browsers */ /* http://www.colorzilla.com/gradient-editor/#ecedef+0,ffffff+100;Custom */
  background: -moz-linear-gradient(top,  #e2e3e7 0%, #ffffff 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e2e3e7), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #e2e3e7 0%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #e2e3e7 0%,#ffffff 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #e2e3e7 0%,#ffffff 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #e2e3e7 0%,#ffffff 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e3e7', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
  overflow: auto;  
}


div.breadcrumbs {
   font-family: 'Myriad Pro',Myriad,Arial,Helvetica,Sans-serif;
   margin-bottom:2em;
}
div.breadcrumbs ul {
   margin:0; padding:0;
   font-size:.8em;
   font-weight: bold;
   text-transform: uppercase;
   letter-spacing: .3px;
}
div.breadcrumbs ul li {
   list-style:none;
   display: inline;
   margin-right:.6em;
   color: #909cb9;
}
div.breadcrumbs ul li a {
   margin-right:.6em;
   color: #909cb9;
   text-decoration: underline;
}
div.breadcrumbs ul li a:hover {
   color: #60697d;
}
div.breadcrumbs ul li:after {
   content: ' >'; /* the space helps ie8 look better */
}
div.breadcrumbs ul li:last-child:after {
   content: '';
}
div.body_contents h1 { 
   text-transform: uppercase;
   font-size:2.2em;
   line-height:1.1em; /* new */
   margin-top:0; /* page title should be flush top. new */
   letter-spacing: 1px;   
   font-weight: normal;
   color: #394786;
   font-family: 'Myriad Pro',Myriad,Arial,Helvetica,Sans-serif;   
}
div.body_contents h2 {
   color: #394786;
   font-family: 'Myriad Pro',Myriad,Arial,Helvetica,Sans-serif;
   font-size:1.4em;      
}
div.body_contents h3 {
   color: #394786;
   font-family: 'Myriad Pro',Myriad,Arial,Helvetica,Sans-serif;   
   font-size:1.2em;
}
div.body_contents h4 {
   color: #394786;
   font-family: 'Myriad Pro',Myriad,Arial,Helvetica,Sans-serif;   
   font-size:1.1em;
}
div.body_contents h5 {
   color: #394786;
   font-family: 'Myriad Pro',Myriad,Arial,Helvetica,Sans-serif;   
   font-size:1.0em;
}
div.body_contents h6 {
   color: #394786;
   font-family: 'Myriad Pro',Myriad,Arial,Helvetica,Sans-serif;   
   font-size:1.0em;
}

div.body_contents p.cluster_title,
div.body_contents h1.cluster_title { /* when the cluster title is the page title it becomes an h1 */
   margin: 0; padding:0; 
   margin-bottom:.5em;
   text-transform: uppercase;
   font-size:2.5em;
   letter-spacing: 1px;
   line-height: 1.1em; /* match the h1 treatment elsewhere */
   border-bottom: 2px #c9d3eb solid;
   color: #394786;
   font-family: 'Myriad Pro',Myriad,Arial,Helvetica,Sans-serif;
}
div.body_contents h1.cluster_title {
   border-bottom: 2px #ffffff solid; /* when current page is a cluster head, there is no underline under the cluster title */
}


/* header div.
   appears on all page incl. home page. contains logo, utility nav, search
   and global nav */

div.header {
  width: 100%;
  font-family: 'Myriad Pro',Myriad,Arial,Helvetica,Sans-serif;
  position: absolute;
  top:0;
  border-bottom:20px #ffffff solid; /* new. needs to be a border so its height is picked up in adjustBodyPosition - offsetHeight  */
}
div.header_contents { /* match body_contents */
  max-width: 940px; 
  padding:0 20px;   
  margin-left:auto; margin-right:auto;
  position: relative;
}
div.header_contents div.logo {
  float: left;
  max-width:40%;
  min-width:230px; /* no smaller than the smallest mobile */
}
div.header_contents div.logo img {
  margin-left:10px; /* tiny nudge */
}
div.header_contents div.logo div.logo_contents {
  padding-top:1.5em;
  padding-left:1em;
}
div.header_contents div.logo div.logo_contents img {
  border:0;
}
div.utility_nav {
  float:right;
}
div.utility_nav ul {
  margin:0; padding:0;
  display: block;
  font-size: .8em;
  letter-spacing:.06em;
  text-transform: uppercase;
}
div.utility_nav ul li {
  background: #355397; /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzM1NTM5NyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMzOTM2NmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top,  #355397 0%, #39366f 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#355397), color-stop(100%,#39366f)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #355397 0%,#39366f 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #355397 0%,#39366f 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #355397 0%,#39366f 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #355397 0%,#39366f 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#355397', endColorstr='#39366f',GradientType=0 ); /* IE6-8 */
  overflow: auto; /* http://stackoverflow.com/questions/7131356/filter-progiddximagetransform-microsoft-gradient-is-not-working-in-ie7 */
}
div.utility_nav ul li {
  display: block;
  float:left; 
  list-style: none;
  padding: .9em 1em;
  color: #ffffff;
  /*border:1px red solid;*/
}
div.utility_nav ul li.search {
  /*padding: 0;*/
  background-color: #ffffff;
  color: #30387a;
  background-image: url(../../img/icons/search.png);
  background-position: 10px center;
  background-repeat: no-repeat;
  padding-left:30px;
  font-weight: bold;
  letter-spacing:0;
  filter: none; /* needed to nix the blue background in ie8 */
}
div.utility_nav ul li a {
  color: #ffffff;
  text-decoration: none;
}
div.utility_nav ul li a:hover {
  color: #ffffff;
  text-decoration: underline;
}
div.utility_nav ul li.search a {
  color: #30387a;
}
/* the search show/hide that appears under the utility nav */
div.utility_nav div.utility_search {
  display: none;
  /* *width:440px; */ /* ie7 hack moved to ie7.css */
  padding-top: .5em;
  clear: both;
}

/* nav system for mobile devices (smallest form factor).
   includes a site-wide menu plus search. */
div.mobile_nav {
  display:none; /* appears only for mobile form factor */
}
div.mobile_nav {
  position: absolute;
  right:1em; /* right-hand bumper */ 
  bottom:3px; /* to match the 3px inside the logo */
}
div.mobile_nav img {
  margin-left:1em;
  border:0;
}

/* global nav div.
   this is the site-wide nav. it only appears for desktop and tablet form factors */
div.global_nav {
  font-size:.8em;
  margin-top:2em;
}
div.global_nav > ul {
  margin:0; padding:0;
  display:block; 
  display:table;
  width:100%;
}
div.global_nav > ul li {
  display: table-cell;
  vertical-align: middle;
  /* *display: inline;*/ /* IE7 http://uncorkedstudios.com/2011/12/12/how-to-fix-the-ie7-and-inline-block-css-bug/, http://www.javascriptkit.com/dhtmltutors/csshacks3.shtml  i apologize for this hack. */
  /* *float:left; */ /* moved to ie7.css. IE7 wants left-floated elements, so lets give it via this hack.  */
  margin:0; padding:.5em .5em; /* watch this, because you are adding l/r padding to the li elements, so be careful about also setting their widths, below */
  text-align:center;
  text-transform: uppercase;
  letter-spacing:.03em;
  font-weight:bold;
}
/* here we fine-tune the nav elements. be sure these add to 100 if you turn them all on (but see note, above). */
div.global_nav > ul li.home { /*width:5%; text-align: left; padding-left: 17px;*/ } 
div.global_nav > ul li.home img { max-width: none; } /* don't allow the home icon to squish */

div.global_nav > ul li img { border:0; }
div.global_nav > ul li a {
  color: #30387a;
  text-decoration: none;
  /* *padding:0 .5em; */ /* for IE7 hackfix, keeps elements from running all together. see above.  */
}
div.global_nav > ul li a:hover {
  text-decoration: underline;
}
div.global_nav > ul li.selected {
  background-color: #e7e7e8;
}

/* dropdown menu system */
div.global_nav ul.dropdown_menu {
  visibility: hidden;
  position:absolute;
  top: 100%; /* positioning context = div.global_nav */
  margin:0; padding:1.4em 1.5em;
  margin-left: -0.5em; /* length = padding on the parent li */
  border: 5px #dadada solid;
  display: block;
  /* *display: none; */ /* moved to ie7.css */
  color: #ffffff;
  max-width: 35%; /* arbitrary */
  min-width: 25%; /* arbitrary */
  background: #241f5f; /* Old browsers */
  background: -moz-linear-gradient(top,  #241f5f 0%, #213983 34%, #1b4595 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#241f5f), color-stop(34%,#213983), color-stop(100%,#1b4595)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #241f5f 0%,#213983 34%,#1b4595 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #241f5f 0%,#213983 34%,#1b4595 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #241f5f 0%,#213983 34%,#1b4595 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #241f5f 0%,#213983 34%,#1b4595 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#241f5f', endColorstr='#1b4595',GradientType=0 ); /* IE6-9 */
  box-shadow: 0 8px 9px -1px #555555;
  -mox-box-shadow: 0 8px 9px -1px #555555;
  -webkit-box-shadow: 0 8px 9px -1px #555555;
}
div.global_nav > ul > li:hover ul.dropdown_menu {
  visibility: visible;
}
div.global_nav > ul > li:hover {
  background-color:#dadada;
}
div.global_nav ul.dropdown_menu a {
  color: #ffffff;
  text-decoration: none;
}
div.global_nav ul.dropdown_menu a:hover {
  text-decoration: underline;
}
div.global_nav ul.dropdown_menu li {
  list-style-type: none;
  display: block;
  text-transform: none;
  text-align: left;
  font-size: 1.3em;
  font-weight: normal;
}
div.global_nav > ul > li:last-child ul.dropdown_menu {
  right:0; /* don't squish the last item */
}

/* the bluebar lies below the navigation */
div.bluebar {
  height:16px;
  width:100%;
  border-top:1px #b4c2dc solid;
  margin-top: .5em;
  background: #23337a; /* Old browsers */   /* http://www.colorzilla.com/gradient-editor/#1d4393+0,242162+100;Custom */
  background: -moz-linear-gradient(top,  #1d4393 0%, #242162 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1d4393), color-stop(100%,#242162)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #1d4393 0%,#242162 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #1d4393 0%,#242162 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #1d4393 0%,#242162 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #1d4393 0%,#242162 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1d4393', endColorstr='#242162',GradientType=0 ); /* IE6-9 */
  overflow: auto;
}

/* the smallest form factor gets a special mission element which fuses to the slider */
div.mission {
  /*height:16px;*/
  display:none; /* does not appear by default */
  width:100%;
  /*border-top:1px #b4c2dc solid;*/
  /*margin-top: .5em;*/
  background: #23337a; /* Old browsers */   /* http://www.colorzilla.com/gradient-editor/#1d4393+0,242162+100;Custom */
  background: -moz-linear-gradient(top,  #1d4393 0%, #242162 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1d4393), color-stop(100%,#242162)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #1d4393 0%,#242162 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #1d4393 0%,#242162 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #1d4393 0%,#242162 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #1d4393 0%,#242162 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1d4393', endColorstr='#242162',GradientType=0 ); /* IE6-9 */
  overflow: auto;
}
div.mission div.mission_content {
  margin: 4% 20px; /* l/r margins are set to 20px on purpose to match rest. */
  color: #ffffff;
  font-family: 'Myriad Pro',Myriad,Arial,Helvetica,Sans-serif;
  font-size: 0.85em;
  line-height: 1.3em;
}
div.mission div.mission_content p {
  margin:0; padding:0;  /* overrule the editor which puts in p tags */
}
div.mission div.mission_content a {
  color: #ffffff;
}

/* the smallest form factor gets a special push-down search */

div.pushdown_search {
  display: none;
  padding: 5% 0;
  background: #241f5f; /*#241f5f;*/ /* Old browsers */
}
div.pushdown_search div.pushdown_search_contents {
  margin:0 20px;
  font-family: 'Myriad Pro',Myriad,Arial,Helvetica,Sans-serif;
  font-size: 1.2em;
  color: #ffffff;
}


/* the smallest form factor gets a special push-down menu */

div.pushdown_menu {
  display: none; /* default is to not display it */
  padding: 6% 0;
  /*margin-top: 1em;*/ /* guess-ti-mate. a little spacing between the pushdown menu and the logo div. */
  /*border-bottom:1px #e7e7e7 solid;*/
  background: #241f5f; /* Old browsers */
  background: -moz-linear-gradient(top,  #241f5f 0%, #203e8a 30%, #1b4595 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#241f5f), color-stop(30%,#203e8a), color-stop(100%,#1b4595)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #241f5f 0%,#203e8a 30%,#1b4595 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #241f5f 0%,#203e8a 30%,#1b4595 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #241f5f 0%,#203e8a 30%,#1b4595 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #241f5f 0%,#203e8a 30%,#1b4595 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#241f5f', endColorstr='#1b4595',GradientType=0 ); /* IE6-9 */
  box-shadow: 0 7px 7px 1px #555555;
  -mox-box-shadow: 0 4px 7px 1px #555555;
  -webkit-box-shadow: 0 4px 7px 1px #555555;
}
div.pushdown_menu div.pushdown_menu_contents {
  margin:0 20px;
  font-family: 'Myriad Pro',Myriad,Arial,Helvetica,Sans-serif;
  font-size: 1.2em;
  color: #ffffff;
}
div.pushdown_menu div.pushdown_menu_contents a {
  color: #ffffff;
  text-decoration: none;
}
div.pushdown_menu div.pushdown_menu_contents a:hover {
  text-decoration: underline;
}
div.pushdown_menu div.pushdown_menu_contents ul {
  margin:0; padding:0; 
  letter-spacing: .3px;
}
div.pushdown_menu div.pushdown_menu_contents ul li {
  list-style: none;
  padding: .4em 0; /* intra-element spacing */
}
div.pushdown_menu div.pushdown_menu_contents hr {
  color: #7992c1;
  height: 1px;
}


 
/* footer div.
   this is the large blue footer hugs bottom of every page. */
   
div.footer {
  margin-top: 3em;
  border-top: 1px #c8c7d7 solid;
  /* http://www.colorzilla.com/gradient-editor/#24205f+0,20337a+50,1c4493+100;Custom */
  background: #24205f; /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzI0MjA1ZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iIzIwMzM3YSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMxYzQ0OTMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top,  #24205f 0%, #20337a 50%, #1c4493 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#24205f), color-stop(50%,#20337a), color-stop(100%,#1c4493)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #24205f 0%,#20337a 50%,#1c4493 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #24205f 0%,#20337a 50%,#1c4493 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #24205f 0%,#20337a 50%,#1c4493 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #24205f 0%,#20337a 50%,#1c4493 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#24205f', endColorstr='#1c4493',GradientType=0 ); /* IE6-8 */ 
}
/* footer_content holds the actual content */
div.footer_content {
  max-width: 980px; 
  font-family: 'Myriad Pro',Myriad,Arial,Helvetica,Sans-serif;
  letter-spacing: .06em;
  font-size: .9em;
  margin-left:auto; margin-right:auto;
}
div.footer_content div.partners {
  text-align: center;
  padding-top: 2em;
  padding-bottom:3em;
  color: #b9c4e5;
}
div.footer_content div.partners p {
  text-transform: uppercase;
  margin-bottom:2em;
}
div.footer_content div.partners img {
  vertical-align:middle;
  margin:0 1.5em 1.5em 1.5em;
  border:0;
}
div.footer_content div.copyright {
  border-top: 1px #3d4f8f solid;
  text-align:center;
}
div.footer_content div.copyright div.copyright_content {
  position: relative;
  text-transform: uppercase;
  color: #95a3c9;
  display:-moz-inline-stack;
  display:inline-block; /* *display:inline;*/ /* moved to ie7.css */
  text-align:left; 
  padding-top:2em;
}
div.footer_content div.copyright div.copyright_content p.nci img {
  position:absolute; /* *position:static; */ /* moved to ie7.css */
  border:none;
  margin-top:-.5em;
}
div.footer_content div.copyright div.copyright_content div.text_elements {
  margin-left:90px;
}
div.footer_content div.copyright div.copyright_content p.year {
  margin:0;
}
div.footer_content div.copyright div.copyright_content p.address {
  margin-top:0;
}
div.footer_content div.copyright div.copyright_content p.terms {

}
div.footer_content div.copyright div.copyright_content a {
  color: #95a3c9;
  white-space:nowrap;
}
div.footer_content div.copyright div.copyright_content a:hover {
  text-decoration: none;
}
div.footer_content div.copyright div.copyright_content .pipe {
  margin: 0 2em 0 2em;
}

@media screen and (max-width:690px) {
  div.footer_content div.copyright div.copyright_content {
    text-align:center;
  }
  div.footer_content div.copyright div.copyright_content div.text_elements {
    margin-left:0
  }  
  div.footer_content div.copyright div.copyright_content p.nci img {
    position:static;
  }
}


/* ------  section nav appears in the left col -------- */

.section-nav { font-family: 'Myriad Pro',Myriad,Arial,Helvetica,Sans-serif; margin-bottom:1em; }
.section-nav ul { margin:0; padding:0; list-style:none; }
.section-nav ul li a { color: #2f387b;  font-size:1em; display:block; padding-right:.5em; } /* creates right gutter */
.section-nav ul li a:hover { color: #cd7d2c; }
.section-nav ul li.onTrail>a { /*font-weight:bold;*/ }   /* this is the treatment for ontrail links (which includes the current page link) */
.section-nav ul li.currentPage>a { font-weight:bold; } /* this is the treatment of the one current page link. */
.section-nav ul li { line-height:1.2em; }

/* common treatments */
.section-nav ul li { padding-top:.4em; padding-bottom:.1em; padding-left:7%; display:block; border-top:1px #ffffff solid; }

/* level 1 gets special treatment */
.section-nav>ul>li { padding-top:.875em; padding-bottom:.875em;  }
.section-nav>ul>li.onTrail { background-color:#ffffff; }

/* section home is the first element in every navigation list */
.section-nav ul li.sectionhome { padding:0; border-top:1px #e2e3e7 solid; background-color:#232d71; }
.section-nav ul li.sectionhome div { padding:.875em 0 .875em 7%; }
.section-nav ul li.sectionhome a { color: #ffffff; display:inline; }
.section-nav ul li.sectionhome a:hover { color: #cd7d2c;  }
.section-nav ul li.sectionhome.currentPage a { text-decoration:none; }
.section-nav ul li.sectionhome .larrow { color: #ffffff; margin-right:.2em; }
.section-nav ul li.sectionhome .larrow:before { content: '<'; }
.section-nav ul li.sectionhome.currentPage .larrow { display:none; }







/* adjustments for individual templates.
   an overall div surrounds the entire body content
   and has a classname of the template.
   this is useful for identifying the homepage and doing
   some specific styling for it. */
body.homepage .cluster_title { display:none; }
body.homepage div.body_contents h1 { display:none; }
body.homepage div.body_contents div.breadcrumbs { display:none; }
body.homepage div.header div.bluebar { display:none; }
 
 
/* print styles.
   here we turn off elements that we do not want printed,
   and adjust styles of elements we do. */
   
@media print {

   div.header_contents div.logo {
     float:none;
     max-width: none;
     min-width: 0;
     width:100%;
   }
   div.header_contents div.logo div.logo_contents {
     padding:0;
   }
   div.header_contents div.logo div.logo_contents img {
     float:right;
   }
   
   div.body {
     margin-top:100px !important; /* need to override the js nudge */
   }
   div.body_contents {
     max-width: none; /* no need to restrict the width when printing */
     padding:0 0;
   }

   /* sidebar treatments. it disappears and page readjusts upon print. */

   body.with_sidebar div.sidebar {
     display:none;
   }
   body.with_sidebar div.page_content {
     width: 100%;
     float: none; /* floating instead of none preserves the margins of content */
   }

   body.with_sidebar.with_right_column div.page_content div.main_column { /* for pages with a non-printing sidebar, adjust the relative widths of the main_column and the right_column */
     width: 65.95744680851064%; /* 620/940 */
   }
   body.with_sidebar.with_right_column div.page_content div.right_column {
     width: 31.91489361702128%; /* 300/940 */
   }
   
   
   div.footer {
     background: transparent; 
     filter: none;
     border-top: 0;
     margin-top: 0;
   }
   div.footer_content div.copyright {
     border-top: 0;
   }
   div.footer_content div.copyright div.copyright_content {
     padding-bottom: 0; /* no need to waste paper */
   }
   div.footer_content div.copyright div.copyright_content div.text_elements {
     margin-left:0;
     text-align: center;
   }
	
	
} 


 
 
 
/* responsive approach.
   we design for three form factors:
   
    (1) "desktops" (width > 768px)
    (2) "tablets" (width <= 768px)
    (3) "phones"  (width <= 480px)
    
   we aren't targeting specific devices; 
   rather we target our content itself.
   the dimensions are not meant to match
   any given device.                     */ 
 

/* ........................................... */
/* ..... "TABLET" widths (768px) and lower ... */
/* ........................................... */
@media screen and (max-width:768px) {

  .noverbose { display:none; } /* sacrifice content when you hit the first breakpoint */

  /* sidebar treatments. it disappears at this form factor. */

  body.with_sidebar div.sidebar {
    display:none;
  }
  body.with_sidebar div.page_content {
    width: 100%;
    float: none; /* floating instead of none preserves the margins of content */
  }    
  
}



/* ........................................... */
/* ..... "MOBILE" widths (480px) and lower.... */
/* ........................................... */ 
@media screen and (max-width:480px) {

  /* at the smallest form factor, breadcrumbs reveal just the back-to-parent
     li. Also cluster title disappears on pages that aren't cluster heads. */
  
  div.body_contents p.cluster_title { /* vs. h1 when page is a cluster head */
     display:none;
  }
  div.breadcrumbs {
     margin-bottom:1.2em;
  }
  div.breadcrumbs ul {
     font-size:1.4em;
     /*font-weight: normal;*/
  }
  div.breadcrumbs ul li {
    display: none;
  }
  div.breadcrumbs ul li.parent {
    display: inline;
    margin-right: 0;
    color: #333333; /* color of the laquo */
  }
  div.breadcrumbs ul li.parent a {
     margin-right:0;
     color: #394786;
  }
  div.breadcrumbs ul li.parent a:hover {
     color: #60697d;
  }
  div.breadcrumbs ul li.parent:before {
     content: "\AB  "; 
  }
  div.breadcrumbs ul li:after {
     content: ''; 
  }

  div.body_contents {
    padding-top: 20px; /* needed because the header's 20px white border turns into a 2px blue one at this form factor */
  }  
  body.homepage div.body_contents {
    padding-top:0;
  }
  div.body_contents .cluster_title,
  div.body_contents h1.cluster_title {
    font-size:1.8em; /* cluster title/h1 set a bit more modest on smaller form factors */
  } 
  div.body_contents h1 {
    font-size:1.6em;
  } 

  div.header {
    border-bottom:2px #241f5f solid; /* overrides the 20px white border present in non-mobile form factors... */
  }
  body.homepage div.header {
    border-bottom: none; /* ...but the homepage omits this little border */
  }
  
  body.homepage div.mission {
    display: block; /* turn on the mobile mission on the homepage */
    /*margin-bottom: 1em;*/
  }
  
  div.header div.bluebar {
    display: none; /* for most mobile pages, there is no blue bar  ... */
  }
  body.homepage div.header div.bluebar { 
    display: block; /* ...but the bluebar re-appears for the homepage at small form factors */ 
  }
  div.header div.bluebar {
    height: auto;
  }

  div.mobile_nav {
    display:block; /* turns this on for mobile widths */
  }
  div.global_nav {
    display:none; /* turns off global nav for smallest form factors */
  }
  div.header_contents div.logo { /* rejigger the fit for logo plus mobile_nav */
    max-width:66%; /* leave room for the menu and search icons */
    min-width:0;   /* disable the min-scrunch factor that was appropriate for larger devices */
  }  
  div.header div.header_contents div.utility_nav {
    display:none;
  }
  div.header_contents div.logo div.logo_contents {
    padding-top:.5em;
    padding-left:.5em;
  }
  div.header_contents div.logo div.logo_contents img {
    margin-left:0; /* new */
  }
  
  div.footer_content div.copyright div.copyright_content .pipe {
    display:none;
  }
  div.footer_content div.copyright div.copyright_content a {
    display:block;
    margin-bottom: 1em;
  }
  div.footer_content div.copyright div.copyright_content p.year {
    margin-bottom:1em;
  }
  div.footer_content div.copyright div.copyright_content {
    padding-bottom:1em;
    padding-top:1em;
  }
  div.footer_content div.partners {
    padding-bottom:1em; 
  }
  div.footer_content div.partners img {
    margin-top:1.5em; /* adds a bit more intra-logo spacing on smaller form factors */
  }  
  
  /* right column treatments. it stacks under the main_column for smallest form factors. */

  body.with_right_column div.page_content div.main_column,
  body.with_right_column.with_sidebar div.page_content div.main_column { /* extra selector needed to cascade equal weight */
    width: auto;
    float: none;
  }
  body.with_right_column div.page_content div.right_column,
  body.with_right_column.with_sidebar div.page_content div.right_column { /* extra selector needed to cascade equal weight */
    width: 100%;
    float: left; /* floating instead of none preserves the margins of content */
    background-color: #e3e4e8;
  }  
  body.with_right_column div.page_content div.right_column div.right_column_fade {
    display: none;
  }
  
  
  
}