<sly data-sly-unwrap  
data-sly-use.clientLib="${'/libs/granite/sightly/templates/clientlib.html'}"
data-sly-use.expander="expanderComponent.js"></sly>

<h2 class="expanderHeader" data-sly-text="${ expander.title }" data-sly-element="${ properties.headerSize }" data-is-open="true" data-default-open="${ expander.defaultOpen }">${ expander.title }</h2>
<div class="expanderIntro" data-sly-test="${ !properties['intro'].empty }" data-sly-text="${ properties.intro }">If you have introductory text it will appear here</div>
<div class="expanderParsys ${ expander.colorTheme }" data-sly-resource="${ @path='expanderPar', resourceType='foundation/components/parsys'}"></div>

<div data-sly-test.author="${wcmmode.edit || wcmmode.design}" style="font-style:italic; background-color:#ddd; text-align:center;">
    This is the end of the expander widget. This text will not appear on your webpage.
</div>

<sly data-sly-unwrap data-sly-call="${ clientLib.js @ categories='shared.components.expanderComponent'}"></sly>