/* responsive overlay for www responsive types */

/* turn off the social share in the cluster title (option) */
.cluster_title span.share_options { display:none !important; }

/* lose the shading behind the right column, if any */
div.grid_12.fh_rightcol_container { background:none; }

/* lose the extra padding that the right column needed because of shading, if any */
/* add this back if you want the rightcol to have a shaded background. */
div.grid_12.fh_rightcol_container .fh_rightcol_content {
  margin:0 0 0 10px;
}

/* tighten up the topmost margin/padding of the first element that goes into the content wells.
   this lets images and p elements exhibit the same alignment. */
div.fh_body_content *:first-child,
div.grid_12.fh_rightcol_container .fh_rightcol_content { padding-top:0;margin-top:0; } /* watch this */


/* responsive image sizes */
.fh_body_content img { 
  max-width:100%; height: auto; 
  -moz-box-sizing: border-box; /* so the 100% max-width doesn't include a border */
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* ----------------------------------------------------------------------- */
/* component overrides. every component eligible to be used in a responsive
   template must be "mobilized". */
   
.imageplus { 
	max-width:100%; 
    -moz-box-sizing: border-box; /* so the 100% max-width doesn't include a border */
    -webkit-box-sizing: border-box;
    box-sizing: border-box;	
}

/* ----------------------------------------------------------------------- */


/* mobile menu */

.mobile_menu {  
  display:none;  /* starts out hidden */
  margin-bottom: 1.4em;
}
.mobile_menu .mobile_menu_button {
  float:right;
}
.mobile_menu .mobile_menu_button:hover {
  cursor:pointer;
}
.mobile_menu .mobile_menu_button img {
  display: inline-block;
  padding:12px;
  padding-bottom:17px;
}
.mobile_menu .mobile_menu_contents {
  display:none; /* starts out hidden */
  clear:both;
  background-color: #e8e8e8;
  padding:20px; /* 20px matches the guttter */
}
/*.mobile_menu .mobile_menu_button:hover {
  background-color: #e8e8e8;
}*/
.mobile_menu.engaged .mobile_menu_button {
  background-color: #e8e8e8; /* when the menu is visible */
}
.mobile_menu.engaged .mobile_menu_contents {
  /*display: block;*/
}
.mobile_menu .mobile_menu_contents ul {
  margin:0;padding:0;
}
.mobile_menu .mobile_menu_contents ul li {
  list-style:none;
  display:block;
  margin-bottom:.8em;
}
.mobile_menu .mobile_menu_contents ul li:last-child {
  margin-bottom:0;
}
.mobile_menu .mobile_menu_contents ul li a {
  color: #000000;
  text-decoration:none;
}
.mobile_menu .mobile_menu_contents ul li a:hover {
  text-decoration:underline;
}

/* tablet form factor */
@media screen and (max-width:768px){

  /* lose the utility nav */
  #fh_utility_nav { display:none; }

  /* lose the mission */
  #fh_mission { display:none; }
  
  /* lose the global nav */
  #global_nav, #navigation-main-container { display:none; }
  
  /* lose the breadcrumbs */
  #breadcrumbs { display:none; }
  
  /* lose the fat footer */
  #footer_container  { display:none; }
  
  /* lose the extra padding that the right column needed because of shading, if any */
  div.grid_12.fh_rightcol_container .fh_rightcol_content {
    margin:0;
  }
  
  /* shift the page content up */
  #fh_body {
    padding-top:15px; /* pixel precise against mobile menu button's bottom padding and the logo which has built-in whitespace around it */
  }

  /* an old, annoying rule for IE compat which is unwelcome on portable devices */
  .fh_body_content > *:first-child { margin-top:0; }
  
  /* let the page auto-size to device */
  body { 
    min-width:0; 
    background:none;  
  }
  #fh_container {
    padding-top:0;
    width:auto;
  }
  .fh_body,
  .fh_body_content { min-height:0; }
  
  .container_12 { width:100%; }
  .container_12 .grid_12 { width:100%; }
  .container_12 .grid_8 { width:65%; } /* check this */
  .container_12 .grid_4 { width:35%; } /* check this */
  
  /* adjust position of the logo at page top */
  #fh_logo {
    top:0;left:16px;
  }

  
  /* make the grid system widths (now percentages) refer to their overall dims */
  .grid_1, .grid_2, .grid_3, .grid_4, .grid_5, .grid_6, .grid_7, .grid_8, .grid_9, .grid_10, .grid_11, .grid_12,
  .container_12 {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin-right:0;margin-left:0; /* switch from margin... */
    padding-right:10px;padding-left:10px; /* ... to padding. */
  }  
  .alpha { padding-left:0; }
  .omega { padding-right:0; }
 
  /* move the gutter designation from .container_12 to the overall container */
  #fh_container { padding-left:20px; padding-right:20px; }  
  .container_12 { padding-left:0; padding-right:0; }
  .grid_12 {padding-left:0; padding-right:0; margin-left:0; margin-right:0; }  
  
  /* reveal the mobile menu */
  .mobile_menu { display:block; }
  
  
}

/* sub-tablet form factor. this breakpoint is arbitrary: if your template needs the right-column lower, override this rule */
@media screen and (max-width:480px){

  /* lose the right-hand column, if any */
  .grid_12.fh_rightcol_container .grid_4 {
    display:none;
  }
  .grid_12.fh_rightcol_container .grid_8 {
    width:100%;
  }

  /* the fh_body_column effectively needs an omega now because the right hand column is now gone */
  .fh_body_column { padding-right:0; } 
  		
}

@media screen and (max-width:480px){

  /* reduce size of cluster head */
  .cluster_title { font-size:170%; }

}

@media screen and (max-width:400px){

  /* at smallest form factors adjust the relative sizing of the logo against the dropdown menu icon */
  #fh_logo { max-width:67%; }
  #fh_logo img { max-width:100%; }
  #fh_body { padding-top:5px; }
  .mobile_menu .mobile_menu_button img {
    padding-right:9px; padding-left:9px; 
  }
}

